carousel-gen-flow.json
{
  "name": "MSI Carousel Generator v10 - Memory Optimized",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-carousel-gen",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "id": "webhook",
      "name": "Webhook",
      "webhookId": "msi-carousel-gen"
    },
    {
      "parameters": {
        "url": "https://i.ibb.co/S7mKXdxr/MSI-Technologies-Icon.png",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "id": "download-logo",
      "name": "Download Logo"
    },
    {
      "parameters": {
        "jsCode": "const wh = $('Webhook').item.json;\nconst li = $input.item;\nlet logo = '';\nif (li.binary) {\n  const k = Object.keys(li.binary)[0];\n  logo = (await this.helpers.getBinaryDataBuffer(0, k)).toString('base64');\n}\nconst d = wh.body ? (typeof wh.body === 'string' ? JSON.parse(wh.body) : wh.body) : wh;\nconst sl = d.slides || [];\nreturn [{ json: { slides: sl, total: sl.length, topic: d.topic || 'Technology', context: d.context || '', logo } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "id": "parse-input",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.topic }}\nSlides: {{ $json.total }}\nStyle: Photorealistic\n\nHeadlines:\n{{ $json.slides.map((s, i) => `${i+1}. ${s.headline}`).join('\\n') }}",
        "options": {
          "systemMessage": "# NEWS CAROUSEL STRATEGIST - MSI Technologies\n\nCreate strategy for a 5-SLIDE Instagram carousel:\n- SLIDE 1: Topic hook/intro\n- SLIDES 2-4: Individual news stories\n- SLIDE 5: CTA with contact@msitechnologiesinc.com\n\nOutput format:\n---STRATEGY---\nTheme: [topic]\nHook: [attention grabber]\nHashtags: #MSITechnologies #TechNews [+5 relevant]\n\n---SLIDES---\nSlide 1: [intro hook]\nSlide 2-4: [news summaries]\nSlide 5: [CTA message]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [920, 300],
      "id": "agent-strategy",
      "name": "Agent 1: Strategy"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1000, 520],
      "id": "gemini-strategy",
      "name": "Gemini Strategy",
      "credentials": { "googlePalmApi": { "id": "oF4jKBK0jRbwEPWt", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Agent 1: Strategy').item.json.output }}\n\nSlides:\n{{ $('Parse Input').item.json.slides.map((s, i) => `${i+1}. ${s.headline}`).join('\\n') }}",
        "options": {
          "systemMessage": "# CAROUSEL COPYWRITER - MSI Technologies\n\nWrite copy for 5-slide news carousel:\n\n**SLIDE 1 (INTRO)**\nHeadline: [8 words max, hook]\nSubtext: SWIPE →\n\n**SLIDES 2-4 (NEWS)**\nHeadline: [newsworthy, 8 words]\nSubtext: [source/date]\n\n**SLIDE 5 (CTA)**\nHeadline: Stay Ahead\nSubtext: contact@msitechnologiesinc.com\n\nRules: Active voice, no fluff, include → on slides 1-4"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1140, 300],
      "id": "agent-copy",
      "name": "Agent 2: Copy"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1220, 520],
      "id": "gemini-copy",
      "name": "Gemini Copy",
      "credentials": { "googlePalmApi": { "id": "oF4jKBK0jRbwEPWt", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": {
        "jsCode": "const i = $('Parse Input').item.json;\nconst t = i.topic, n = i.slides.slice(0,3);\nconst s = [{ h: t, x: 'Your Weekly Tech Digest', t: 'intro' }, ...n.map(x => ({ h: x.headline, x: x.subtext||'', t: 'news' })), { h: 'Stay Informed with MSI', x: 'contact@msitechnologiesinc.com', t: 'cta' }];\nwhile (s.length < 5) s.splice(-1, 0, { h: 'More updates soon', x: '', t: 'news' });\nconst ph = { intro: 'Professional business team in modern glass office, natural lighting, shallow depth of field, corporate meeting room with city skyline view', news: 'Close-up of professional using laptop/tablet, tech workspace with monitors, server room with blue LED lights', cta: 'Confident business professional smiling, handshake moment, modern office reception' };\nconst pr = s.map((v,j) => { const num=j+1, last=num===5, pt=ph[v.t]||ph.news; return `4:5 portrait Instagram slide PHOTOREALISTIC.\\n\\nPHOTO: ${pt}, 85mm f/1.8, shallow DOF, natural light, Getty quality. NO illustrations, NO 3D.\\n\\nLAYOUT: TOP 60% photo, BOTTOM 40% #207CE5 90% opacity.\\n\\nTEXT: \"${v.h}\" ITC Avant Garde Bold WHITE. \"${v.x}\" Poppins #FFFDF1. FLAT no shadows.\\n\\nBRANDING: MSI Logo TOP-LEFT unchanged. Page \"${num}\".${!last ? ' Arrow → bottom-right.' : ''}`; });\nreturn [{ json: { prompts: pr, meta: s.map(v => ({ h: v.h, x: v.x, t: v.t })), topic: t, context: i.context } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300],
      "id": "build-slides",
      "name": "Build 5 Slides"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompts[0] }, { inline_data: { mime_type: 'image/png', data: $('Parse Input').item.json.logo } }] }], generationConfig: { responseModalities: ['IMAGE'], imageConfig: { aspectRatio: '4:5', imageSize: '2K' } } }) }}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 300],
      "id": "gemini1",
      "name": "Gemini 1",
      "credentials": { "googlePalmApi": { "id": "oF4jKBK0jRbwEPWt", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": { "parameters": [{ "name": "key", "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447" }, { "name": "image", "value": "={{ $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data || p.inlineData)?.inline_data?.data || $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data || p.inlineData)?.inlineData?.data || '' }}" }] },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 300],
      "id": "upload1",
      "name": "Upload 1"
    },
    {
      "parameters": {
        "jsCode": "const b = $('Build 5 Slides').item.json, m = b.meta[0], u = $input.item.json.data?.url || '';\nreturn [{ json: { prompts: b.prompts, meta: b.meta, topic: b.topic, context: b.context, r: [{ n: 1, h: m.h, x: m.x, u, t: m.t }] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 300],
      "id": "collect1",
      "name": "Collect 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompts[1] }, { inline_data: { mime_type: 'image/png', data: $('Parse Input').item.json.logo } }] }], generationConfig: { responseModalities: ['IMAGE'], imageConfig: { aspectRatio: '4:5', imageSize: '2K' } } }) }}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 300],
      "id": "gemini2",
      "name": "Gemini 2",
      "credentials": { "googlePalmApi": { "id": "oF4jKBK0jRbwEPWt", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": { "parameters": [{ "name": "key", "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447" }, { "name": "image", "value": "={{ $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data || p.inlineData)?.inline_data?.data || $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data || p.inlineData)?.inlineData?.data || '' }}" }] },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2460, 300],
      "id": "upload2",
      "name": "Upload 2"
    },
    {
      "parameters": {
        "jsCode": "const p = $('Collect 1').item.json, m = p.meta[1], u = $input.item.json.data?.url || '';\nreturn [{ json: { prompts: p.prompts, meta: p.meta, topic: p.topic, context: p.context, r: [...p.r, { n: 2, h: m.h, x: m.x, u, t: m.t }] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2680, 300],
      "id": "collect2",
      "name": "Collect 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompts[2] }, { inline_data: { mime_type: 'image/png', data: $('Parse Input').item.json.logo } }] }], generationConfig: { responseModalities: ['IMAGE'], imageConfig: { aspectRatio: '4:5', imageSize: '2K' } } }) }}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, 300],
      "id": "gemini3",
      "name": "Gemini 3",
      "credentials": { "googlePalmApi": { "id": "oF4jKBK0jRbwEPWt", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": { "parameters": [{ "name": "key", "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447" }, { "name": "image", "value": "={{ $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data || p.inlineData)?.inline_data?.data || $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data || p.inlineData)?.inlineData?.data || '' }}" }] },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 300],
      "id": "upload3",
      "name": "Upload 3"
    },
    {
      "parameters": {
        "jsCode": "const p = $('Collect 2').item.json, m = p.meta[2], u = $input.item.json.data?.url || '';\nreturn [{ json: { prompts: p.prompts, meta: p.meta, topic: p.topic, context: p.context, r: [...p.r, { n: 3, h: m.h, x: m.x, u, t: m.t }] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3340, 300],
      "id": "collect3",
      "name": "Collect 3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompts[3] }, { inline_data: { mime_type: 'image/png', data: $('Parse Input').item.json.logo } }] }], generationConfig: { responseModalities: ['IMAGE'], imageConfig: { aspectRatio: '4:5', imageSize: '2K' } } }) }}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3560, 300],
      "id": "gemini4",
      "name": "Gemini 4",
      "credentials": { "googlePalmApi": { "id": "oF4jKBK0jRbwEPWt", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": { "parameters": [{ "name": "key", "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447" }, { "name": "image", "value": "={{ $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data || p.inlineData)?.inline_data?.data || $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data || p.inlineData)?.inlineData?.data || '' }}" }] },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3780, 300],
      "id": "upload4",
      "name": "Upload 4"
    },
    {
      "parameters": {
        "jsCode": "const p = $('Collect 3').item.json, m = p.meta[3], u = $input.item.json.data?.url || '';\nreturn [{ json: { prompts: p.prompts, meta: p.meta, topic: p.topic, context: p.context, r: [...p.r, { n: 4, h: m.h, x: m.x, u, t: m.t }] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4000, 300],
      "id": "collect4",
      "name": "Collect 4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompts[4] }, { inline_data: { mime_type: 'image/png', data: $('Parse Input').item.json.logo } }] }], generationConfig: { responseModalities: ['IMAGE'], imageConfig: { aspectRatio: '4:5', imageSize: '2K' } } }) }}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4220, 300],
      "id": "gemini5",
      "name": "Gemini 5",
      "credentials": { "googlePalmApi": { "id": "oF4jKBK0jRbwEPWt", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": { "parameters": [{ "name": "key", "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447" }, { "name": "image", "value": "={{ $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data || p.inlineData)?.inline_data?.data || $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data || p.inlineData)?.inlineData?.data || '' }}" }] },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4440, 300],
      "id": "upload5",
      "name": "Upload 5"
    },
    {
      "parameters": {
        "jsCode": "const p = $('Collect 4').item.json, m = p.meta[4], u = $input.item.json.data?.url || '';\nconst r = [...p.r, { n: 5, h: m.h, x: m.x, u, t: m.t }].sort((a,b) => a.n - b.n);\nconst sl = r.map(v => ({ slide_number: v.n, headline: v.h, subtext: v.x, image_url: v.u, type: v.t }));\nreturn [{ json: { success: true, message: 'Generated 5 slides', data: { total_slides: 5, slides: sl }, topic: p.topic, headline: sl[0]?.h || p.topic, context: p.context, post_copy: sl.map(s => s.headline).join(' | '), all_image_urls: sl.map(s => s.image_url).filter(Boolean).join(','), visual_style: 'Realistic', slide_count: 5 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4660, 300],
      "id": "format-final",
      "name": "Format Final"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO social_posts (topic, post_type, visual_style, orientation, headline, context, trend_source, strategy_analysis, post_copy, image_prompt, image_url, status, created_at, updated_at)\nVALUES (\n  '{{ $json.topic.replace(/'/g, \"''\") }}',\n  'Carousel',\n  '{{ $json.visual_style }}',\n  '4:5',\n  '{{ $json.headline.replace(/'/g, \"''\") }}',\n  '{{ ($json.context || '').replace(/'/g, \"''\") }}',\n  'Generated carousel',\n  '{{ $json.slide_count }} slides',\n  '{{ $json.post_copy.replace(/'/g, \"''\") }}',\n  'Carousel',\n  '{{ $json.all_image_urls }}',\n  'completed',\n  NOW(),\n  NOW()\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4880, 300],
      "id": "save-db",
      "name": "Save to DB",
      "credentials": { "postgres": { "id": "WnTYs2zvPoE7hDJE", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Carousel saved', carousel_id: $json.id, slides: $('Format Final').item.json.data.slides }) }}",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [5100, 300],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Download Logo", "type": "main", "index": 0 }]] },
    "Download Logo": { "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]] },
    "Parse Input": { "main": [[{ "node": "Agent 1: Strategy", "type": "main", "index": 0 }]] },
    "Agent 1: Strategy": { "main": [[{ "node": "Agent 2: Copy", "type": "main", "index": 0 }]] },
    "Agent 2: Copy": { "main": [[{ "node": "Build 5 Slides", "type": "main", "index": 0 }]] },
    "Gemini Strategy": { "ai_languageModel": [[{ "node": "Agent 1: Strategy", "type": "ai_languageModel", "index": 0 }]] },
    "Gemini Copy": { "ai_languageModel": [[{ "node": "Agent 2: Copy", "type": "ai_languageModel", "index": 0 }]] },
    "Build 5 Slides": { "main": [[{ "node": "Gemini 1", "type": "main", "index": 0 }]] },
    "Gemini 1": { "main": [[{ "node": "Upload 1", "type": "main", "index": 0 }]] },
    "Upload 1": { "main": [[{ "node": "Collect 1", "type": "main", "index": 0 }]] },
    "Collect 1": { "main": [[{ "node": "Gemini 2", "type": "main", "index": 0 }]] },
    "Gemini 2": { "main": [[{ "node": "Upload 2", "type": "main", "index": 0 }]] },
    "Upload 2": { "main": [[{ "node": "Collect 2", "type": "main", "index": 0 }]] },
    "Collect 2": { "main": [[{ "node": "Gemini 3", "type": "main", "index": 0 }]] },
    "Gemini 3": { "main": [[{ "node": "Upload 3", "type": "main", "index": 0 }]] },
    "Upload 3": { "main": [[{ "node": "Collect 3", "type": "main", "index": 0 }]] },
    "Collect 3": { "main": [[{ "node": "Gemini 4", "type": "main", "index": 0 }]] },
    "Gemini 4": { "main": [[{ "node": "Upload 4", "type": "main", "index": 0 }]] },
    "Upload 4": { "main": [[{ "node": "Collect 4", "type": "main", "index": 0 }]] },
    "Collect 4": { "main": [[{ "node": "Gemini 5", "type": "main", "index": 0 }]] },
    "Gemini 5": { "main": [[{ "node": "Upload 5", "type": "main", "index": 0 }]] },
    "Upload 5": { "main": [[{ "node": "Format Final", "type": "main", "index": 0 }]] },
    "Format Final": { "main": [[{ "node": "Save to DB", "type": "main", "index": 0 }]] },
    "Save to DB": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e" }
}
