carousel-gen-flow.json
{
  "name": "MSI Carousel Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-carousel-gen",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ],
      "id": "webhook-carousel-gen",
      "name": "Webhook - Carousel Gen",
      "webhookId": "msi-carousel-gen"
    },
    {
      "parameters": {
        "jsCode": "// Extract carousel data from web form\nconst input = $input.item.json;\n\nconsole.log('==== CAROUSEL WEBHOOK INPUT ====');\nconsole.log('Raw input:', JSON.stringify(input));\n\n// Parse the body if it's a JSON string\nlet data;\nif (input.body) {\n  if (typeof input.body === 'string') {\n    try {\n      data = JSON.parse(input.body);\n    } catch (e) {\n      data = input;\n    }\n  } else if (typeof input.body === 'object') {\n    data = input.body;\n  } else {\n    data = input;\n  }\n} else if (input.query) {\n  data = input.query;\n} else {\n  data = input;\n}\n\n// Extract carousel variables\nconst slides = data.slides || [];\nconst visual_style = data.visual_style || 'Modern 3D';\nconst topic = data.topic || '';\nconst context = data.context || '';\nconst post_id = data.post_id || null;\n\n// Color palette\nconst color_primary = data.color_primary || '#207CE5';\nconst color_secondary = data.color_secondary || '#004AAD';\nconst color_accent = data.color_accent || '#FFFDF1';\nconst color_dark = data.color_dark || '#2B2B2B';\n\nconsole.log('Slides:', JSON.stringify(slides));\nconsole.log('Visual style:', visual_style);\nconsole.log('Colors:', { color_primary, color_secondary, color_accent, color_dark });\n\nif (!slides || slides.length === 0) {\n  throw new Error('CAROUSEL ERROR: At least one slide is required.');\n}\n\nif (slides.length > 10) {\n  throw new Error('CAROUSEL ERROR: Maximum 10 slides allowed.');\n}\n\nreturn [{\n  json: {\n    slides,\n    visual_style,\n    topic,\n    context,\n    post_id,\n    color_primary,\n    color_secondary,\n    color_accent,\n    color_dark,\n    total_slides: slides.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        300
      ],
      "id": "format-carousel-input",
      "name": "Format Carousel Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a UNIFIED visual style guide for a {{ $json.total_slides }}-slide Instagram carousel.\n\nTopic: {{ $json.topic }}\nVisual Style: {{ $json.visual_style }}\nContext: {{ $json.context || 'Professional technology company' }}\n\nSlides content:\n{{ $json.slides.map((s, i) => `Slide ${i+1}: ${s.headline}${s.subtext ? ' - ' + s.subtext : ''}`).join('\\n') }}\n\nColor Palette:\n- Primary: {{ $json.color_primary }}\n- Secondary: {{ $json.color_secondary }}\n- Accent: {{ $json.color_accent }}\n- Dark: {{ $json.color_dark }}\n\nCreate a cohesive visual style that will be applied CONSISTENTLY across ALL slides.",
        "options": {
          "systemMessage": "# ROLE: Carousel Visual Strategist\n\nYou create unified visual strategies for multi-slide Instagram carousels that maintain perfect consistency.\n\n## OUTPUT FORMAT\nReturn a JSON object with this EXACT structure (no markdown, no explanation):\n{\n  \"style_foundation\": {\n    \"background\": \"Detailed description of the exact background treatment for ALL slides\",\n    \"lighting\": \"Exact lighting setup that will be identical across slides\",\n    \"color_application\": \"How the brand colors are applied consistently\",\n    \"recurring_elements\": \"Visual elements that appear in EVERY slide (geometric shapes, patterns, etc.)\",\n    \"typography_style\": \"Font style, weight, and placement rules\"\n  },\n  \"consistency_rules\": [\n    \"Rule 1 for maintaining visual consistency\",\n    \"Rule 2...\",\n    \"Rule 3...\"\n  ],\n  \"variation_approach\": \"How slides differ while maintaining unity (e.g., different icons but same style)\"\n}\n\n## CRITICAL RULES\n1. The background MUST be identical or follow a clear progression\n2. All slides must feel like they belong to the same set\n3. Only the TEXT and FEATURED ELEMENT changes between slides\n4. Same camera angle/perspective if 3D\n5. Same lighting direction and intensity\n6. Same color ratios and placements"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        300
      ],
      "id": "agent-style-strategy",
      "name": "Agent: Style Strategist"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        520
      ],
      "id": "openai-style-strategy",
      "name": "OpenAI for Style Strategy",
      "credentials": {
        "openAiApi": {
          "id": "13Oqly3WdRAzZVXL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse style strategy and prepare for slide generation\nconst formInput = $('Format Carousel Input').item.json;\nconst strategyOutput = $input.item.json.output;\n\nconsole.log('==== PREPARE SLIDE GENERATION ====');\nconsole.log('Strategy output:', strategyOutput);\n\n// Parse the strategy JSON\nlet styleStrategy;\ntry {\n  // Remove markdown code blocks if present\n  let cleanOutput = strategyOutput;\n  if (cleanOutput.includes('```json')) {\n    cleanOutput = cleanOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  } else if (cleanOutput.includes('```')) {\n    cleanOutput = cleanOutput.replace(/```\\n?/g, '');\n  }\n  styleStrategy = JSON.parse(cleanOutput.trim());\n} catch (e) {\n  console.log('Failed to parse strategy, using raw output');\n  styleStrategy = {\n    style_foundation: {\n      background: strategyOutput,\n      lighting: 'Professional studio lighting',\n      color_application: 'Brand colors applied consistently',\n      recurring_elements: 'Geometric shapes and tech elements',\n      typography_style: 'Bold modern sans-serif'\n    },\n    consistency_rules: ['Same background', 'Same lighting', 'Same style'],\n    variation_approach: 'Different featured icons per slide'\n  };\n}\n\n// Create an item for each slide\nconst slideItems = formInput.slides.map((slide, index) => ({\n  json: {\n    slide_number: index + 1,\n    total_slides: formInput.total_slides,\n    headline: slide.headline,\n    subtext: slide.subtext || '',\n    visual_style: formInput.visual_style,\n    style_strategy: styleStrategy,\n    color_primary: formInput.color_primary,\n    color_secondary: formInput.color_secondary,\n    color_accent: formInput.color_accent,\n    color_dark: formInput.color_dark,\n    topic: formInput.topic,\n    post_id: formInput.post_id\n  }\n}));\n\nconsole.log('Created', slideItems.length, 'slide items');\n\nreturn slideItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "id": "prepare-slides",
      "name": "Prepare Slides"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an image prompt for SLIDE {{ $json.slide_number }} of {{ $json.total_slides }} in an Instagram carousel.\n\n## SLIDE CONTENT\nHeadline: {{ $json.headline }}\nSubtext: {{ $json.subtext || 'None' }}\n\n## UNIFIED STYLE STRATEGY (MUST FOLLOW EXACTLY)\n{{ JSON.stringify($json.style_strategy, null, 2) }}\n\n## COLOR PALETTE\n- Primary: {{ $json.color_primary }}\n- Secondary: {{ $json.color_secondary }}\n- Accent/Text: {{ $json.color_accent }}\n- Dark: {{ $json.color_dark }}\n\n## VISUAL STYLE\n{{ $json.visual_style }}\n\nGenerate a detailed image prompt that:\n1. Follows the EXACT style foundation from the strategy\n2. Uses the SAME background, lighting, and recurring elements\n3. Features the headline text prominently\n4. Only varies the featured element/icon relevant to this slide's content\n5. Maintains perfect visual consistency with other slides",
        "options": {
          "systemMessage": "# ROLE: Carousel Slide Image Prompt Generator\n\nYou generate image prompts for individual carousel slides that maintain PERFECT consistency with the overall style strategy.\n\n## OUTPUT FORMAT\nReturn ONLY the image generation prompt. No explanations, no labels, no markdown.\n\n## CRITICAL REQUIREMENTS\n1. The background MUST match the style_foundation.background EXACTLY\n2. Lighting MUST match style_foundation.lighting EXACTLY\n3. All recurring_elements MUST be present\n4. Only the TEXT OVERLAY and ONE FEATURED ELEMENT should be unique to this slide\n5. Format: 4:5 portrait (1080x1350)\n6. Include the exact headline text in the image\n7. Professional quality suitable for Instagram\n\n## PROMPT STRUCTURE\n[Background description from strategy], [Lighting from strategy], [Recurring elements], featuring [unique element for this slide]. Text overlay reads: \"[HEADLINE]\" in [typography style]. [Color application]. 4:5 portrait format, Instagram carousel slide {{ slide_number }} of {{ total_slides }}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        680,
        300
      ],
      "id": "agent-slide-prompt",
      "name": "Agent: Slide Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        760,
        520
      ],
      "id": "openai-slide-prompt",
      "name": "OpenAI for Slide Prompt",
      "credentials": {
        "openAiApi": {
          "id": "13Oqly3WdRAzZVXL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare for Gemini image generation\nconst slideData = $('Prepare Slides').item.json;\nconst imagePrompt = $input.item.json.output;\n\nconsole.log('==== PREPARE IMAGE GEN ====');\nconsole.log('Slide', slideData.slide_number, 'prompt:', imagePrompt.substring(0, 100) + '...');\n\nreturn [{\n  json: {\n    slide_number: slideData.slide_number,\n    total_slides: slideData.total_slides,\n    headline: slideData.headline,\n    subtext: slideData.subtext,\n    image_prompt: imagePrompt,\n    color_primary: slideData.color_primary,\n    color_secondary: slideData.color_secondary,\n    color_accent: slideData.color_accent,\n    color_dark: slideData.color_dark,\n    post_id: slideData.post_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "id": "prepare-image-gen",
      "name": "Prepare Image Gen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: $json.image_prompt + '\\n\\nIMPORTANT: This is slide ' + $json.slide_number + ' of ' + $json.total_slides + ' in a carousel. Maintain absolute visual consistency. The headline text \"' + $json.headline + '\" must be clearly visible and legible. Use colors: Primary ' + $json.color_primary + ', Secondary ' + $json.color_secondary + ', Accent ' + $json.color_accent + ', Dark ' + $json.color_dark + '. Format: 4:5 portrait ratio (1080x1350 pixels).'\n    }]\n  }],\n  generationConfig: {\n    responseModalities: ['TEXT', 'IMAGE'],\n    temperature: 0.4\n  }\n}) }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "id": "gemini-generate-slide",
      "name": "Gemini Generate Slide",
      "credentials": {
        "googlePalmApi": {
          "id": "oF4jKBK0jRbwEPWt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract image binary from Gemini response\nconst item = $input.item;\nconst slideData = $('Prepare Image Gen').item.json;\n\nconsole.log('==== EXTRACT SLIDE IMAGE ====');\nconsole.log('Slide', slideData.slide_number);\n\n// Check if response has inline_data (Gemini API structure)\nconst candidates = item.json?.candidates || [];\nlet inlineData = null;\n\nfor (const candidate of candidates) {\n  const parts = candidate?.content?.parts || [];\n  for (const part of parts) {\n    if (part.inline_data || part.inlineData) {\n      inlineData = part.inline_data || part.inlineData;\n      break;\n    }\n  }\n  if (inlineData) break;\n}\n\nif (inlineData) {\n  console.log('Found image for slide', slideData.slide_number);\n  console.log('Data size:', inlineData.data?.length || 0);\n  \n  return [{\n    json: {\n      slide_number: slideData.slide_number,\n      total_slides: slideData.total_slides,\n      headline: slideData.headline,\n      post_id: slideData.post_id\n    },\n    binary: {\n      data: {\n        data: inlineData.data,\n        mimeType: inlineData.mime_type || inlineData.mimeType || 'image/png',\n        fileName: `carousel-slide-${slideData.slide_number}.png`\n      }\n    }\n  }];\n}\n\nthrow new Error('Gemini did not return an image for slide ' + slideData.slide_number);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "id": "extract-slide-image",
      "name": "Extract Slide Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        300
      ],
      "id": "upload-slide-imgbb",
      "name": "Upload Slide to ImgBB",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zx6X4T7j4yDMYWKo",
          "name": "imgbb-api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect slide URL\nconst slideData = $('Extract Slide Image').item.json;\nconst uploadResponse = $input.item.json;\n\nconsole.log('==== COLLECT SLIDE URL ====');\nconsole.log('Slide', slideData.slide_number, 'URL:', uploadResponse.data?.url);\n\nreturn [{\n  json: {\n    slide_number: slideData.slide_number,\n    total_slides: slideData.total_slides,\n    headline: slideData.headline,\n    image_url: uploadResponse.data?.url || uploadResponse.data?.display_url,\n    post_id: slideData.post_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ],
      "id": "collect-slide-url",
      "name": "Collect Slide URL"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "slides_data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ],
      "id": "aggregate-slides",
      "name": "Aggregate All Slides"
    },
    {
      "parameters": {
        "jsCode": "// Format final carousel response\nconst aggregatedData = $input.item.json.slides_data;\n\nconsole.log('==== FORMAT CAROUSEL RESPONSE ====');\nconsole.log('Aggregated slides:', aggregatedData.length);\n\n// Sort by slide number\nconst sortedSlides = aggregatedData.sort((a, b) => a.slide_number - b.slide_number);\n\n// Extract just the URLs in order\nconst imageUrls = sortedSlides.map(s => s.image_url);\nconst post_id = sortedSlides[0]?.post_id;\n\nconsole.log('Final URLs:', imageUrls);\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Carousel generated successfully',\n    total_slides: sortedSlides.length,\n    slides: sortedSlides.map(s => ({\n      slide_number: s.slide_number,\n      headline: s.headline,\n      image_url: s.image_url\n    })),\n    image_urls: imageUrls,\n    post_id: post_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ],
      "id": "format-carousel-response",
      "name": "Format Carousel Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2440,
        300
      ],
      "id": "respond-carousel-success",
      "name": "Respond Success"
    }
  ],
  "connections": {
    "Webhook - Carousel Gen": {
      "main": [
        [
          {
            "node": "Format Carousel Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Carousel Input": {
      "main": [
        [
          {
            "node": "Agent: Style Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Style Strategist": {
      "main": [
        [
          {
            "node": "Prepare Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI for Style Strategy": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Style Strategist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Slides": {
      "main": [
        [
          {
            "node": "Agent: Slide Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Slide Prompt": {
      "main": [
        [
          {
            "node": "Prepare Image Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI for Slide Prompt": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Slide Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Gen": {
      "main": [
        [
          {
            "node": "Gemini Generate Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Slide": {
      "main": [
        [
          {
            "node": "Extract Slide Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Slide Image": {
      "main": [
        [
          {
            "node": "Upload Slide to ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Slide to ImgBB": {
      "main": [
        [
          {
            "node": "Collect Slide URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Slide URL": {
      "main": [
        [
          {
            "node": "Aggregate All Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Slides": {
      "main": [
        [
          {
            "node": "Format Carousel Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Carousel Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}
