content-generation-flow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "70738d02-4bd8-4dac-853f-ba4836aafaf5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [42528, 9328],
      "id": "300ae9e0-fd76-4933-a655-81ad64dd6f62",
      "name": "Webhook - Generate Content",
      "webhookId": "70738d02-4bd8-4dac-853f-ba4836aafaf5"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del formulario web\nconst input = $input.item.json;\n\nconsole.log('==== WEBHOOK INPUT ====');\nconsole.log('Raw input keys:', Object.keys(input));\nconsole.log('Body type:', typeof input.body);\nconsole.log('Body value:', input.body);\n\n// Parsear el body si es un string JSON\nlet data;\nif (input.body) {\n  if (typeof input.body === 'string') {\n    try {\n      data = JSON.parse(input.body);\n      console.log('Parsed JSON body successfully');\n    } catch (e) {\n      console.error('Failed to parse body as JSON:', e.message);\n      data = input;\n    }\n  } else if (typeof input.body === 'object') {\n    data = input.body;\n    console.log('Body is already an object');\n  } else {\n    data = input;\n  }\n} else if (input.query) {\n  data = input.query;\n  console.log('Using input.query');\n} else {\n  data = input;\n  console.log('Using input directly');\n}\n\nconsole.log('Extracted data:', JSON.stringify(data, null, 2));\n\n// Construir variables (soportar snake_case y camelCase)\nconst topic = data.topic || '';\nconst post_type = data.post_type || data.postType || '';\nconst visual_style = data.visual_style || data.visualStyle || '';\nconst orientation = data.orientation || '';\nconst headline = data.headline || '';\nconst data_points = data.data_points || data.dataPoints || '';\nconst context = data.context || '';\n\nconsole.log('Final variables:', {topic, post_type, visual_style, orientation, headline, data_points, context});\nconsole.log('==== END WEBHOOK INPUT ====');\n\nreturn [{\n  json: {\n    topic,\n    post_type,\n    visual_style,\n    orientation,\n    headline,\n    data_points,\n    context\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [42752, 9328],
      "id": "925c75b4-e093-46f1-87b1-1630753d1f4a",
      "name": "Format Form Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a content strategy for:\n\nTopic: {{ $json.topic }}\nPost Type: {{ $json.post_type }}\nVisual Style: {{ $json.visual_style }}\nHeadline: {{ $json.headline }}\nData Points: {{ $json.data_points || 'None provided' }}\nContext: {{ $json.context || 'None provided' }}\n\nNote: All images will be in 4:5 portrait format.",
        "options": {
          "systemMessage": "=# LANGUAGE REQUIREMENT\nALWAYS respond in English regardless of input language.\n\n# ROLE: Strategic Content Analyst for MSI Technologies\n\n## OUTPUT FORMAT\n---CONTENT STRATEGY---\nHook: [Compelling first line]\nBody: [Main message]\nCTA: [Call to action]\nHashtags: [3-5 hashtags including #MSITechnologies]\n\n---VISUAL STRATEGY---\nUser's Visual Style: [Copy exactly from user input]\nScene Concept: [Brief visualization concept]\nFormat: 4:5 Portrait\n\n---IN-IMAGE TEXT---\n[Copy EXACT headline from user input]\n\n---DATA POINTS---\n[Only if user provided them]\n\n## MSI CONTEXT\nMSI Technologies helps businesses modernize infrastructure and implement innovative technology solutions.\n\n## RULES\n1. NO generic corporate language\n2. NEVER invent statistics\n3. Brand blue #207CE5 backgrounds MANDATORY\n4. Copy headline exactly"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [42976, 9328],
      "id": "0f4f3960-c677-49ea-abb2-f686344cb63f",
      "name": "Agent 1: Strategy Analyzer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Agent 1: Strategy Analyzer').item.json.output }}",
        "options": {
          "systemMessage": "# LANGUAGE REQUIREMENT\nALWAYS respond in English.\n\n# ROLE: LinkedIn Copy Writer for MSI Technologies\n\nOutput ONLY the post text - no labels, no metadata.\n\n## STRUCTURE\n- Hook (First 2 lines): Specific stat, question, or concrete statement\n- Body: Include data points, line breaks every 2-3 sentences\n- CTA: Conversational question\n\n## VOICE\n- Senior engineer who's solved this 50 times\n- Direct and honest, not salesy\n\n## NEVER USE\n- \"In today's digital landscape\"\n- \"Revolutionize/Transform your business\"\n- \"Cutting-edge/Game-changing\"\n\n## REQUIREMENTS\n- Maximum 100 words\n- NEVER invent data\n- NO emojis\n\n## CONTACT INFO (ALWAYS INCLUDE)\nAt the end, BEFORE hashtags:\n───────────────────\n📩 Let's talk → contact@msitechnologiesinc.com\n🌐 msitechnologiesinc.com\n\nAlways end with #MSITechnologies + relevant hashtags"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [43328, 9328],
      "id": "2b2bfa24-5340-482c-ab47-e937e0917a6c",
      "name": "Agent 2: Copy Writer"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO social_posts (topic, post_type, visual_style, orientation, headline, data_points, context, strategy_analysis, status, created_at, updated_at)\nVALUES (\n  '{{ $('Format Form Input').item.json.topic.replace(/'/g, \"''\") }}', '{{ $json.output.replace(/'/g, \"''\") }}', '{{ $('Format Form Input').item.json.visual_style.replace(/'/g, \"''\") }}', '{{ $('Format Form Input').item.json.orientation.replace(/'/g, \"''\") }}', '{{ $('Format Form Input').item.json.headline.replace(/'/g, \"''\") }}', '{{ $('Format Form Input').item.json.data_points.replace(/'/g, \"''\") }}', '{{ $('Format Form Input').item.json.context.replace(/'/g, \"''\") }}', '{{ $('Agent 1: Strategy Analyzer').item.json.output.replace(/'/g, \"''\") }}', 'copy_completed', NOW(), NOW()\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [43680, 9328],
      "id": "68ab5723-cc8f-4062-afed-b7b89357daf3",
      "name": "Save Post to DB",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.visual_style }}",
                    "rightValue": "Glassmorphism",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Glassmorphism"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.visual_style }}",
                    "rightValue": "Modern 3D",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modern3D"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.visual_style }}",
                    "rightValue": "Isometric",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Isometric"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.visual_style }}",
                    "rightValue": "Data Hero",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DataHero"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.visual_style }}",
                    "rightValue": "Realistic",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Realistic"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [43904, 9328],
      "id": "visual-style-router",
      "name": "Route by Visual Style"
    },
    {
      "parameters": {
        "jsCode": "// GLASSMORPHISM Style Instructions\nconst formInput = $('Save Post to DB').item.json;\nconst strategy = $('Agent 1: Strategy Analyzer').item.json.output;\nconst postId = formInput.id;\n\nconst styleInstructions = `\n## GLASSMORPHISM STYLE\n**SCENE:** Brand blue (#207CE5) to secondary blue (#004AAD) gradient background. THREE frosted glass panels arranged in layered composition with technology icons visible through translucent layers. Semi-transparent hexagonal shapes scattered. Subtle blur effects on glass edges. Connection lines in off-white.\n\n**VISUAL ELEMENTS:**\n1. Three frosted glass panels with blur effect\n2. Technology icons in white on panels (gears, circuits, data symbols)\n3. Semi-transparent hexagonal shapes (white accents)\n4. Connection lines between elements (white)\n5. Subtle glow effects on panel edges\n6. Professional rim lighting for depth\n`;\n\nreturn [{\n  json: {\n    headline: formInput.headline,\n    visual_style: formInput.visual_style,\n    strategy: strategy,\n    style_instructions: styleInstructions,\n    post_id: postId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [44128, 9028],
      "id": "style-glassmorphism",
      "name": "Style: Glassmorphism"
    },
    {
      "parameters": {
        "jsCode": "// MODERN 3D Style Instructions\nconst formInput = $('Save Post to DB').item.json;\nconst strategy = $('Agent 1: Strategy Analyzer').item.json.output;\nconst postId = formInput.id;\n\nconst styleInstructions = `\n## MODERN 3D STYLE\n**SCENE:** Brand blue (#207CE5) gradient background with floating 3D geometric objects. Glossy spheres, cubes, and abstract tech shapes with realistic reflections and shadows. Dramatic lighting from multiple angles creating depth. Professional, futuristic corporate aesthetic.\n\n**VISUAL ELEMENTS:**\n1. Floating 3D geometric shapes (spheres, cubes, cylinders)\n2. Glossy metallic surfaces with reflections\n3. Dramatic rim lighting and shadows\n4. Abstract tech objects (servers, nodes, connections)\n5. Depth of field blur on background elements\n6. Subtle particle effects or light rays\n`;\n\nreturn [{\n  json: {\n    headline: formInput.headline,\n    visual_style: formInput.visual_style,\n    strategy: strategy,\n    style_instructions: styleInstructions,\n    post_id: postId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [44128, 9178],
      "id": "style-modern3d",
      "name": "Style: Modern 3D"
    },
    {
      "parameters": {
        "jsCode": "// ISOMETRIC Style Instructions\nconst formInput = $('Save Post to DB').item.json;\nconst strategy = $('Agent 1: Strategy Analyzer').item.json.output;\nconst postId = formInput.id;\n\nconst styleInstructions = `\n## ISOMETRIC ARCHITECTURE STYLE\n**SCENE:** Brand blue (#207CE5) background with isometric 3D architecture. Clean geometric buildings, server rooms, or tech infrastructure in isometric perspective. Flat colors with subtle gradients. Professional technical illustration style.\n\n**VISUAL ELEMENTS:**\n1. Isometric buildings or server structures\n2. Clean geometric shapes in isometric view\n3. Network connection lines between structures\n4. Small human figures for scale (optional)\n5. Subtle shadows for depth\n6. Technical grid or blueprint elements\n`;\n\nreturn [{\n  json: {\n    headline: formInput.headline,\n    visual_style: formInput.visual_style,\n    strategy: strategy,\n    style_instructions: styleInstructions,\n    post_id: postId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [44128, 9328],
      "id": "style-isometric",
      "name": "Style: Isometric"
    },
    {
      "parameters": {
        "jsCode": "// DATA HERO Style Instructions\nconst formInput = $('Save Post to DB').item.json;\nconst strategy = $('Agent 1: Strategy Analyzer').item.json.output;\nconst postId = formInput.id;\n\nconst styleInstructions = `\n## DATA HERO / VISUALIZATION STYLE\n**SCENE:** Brand blue (#207CE5) background with prominent data visualizations as hero element. Charts, graphs, dashboards, or data flow diagrams as main visual. Clean, modern infographic aesthetic with professional corporate feel.\n\n**VISUAL ELEMENTS:**\n1. Large chart or graph as hero element (bar, line, pie, or dashboard)\n2. Data points and nodes with connection lines\n3. Glowing data indicators and metrics\n4. Abstract data flow visualization\n5. Clean grid or axis lines\n6. Subtle animated feel (arrows, flow indicators)\n`;\n\nreturn [{\n  json: {\n    headline: formInput.headline,\n    visual_style: formInput.visual_style,\n    strategy: strategy,\n    style_instructions: styleInstructions,\n    post_id: postId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [44128, 9478],
      "id": "style-datahero",
      "name": "Style: Data Hero"
    },
    {
      "parameters": {
        "jsCode": "// REALISTIC PHOTOGRAPHY Style Instructions\nconst formInput = $('Save Post to DB').item.json;\nconst strategy = $('Agent 1: Strategy Analyzer').item.json.output;\nconst postId = formInput.id;\n\nconst styleInstructions = `\n## PHOTOREALISTIC STOCK PHOTOGRAPHY\nGenerate a professional stock photograph that looks EXACTLY like it was shot by a commercial photographer for Getty Images or Shutterstock. This must be indistinguishable from real photography.\n\n### SUBJECT & APPEARANCE\n- 1-2 professional people, age 30-42, tech industry professionals\n- Expression: genuine micro-expressions - slight asymmetry in smile, natural eye crinkles, relaxed brow\n- Skin: visible pores, natural texture variations, subtle imperfections (small moles, light freckles acceptable), realistic undertones (NOT plastic or airbrushed)\n- Hair: individual strands visible, natural flyaways, realistic shine patterns (NOT perfectly smooth)\n- Teeth: natural coloring (slight warmth, not pure white), realistic spacing\n\n### CLOTHING (SPECIFIC)\n- Option A: Fitted oxford button-down (light blue, white, or subtle pattern), sleeves rolled to forearm\n- Option B: Quality crew neck t-shirt (heather gray, navy, or muted tone) under blazer\n- Option C: Modern merino wool sweater (charcoal, navy) with visible knit texture\n- Fabric details: visible weave/texture, natural wrinkles at joints, realistic draping\n- NO: overly saturated colors, plastic-looking fabrics, or perfectly pressed clothing\n\n### ENVIRONMENT\n- Background: shallow depth of field (f/1.8-2.8 bokeh), soft circular highlights from background lights\n- Setting options: modern office with glass partitions (blurred), neutral concrete/white wall, bright workspace near window\n- Props if visible: realistic laptop (MacBook or Dell XPS), quality notebook, coffee cup with slight imperfections\n- NO: overly clean environments, artificial-looking plants, fantasy elements, unrealistic lighting\n\n### LIGHTING (CRITICAL FOR REALISM)\n- Primary: soft natural window light from camera-left (45-degree angle)\n- Fill: ambient bounce from environment (subtle, not flat)\n- Catchlights: single or double catchlight in eyes (rectangular window shape)\n- Shadows: soft gradual transitions, visible but not harsh shadow under chin/nose\n- Skin rendering: subsurface scattering effect (slight translucency at ear edges, nose bridge)\n- Color temperature: slightly warm (5500-6000K), natural white balance\n\n### CAMERA TECHNICAL SPECS\n- Lens simulation: 85mm f/1.4 portrait lens characteristics\n- Depth of field: subject sharp, background smoothly blurred (NO artificial blur artifacts)\n- Noise/grain: subtle film-like grain at 100% zoom (ISO 400-800 equivalent)\n- Sharpness: natural lens sharpness (NOT over-sharpened or HDR look)\n- Color science: natural, slightly desaturated (NOT oversaturated or filtered)\n\n### COMPOSITION\n- Framing: rule of thirds, subject's eyes at upper third intersection\n- Headroom: appropriate space above head (not cramped)\n- Negative space: intentional space for text overlay area\n- Angle: eye-level or very slight low angle (empowering, not distorted)\n\n### CRITICAL ANTI-AI MARKERS\n- Hands (if visible): correct finger count, natural positioning, visible knuckles and veins\n- Ears: realistic shape, proper attachment to head\n- Jewelry (if any): simple, realistic (watch with readable face, simple earrings)\n- Background text/signage (if any): legible, correctly spelled\n- Symmetry: slight natural asymmetry in face (NOT perfectly mirrored)\n- Edge definition: natural transitions between subject and background (NO artifacts)\n`;\n\nreturn [{\n  json: {\n    headline: formInput.headline,\n    visual_style: formInput.visual_style,\n    strategy: strategy,\n    style_instructions: styleInstructions,\n    post_id: postId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [44128, 9628],
      "id": "style-realistic",
      "name": "Style: Realistic Photography"
    },
    {
      "parameters": {
        "jsCode": "// DEFAULT Style Instructions (fallback)\nconst formInput = $('Save Post to DB').item.json;\nconst strategy = $('Agent 1: Strategy Analyzer').item.json.output;\nconst postId = formInput.id;\n\nconst styleInstructions = `\n## DEFAULT CORPORATE STYLE\n**SCENE:** Clean brand blue (#207CE5) gradient background. Professional corporate design with abstract geometric elements. Modern, minimal aesthetic suitable for LinkedIn.\n\n**VISUAL ELEMENTS:**\n1. Solid brand blue background or subtle gradient\n2. Abstract geometric shapes (hexagons, circles, lines)\n3. Technology icons relevant to the topic\n4. Clean white accent lines or borders\n5. Professional lighting effects\n6. Subtle depth through shadows or glows\n`;\n\nreturn [{\n  json: {\n    headline: formInput.headline,\n    visual_style: formInput.visual_style || 'Corporate',\n    strategy: strategy,\n    style_instructions: styleInstructions,\n    post_id: postId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [44128, 9778],
      "id": "style-default",
      "name": "Style: Default"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=STRATEGY:\n{{ $json.strategy }}\n\nHEADLINE (use exactly): {{ $json.headline }}\nVISUAL STYLE: {{ $json.visual_style }}\n\nSTYLE INSTRUCTIONS:\n{{ $json.style_instructions }}",
        "options": {
          "systemMessage": "# ROLE: Image Prompt Engineer for MSI Technologies\n\nCreate a Gemini 3 Pro image generation prompt using the STYLE INSTRUCTIONS provided.\n\n## CRITICAL PROHIBITIONS (NEVER INCLUDE)\n- NO glowing effects, NO luminous elements, NO light rays\n- NO surreal or fantasy elements\n- NO floating objects defying gravity\n- NO neon colors or oversaturated hues\n- NO dreamy or ethereal atmosphere\n- NO abstract distortions\n- NO lens flares or bloom effects\n- NO magical or mystical elements\n- STRICTLY REALISTIC corporate imagery only\n\n## MSI BRAND (ALWAYS APPLY)\n- Brand Blue #207CE5 (primary - use as SOLID color, not glowing)\n- Secondary Blue #004AAD (for subtle depth only)\n- Off-White #FFFDF1 (text color)\n- Dark Gray #2B2B2B (accents)\n\n## TEXT OVERLAY GRADIENT (CRITICAL)\nA SIMPLE, NATURAL shadow gradient for text readability - like a real photograph with post-processing:\n- Type: Simple linear gradient overlay (like Photoshop gradient tool)\n- Position: Choose the BEST area for text based on image composition (can be LEFT, RIGHT, TOP, or BOTTOM)\n- Direction: From TRANSPARENT to SEMI-TRANSPARENT BLACK (70% opacity max)\n- Style: FLAT, MATTE finish - absolutely NO shine, NO glow, NO glossy effect\n- Must look like natural shadow or simple post-processing, NOT like a graphic effect\n\n## TEXT RENDERING\n1. **Headline**: Plain white text (#FFFDF1), bold sans-serif, 72pt, NO effects\n2. **Subtitles**: 2-3 lines below (48pt, 42pt, 36pt), plain white, NO shadows, NO outlines\n3. **Position**: Place text in ANY area that works best with the image composition (left, right, top, bottom, or center)\n\n## LOGO & CONTACT INFO\n- MSI Technologies logo: Place in ANY corner that complements the composition\n- Contact info: Small text near logo 'msitechnologiesinc.com'\n- IMPORTANT: Logo must be in a DIFFERENT area than the main text\n\n## OUTPUT FORMAT\n**SCENE DESCRIPTION:**\n[Apply STYLE INSTRUCTIONS - keep GROUNDED and REALISTIC]\n\n**OVERLAY:**\nSimple matte black gradient in the text area: transparent fading to semi-transparent black. FLAT finish, no shine, no glow. Like a basic Photoshop gradient layer.\n\n**TEXT PLACEMENT:**\nChoose optimal position for headline and subtitles based on image composition. Plain white, clean typography, no effects.\n\n**LOGO PLACEMENT:**\nMSI logo in a corner AWAY from main text area. Contact text nearby.\n\n**STYLE NOTES:**\nMUST look like professional corporate photography or realistic 3D render. NO fantasy, NO surreal, NO glowing, NO ethereal effects. Grounded, believable, professional.\n\n**FORMAT:**\n4:5 portrait"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [44576, 9328],
      "id": "agent-image-prompt",
      "name": "Agent 3: Image Prompt"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts \nSET image_prompt = '{{ $json.output.replace(/'/g, \"''\") }}',\n    status = 'prompt_completed',\n    updated_at = NOW()\nWHERE id = '{{ $('Save Post to DB').item.json.id }}'\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [44800, 9328],
      "id": "a7cd9f98-25c2-423b-a0e5-eae0ef5fd23e",
      "name": "Update Image Prompt in DB",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://i.ibb.co/S7mKXdxr/MSI-Technologies-Icon.png",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [45024, 9328],
      "id": "e7388793-1934-46d8-8295-94c649e7e357",
      "name": "Download MSI Logo"
    },
    {
      "parameters": {
        "jsCode": "// Merge prompt data with logo binary for multi-image Gemini API call\nconst promptData = $('Update Image Prompt in DB').item.json;\nconst logoItem = $('Download MSI Logo').item;\n\nconsole.log('==== PREPARE MULTI-IMAGE INPUT ====');\nconsole.log('Prompt data:', {\n  id: promptData.id,\n  image_prompt_length: promptData.image_prompt?.length || 0,\n  orientation: promptData.orientation\n});\nconsole.log('Logo binary keys:', Object.keys(logoItem.binary || {}));\n\n// Get logo binary data and convert to base64\nlet logoBase64 = '';\nif (logoItem.binary && Object.keys(logoItem.binary).length > 0) {\n  const binaryKey = Object.keys(logoItem.binary)[0];\n  const binaryData = logoItem.binary[binaryKey];\n  \n  console.log('Binary data structure:', {\n    hasData: !!binaryData.data,\n    dataType: typeof binaryData.data,\n    dataValue: binaryData.data,\n    mimeType: binaryData.mimeType,\n    id: binaryData.id\n  });\n  \n  // In n8n filesystem mode, we need to use helpers to get the actual data\n  try {\n    // Use $binary helper to get the actual buffer content\n    const buffer = await this.helpers.getBinaryDataBuffer(logoItem.json.index || 0, binaryKey);\n    logoBase64 = buffer.toString('base64');\n    console.log('Logo base64 extracted from buffer, length:', logoBase64.length);\n    console.log('First 50 chars:', logoBase64.substring(0, 50));\n  } catch (e) {\n    console.error('Failed to get binary buffer:', e.message);\n    \n    // Fallback: try direct access\n    if (typeof binaryData.data === 'string' && binaryData.data !== 'filesystem-v2') {\n      logoBase64 = binaryData.data;\n    } else if (Buffer.isBuffer(binaryData.data)) {\n      logoBase64 = binaryData.data.toString('base64');\n    } else if (binaryData.data instanceof Uint8Array) {\n      logoBase64 = Buffer.from(binaryData.data).toString('base64');\n    }\n  }\n} else {\n  console.log('WARNING: No logo binary found');\n}\n\nif (!logoBase64 || logoBase64 === 'filesystem-v2') {\n  throw new Error('Failed to extract logo base64 data. Got: ' + logoBase64);\n}\n\nconsole.log('==== END PREPARE MULTI-IMAGE INPUT ====');\n\nreturn [{\n  json: {\n    image_prompt: promptData.image_prompt,\n    logo_base64: logoBase64,\n    post_id: promptData.id,\n    orientation: promptData.orientation\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [45248, 9328],
      "id": "946e4b61-e404-4d31-9b93-f941c3e21579",
      "name": "Prepare for Image Gen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts SET status = 'prompt_completed', updated_at = NOW() WHERE id = '{{ $json.post_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [45360, 9328],
      "id": "status-generating-image",
      "name": "Status: Generating Image",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [\n      { text: $('Prepare for Image Gen').item.json.image_prompt },\n      { inline_data: { mime_type: 'image/png', data: $('Prepare for Image Gen').item.json.logo_base64 } }\n    ]\n  }],\n  generationConfig: {\n    responseModalities: ['IMAGE'],\n    imageConfig: {\n      aspectRatio: '4:5',\n      imageSize: '2K'\n    }\n  }\n}) }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [45472, 9328],
      "id": "51c0c92e-88b8-4586-a63d-72d05a782b66",
      "name": "Generate Image",
      "credentials": {
        "googlePalmApi": {
          "id": "oF4jKBK0jRbwEPWt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract image binary from Gemini REST API response\nconst item = $input.item;\n\nconsole.log('==== CHECK IMAGE BINARY ====');\nconsole.log('Item binary keys:', Object.keys(item.binary || {}));\nconsole.log('Item json keys:', Object.keys(item.json || {}));\n\n// Check if binary data exists (from HTTP Request node)\nif (item.binary && Object.keys(item.binary).length > 0) {\n  const binaryKey = Object.keys(item.binary)[0];\n  console.log('Found binary key:', binaryKey);\n  console.log('Binary data size:', item.binary[binaryKey]?.data?.length || 0);\n  \n  // Rename binary to 'data' for ImgBB\n  return [{\n    json: item.json,\n    binary: {\n      data: item.binary[binaryKey]\n    }\n  }];\n}\n\n// Check if response has inline_data or inlineData (Gemini API structure - support both formats)\nconst parts = item.json?.candidates?.[0]?.content?.parts?.[0];\nconst inlineData = parts?.inline_data || parts?.inlineData;\n\nif (inlineData) {\n  console.log('Found inline image data from Gemini API');\n  console.log('Mime type:', inlineData.mime_type || inlineData.mimeType);\n  console.log('Data size:', inlineData.data?.length || 0);\n  \n  // Convert base64 to binary for ImgBB\n  return [{\n    json: item.json,\n    binary: {\n      data: {\n        data: inlineData.data,\n        mimeType: inlineData.mime_type || inlineData.mimeType || 'image/png',\n        fileName: 'generated-image.png'\n      }\n    }\n  }];\n}\n\nconsole.log('ERROR: No binary data found in Gemini output');\nthrow new Error('No se generó imagen. Verifica que el modelo Gemini esté configurado correctamente.');\n\nconsole.log('==== END CHECK IMAGE BINARY ====');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [45696, 9328],
      "id": "df4a187f-baea-48b1-9836-3ba2f1cfc239",
      "name": "Check and Prepare Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "id": "bbf8aafd-92d4-4093-bca6-c020096ff42c",
      "name": "Upload to ImgBB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [45920, 9328],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zx6X4T7j4yDMYWKo",
          "name": "imgbb-api"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts \nSET image_url = '{{ $json.data.url }}', \n    status = 'completed',\n    updated_at = NOW()\nWHERE id = '{{ $('Prepare for Image Gen').item.json.post_id }}'\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [46144, 9328],
      "id": "632385f0-400e-4d69-bca7-109ce045e87f",
      "name": "Update DB with Image URL",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "=✅ Content generated successfully!\n\n📝 Post ID: {{ $json.id }}\n📌 Topic: {{ $json.topic }}\n🎨 Type: {{ $json.post_type }}\n🖼️ Image: {{ $json.image_url }}\n⏰ Created: {{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "post_id",
              "name": "post_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "image_url",
              "name": "image_url",
              "value": "={{ $json.image_url }}",
              "type": "string"
            },
            {
              "id": "post_copy",
              "name": "post_copy",
              "value": "={{ $json.post_copy }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [46368, 9328],
      "id": "267a7236-4b8b-4829-95b3-624e4ab460f1",
      "name": "Format Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Content generated successfully\", \"data\": $json } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [46592, 9328],
      "id": "eb29f774-3c6e-43fc-9fb0-65c0c9c93160",
      "name": "Respond to Webhook - Generate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [43056, 9552],
      "id": "a4023ec4-811c-46f9-98ed-07a7ab486d19",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "13Oqly3WdRAzZVXL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [43408, 9552],
      "id": "openai-copywriter",
      "name": "OpenAI for Copy Writer",
      "credentials": {
        "openAiApi": {
          "id": "13Oqly3WdRAzZVXL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [44656, 9552],
      "id": "openai-image-prompt",
      "name": "OpenAI for Image Prompt",
      "credentials": {
        "openAiApi": {
          "id": "13Oqly3WdRAzZVXL",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Generate Content": {
      "main": [
        [
          {
            "node": "Format Form Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Form Input": {
      "main": [
        [
          {
            "node": "Agent 1: Strategy Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1: Strategy Analyzer": {
      "main": [
        [
          {
            "node": "Agent 2: Copy Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2: Copy Writer": {
      "main": [
        [
          {
            "node": "Save Post to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Post to DB": {
      "main": [
        [
          {
            "node": "Route by Visual Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Visual Style": {
      "main": [
        [
          {
            "node": "Style: Glassmorphism",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Style: Modern 3D",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Style: Isometric",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Style: Data Hero",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Style: Realistic Photography",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Style: Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Style: Glassmorphism": {
      "main": [
        [
          {
            "node": "Agent 3: Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Style: Modern 3D": {
      "main": [
        [
          {
            "node": "Agent 3: Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Style: Isometric": {
      "main": [
        [
          {
            "node": "Agent 3: Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Style: Data Hero": {
      "main": [
        [
          {
            "node": "Agent 3: Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Style: Realistic Photography": {
      "main": [
        [
          {
            "node": "Agent 3: Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Style: Default": {
      "main": [
        [
          {
            "node": "Agent 3: Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 3: Image Prompt": {
      "main": [
        [
          {
            "node": "Update Image Prompt in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image Prompt in DB": {
      "main": [
        [
          {
            "node": "Download MSI Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download MSI Logo": {
      "main": [
        [
          {
            "node": "Prepare for Image Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Image Gen": {
      "main": [
        [
          {
            "node": "Status: Generating Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Generating Image": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Check and Prepare Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check and Prepare Binary": {
      "main": [
        [
          {
            "node": "Upload to ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ImgBB": {
      "main": [
        [
          {
            "node": "Update DB with Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB with Image URL": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1: Strategy Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI for Copy Writer": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 2: Copy Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI for Image Prompt": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 3: Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}
