content-generation-flow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "70738d02-4bd8-4dac-853f-ba4836aafaf5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        42528,
        9328
      ],
      "id": "300ae9e0-fd76-4933-a655-81ad64dd6f62",
      "name": "Webhook - Generate Content",
      "webhookId": "70738d02-4bd8-4dac-853f-ba4836aafaf5"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del formulario web\nconst input = $input.item.json;\n\nconsole.log('==== WEBHOOK INPUT ====');\nconsole.log('Raw input keys:', Object.keys(input));\nconsole.log('Body type:', typeof input.body);\nconsole.log('Body value:', input.body);\n\n// Parsear el body si es un string JSON\nlet data;\nif (input.body) {\n  if (typeof input.body === 'string') {\n    try {\n      data = JSON.parse(input.body);\n      console.log('Parsed JSON body successfully');\n    } catch (e) {\n      console.error('Failed to parse body as JSON:', e.message);\n      data = input;\n    }\n  } else if (typeof input.body === 'object') {\n    data = input.body;\n    console.log('Body is already an object');\n  } else {\n    data = input;\n  }\n} else if (input.query) {\n  data = input.query;\n  console.log('Using input.query');\n} else {\n  data = input;\n  console.log('Using input directly');\n}\n\nconsole.log('Extracted data:', JSON.stringify(data, null, 2));\n\n// Construir variables (soportar snake_case y camelCase)\nconst topic = data.topic || '';\nconst post_type = data.post_type || data.postType || '';\nconst visual_style = data.visual_style || data.visualStyle || '';\nconst orientation = data.orientation || '';\nconst headline = data.headline || '';\nconst data_points = data.data_points || data.dataPoints || '';\nconst context = data.context || '';\n\nconsole.log('Final variables:', {topic, post_type, visual_style, orientation, headline, data_points, context});\nconsole.log('==== END WEBHOOK INPUT ====');\n\nreturn [{\n  json: {\n    topic,\n    post_type,\n    visual_style,\n    orientation,\n    headline,\n    data_points,\n    context\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        42752,
        9328
      ],
      "id": "925c75b4-e093-46f1-87b1-1630753d1f4a",
      "name": "Format Form Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a content strategy for:\n\nTopic: {{ $json.topic }}\nPost Type: {{ $json.post_type }}\nVisual Style: {{ $json.visual_style }}\nHeadline: {{ $json.headline }}\nData Points: {{ $json.data_points || 'None provided' }}\nContext: {{ $json.context || 'None provided' }}\n\nNote: All images will be in 4:5 portrait format.",
        "options": {
          "systemMessage": "=# LANGUAGE REQUIREMENT\nALWAYS respond in English regardless of input language. Even if the user writes in Spanish, French, or any other language, your output MUST be in English.\n\n# ROLE: Strategic Content Analyst for MSI Technologies\n\n## YOUR TASK\nAnalyze the user's content request and provide strategic guidance for both LinkedIn copy and visual design.\n\n## OUTPUT FORMAT\nYou MUST output your response in this EXACT structure:\n\n---CONTENT STRATEGY---\nHook: [Compelling first line]\nBody: [Main message with examples]\nCTA: [Call to action as question]\nHashtags: [3-5 relevant hashtags including #MSITechnologies]\n\n---VISUAL STRATEGY---\nUser's Visual Style: [Copy exactly from user input]\nScene Concept: [How to visualize the topic using the user's chosen style]\nFormat: 4:5 Portrait\nComposition: [Vertical layout optimized for portrait format]\n\n---GRAPHIC ELEMENTS---\n[2-3 specific visual elements that match the user's visual style]\n\n---IN-IMAGE TEXT---\n[Copy EXACT headline from user input - character by character]\n\n---DATA POINTS---\n[Only list data points if user explicitly provided them. If none provided, write \"None provided - focus on insights and examples instead of statistics\"]\n\n---COLOR GUIDANCE---\nALWAYS use backgrounds with brand blue #207CE5 or darker variations. Use white and black for text and accents. Professional, clean aesthetic.\n\n## MSI CONTEXT\nMSI Technologies is a technology solutions company that helps businesses modernize their infrastructure, optimize operations, and implement innovative technology solutions. Focus on digital transformation, technical excellence, and business impact.\n\n## CONTENT STRATEGY RULES\n1. NO generic corporate language\n2. Use specific data and real examples ONLY if user provided them - NEVER invent statistics\n3. Keep hook under 150 characters\n4. Be technical but accessible\n5. Always end with conversational CTA\n\n## VISUAL STRATEGY RULES\n1. RESPECT the user's chosen Visual Style - adapt your scene concept to match it\n2. ALWAYS use brand blue #207CE5 backgrounds or darker blue variations. NEVER white or light backgrounds\n3. Use white and black for text and accents - clean, professional contrast\n4. Suggest 2-3 graphic elements that fit the user's style with premium, professional aesthetic\n5. Keep compositions clean for vertical 4:5 format with sophisticated lighting\n6. Allow subtitles or supporting text if needed to effectively convey the message\n\nREMEMBER: The user's Visual Style choice is PRIMARY - your strategy should enhance it, not replace it. Copy the user's headline exactly. Brand blue #207CE5 backgrounds MANDATORY. NEVER invent data or statistics. All images are 4:5 portrait format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        42976,
        9328
      ],
      "id": "0f4f3960-c677-49ea-abb2-f686344cb63f",
      "name": "Agent 1: Strategy Analyzer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Agent 1: Strategy Analyzer').item.json.output }}",
        "options": {
          "systemMessage": "# LANGUAGE REQUIREMENT\nALWAYS respond in English regardless of input language. Even if the user writes in Spanish, French, or any other language, your output MUST be in English.\n\n# ROLE: LinkedIn Copy Writer for MSI Technologies\n\nYou receive a CONTENT STRATEGY and create LinkedIn post copy. Output ONLY the post text - no labels, no metadata, no character counts.\n\n## STRUCTURE\n- Hook (First 2 lines): Specific stat, question, or concrete statement\n- Body: Include data points, line breaks every 2-3 sentences\n- CTA: Conversational question\n\n## VOICE\n- Senior engineer who's solved this 50 times\n- Direct and honest, not salesy\n- Technical but accessible\n\n## NEVER USE\n- \"In today's digital landscape\"\n- \"Revolutionize/Transform your business\"\n- \"Cutting-edge/Game-changing\"\n- \"Unlock the power of\"\n- \"Seamlessly integrate\"\n- \"Best-in-class\"\n\n## REQUIREMENTS\n- English only\n- Maximum 100 words (approximately 600-700 characters)\n- Use specific numbers/stats ONLY if user provided them - NEVER invent data\n- NO emojis\n- Always end with #MSITechnologies + relevant hashtags\n\n## CONTACT INFO (ALWAYS INCLUDE)\nAt the end of EVERY post, BEFORE the hashtags, include a clear contact invitation with visual separator:\n- Format exactly like this (with the line above):\n  ───────────────────\n  📩 Let's talk → contact@msitechnologiesinc.com\n  🌐 msitechnologiesinc.com\n- The line separator and icons make it stand out\n- This is your clear call-to-action for readers ready to connect\n\n## EXAMPLE (with user-provided data)\nMost digital transformation projects fail because teams focus on technology first instead of business outcomes. We've seen 60% of companies struggle with adoption after investing millions.\n\nThe fix isn't more tools. It's better strategy:\n- Start with clear business objectives\n- Involve end-users from day one\n- Measure impact, not just implementation\n\nWe helped a healthcare client improve operational efficiency by 47% in 90 days through targeted technology optimization. The secret? Focus on people and processes, not just tech.\n\nWhat's been your biggest challenge with technology adoption?\n\n───────────────────\n📩 Let's talk → contact@msitechnologiesinc.com\n🌐 msitechnologiesinc.com\n\n#MSITechnologies #DigitalTransformation #TechStrategy\n\nNOTE: If no data points provided, focus on concrete insights, real scenarios, and actionable advice instead of statistics."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        43328,
        9328
      ],
      "id": "2b2bfa24-5340-482c-ab47-e937e0917a6c",
      "name": "Agent 2: Copy Writer"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO social_posts (topic, post_type, visual_style, orientation, headline, data_points, context, strategy_analysis, status, created_at, updated_at)\nVALUES (\n  '{{ $('Format Form Input').item.json.topic.replace(/'/g, \"''\") }}', '{{ $json.output.replace(/'/g, \"''\") }}', '{{ $('Format Form Input').item.json.visual_style.replace(/'/g, \"''\") }}', '{{ $('Format Form Input').item.json.orientation.replace(/'/g, \"''\") }}', '{{ $('Format Form Input').item.json.headline.replace(/'/g, \"''\") }}', '{{ $('Format Form Input').item.json.data_points.replace(/'/g, \"''\") }}', '{{ $('Format Form Input').item.json.context.replace(/'/g, \"''\") }}', '{{ $('Agent 1: Strategy Analyzer').item.json.output.replace(/'/g, \"''\") }}', 'copy_completed', NOW(), NOW()\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        43680,
        9328
      ],
      "id": "68ab5723-cc8f-4062-afed-b7b89357daf3",
      "name": "Save Post to DB",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=STRATEGY ANALYSIS:\n{{ $('Agent 1: Strategy Analyzer').item.json.output }}\n\nUSER INPUT (USE THESE EXACT VALUES):\nHeadline: {{ $('Format Form Input').item.json.headline }}\nVisual Style: {{ $('Format Form Input').item.json.visual_style }}\nFormat: 4:5 Portrait",
        "options": {
          "systemMessage": "# LANGUAGE REQUIREMENT\nALWAYS respond in English regardless of input language. Even if the user writes in Spanish, French, or any other language, your output MUST be in English.\n\n# ROLE: AI Image Prompt Engineer for MSI Technologies\n\nYou receive the STRATEGY ANALYSIS and USER INPUT with exact headline text. Create a well-structured image generation prompt with clear headers and sections for Gemini 3 Pro Image generation.\n\n## MSI BRAND COLORS (MANDATORY)\n- Brand Blue #207CE5 (primary backgrounds)\n- Secondary Blue #004AAD (gradients, depth, darker variations)\n- Off-White #FFFDF1 (text, accents, highlights)\n- Dark Gray #2B2B2B (text, shadows, depth)\n\n## BRAND STYLE\nMSI Technologies is corporate, secure, and tech-forward. Adapt these qualities to match the user's chosen Visual Style.\n\nCRITICAL REQUIREMENTS:\n- ALWAYS use brand blue #207CE5 backgrounds or darker blue variations\n- NEVER use white, off-white, or light backgrounds as primary\n- Use white and black for all text and accents - clean professional contrast\n- Professional, premium aesthetic with depth and sophistication\n- Create visually RICH compositions - NEVER text-only images\n- Include relevant icons, graphics, shapes, and visual elements beyond typography\n\n## TEXT RENDERING (CRITICAL)\nGemini 3 Pro has native text rendering capability. Request CRYSTAL CLEAR text:\n\n1. **Main Headline**: Copy the EXACT headline from USER INPUT character-by-character. Request: \"Use native text rendering to display '[EXACT HEADLINE TEXT]' in bold, modern sans-serif font, very large size (equivalent to 60-80pt), white color (#FFFDF1). Position in upper third area. Text MUST be crystal clear, sharp, perfectly legible - no blurring, no distortion, professional quality typography.\"\n\n2. **Subtitles**: ALWAYS add 2-3 impactful subtitles or content lines. Request: \"Below headline, use native text rendering for multiple content lines:\n   - Line 1: '[KEY BENEFIT OR INSIGHT]' - medium sans-serif (32-36pt), off-white (#FFFDF1)\n   - Line 2: '[SUPPORTING DETAIL OR STATISTIC]' - medium sans-serif (28-32pt), off-white (#FFFDF1)\n   - Optional Line 3: '[CALL TO ACTION OR QUESTION]' - smaller sans-serif (24-28pt), off-white (#FFFDF1)\n   All text with subtle drop shadow for readability. Clean, readable, professional spacing between lines.\"\n\n3. **Quality Standards**:\n   - EMPHASIZE: \"Native text rendering\", \"crystal clear typography\", \"no text artifacts\"\n   - Clear size hierarchy: Main headline (largest) > Subtitle (medium) > Website text (smallest)\n   - Always off-white (#FFFDF1) or black on brand blue backgrounds for maximum contrast\n   - Proper spacing between all text elements\n\n## VISUAL ELEMENTS (MANDATORY)\nEVERY image MUST include rich visual elements:\n- Relevant icons, technical graphics, or visual metaphors supporting the headline\n- Geometric shapes, patterns, or design elements matching the Visual Style\n- Depth through glows, shadows, gradients, or lighting effects\n- White and black accents for clean, professional highlights\n- Professional tech aesthetic with sophisticated composition\n- CRITICAL: NEVER create images with only text - always include substantial visual graphics\n\n## LOGO AND BRANDING (CRITICAL - NEVER MODIFY)\nA reference image of the MSI Technologies logo is provided separately. In your prompt:\n- \"Place the provided MSI Technologies logo in one of the FOUR CORNERS (top-left, top-right, bottom-left, or bottom-right). Choose the corner that:\n  1. Best fits the overall composition\n  2. Doesn't interfere with main visual elements or headline\n  3. Maintains good visual balance\n  Example: If main graphics are centered-left, place logo bottom-right or top-right\"\n- \"CRITICAL: The logo must be used EXACTLY as provided in the reference image - do NOT regenerate, redraw, modify colors, change design, or alter its structure in ANY way\"\n- \"Simply composite/place the existing logo image onto the design - treat it as a pre-made asset\"\n- \"Near the logo, create a small contact badge/banner with: 'Ready to transform? → msitechnologiesinc.com' - use a subtle white or light gray pill/rounded rectangle background behind the text, black text (14-16pt), clean sans-serif. This acts as a mini CTA that draws attention while staying professional.\"\n- \"Maintain 25-30px padding from edges so logo and website text are clearly visible and professional\"\n\n## PROMPT STRUCTURE\nOrganize the output with clear sections:\n\n**SCENE DESCRIPTION:**\n[Describe the scene using the EXACT Visual Style from USER INPUT. Include specific visual elements, graphics, and composition details.\n\nIF user chose \"Realistic\" or \"Photography\" or \"Professional\" style:\n- STOCK PHOTOGRAPHY STYLE: \"Professional stock image with clean, natural aesthetic - the kind used in corporate websites and LinkedIn\"\n- Camera: \"Shot on professional camera with 50mm lens at f/2.8 for natural, flattering depth of field\"\n- Lighting: \"Soft, diffused natural lighting - window light or overcast day aesthetic. Clean and professional\"\n- WHAT TO SHOW: \"Abstract professional elements - soft bokeh backgrounds, blurred office environments, hands typing on laptops, coffee cups, plants, clean desks. NO faces, NO full human figures, NO large equipment\"\n- WHAT TO AVOID: \"NO server rooms, NO large machinery, NO data centers, NO complex tech equipment, NO people faces, NO unnatural or sci-fi elements\"\n- Aesthetic: \"Clean, minimal, professional. Think Unsplash/Shutterstock corporate category - simple, elegant, relatable\"\n- Brand integration: \"Brand blue (#207CE5) as subtle color grading or gradient overlay\"\n\nIF user chose \"Modern 3D\", describe 3D objects and elements. IF \"Glassmorphism\", describe glass panels and layers. IF \"Isometric Architecture\", describe isometric structures. IF \"Data Hero\", describe charts and data visualizations.\n\nAlways include rich visual content beyond text, with brand blue (#207CE5) as primary color overlay or accent.]\n\n**COLOR PALETTE:**\n[Brand blue #207CE5 backgrounds mandatory, with Secondary Blue #004AAD for gradients and depth. Accents: Off-White #FFFDF1 and Dark Gray #2B2B2B for text, highlights and visual elements - clean professional aesthetic]\n\n**HEADLINE TEXT:**\n\"Use native text rendering to display this exact text: '[Copy EXACT headline from USER INPUT]' - Bold, modern sans-serif, very large (60-80pt equivalent), off-white (#FFFDF1) with subtle drop shadow for depth, positioned in upper third. MUST be crystal clear and perfectly legible.\"\n\n**CONTENT LINES (MANDATORY - Add 2-3 lines below headline):**\n\"Below headline, render multiple content lines with native text rendering:\n- '[KEY BENEFIT related to headline - e.g., Reduce costs by optimizing your infrastructure]' - Medium sans-serif (32pt), off-white (#FFFDF1)\n- '[SUPPORTING INSIGHT - e.g., Expert solutions tailored to your business]' - Medium sans-serif (28pt), off-white (#FFFDF1)  \n- '[OPTIONAL: Brief CTA or question]' - Smaller sans-serif (24pt), off-white (#FFFDF1)\nAll text with subtle drop shadow, proper line spacing (1.4x), positioned below headline in the middle third of the image.\"\n\n**VISUAL ELEMENTS:**\n[List 3-5 SPECIFIC visual elements: icons (e.g., technology icons, network diagrams), geometric shapes (e.g., hexagons, circles, lines), technical graphics (e.g., circuit patterns, data nodes), lighting effects (e.g., glows, reflections). Be detailed and concrete.]\n\n**BRANDING:**\nPlace the provided MSI Technologies logo in [CHOOSE: top-left, top-right, bottom-left, or bottom-right] corner based on composition (explain why this corner works best - e.g., \"bottom-right corner because main visuals are left-aligned\"). Logo used exactly as provided - no modifications. Near logo: contact badge with 'Ready to transform? → msitechnologiesinc.com' in white pill background, black text. 25-30px padding from edges.\n\n**FORMAT:**\n4:5 portrait orientation\n\n## EXAMPLE (if user chose \"Glassmorphism\" style):\n**SCENE DESCRIPTION:**\nA Glassmorphism-style corporate visual with a brand blue (#207CE5) to secondary blue (#004AAD) gradient background. THREE frosted glass panels arranged in a layered composition with technology icons visible through translucent layers. Semi-transparent hexagonal shapes scattered throughout. Subtle blur effects on glass edges. Connection lines in off-white linking visual elements. Premium, sophisticated vertical composition with dramatic rim lighting and professional atmosphere.\n\n**COLOR PALETTE:**\nBrand blue (#207CE5) to secondary blue (#004AAD) gradient background with off-white (#FFFDF1) highlights on icons and connection lines, subtle white glowing edges on glass panels. Clean, professional color scheme with off-white and dark gray accents.\n\n**HEADLINE TEXT:**\n\"Use native text rendering to display: 'Digital Transformation Done Right' - Bold, modern sans-serif typography, very large size (70pt equivalent), off-white (#FFFDF1) with subtle drop shadow, positioned in the upper third. Text must be crystal clear, sharp, and perfectly legible with no artifacts.\"\n\n**CONTENT LINES:**\n\"Below headline, render with native text rendering:\n- 'Modernize Your Infrastructure' - Medium sans-serif (32pt), off-white (#FFFDF1)\n- 'Expert Solutions • Proven Results' - Medium sans-serif (28pt), off-white (#FFFDF1)\n- 'Start your transformation today' - Smaller sans-serif (24pt), off-white (#FFFDF1)\nAll text with subtle drop shadow for depth and readability.\"\n\n**VISUAL ELEMENTS:**\n1. Three frosted glass panels with subtle blur effect\n2. Technology icons in white on panels (gears, circuits, data symbols)\n3. Semi-transparent hexagonal geometric shapes scattered (white accents)\n4. Connection lines between visual elements (white)\n5. Subtle glow effects on panel edges (white)\n6. Professional rim lighting creating depth\n\n**BRANDING:**\nPlace the provided MSI Technologies logo in bottom-right corner (main glass panels are positioned left-center, so bottom-right maintains visual balance and avoids overlap). Logo used exactly as provided - maintaining exact original design. Near the logo: contact badge with 'Ready to transform? → msitechnologiesinc.com' - white pill/rounded rectangle background, black text (15pt). 25px padding from right and bottom edges.\n\n**FORMAT:**\n4:5 portrait orientation.\n\n## EXAMPLE 2 (if user chose \"Realistic\" or \"Photography\" or \"Professional\" style):\n**SCENE DESCRIPTION:**\nA clean, professional stock photograph with soft bokeh background. The scene shows an abstract corporate environment - a blurred modern office space with soft natural light streaming through windows. NO people visible, NO faces, NO large equipment, NO server rooms. Focus on subtle professional elements: soft out-of-focus desk setup, a plant, warm natural lighting creating a welcoming atmosphere. The aesthetic is clean, minimal, and professional - like premium Unsplash or Shutterstock corporate imagery. Brand blue (#207CE5) applied as a subtle color grade. High-quality, authentic stock photography look.\n\n**COLOR PALETTE:**\nBrand blue (#207CE5) as subtle color grading with natural lighting tones. Off-white (#FFFDF1) text with drop shadows for readability. Warm, inviting corporate tones.\n\n**HEADLINE TEXT:**\n\"Use native text rendering to display: 'Your Technology Partner' - Bold, modern sans-serif typography, very large size (70pt equivalent), off-white (#FFFDF1) with prominent drop shadow for contrast against photographic background. Positioned in upper third.\"\n\n**CONTENT LINES:**\n\"Below headline, render with native text rendering:\n- 'Trusted by 500+ businesses worldwide' - Medium sans-serif (32pt), off-white (#FFFDF1) with drop shadow\n- 'Infrastructure • Cloud • Security' - Medium sans-serif (28pt), off-white (#FFFDF1)\n- 'Let us handle the complexity' - Smaller sans-serif (24pt), off-white (#FFFDF1)\nAll text floating over the blurred background with clear drop shadows for maximum readability.\"\n\n**VISUAL ELEMENTS:**\n1. Soft, creamy bokeh background with warm natural tones\n2. Subtle natural light rays or window reflections\n3. Blurred professional elements (desk, plant, coffee cup) - NO large equipment\n4. Clean gradient from brand blue to natural tones\n5. Gentle lens flare or light leak for warmth\n6. Semi-transparent brand blue overlay for cohesion\n\n**BRANDING:**\nPlace the provided MSI Technologies logo in bottom-right corner with slight glow/shadow to stand out against photographic background. Logo exactly as provided. Near logo: contact badge with 'Ready to transform? → msitechnologiesinc.com' in frosted white pill background for readability.\n\n**FORMAT:**\n4:5 portrait orientation.\n\nREMEMBER: Request NATIVE TEXT RENDERING for crystal clear text. ALWAYS use brand blue #207CE5 backgrounds or as accent color. ALWAYS include rich visual elements - icons, shapes, graphics. ALWAYS add 2-3 content lines below the headline to make images informative. For realistic styles, use bokeh blur backgrounds and photorealistic quality - avoid AI-generated look. Copy exact headline character-by-character. Logo in one of FOUR CORNERS based on composition - unmodified. Use off-white (#FFFDF1) for all text with subtle drop shadows."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        43904,
        9328
      ],
      "id": "ea8f3659-6822-446c-a422-5c6cbccad8d1",
      "name": "Agent 3: Image Prompt Engineer"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts \nSET image_prompt = '{{ $json.output.replace(/'/g, \"''\") }}',\n    status = 'prompt_completed',\n    updated_at = NOW()\nWHERE id = '{{ $('Save Post to DB').item.json.id }}'\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        44256,
        9328
      ],
      "id": "a7cd9f98-25c2-423b-a0e5-eae0ef5fd23e",
      "name": "Update Image Prompt in DB",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://i.ibb.co/S7mKXdxr/MSI-Technologies-Icon.png",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        44480,
        9328
      ],
      "id": "e7388793-1934-46d8-8295-94c649e7e357",
      "name": "Download MSI Logo"
    },
    {
      "parameters": {
        "jsCode": "// Merge prompt data with logo binary for multi-image Gemini API call\nconst promptData = $('Update Image Prompt in DB').item.json;\nconst logoItem = $('Download MSI Logo').item;\n\nconsole.log('==== PREPARE MULTI-IMAGE INPUT ====');\nconsole.log('Prompt data:', {\n  id: promptData.id,\n  image_prompt_length: promptData.image_prompt?.length || 0,\n  orientation: promptData.orientation\n});\nconsole.log('Logo binary keys:', Object.keys(logoItem.binary || {}));\n\n// Get logo binary data and convert to base64\nlet logoBase64 = '';\nif (logoItem.binary && Object.keys(logoItem.binary).length > 0) {\n  const binaryKey = Object.keys(logoItem.binary)[0];\n  const binaryData = logoItem.binary[binaryKey];\n  \n  console.log('Binary data structure:', {\n    hasData: !!binaryData.data,\n    dataType: typeof binaryData.data,\n    dataValue: binaryData.data,\n    mimeType: binaryData.mimeType,\n    id: binaryData.id\n  });\n  \n  // In n8n filesystem mode, we need to use helpers to get the actual data\n  try {\n    // Use $binary helper to get the actual buffer content\n    const buffer = await this.helpers.getBinaryDataBuffer(logoItem.json.index || 0, binaryKey);\n    logoBase64 = buffer.toString('base64');\n    console.log('Logo base64 extracted from buffer, length:', logoBase64.length);\n    console.log('First 50 chars:', logoBase64.substring(0, 50));\n  } catch (e) {\n    console.error('Failed to get binary buffer:', e.message);\n    \n    // Fallback: try direct access\n    if (typeof binaryData.data === 'string' && binaryData.data !== 'filesystem-v2') {\n      logoBase64 = binaryData.data;\n    } else if (Buffer.isBuffer(binaryData.data)) {\n      logoBase64 = binaryData.data.toString('base64');\n    } else if (binaryData.data instanceof Uint8Array) {\n      logoBase64 = Buffer.from(binaryData.data).toString('base64');\n    }\n  }\n} else {\n  console.log('WARNING: No logo binary found');\n}\n\nif (!logoBase64 || logoBase64 === 'filesystem-v2') {\n  throw new Error('Failed to extract logo base64 data. Got: ' + logoBase64);\n}\n\nconsole.log('==== END PREPARE MULTI-IMAGE INPUT ====');\n\nreturn [{\n  json: {\n    image_prompt: promptData.image_prompt,\n    logo_base64: logoBase64,\n    post_id: promptData.id,\n    orientation: promptData.orientation\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        44704,
        9328
      ],
      "id": "946e4b61-e404-4d31-9b93-f941c3e21579",
      "name": "Prepare for Image Gen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts SET status = 'image_generated', updated_at = NOW() WHERE id = '{{ $('Prepare for Image Gen').item.json.post_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        44816,
        9328
      ],
      "id": "status-generating-image",
      "name": "Status: Generating Image",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [\n      { text: $('Prepare for Image Gen').item.json.image_prompt },\n      { inline_data: { mime_type: 'image/png', data: $('Prepare for Image Gen').item.json.logo_base64 } }\n    ]\n  }],\n  generationConfig: {\n    responseModalities: ['IMAGE'],\n    imageConfig: {\n      aspectRatio: '4:5',\n      imageSize: '2K'\n    }\n  }\n}) }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        44928,
        9328
      ],
      "id": "51c0c92e-88b8-4586-a63d-72d05a782b66",
      "name": "Generate Image",
      "credentials": {
        "googlePalmApi": {
          "id": "oF4jKBK0jRbwEPWt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract image binary from Gemini REST API response\nconst item = $input.item;\n\nconsole.log('==== CHECK IMAGE BINARY ====');\nconsole.log('Item binary keys:', Object.keys(item.binary || {}));\nconsole.log('Item json keys:', Object.keys(item.json || {}));\n\n// Check if binary data exists (from HTTP Request node)\nif (item.binary && Object.keys(item.binary).length > 0) {\n  const binaryKey = Object.keys(item.binary)[0];\n  console.log('Found binary key:', binaryKey);\n  console.log('Binary data size:', item.binary[binaryKey]?.data?.length || 0);\n  \n  // Rename binary to 'data' for ImgBB\n  return [{\n    json: item.json,\n    binary: {\n      data: item.binary[binaryKey]\n    }\n  }];\n}\n\n// Check if response has inline_data or inlineData (Gemini API structure - support both formats)\nconst parts = item.json?.candidates?.[0]?.content?.parts?.[0];\nconst inlineData = parts?.inline_data || parts?.inlineData;\n\nif (inlineData) {\n  console.log('Found inline image data from Gemini API');\n  console.log('Mime type:', inlineData.mime_type || inlineData.mimeType);\n  console.log('Data size:', inlineData.data?.length || 0);\n  \n  // Convert base64 to binary for ImgBB\n  return [{\n    json: item.json,\n    binary: {\n      data: {\n        data: inlineData.data,\n        mimeType: inlineData.mime_type || inlineData.mimeType || 'image/png',\n        fileName: 'generated-image.png'\n      }\n    }\n  }];\n}\n\nconsole.log('ERROR: No binary data found in Gemini output');\nthrow new Error('No se generó imagen. Verifica que el modelo Gemini esté configurado correctamente.');\n\nconsole.log('==== END CHECK IMAGE BINARY ====');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        45152,
        9328
      ],
      "id": "df4a187f-baea-48b1-9836-3ba2f1cfc239",
      "name": "Check and Prepare Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "id": "bbf8aafd-92d4-4093-bca6-c020096ff42c",
      "name": "Upload to ImgBB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        45376,
        9328
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zx6X4T7j4yDMYWKo",
          "name": "imgbb-api"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts \nSET image_url = '{{ $json.data.url }}', \n    status = 'completed',\n    updated_at = NOW()\nWHERE id = '{{ $('Prepare for Image Gen').item.json.post_id }}'\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        45600,
        9328
      ],
      "id": "632385f0-400e-4d69-bca7-109ce045e87f",
      "name": "Update DB with Image URL",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "=✅ Content generated successfully!\n\n📝 Post ID: {{ $json.id }}\n📌 Topic: {{ $json.topic }}\n🎨 Type: {{ $json.post_type }}\n🖼️ Image: {{ $json.image_url }}\n⏰ Created: {{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "post_id",
              "name": "post_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "image_url",
              "name": "image_url",
              "value": "={{ $json.image_url }}",
              "type": "string"
            },
            {
              "id": "post_copy",
              "name": "post_copy",
              "value": "={{ $json.post_copy }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        45824,
        9328
      ],
      "id": "267a7236-4b8b-4829-95b3-624e4ab460f1",
      "name": "Format Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Content generated successfully\", \"data\": $json } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        46048,
        9328
      ],
      "id": "eb29f774-3c6e-43fc-9fb0-65c0c9c93160",
      "name": "Respond to Webhook - Generate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        43056,
        9552
      ],
      "id": "a4023ec4-811c-46f9-98ed-07a7ab486d19",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "13Oqly3WdRAzZVXL",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Generate Content": {
      "main": [
        [
          {
            "node": "Format Form Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Form Input": {
      "main": [
        [
          {
            "node": "Agent 1: Strategy Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1: Strategy Analyzer": {
      "main": [
        [
          {
            "node": "Agent 2: Copy Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2: Copy Writer": {
      "main": [
        [
          {
            "node": "Save Post to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Post to DB": {
      "main": [
        [
          {
            "node": "Agent 3: Image Prompt Engineer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 3: Image Prompt Engineer": {
      "main": [
        [
          {
            "node": "Update Image Prompt in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image Prompt in DB": {
      "main": [
        [
          {
            "node": "Download MSI Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download MSI Logo": {
      "main": [
        [
          {
            "node": "Prepare for Image Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Image Gen": {
      "main": [
        [
          {
            "node": "Status: Generating Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Generating Image": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Check and Prepare Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check and Prepare Binary": {
      "main": [
        [
          {
            "node": "Upload to ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ImgBB": {
      "main": [
        [
          {
            "node": "Update DB with Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB with Image URL": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1: Strategy Analyzer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent 2: Copy Writer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent 3: Image Prompt Engineer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}