current-flow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "70738d02-4bd8-4dac-853f-ba4836aafaf5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4656,
        32
      ],
      "id": "c29dd752-5920-423b-8557-998afd0652e4",
      "name": "Webhook - Generate Content",
      "webhookId": "70738d02-4bd8-4dac-853f-ba4836aafaf5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "=Topic: {{ $json.topic }}\nPost Type: {{ $json.post_type }}\nVisual Style: {{ $json.visual_style }}\nOrientation: {{ $json.orientation }}\nData Points: {{ $json.data_points || 'None provided' }}\nHeadline: {{ $json.headline }}\nContext: {{ $json.context || 'None provided' }}",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "post_type",
              "name": "post_type",
              "value": "={{ $json.post_type }}",
              "type": "string"
            },
            {
              "id": "visual_style",
              "name": "visual_style",
              "value": "={{ $json.visual_style }}",
              "type": "string"
            },
            {
              "id": "orientation",
              "name": "orientation",
              "value": "={{ $json.orientation }}",
              "type": "string"
            },
            {
              "id": "headline",
              "name": "headline",
              "value": "={{ $json.headline }}",
              "type": "string"
            },
            {
              "id": "data_points",
              "name": "data_points",
              "value": "={{ $json.data_points || '' }}",
              "type": "string"
            },
            {
              "id": "context",
              "name": "context",
              "value": "={{ $json.context || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -4432,
        32
      ],
      "id": "25b6a539-ba55-4197-b99f-d1ed2d646a2a",
      "name": "Format Form Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=# ROLE: Strategic Content Analyst for MSI Americas\n\n## YOUR TASK\nAnalyze the user's content request and provide strategic guidance for both LinkedIn copy and visual design.\n\n## OUTPUT FORMAT\nYou MUST output your response in this EXACT structure:\n\n---CONTENT STRATEGY---\nHook: [Compelling first line]\nBody: [Main message with examples]\nCTA: [Call to action as question]\nHashtags: [3-5 relevant hashtags including #MSIAmericas]\n\n---VISUAL STRATEGY---\nMain Scene: [Technical visualization description]\nVisual Style: [From user input]\nOrientation: [From user input]\nDimensions: [Extract from orientation]\nComposition: [Layout approach]\n\n---GRAPHIC ELEMENTS---\n1. [Element type and description]\n2. [Element type and description]\n\n---IN-IMAGE TEXT---\n[Use EXACT headline from user input]\n\n---DATA POINTS---\n- [Stat or metric 1]\n- [Stat or metric 2]\n\n---TECHNICAL NOTES---\n[Implementation details from user context]\n\n## MSI CONTEXT\nMSI Americas specializes in:\n- Cloud Solutions & Migration (AWS, Azure, GCP)\n- 5G Infrastructure & IoT Implementation\n- IT Staff Augmentation\n- Sustainability Tech & Diversity Programs\n\n## CONTENT STRATEGY RULES\n1. NO generic corporate language\n2. Use specific data and real examples\n3. Keep hook under 150 characters\n4. Be technical but accessible\n5. Always end with conversational CTA\n\n## VISUAL STRATEGY RULES\n1. Use MSI colors: #004AAD (blue), #67B547 (green), #FFFDF1 (off-white)\n2. Avoid stock photo aesthetics\n3. Focus on abstract data visualizations\n4. Keep compositions clean with negative space\n5. Include 2-3 graphic elements maximum\n\nREMEMBER: Follow the OUTPUT FORMAT exactly. Use the user's provided headline, visual style, and orientation directly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -4208,
        32
      ],
      "id": "7d1dad60-227e-4d0f-a898-b3ae42672319",
      "name": "Agent 1: Strategy Analyzer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Agent 1: Strategy Analyzer').item.json.output }}",
        "options": {
          "systemMessage": "# ROLE: LinkedIn Copy Writer for MSI Americas\n\n## CRITICAL OUTPUT REQUIREMENT\n⚠️ YOU MUST OUTPUT ONLY PLAIN TEXT - NO METADATA, NO LABELS, NO FORMATTING MARKERS\n⚠️ Your response will be saved DIRECTLY to a database text field\n⚠️ DO NOT include \"CHARACTER COUNT\" or \"ESTIMATED READING TIME\" or any other labels\n⚠️ Output ONLY the LinkedIn post text itself, nothing else\n\n## YOUR TASK\nReceive the CONTENT STRATEGY section and create compelling LinkedIn post copy.\n\n## WRITING GUIDELINES\n\n### Structure\n- Hook (First 2 lines): Specific stat, question, or concrete statement\n- Body: Include data points, use line breaks every 2-3 sentences\n- CTA: Conversational question\n\n### Voice\n- Sound like a senior engineer who's fixed this 50 times\n- Direct and honest, not salesy\n- Technical but accessible\n\n### Banned Phrases\nNEVER use:\n- \"In today's digital landscape\"\n- \"Revolutionize/Transform your business\"\n- \"Cutting-edge/Game-changing\"\n- \"Unlock the power of\"\n- \"Seamlessly integrate\"\n- \"Best-in-class\"\n\n### Rules\n1. English only\n2. Under 1,300 characters\n3. At least 2 specific numbers/stats\n4. NO emojis\n5. Always end with #MSIAmericas\n\n## EXAMPLE OUTPUT FORMAT\n```\nMost cloud migrations fail because teams focus on lift-and-shift instead of optimization. We've seen 60% of companies overspend by $200K+ annually on unused resources.\n\nThe fix isn't more tools. It's better architecture planning:\n- Right-size instances before migration\n- Implement auto-scaling from day one\n- Use reserved instances for predictable workloads\n\nWe helped a healthcare client reduce AWS costs by 47% in 90 days without touching a single application. The secret? Proper tagging and governance from the start.\n\nWhat's been your biggest challenge with cloud cost optimization?\n\n#MSIAmericas #CloudMigration #AWSOptimization\n```\n\nREMEMBER: Output ONLY the post text. No preamble, no metadata, no character counts. Just the post."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -3856,
        32
      ],
      "id": "a50aad86-02cf-4f30-a750-df94793626c3",
      "name": "Agent 2: Copy Writer"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "social_posts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic": "={{ $('Format Form Input').item.json.topic }}",
            "post_type": "={{ $('Format Form Input').item.json.post_type }}",
            "visual_style": "={{ $('Format Form Input').item.json.visual_style }}",
            "orientation": "={{ $('Format Form Input').item.json.orientation }}",
            "headline": "={{ $('Format Form Input').item.json.headline }}",
            "data_points": "={{ $('Format Form Input').item.json.data_points }}",
            "context": "={{ $('Format Form Input').item.json.context }}",
            "strategy_analysis": "={{ $('Agent 1: Strategy Analyzer').item.json.output }}",
            "post_copy": "={{ $json.output }}",
            "status": "copy_completed"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3504,
        32
      ],
      "id": "7b3215f0-b825-4a86-8091-76bab944747a",
      "name": "Save Post to DB",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Agent 1: Strategy Analyzer').item.json.output }}",
        "options": {
          "systemMessage": "# ROLE: AI Image Prompt Engineer for MSI Americas\n\n## CRITICAL OUTPUT REQUIREMENT\n⚠️ YOU MUST OUTPUT ONLY PLAIN TEXT - A SINGLE CONTINUOUS IMAGE GENERATION PROMPT\n⚠️ NO SECTIONS, NO HEADERS, NO LABELS, NO METADATA\n⚠️ Your response will be saved DIRECTLY to a database text field and sent to an image generation API\n⚠️ DO NOT include \"MSI IMAGE GENERATION PROMPT\" or \"TECHNICAL SPECIFICATIONS\" or any other section headers\n⚠️ Output ONLY the prompt text itself in a single flowing paragraph\n\n## YOUR TASK\nReceive the VISUAL STRATEGY, GRAPHIC ELEMENTS, IN-IMAGE TEXT, and DATA POINTS sections and create ONE complete image generation prompt as plain text.\n\n## MSI BRAND IDENTITY\n**Colors (MANDATORY):**\n- Deep Blue #004AAD (Primary)\n- Tech Green #67B547 (Accent)\n- Off-White #FFFDF1 (Backgrounds)\n- Light Blue #4A9FFF (Glows/Glass)\n\n**Typography:**\n- Headlines: ITC Avant Garde Gothic Bold\n- Subheadings: Poppins\n- Body: Quicksand Regular/Medium\n- Data/Numbers: Rajdhani Bold\n\n**Style:** Corporate, Secure, Tech-Forward. Clean, functional, engineered look.\n\n## TEXT RENDERING RULES (CRITICAL)\n\n**RULE 1: ONLY ONE TEXT ELEMENT**\n- ONE SINGLE HEADLINE only (3-5 words)\n- NO additional labels, NO small text, NO subtitles\n\n**RULE 2: TEXT MUST BE LARGE**\n- Minimum 100-150pt equivalent\n- Text should occupy 20-30% of image height\n\n**RULE 3: FLAT 2D TEXT ONLY**\nALWAYS specify:\n- \"Clean, flat 2D typography\"\n- \"Bold sans-serif headline, ultra readable\"\n- \"Maximum legibility, zero effects on text\"\n- \"Simple flat overlay, no depth, no shadows\"\n\nNEVER use:\n- \"3D text\" or \"Extruded letters\"\n- \"Multiple text elements\"\n- \"Small labels or annotations\"\n\n**RULE 4: HIGH CONTRAST**\n- White text on dark backgrounds (preferred)\n- Clear visual separation from background\n\n## COMPOSITION TEMPLATES\n\n**Data Hero (for stats):**\n- Center: ONE large flat number/headline (100-150pt)\n- Background: Blue to Navy gradient\n- Accent: Tech Green glow\n\n**Tech Close-up (for technical topics):**\n- Foreground: Detailed tech component\n- Background: Blurred tech environment\n- Text: ONE white headline on dark area\n\n**Isometric Architecture (for systems):**\n- Isometric infrastructure view\n- MSI color-coded elements\n- Flow lines with glow effects\n- Text: ONE flat headline in clear space\n\n## WHAT TO AVOID\nNEVER include:\n- Generic office people with laptops\n- Stock photo aesthetics\n- Cluttered compositions\n- 3D text or extruded letters\n- Multiple text elements\n- Small text or tiny labels\n\n## EXAMPLE OUTPUT (THIS IS WHAT YOU SHOULD OUTPUT - PLAIN TEXT ONLY):\n\n```\nCreate a professional LinkedIn post image in 1080x1080 square format featuring an isometric 3D visualization of cloud infrastructure architecture. The scene shows interconnected server nodes rendered in MSI's deep blue (#004AAD) floating in space, connected by glowing tech green (#67B547) data streams. In the foreground, display three prominent server clusters arranged in a triangular formation, each with subtle tech green accent lights. The background uses a gradient from deep navy to MSI blue (#004AAD) with subtle circuit pattern texture. The main headline \"47% COST REDUCTION\" appears in large, bold, flat 2D white typography (ITC Avant Garde Gothic Bold style, 140pt equivalent) positioned in the upper third of the image with maximum contrast against the dark blue background. Add floating geometric UI elements showing abstract data metrics in translucent white frames with tech green highlights. Include subtle depth of field effect to create professional dimension. The overall aesthetic should be clean, corporate, and tech-forward with generous negative space. Ensure the typography is perfectly flat with no 3D effects, shadows, or depth - maximum readability is critical. The composition should avoid any stock photo aesthetics, focusing instead on abstract technical visualization that conveys cloud infrastructure expertise.\n```\n\nREMEMBER: Output ONLY a single flowing paragraph prompt. No sections, no headers, no metadata. Just the complete prompt text that will be sent directly to the image generation API."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -3280,
        32
      ],
      "id": "a4f52176-1239-414a-8c41-81ab8ba1226e",
      "name": "Agent 3: Image Prompt Engineer"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts \nSET image_prompt = '{{ $json.output }}',\n    status = 'prompt_completed',\n    updated_at = NOW()\nWHERE id = '{{ $('Save Post to DB').item.json.id }}'\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2928,
        32
      ],
      "id": "b31c2a55-b665-47bd-b0e6-8e377567c192",
      "name": "Update Image Prompt in DB",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "image_prompt",
              "name": "image_prompt",
              "value": "={{ $json.image_prompt }}",
              "type": "string"
            },
            {
              "id": "post_id",
              "name": "post_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "orientation",
              "name": "orientation",
              "value": "={{ $json.orientation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2704,
        32
      ],
      "id": "9f11dfed-a219-47ad-9950-cdf311e90bf6",
      "name": "Prepare for Image Gen"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "id"
        },
        "prompt": "={{ $json.image_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2480,
        32
      ],
      "id": "7aafb20d-eb9b-47d7-85d9-a60e86aaa08c",
      "name": "Generate Image",
      "credentials": {
        "googlePalmApi": {
          "id": "oF4jKBK0jRbwEPWt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "id": "9774cc00-56b5-47cd-8639-29bebe0d9589",
      "name": "Upload to ImgBB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2256,
        32
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zx6X4T7j4yDMYWKo",
          "name": "imgbb-api"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts \nSET image_url = '{{ $json.data.url }}', \n    status = 'completed',\n    updated_at = NOW()\nWHERE id = '{{ $('Prepare for Image Gen').item.json.post_id }}'\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2032,
        32
      ],
      "id": "005709ce-2959-4a81-a997-faff96313da2",
      "name": "Update DB with Image URL",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "=✅ Content generated successfully!\n\n📝 Post ID: {{ $json.id }}\n📌 Topic: {{ $json.topic }}\n🎨 Type: {{ $json.post_type }}\n🖼️ Image: {{ $json.image_url }}\n⏰ Created: {{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "post_id",
              "name": "post_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "image_url",
              "name": "image_url",
              "value": "={{ $json.image_url }}",
              "type": "string"
            },
            {
              "id": "post_copy",
              "name": "post_copy",
              "value": "={{ $json.post_copy }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1808,
        32
      ],
      "id": "aa618036-3d1a-46ce-94e2-dedbdb89b6f9",
      "name": "Format Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Content generated successfully\", \"data\": $json } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1584,
        32
      ],
      "id": "respond-generate-001",
      "name": "Respond to Webhook - Generate"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Post published successfully\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4432,
        -576
      ],
      "id": "respond-publish-001",
      "name": "Respond to Webhook - Publish"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -4128,
        256
      ],
      "id": "2a9997b0-8df8-48ca-b9aa-60fd853a1146",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "13Oqly3WdRAzZVXL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepara imágenes para ImgBB\n// Soporta tanto binarios nativos de n8n como base64 desde JSON\nconst items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n  console.log('SEPARAR BINARIOS - Item recibido:', JSON.stringify(item.json));\n  \n  // Caso 1: Ya tiene binarios (desde n8n)\n  const binaryData = item.binary;\n  if (binaryData) {\n    for (const key of Object.keys(binaryData)) {\n      if (key.startsWith('Image') || key === 'data') {\n        const resultItem = {\n          json: {\n            ...item.json\n          },\n          binary: {\n            data: binaryData[key]\n          }\n        };\n        console.log('SEPARAR BINARIOS - Retornando con binario:', JSON.stringify(resultItem.json));\n        newItems.push(resultItem);\n      }\n    }\n    continue;\n  }\n\n  // Caso 2: Viene base64 desde el formulario web (JSON)\n  const imageData = item.json.Image;\n  if (imageData && imageData.data) {\n    try {\n      // Convertir base64 a binario para n8n\n      const base64Data = imageData.data.split(',')[1] || imageData.data; // Remover prefix si existe\n      const buffer = Buffer.from(base64Data, 'base64');\n      \n      const resultItem = {\n        json: {\n          ...item.json\n        },\n        binary: {\n          data: {\n            data: buffer.toString('base64'),\n            mimeType: imageData.mimeType || 'image/png',\n            fileName: imageData.fileName || 'image.png',\n            fileExtension: (imageData.fileName || 'image.png').split('.').pop()\n          }\n        }\n      };\n      console.log('SEPARAR BINARIOS - Retornando con imagen base64:', JSON.stringify(resultItem.json));\n      newItems.push(resultItem);\n    } catch (error) {\n      // Si hay error convirtiendo, pasar el item sin imagen\n      console.log('Error procesando imagen:', error.message);\n      newItems.push({\n        json: item.json\n      });\n    }\n  } else {\n    // Caso 3: No hay imagen, pasar los datos sin modificar\n    console.log('SEPARAR BINARIOS - Sin imagen, pasando datos originales:', JSON.stringify(item.json));\n    newItems.push({\n      json: item.json\n    });\n  }\n}\n\n// Siempre devolver al menos el item original si no hay nada procesado\nif (newItems.length === 0 && items.length > 0) {\n  console.log('SEPARAR BINARIOS - No hay items procesados, devolviendo originales');\n  return items;\n}\n\nconsole.log('SEPARAR BINARIOS - Total items devueltos:', newItems.length);\nreturn newItems;"
      },
      "id": "740d00c2-3284-470b-9dcc-eeeb23dc0ad0",
      "name": "Separar Binarios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4432,
        -784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "4593a2c5-6690-4a4d-b48b-6d833bd3a968",
      "name": "Generar URL (ImgBB)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4208,
        -784
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zx6X4T7j4yDMYWKo",
          "name": "imgbb-api"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-has-image-001",
              "leftValue": "={{ $binary.data !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4320,
        -784
      ],
      "id": "check-image-node-001",
      "name": "Check if Image Exists"
    },
    {
      "parameters": {
        "jsCode": "// Combinar datos del webhook con la respuesta de ImgBB\nconst imgbbResponse = $input.item.json; // Respuesta de ImgBB\nconst webhookData = $('Webhook - Publish Post').item.json; // Datos originales del webhook\n\nconsole.log('MERGE - ImgBB Response:', JSON.stringify(imgbbResponse));\nconsole.log('MERGE - Webhook Data:', JSON.stringify(webhookData));\n\n// Merge: todos los datos originales + respuesta de ImgBB\nconst result = {\n  ...webhookData,\n  data: imgbbResponse // La URL de imagen está en imgbbResponse.data.url\n};\n\nconsole.log('MERGE - Resultado final:', JSON.stringify(result));\n\nreturn [{\n  json: result\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        -784
      ],
      "id": "merge-imgbb-data-001",
      "name": "Merge ImgBB Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18092288-7512-4299-81a1-3091917f8b2d",
              "leftValue": "={{ $('Webhook - Publish Post').item.json.publish_linkedin }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3760,
        -1280
      ],
      "id": "330106ca-7337-4f9a-a8ec-ba6ec5738c3d",
      "name": "Check LinkedIn"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "50c8e378-687f-449e-b816-433b91349f21",
              "leftValue": "={{ $('Webhook - Publish Post').item.json.publish_facebook }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3760,
        -784
      ],
      "id": "55bc33b8-4333-43f1-8d57-7bb1a8d95797",
      "name": "Check Facebook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "50c8e378-687f-449e-b816-433b91349f21",
              "leftValue": "={{ $('Webhook - Publish Post').item.json.publish_instagram }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3760,
        -304
      ],
      "id": "10e202b2-56de-49cd-8a3a-92645f085685",
      "name": "Check Instagram"
    },
    {
      "parameters": {
        "url": "={{ $('Generar URL (ImgBB)').item.json.data.url }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          }
        }
      },
      "id": "b9735f90-41e2-4726-8735-ba3213fc260b",
      "name": "Descargar para LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3536,
        -1280
      ]
    },
    {
      "parameters": {
        "jsCode": "// RECONSTRUYE ESTRUCTURA BINARIA PARA LINKEDIN\nconst items = $input.all();\nconst baseJson = items[0].json;\nconst binaryData = {};\nconst imageMeta = [];\nlet imageCount = 0;\n\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    const keyName = imageCount === 0 ? 'Image' : `Image${imageCount}`;\n    binaryData[keyName] = item.binary.data;\n    imageMeta.push({\n      filename: `li_image_${imageCount}.jpg`,\n      type: item.binary.data.mimeType\n    });\n    imageCount++;\n  }\n}\nif (imageMeta.length > 0) baseJson.Image = imageMeta;\n\nreturn [{\n  json: baseJson,\n  binary: Object.keys(binaryData).length > 0 ? binaryData : undefined\n}];"
      },
      "id": "67105eb6-0541-496a-a106-6be82265ab73",
      "name": "Prep Binary LI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3312,
        -1280
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Image[0].filename }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "41da3f81-ba14-4d48-bf39-971a5c91800c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "846b662b-95e3-4d61-8acb-ca77b5ac92ee",
                    "leftValue": "={{ $json[\"Image\"].length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Single image and Text Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8a102074-89e6-4c87-9d9f-76fe9c0bc6d9",
                    "leftValue": "={{ $json[\"Image\"].length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Multiple Image and Text Post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3088,
        -1296
      ],
      "id": "1c00e230-c3b8-4786-9bd6-cc9ce15933a8",
      "name": "LinkedIn Content Type"
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "105834790",
        "text": "={{ $('Webhook - Publish Post').item.json.post_type }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -2864,
        -1376
      ],
      "id": "145e0776-858d-4ca6-8855-d291e450bb11",
      "name": "Text Post Linkedin",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "EM6TxDAmqBcNfWEy",
          "name": "n8n-post-msi"
        }
      }
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "105834790",
        "text": "={{ $('Webhook - Publish Post').item.json.post_type }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "Image",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -2864,
        -1184
      ],
      "id": "1e2debe3-6a51-4c6a-a95b-82955170e63a",
      "name": "Single Image Post Linkedin",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "EM6TxDAmqBcNfWEy",
          "name": "n8n-post-msi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos todos los ítems de entrada\nconst allItems = $input.all();\nconst newItems = [];\n\n// 2. Iteramos sobre cada ítem (por si llegan varios)\nfor (const item of allItems) {\n  const binaryData = item.binary;\n  \n  // Si no hay archivos binarios, saltamos este ítem\n  if (!binaryData) continue;\n\n  // 3. Recorremos todas las llaves del objeto binario (Image, Image1, etc.)\n  for (const key of Object.keys(binaryData)) {\n    // Filtramos para procesar solo los campos que empiezan con \"Image\" o se llamen \"data\"\n    if (key.startsWith('Image') || key === 'data') {\n      newItems.push({\n        json: {\n          ...item.json, // Mantenemos todos los datos (post_type, etc.)\n          filename: binaryData[key].fileName,\n          mimetype: binaryData[key].mimeType\n        },\n        binary: {\n          data: binaryData[key] // Renombramos a 'data' para el siguiente nodo\n        }\n      });\n    }\n  }\n}\n\n// 4. Devolvemos la lista de ítems (uno por cada imagen)\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2864,
        -976
      ],
      "id": "ab5f2a49-d396-43c3-acff-bea68ff9bd85",
      "name": "Separate Images LI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/images?action=initializeUpload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInCommunityManagementOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "202510"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"initializeUploadRequest\": {\n    \"owner\": \"urn:li:organization:105834790\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2640,
        -976
      ],
      "id": "75013151-c31a-49c3-ac6a-0a8ff73a21bc",
      "name": "Register Load",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "EM6TxDAmqBcNfWEy",
          "name": "n8n-post-msi"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.value.uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $('Separate Images LI').item.binary.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2416,
        -976
      ],
      "id": "0bbe96e1-aec7-41d3-a8ec-4b3aabf636fc",
      "name": "UploadImage"
    },
    {
      "parameters": {
        "jsCode": "const itemsRegistro = $('Register Load').all();\nconst mediaItems = [];\n\nfor (const item of itemsRegistro) {\n    const urn = item.json.value.image;\n    if (urn) {\n        mediaItems.push({\n            \"id\": urn\n        });\n    }\n}\nreturn [{\n    json: {\n        contentEntities: mediaItems\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        -976
      ],
      "id": "81ac7a8c-5217-404b-b3bd-ed028c80a923",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "202510"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"author\": \"urn:li:organization:105834790\",\n  \"commentary\": $('Webhook - Publish Post').first().json.post_type,\n  \"visibility\": \"PUBLIC\",\n  \"distribution\": {\n    \"feedDistribution\": \"MAIN_FEED\",\n    \"targetEntities\": [],\n    \"thirdPartyDistributionChannels\": []\n  },\n  \"content\": {\n    \"multiImage\": {\n      \"images\": $json.contentEntities\n    }\n  },\n  \"lifecycleState\": \"PUBLISHED\",\n  \"isReshareDisabledByAuthor\": false\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1968,
        -976
      ],
      "id": "6f20b016-fdd6-4e5c-b7b1-cd9d2f5fb701",
      "name": "Multiple Image Post LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "vBlxeK4NpAtRjb3Z",
          "name": "LinkedIn account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PREPARA FB: Usa URL (no binario) y genera array 'Image' falso para el switch\nconst items = $input.all();\nconst baseJson = items[0].json;\nconst imageMeta = [];\n\n// Como venimos del nodo de Base de Datos, la estructura cambió.\n// Ya no existe 'data.url' (de ImgBB), ahora usamos 'image_url' (de Postgres).\nfor (let i = 0; i < items.length; i++) {\n  // CAMBIO AQUÍ: Usamos image_url\n  const url = items[i].json.image_url;\n\n  if (url) {\n      imageMeta.push({\n         url: url,\n         filename: `fb_image_${i}.jpg` \n      });\n  }\n}\n\nif (imageMeta.length > 0) baseJson.Image = imageMeta;\n\nreturn [{\n  json: baseJson\n}];"
      },
      "id": "6d67010b-f8ee-4443-8a48-c2daa36c0a8a",
      "name": "Prep URL FB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3536,
        -784
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Image[0].filename }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "fb41da3f81-ba14-4d48-bf39-971a5c91800c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb846b662b-95e3-4d61-8acb-ca77b5ac92ee",
                    "leftValue": "={{ $json[\"Image\"].length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Single Image Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb8a102074-89e6-4c87-9d9f-76fe9c0bc6d9",
                    "leftValue": "={{ $json[\"Image\"].length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Multiple Image Post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3312,
        -800
      ],
      "id": "4e341e00-836d-4725-a8f8-249c04a89647",
      "name": "Facebook Content Type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/438514339355830/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"message\": \"{{ $('Webhook - Publish Post').item.json.post_type }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3088,
        -1072
      ],
      "id": "6afc6d24-7f9c-47d0-964f-5b61b9c99c4c",
      "name": "Facebook Page Post (v22.0)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbVTQWbgdpOAG6rR",
          "name": "facebook-msi"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/438514339355830/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.Image[0].url }}"
            },
            {
              "name": "message",
              "value": "={{ $('Webhook - Publish Post').item.json.post_type }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3088,
        -880
      ],
      "id": "4ceb910b-4214-49a2-99de-11c029ea413c",
      "name": "Facebook Single Image (URL)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbVTQWbgdpOAG6rR",
          "name": "facebook-msi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// SEPARA ITEMS PARA FB MULTIPLE (usando URLs)\nconst items = $input.all();\nconst imageArray = items[0].json.Image;\nconst newItems = [];\n\nfor (const img of imageArray) {\n   newItems.push({\n     json: {\n       ...items[0].json,\n       url_to_upload: img.url\n     }\n   });\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3088,
        -688
      ],
      "id": "9051abc6-1f11-4e87-a4fc-0b308e98eca6",
      "name": "FB Separate URLs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/438514339355830/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url_to_upload }}"
            },
            {
              "name": "published",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2864,
        -688
      ],
      "id": "5e0c615f-4a40-4ca8-acd6-ec3cbfcfc55f",
      "name": "FB Upload URL (Hidden)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbVTQWbgdpOAG6rR",
          "name": "facebook-msi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const itemsUploaded = $('FB Upload URL (Hidden)').all();\nconst originalPost = $('Webhook - Publish Post').first().json.post_type;\n\nconst mediaItems = [];\n\n// Recolectamos los IDs que nos devolvió Facebook\nfor (const item of itemsUploaded) {\n    const mediaId = item.json.id;\n    if (mediaId) {\n        mediaItems.push({\n            \"media_fbid\": mediaId\n        });\n    }\n}\n\nreturn [{\n    json: {\n        attached_media: mediaItems,\n        post_type: originalPost\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        -688
      ],
      "id": "285c5952-2317-42a4-8cf2-a8f6b23c25fb",
      "name": "FB Build Media Array"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/438514339355830/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"message\": \"{{ $json.post_type }}\",\n   \"attached_media\": {{ JSON.stringify($json.attached_media) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2416,
        -688
      ],
      "id": "bc3cbe96-f9cc-41b9-9fdd-46cebcc1209a",
      "name": "FB Publish Multiple Images",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbVTQWbgdpOAG6rR",
          "name": "facebook-msi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Agrupamos todas las respuestas de la BD en un solo array\nconst items = $input.all();\nconst images = [];\n\n// 2. Recuperamos el caption original\nconst caption = $('Webhook - Publish Post').first().json.post_type;\n\n// 3. Extraemos las URLs limpias desde la base de datos\nfor (const item of items) {\n  // Leemos image_url que viene del INSERT en Postgres\n  if (item.json.image_url) {\n    images.push(item.json.image_url);\n  }\n}\n\n// 4. Devolvemos UN solo ítem con la lista y el conteo\nreturn [{\n  json: {\n    images_list: images,\n    total_count: images.length,\n    caption: caption\n  }\n}];"
      },
      "id": "299cbc39-4173-4312-b14a-ac334254de18",
      "name": "Agrupar Datos ImgBB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3536,
        -304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "single",
                    "leftValue": "={{ $json.total_count }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Single Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "carousel",
                    "leftValue": "={{ $json.total_count }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Carousel Post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3312,
        -304
      ],
      "id": "ec3d3b29-25ef-4c46-ae9e-e1266394e04c",
      "name": "Router Instagram"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841471028584724",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.images_list[0] }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              }
            ]
          }
        }
      },
      "id": "2e0de496-51cb-40d6-882f-c12368d701a6",
      "name": "IG Crear (Single)",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -2416,
        -496
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "mbuwwxCuX4JRWLJB",
          "name": "Instagram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Separamos la lista de nuevo para crear los ítems del carrusel uno por uno\nconst images = $input.first().json.images_list;\nconst caption = $input.first().json.caption;\n\nreturn images.map(url => ({\n  json: {\n    url: url,\n    parent_caption: caption\n  }\n}));"
      },
      "id": "bc6b9027-35f7-4413-be01-231a30739ae2",
      "name": "Separar para Carrusel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3088,
        -304
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841471028584724",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "b335374a-13ab-438d-8ae3-e78162cb1a93",
      "name": "IG Crear Item",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -2864,
        -304
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "mbuwwxCuX4JRWLJB",
          "name": "Instagram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agrupamos los IDs generados para crear el contenedor padre\nconst items = $input.all();\nconst ids = items.map(i => i.json.id);\n// El caption viene arrastrado del nodo anterior\nconst caption = items[0].json.parent_caption || $('Agrupar Datos ImgBB').first().json.caption;\n\nreturn [{\n  json: {\n    children_ids: ids,\n    caption: caption\n  }\n}];"
      },
      "id": "b369a47b-27e9-403b-b3de-9125d8c09089",
      "name": "Agrupar IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        -304
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841471028584724",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "CAROUSEL"
              },
              {
                "name": "children",
                "value": "={{ $json.children_ids.join(',') }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              }
            ]
          }
        }
      },
      "id": "8e978b93-e4a5-4fef-997a-18f363300b6e",
      "name": "IG Crear Contenedor",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -2416,
        -304
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "mbuwwxCuX4JRWLJB",
          "name": "Instagram"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2192,
        -304
      ],
      "id": "84165a3b-53ba-4e18-8705-83ff56a19777",
      "name": "Esperar Procesamiento",
      "webhookId": "e7366675-caed-4831-9bea-ae42c63ba1b8"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841471028584724",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "c2c09060-1e17-4f5d-95c9-fbb1aeb9aece",
      "name": "Publicar en Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1968,
        -304
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "mbuwwxCuX4JRWLJB",
          "name": "Instagram"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "025d6de3-6b46-41c2-839d-58a8b18b649f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4656,
        -784
      ],
      "id": "c3eaaeb7-2d04-4385-b8ab-af3dbd32acf4",
      "name": "Webhook - Publish Post",
      "webhookId": "025d6de3-6b46-41c2-839d-58a8b18b649f"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "social_posts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_type": "={{ $json.post_type }}",
            "image_url": "={{ $json.data?.url || null }}",
            "status": "={{ $json.data?.url ? 'image_uploaded' : 'text_only' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "post_type",
              "displayName": "post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3984,
        -784
      ],
      "id": "e30b6736-f670-4acd-af09-b9ab2dca002f",
      "name": "Guardar en Base de Datos",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Generate Content": {
      "main": [
        [
          {
            "node": "Format Form Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Form Input": {
      "main": [
        [
          {
            "node": "Agent 1: Strategy Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1: Strategy Analyzer": {
      "main": [
        [
          {
            "node": "Agent 2: Copy Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2: Copy Writer": {
      "main": [
        [
          {
            "node": "Save Post to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Post to DB": {
      "main": [
        [
          {
            "node": "Agent 3: Image Prompt Engineer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 3: Image Prompt Engineer": {
      "main": [
        [
          {
            "node": "Update Image Prompt in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image Prompt in DB": {
      "main": [
        [
          {
            "node": "Prepare for Image Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Image Gen": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Upload to ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ImgBB": {
      "main": [
        [
          {
            "node": "Update DB with Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB with Image URL": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1: Strategy Analyzer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent 2: Copy Writer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent 3: Image Prompt Engineer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Separar Binarios": {
      "main": [
        [
          {
            "node": "Check if Image Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Image Exists": {
      "main": [
        [
          {
            "node": "Generar URL (ImgBB)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar en Base de Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar URL (ImgBB)": {
      "main": [
        [
          {
            "node": "Merge ImgBB Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ImgBB Response": {
      "main": [
        [
          {
            "node": "Guardar en Base de Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check LinkedIn": {
      "main": [
        [
          {
            "node": "Descargar para LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Facebook": {
      "main": [
        [
          {
            "node": "Prep URL FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Instagram": {
      "main": [
        [
          {
            "node": "Agrupar Datos ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar para LinkedIn": {
      "main": [
        [
          {
            "node": "Prep Binary LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Binary LI": {
      "main": [
        [
          {
            "node": "LinkedIn Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Content Type": {
      "main": [
        [
          {
            "node": "Text Post Linkedin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Single Image Post Linkedin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separate Images LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate Images LI": {
      "main": [
        [
          {
            "node": "Register Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Load": {
      "main": [
        [
          {
            "node": "UploadImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadImage": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Multiple Image Post LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep URL FB": {
      "main": [
        [
          {
            "node": "Facebook Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Content Type": {
      "main": [
        [
          {
            "node": "Facebook Page Post (v22.0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Single Image (URL)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FB Separate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Separate URLs": {
      "main": [
        [
          {
            "node": "FB Upload URL (Hidden)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Upload URL (Hidden)": {
      "main": [
        [
          {
            "node": "FB Build Media Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Build Media Array": {
      "main": [
        [
          {
            "node": "FB Publish Multiple Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Datos ImgBB": {
      "main": [
        [
          {
            "node": "Router Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Instagram": {
      "main": [
        [
          {
            "node": "IG Crear (Single)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separar para Carrusel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Crear (Single)": {
      "main": [
        [
          {
            "node": "Esperar Procesamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar para Carrusel": {
      "main": [
        [
          {
            "node": "IG Crear Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Crear Item": {
      "main": [
        [
          {
            "node": "Agrupar IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar IDs": {
      "main": [
        [
          {
            "node": "IG Crear Contenedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Crear Contenedor": {
      "main": [
        [
          {
            "node": "Esperar Procesamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar Procesamiento": {
      "main": [
        [
          {
            "node": "Publicar en Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Publish Post": {
      "main": [
        [
          {
            "node": "Separar Binarios",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook - Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Base de Datos": {
      "main": [
        [
          {
            "node": "Check LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook - Publish": {
      "main": []
    },
    "Respond to Webhook - Generate": {
      "main": []
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}