current-flow.json
{
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Post published successfully\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4432,
        -576
      ],
      "id": "respond-publish-001",
      "name": "Respond to Webhook - Publish"
    },
    {
      "parameters": {
        "jsCode": "// Prepara im\u00e1genes para ImgBB\n// Soporta tanto binarios nativos de n8n como base64 desde JSON (una o m\u00faltiples)\nconst items = $input.all();\nconst newItems = [];\n\nconsole.log('==== SEPARAR BINARIOS START ====');\nconsole.log('SEPARAR BINARIOS - Total items recibidos:', items.length);\n\nfor (const item of items) {\n  console.log('\\n--- SEPARAR BINARIOS - Procesando item ---');\n  console.log('SEPARAR BINARIOS - Item.json keys:', Object.keys(item.json));\n  console.log('SEPARAR BINARIOS - Tiene binary?:', !!item.binary);\n  if (item.binary) {\n    console.log('SEPARAR BINARIOS - Binary keys:', Object.keys(item.binary));\n  }\n  \n  // IMPORTANTE: Si body es un string JSON, parsearlo\n  let webhookData = {};\n  let parsedData = {};\n  \n  if (item.json.body && typeof item.json.body === 'string') {\n    try {\n      parsedData = JSON.parse(item.json.body);\n      console.log('SEPARAR BINARIOS - Body parseado:', JSON.stringify(parsedData));\n      webhookData = parsedData;\n    } catch (e) {\n      console.log('SEPARAR BINARIOS - Error parseando body:', e.message);\n      webhookData = item.json;\n    }\n  } else {\n    webhookData = item.json;\n  }\n  \n  console.log('SEPARAR BINARIOS - webhookData final:', JSON.stringify(webhookData));\n  \n  // Caso 1: Ya tiene binarios (desde n8n)\n  const binaryData = item.binary;\n  if (binaryData) {\n    for (const key of Object.keys(binaryData)) {\n      if (key.startsWith('Image') || key === 'data') {\n        const resultItem = {\n          json: webhookData,\n          binary: {\n            data: binaryData[key]\n          }\n        };\n        console.log('SEPARAR BINARIOS - Retornando con binario:', JSON.stringify(resultItem.json));\n        newItems.push(resultItem);\n      }\n    }\n    continue;\n  }\n\n  // Caso 2: M\u00faltiples im\u00e1genes (Images array)\n  const imagesArray = webhookData.Images;\n  if (imagesArray && Array.isArray(imagesArray) && imagesArray.length > 0) {\n    console.log('SEPARAR BINARIOS - Formato detectado: Images array con', imagesArray.length, 'im\u00e1genes');\n    \n    for (let i = 0; i < imagesArray.length; i++) {\n      const imageData = imagesArray[i];\n      try {\n        const base64Data = imageData.data.split(',')[1] || imageData.data;\n        const buffer = Buffer.from(base64Data, 'base64');\n        \n        newItems.push({\n          json: webhookData,\n          binary: {\n            data: {\n              data: buffer.toString('base64'),\n              mimeType: imageData.mimeType || 'image/png',\n              fileName: imageData.fileName || `image_${i}.png`,\n              fileExtension: (imageData.fileName || 'image.png').split('.').pop()\n            }\n          }\n        });\n        console.log('SEPARAR BINARIOS - Imagen', i + 1, 'procesada exitosamente');\n        console.log('SEPARAR BINARIOS - Binary data length:', buffer.length);\n      } catch (error) {\n        console.log('SEPARAR BINARIOS - ERROR procesando imagen', i, ':', error.message);\n        console.log('SEPARAR BINARIOS - imageData:', JSON.stringify(imageData));\n        // NO agregar items sin binario - dejar que falle para detectar el problema\n      }\n    }\n    console.log('SEPARAR BINARIOS - Images array completado. Items creados:', newItems.length);\n    continue;\n  }\n\n  // Caso 3: Una sola imagen (Image objeto)\n  const imageData = webhookData.Image;\n  let hasImage = false;\n  let imageToProcess = null;\n  \n  // Formato 1: Image.data (objeto con data)\n  if (imageData && imageData.data) {\n    console.log('SEPARAR BINARIOS - Formato detectado: Image.data');\n    hasImage = true;\n    imageToProcess = imageData;\n  }\n  // Formato 2: Image es directamente el string base64\n  else if (typeof imageData === 'string' && imageData.length > 100) {\n    console.log('SEPARAR BINARIOS - Formato detectado: Image como string base64');\n    hasImage = true;\n    imageToProcess = {\n      data: imageData,\n      mimeType: 'image/png',\n      fileName: 'image.png'\n    };\n  }\n  // Formato 3: Imagen en otro campo\n  else if (webhookData.image && typeof webhookData.image === 'string' && webhookData.image.length > 100) {\n    console.log('SEPARAR BINARIOS - Formato detectado: campo image (min\u00fascula)');\n    hasImage = true;\n    imageToProcess = {\n      data: webhookData.image,\n      mimeType: 'image/png',\n      fileName: 'image.png'\n    };\n  }\n  \n  if (hasImage && imageToProcess) {\n    try {\n      const base64Data = imageToProcess.data.split(',')[1] || imageToProcess.data;\n      const buffer = Buffer.from(base64Data, 'base64');\n      \n      const resultItem = {\n        json: webhookData,\n        binary: {\n          data: {\n            data: buffer.toString('base64'),\n            mimeType: imageToProcess.mimeType || 'image/png',\n            fileName: imageToProcess.fileName || 'image.png',\n            fileExtension: (imageToProcess.fileName || 'image.png').split('.').pop()\n          }\n        }\n      };\n      console.log('SEPARAR BINARIOS - Retornando con imagen base64');\n      newItems.push(resultItem);\n    } catch (error) {\n      console.log('SEPARAR BINARIOS - Error procesando imagen:', error.message);\n      newItems.push({\n        json: webhookData\n      });\n    }\n  } else {\n    // Caso 4: No hay imagen\n    console.log('SEPARAR BINARIOS - Sin imagen, pasando datos originales');\n    newItems.push({\n      json: webhookData\n    });\n  }\n}\n\nif (newItems.length === 0 && items.length > 0) {\n  console.log('SEPARAR BINARIOS - WARNING: No hay items procesados, devolviendo originales');\n  return items;\n}\n\nconsole.log('==== SEPARAR BINARIOS END ====');\nconsole.log('SEPARAR BINARIOS - Total items devueltos:', newItems.length);\nfor (let i = 0; i < newItems.length; i++) {\n  console.log(`SEPARAR BINARIOS - Item ${i}: tiene binary.data =`, !!newItems[i].binary?.data);\n}\n\nreturn newItems;"
      },
      "id": "740d00c2-3284-470b-9dcc-eeeb23dc0ad0",
      "name": "Separar Binarios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4432,
        -784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "4593a2c5-6690-4a4d-b48b-6d833bd3a968",
      "name": "Generar URL (ImgBB)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4208,
        -784
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zx6X4T7j4yDMYWKo",
          "name": "imgbb-api"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-has-image-001",
              "leftValue": "={{ $binary.data !== undefined || ($json.Image && Array.isArray($json.Image) && $json.Image.length > 0 && $json.Image[0].url) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4320,
        -784
      ],
      "id": "check-image-node-001",
      "name": "Check if Image Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-has-binary-001",
              "leftValue": "={{ $binary.data !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4240,
        -880
      ],
      "id": "check-has-binary-data-001",
      "name": "Has Binary Data?"
    },
    {
      "parameters": {
        "jsCode": "// AGRUPA TODOS LOS RESULTADOS DE IMGBB EN UN SOLO ITEM\n// O mantiene las URLs existentes si ya estaban presentes\nconst allItems = $input.all();\n\nconsole.log('==== AGGREGATE IMGBB START ====');\nconsole.log('AGGREGATE - Total items recibidos:', allItems.length);\n\n// OBTENER DATOS ORIGINALES DEL WEBHOOK desde 'Check if Image Exists'\nlet baseData = {};\nconst checkImageNode = $('Check if Image Exists');\nif (checkImageNode && checkImageNode.first) {\n  const firstCheckItem = checkImageNode.first();\n  if (firstCheckItem && firstCheckItem.json) {\n    baseData = { ...firstCheckItem.json };\n    console.log('AGGREGATE - Datos base desde Check if Image Exists');\n    console.log('AGGREGATE - post_type:', baseData.post_type);\n    console.log('AGGREGATE - publish_linkedin:', baseData.publish_linkedin);\n    console.log('AGGREGATE - publish_facebook:', baseData.publish_facebook);\n  }\n} else {\n  console.log('AGGREGATE - WARNING: No se pudo acceder a Check if Image Exists, usando primer item');\n  baseData = allItems[0]?.json || {};\n}\n\nlet imageArray = [];\n\n// CASO 1: Si ya tenemos URLs (publicación desde web)\nif (baseData.Image && Array.isArray(baseData.Image) && baseData.Image.length > 0 && baseData.Image[0].url) {\n  console.log('AGGREGATE - CASO 1: URLs ya existen, usando las existentes');\n  imageArray = baseData.Image;\n  console.log('AGGREGATE - Total imágenes existentes:', imageArray.length);\n} else {\n  // CASO 2: Crear array con URLs de ImgBB (generación nueva)\n  console.log('AGGREGATE - CASO 2: Procesando respuestas de ImgBB');\n  for (const item of allItems) {\n    if (item.json.data && item.json.data.url) {\n      imageArray.push({\n        url: item.json.data.url,\n        display_url: item.json.data.display_url || item.json.data.url,\n        delete_url: item.json.data.delete_url,\n        filename: item.json.data.image?.filename || 'image.jpg',\n        type: item.json.data.image?.mime || 'image/jpeg'\n      });\n    }\n  }\n  console.log('AGGREGATE - Total imágenes procesadas desde ImgBB:', imageArray.length);\n}\n\n// Resultado: UN solo item con DATOS ORIGINALES DEL WEBHOOK + todas las imágenes\nconst result = {\n  ...baseData,\n  Image: imageArray,\n  image_count: imageArray.length\n};\n\nconsole.log('AGGREGATE - post_type en resultado:', result.post_type);\nconsole.log('AGGREGATE - Array final con', imageArray.length, 'URLs');\nconsole.log('==== AGGREGATE IMGBB END ====');\n\nreturn [{\n  json: result\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        -784
      ],
      "id": "merge-imgbb-data-001",
      "name": "Merge ImgBB Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18092288-7512-4299-81a1-3091917f8b2d",
              "leftValue": "={{ $json.publish_linkedin }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3760,
        -1280
      ],
      "id": "330106ca-7337-4f9a-a8ec-ba6ec5738c3d",
      "name": "Check LinkedIn"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "50c8e378-687f-449e-b816-433b91349f21",
              "leftValue": "={{ $json.publish_facebook }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3760,
        -784
      ],
      "id": "55bc33b8-4333-43f1-8d57-7bb1a8d95797",
      "name": "Check Facebook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "50c8e378-687f-449e-b816-433b91349f21",
              "leftValue": "={{ $json.publish_instagram }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3760,
        -304
      ],
      "id": "10e202b2-56de-49cd-8a3a-92645f085685",
      "name": "Check Instagram"
    },
    {
      "parameters": {
        "jsCode": "// PREPARA LINKEDIN: Descarga im\u00e1genes desde URLs de ImgBB\nconst currentItem = $input.first();\nconst baseJson = currentItem.json;\n\nconsole.log('==== PREP LI START ====');\nconsole.log('PREP LI - Image array LENGTH:', baseJson.Image ? baseJson.Image.length : 0);\n\n// Descargar im\u00e1genes desde URLs de ImgBB\nif (baseJson.Image && Array.isArray(baseJson.Image) && baseJson.Image.length > 0) {\n  console.log('PREP LI - Descargando', baseJson.Image.length, 'im\u00e1genes desde URLs...');\n  \n  const binaryData = {};\n  const downloadedCount = [];\n  \n  for (let i = 0; i < baseJson.Image.length; i++) {\n    const imgData = baseJson.Image[i];\n    if (!imgData.url) {\n      console.log('PREP LI - ERROR: Imagen', i, 'no tiene URL');\n      continue;\n    }\n    \n    try {\n      console.log(`PREP LI - Descargando imagen ${i + 1}/${baseJson.Image.length}:`, imgData.url);\n      \n      const response = await this.helpers.request({\n        method: 'GET',\n        uri: imgData.url,\n        encoding: null,\n        resolveWithFullResponse: false\n      });\n      \n      const keyName = i === 0 ? 'Image' : `Image${i}`;\n      binaryData[keyName] = {\n        data: Buffer.from(response).toString('base64'),\n        mimeType: imgData.type || 'image/png',\n        fileName: imgData.filename || `image_${i}.png`,\n        fileExtension: (imgData.filename || 'image.png').split('.').pop()\n      };\n      \n      downloadedCount.push(keyName);\n      console.log('PREP LI - \u2713 Descargada:', keyName, '- size:', response.length, 'bytes');\n    } catch (error) {\n      console.log('PREP LI - ERROR descargando imagen', i, ':', error.message);\n    }\n  }\n  \n  if (downloadedCount.length > 0) {\n    console.log('PREP LI - Total descargadas:', downloadedCount.length);\n    console.log('PREP LI - Binary keys creadas:', downloadedCount.join(', '));\n    console.log('PREP LI - ROUTER EVALUAR\u00c1:', baseJson.Image.length);\n    console.log('==== PREP LI END (OK) ====');\n    return [{\n      json: baseJson,\n      binary: binaryData\n    }];\n  } else {\n    console.log('PREP LI - ERROR: No se pudo descargar ninguna imagen');\n  }\n}\n\nconsole.log('PREP LI - Sin im\u00e1genes o error');\nconsole.log('==== PREP LI END ====');\nreturn [{ json: baseJson }];"
      },
      "id": "67105eb6-0541-496a-a106-6be82265ab73",
      "name": "Prep URL LI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3536,
        -1280
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Image && Array.isArray($json.Image) ? $json.Image.length : 0 }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "41da3f81-ba14-4d48-bf39-971a5c91800c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "846b662b-95e3-4d61-8acb-ca77b5ac92ee",
                    "leftValue": "={{ $json.Image && Array.isArray($json.Image) ? $json.Image.length : 0 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Single image and Text Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8a102074-89e6-4c87-9d9f-76fe9c0bc6d9",
                    "leftValue": "={{ $json.Image && Array.isArray($json.Image) ? $json.Image.length : 0 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Multiple Image and Text Post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3088,
        -1296
      ],
      "id": "1c00e230-c3b8-4786-9bd6-cc9ce15933a8",
      "name": "LinkedIn Content Type"
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "105834790",
        "text": "={{ $json.post_type }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -2864,
        -1376
      ],
      "id": "145e0776-858d-4ca6-8855-d291e450bb11",
      "name": "Text Post Linkedin",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "EM6TxDAmqBcNfWEy",
          "name": "n8n-post-msi"
        }
      }
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "105834790",
        "text": "={{ $json.post_type }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "Image",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -2864,
        -1184
      ],
      "id": "1e2debe3-6a51-4c6a-a95b-82955170e63a",
      "name": "Single Image Post Linkedin",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "EM6TxDAmqBcNfWEy",
          "name": "n8n-post-msi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// SEPARA M\u00daLTIPLES IM\u00c1GENES PARA LINKEDIN\nconst allItems = $input.all();\nconst newItems = [];\n\nconsole.log('==== SEPARATE IMAGES LI START ====');\nconsole.log('SEPARATE LI - Total items recibidos:', allItems.length);\n\n// DEBUG: Ver qu\u00e9 binarios vienen en el primer item\nif (allItems.length > 0 && allItems[0].binary) {\n  console.log('SEPARATE LI - Binary keys en item 0:', Object.keys(allItems[0].binary));\n  console.log('SEPARATE LI - Image array en json:', allItems[0].json.Image ? allItems[0].json.Image.length : 0);\n}\n\n// Obtener binarios del item actual (vienen de Prep URL LI)\nfor (let idx = 0; idx < allItems.length; idx++) {\n  const item = allItems[idx];\n  console.log(`\\nSEPARATE LI - Item ${idx}:`);\n  console.log('SEPARATE LI - Tiene binary?:', !!item.binary);\n  \n  const binaryData = item.binary;\n  \n  if (!binaryData) {\n    console.log('SEPARATE LI - ERROR: No hay binarios en el item');\n    console.log('SEPARATE LI - item.json keys:', Object.keys(item.json));\n    continue;\n  }\n  \n  console.log('SEPARATE LI - Binary keys:', Object.keys(binaryData));\n\n  // Recorrer todas las llaves del objeto binario (Image, Image1, Image2, etc.)\n  for (const key of Object.keys(binaryData)) {\n    if (key.startsWith('Image') || key === 'data') {\n      const newItem = {\n        json: {\n          ...item.json,\n          filename: binaryData[key].fileName,\n          mimetype: binaryData[key].mimeType\n        },\n        binary: {\n          data: binaryData[key]\n        }\n      };\n      newItems.push(newItem);\n      console.log('SEPARATE LI - Binario separado:', key, '- tiene data?:', !!newItem.binary.data);\n    }\n  }\n}\n\nconsole.log('\\nSEPARATE LI - Total items devueltos:', newItems.length);\nfor (let i = 0; i < newItems.length; i++) {\n  console.log(`SEPARATE LI - Output item ${i}: tiene binary.data =`, !!newItems[i].binary?.data);\n}\nconsole.log('==== SEPARATE IMAGES LI END ====');\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2864,
        -976
      ],
      "id": "ab5f2a49-d396-43c3-acff-bea68ff9bd85",
      "name": "Separate Images LI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/images?action=initializeUpload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInCommunityManagementOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "202510"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"initializeUploadRequest\": {\n    \"owner\": \"urn:li:organization:105834790\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2640,
        -976
      ],
      "id": "75013151-c31a-49c3-ac6a-0a8ff73a21bc",
      "name": "Register Load",
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "EM6TxDAmqBcNfWEy",
          "name": "n8n-post-msi"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.value.uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $('Separate Images LI').item.binary.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2416,
        -976
      ],
      "id": "0bbe96e1-aec7-41d3-a8ec-4b3aabf636fc",
      "name": "UploadImage"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos todos los \u00edtems del nodo de registro\nconst itemsRegistro = $('Register Load').all();\n\nconst mediaItems = [];\n\n// Recorremos cada respuesta de LinkedIn\nfor (const item of itemsRegistro) {\n    // Obtenemos el URN (el identificador de la imagen)\n    const urn = item.json.value.image;\n    \n    if (urn) {\n        // CORRECCI\u00d3N: LinkedIn exige que la llave se llame \"id\", no \"media\"\n        mediaItems.push({\n            \"id\": urn\n        });\n    }\n}\n\n// Recuperamos el post_type del nodo Merge Webhook with DB\nconst postText = $('Merge Webhook with DB').first().json.post_type;\n\n// Devolvemos la lista limpia y correcta CON el post_type\nreturn [{\n    json: {\n        contentEntities: mediaItems,\n        post_type: postText\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        -976
      ],
      "id": "81ac7a8c-5217-404b-b3bd-ed028c80a923",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "202510"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"author\": \"urn:li:organization:105834790\",\n  \"commentary\": $json.post_type,\n  \"visibility\": \"PUBLIC\",\n  \"distribution\": {\n    \"feedDistribution\": \"MAIN_FEED\",\n    \"targetEntities\": [],\n    \"thirdPartyDistributionChannels\": []\n  },\n  \"content\": {\n    \"multiImage\": {\n      \"images\": $json.contentEntities\n    }\n  },\n  \"lifecycleState\": \"PUBLISHED\",\n  \"isReshareDisabledByAuthor\": false\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1968,
        -976
      ],
      "id": "6f20b016-fdd6-4e5c-b7b1-cd9d2f5fb701",
      "name": "Multiple Image Post LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "vBlxeK4NpAtRjb3Z",
          "name": "LinkedIn account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PREPARA FB: Asegura que Image array est\u00e9 disponible\nconst currentItem = $input.first();\nconst baseJson = currentItem.json;\n\nconsole.log('==== PREP FB START ====');\nconsole.log('PREP FB - RECIBIENDO DATOS');\nconsole.log('PREP FB - baseJson.Image exists:', !!baseJson.Image);\nconsole.log('PREP FB - baseJson.Image is array:', Array.isArray(baseJson.Image));\nconsole.log('PREP FB - Image array LENGTH:', baseJson.Image ? baseJson.Image.length : 'UNDEFINED');\nif (baseJson.Image && Array.isArray(baseJson.Image)) {\n  console.log('PREP FB - Image URLs:', baseJson.Image.map(img => img.url));\n}\nconsole.log('PREP FB - image_url de BD:', baseJson.image_url);\n\n// Si ya tiene Image array (desde Merge Webhook with DB), usarlo\nif (baseJson.Image && Array.isArray(baseJson.Image) && baseJson.Image.length > 0) {\n  console.log('PREP FB - Usando Image array existente:', baseJson.Image.length);\n  console.log('PREP FB - ROUTER EVALUAR\u00c1:', baseJson.Image && Array.isArray(baseJson.Image) ? baseJson.Image.length : 0);\n  console.log('==== PREP FB END (con Image[]) ====');\n  return [{\n    json: baseJson\n  }];\n}\n\n// Si no tiene Image array pero tiene image_url, crearlo\nif (baseJson.image_url) {\n  console.log('PREP FB - Creando Image array desde image_url');\n  baseJson.Image = [{\n    url: baseJson.image_url,\n    filename: 'fb_image.jpg'\n  }];\n  console.log('==== PREP FB END (creado desde URL) ====');\n  return [{\n    json: baseJson\n  }];\n}\n\nconsole.log('PREP FB - No hay im\u00e1genes');\nconsole.log('==== PREP FB END (texto) ====');\nreturn [{\n  json: baseJson\n}];"
      },
      "id": "6d67010b-f8ee-4443-8a48-c2daa36c0a8a",
      "name": "Prep URL FB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3536,
        -784
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Image && Array.isArray($json.Image) ? $json.Image.length : 0 }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "fb41da3f81-ba14-4d48-bf39-971a5c91800c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb846b662b-95e3-4d61-8acb-ca77b5ac92ee",
                    "leftValue": "={{ $json.Image && Array.isArray($json.Image) ? $json.Image.length : 0 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Single Image Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb8a102074-89e6-4c87-9d9f-76fe9c0bc6d9",
                    "leftValue": "={{ $json.Image && Array.isArray($json.Image) ? $json.Image.length : 0 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Multiple Image Post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3312,
        -800
      ],
      "id": "4e341e00-836d-4725-a8f8-249c04a89647",
      "name": "Facebook Content Type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/438514339355830/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"message\": \"{{ $json.post_type }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3088,
        -1072
      ],
      "id": "6afc6d24-7f9c-47d0-964f-5b61b9c99c4c",
      "name": "Facebook Page Post (v22.0)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbVTQWbgdpOAG6rR",
          "name": "facebook-msi"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/438514339355830/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.Image[0].url }}"
            },
            {
              "name": "message",
              "value": "={{ $json.post_type }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3088,
        -880
      ],
      "id": "4ceb910b-4214-49a2-99de-11c029ea413c",
      "name": "Facebook Single Image (URL)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbVTQWbgdpOAG6rR",
          "name": "facebook-msi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// SEPARA ITEMS PARA FB MULTIPLE (usando URLs)\nconst items = $input.all();\nconst imageArray = items[0].json.Image;\nconst newItems = [];\n\nfor (const img of imageArray) {\n   newItems.push({\n     json: {\n       ...items[0].json,\n       url_to_upload: img.url\n     }\n   });\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3088,
        -688
      ],
      "id": "9051abc6-1f11-4e87-a4fc-0b308e98eca6",
      "name": "FB Separate URLs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/438514339355830/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url_to_upload }}"
            },
            {
              "name": "published",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2864,
        -688
      ],
      "id": "5e0c615f-4a40-4ca8-acd6-ec3cbfcfc55f",
      "name": "FB Upload URL (Hidden)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbVTQWbgdpOAG6rR",
          "name": "facebook-msi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const itemsUploaded = $('FB Upload URL (Hidden)').all();\n\n// Obtener post_type del primer item de FB Upload URL (Hidden)\n// que deber\u00eda tener los datos parseados\nconst originalPost = itemsUploaded[0]?.json?.post_type || $input.first().json.post_type;\n\nconst mediaItems = [];\n\n// Recolectamos los IDs que nos devolvi\u00f3 Facebook\nfor (const item of itemsUploaded) {\n    const mediaId = item.json.id;\n    if (mediaId) {\n        mediaItems.push({\n            \"media_fbid\": mediaId\n        });\n    }\n}\n\nreturn [{\n    json: {\n        attached_media: mediaItems,\n        post_type: originalPost\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        -688
      ],
      "id": "285c5952-2317-42a4-8cf2-a8f6b23c25fb",
      "name": "FB Build Media Array"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/438514339355830/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"message\": \"{{ $json.post_type }}\",\n   \"attached_media\": {{ JSON.stringify($json.attached_media) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2416,
        -688
      ],
      "id": "bc3cbe96-f9cc-41b9-9fdd-46cebcc1209a",
      "name": "FB Publish Multiple Images",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbVTQWbgdpOAG6rR",
          "name": "facebook-msi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrae las URLs del array Image[] para Instagram\nconst items = $input.all();\nconst firstItem = items[0]?.json || {};\n\n// Recuperamos el caption\nconst caption = firstItem.post_type || '';\n\n// Extraemos las URLs del array Image[]\nconst images = [];\nif (firstItem.Image && Array.isArray(firstItem.Image)) {\n  for (const img of firstItem.Image) {\n    if (img.url) {\n      images.push(img.url);\n    }\n  }\n}\n\nconsole.log('AGRUPAR IMGBB - Total im\u00e1genes:', images.length);\n\n// Devolvemos UN solo \u00edtem con la lista y el conteo\nreturn [{\n  json: {\n    images_list: images,\n    total_count: images.length,\n    caption: caption\n  }\n}];"
      },
      "id": "299cbc39-4173-4312-b14a-ac334254de18",
      "name": "Agrupar Datos ImgBB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3536,
        -304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "single",
                    "leftValue": "={{ $json.total_count }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Single Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "carousel",
                    "leftValue": "={{ $json.total_count }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Carousel Post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3312,
        -304
      ],
      "id": "ec3d3b29-25ef-4c46-ae9e-e1266394e04c",
      "name": "Router Instagram"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841471028584724",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.images_list[0] }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              }
            ]
          }
        }
      },
      "id": "2e0de496-51cb-40d6-882f-c12368d701a6",
      "name": "IG Crear (Single)",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -2416,
        -496
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "mbuwwxCuX4JRWLJB",
          "name": "Instagram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Separamos la lista de nuevo para crear los \u00edtems del carrusel uno por uno\nconst images = $input.first().json.images_list;\nconst caption = $input.first().json.caption;\n\nreturn images.map(url => ({\n  json: {\n    url: url,\n    parent_caption: caption\n  }\n}));"
      },
      "id": "bc6b9027-35f7-4413-be01-231a30739ae2",
      "name": "Separar para Carrusel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3088,
        -304
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841471028584724",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "b335374a-13ab-438d-8ae3-e78162cb1a93",
      "name": "IG Crear Item",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -2864,
        -304
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "mbuwwxCuX4JRWLJB",
          "name": "Instagram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agrupamos los IDs generados para crear el contenedor padre\nconst items = $input.all();\nconst ids = items.map(i => i.json.id);\n// El caption viene arrastrado del nodo anterior\nconst caption = items[0].json.parent_caption || items[0].json.caption || '';\n\nreturn [{\n  json: {\n    children_ids: ids,\n    caption: caption\n  }\n}];"
      },
      "id": "b369a47b-27e9-403b-b3de-9125d8c09089",
      "name": "Agrupar IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        -304
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841471028584724",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "CAROUSEL"
              },
              {
                "name": "children",
                "value": "={{ $json.children_ids.join(',') }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              }
            ]
          }
        }
      },
      "id": "8e978b93-e4a5-4fef-997a-18f363300b6e",
      "name": "IG Crear Contenedor",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -2416,
        -304
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "mbuwwxCuX4JRWLJB",
          "name": "Instagram"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2192,
        -304
      ],
      "id": "84165a3b-53ba-4e18-8705-83ff56a19777",
      "name": "Esperar Procesamiento",
      "webhookId": "e7366675-caed-4831-9bea-ae42c63ba1b8"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841471028584724",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "c2c09060-1e17-4f5d-95c9-fbb1aeb9aece",
      "name": "Publicar en Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1968,
        -304
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "mbuwwxCuX4JRWLJB",
          "name": "Instagram"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "025d6de3-6b46-41c2-839d-58a8b18b649f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4656,
        -784
      ],
      "id": "c3eaaeb7-2d04-4385-b8ab-af3dbd32acf4",
      "name": "Webhook - Publish Post",
      "webhookId": "025d6de3-6b46-41c2-839d-58a8b18b649f"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "social_posts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_type": "={{ $json.post_type }}",
            "image_url": "={{ $json.Image && Array.isArray($json.Image) ? $json.Image.map(img => img.url).join(',') : ($json.Image?.url || null) }}",
            "status": "={{ $json.Image ? 'completed' : 'pending' }}",
            "publish_linkedin": "={{ $json.publish_linkedin || 'No' }}",
            "publish_facebook": "={{ $json.publish_facebook || 'No' }}",
            "publish_instagram": "={{ $json.publish_instagram || 'No' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "post_type",
              "displayName": "post_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3984,
        -784
      ],
      "id": "e30b6736-f670-4acd-af09-b9ab2dca002f",
      "name": "Guardar en Base de Datos",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combinar datos del webhook con la respuesta de la BD\n// ESTE NODO PRESERVA EL ARRAY Image[] DESDE Merge ImgBB Response\nconst dbResponse = $input.item.json;\n\nconsole.log('==== MERGE DB START ====');\n\n// Obtener datos COMPLETOS desde Merge ImgBB Response (que ya tiene Image[] agregado)\nconst mergeImgBBNode = $('Merge ImgBB Response');\nlet webhookData = {};\nlet imageArray = [];\n\nif (mergeImgBBNode && mergeImgBBNode.item && mergeImgBBNode.item.json) {\n  // Tomar TODOS los datos de Merge ImgBB Response (que ya tiene Image[] completo)\n  webhookData = { ...mergeImgBBNode.item.json };\n  imageArray = webhookData.Image || [];\n  console.log('MERGE DB - Datos desde Merge ImgBB Response');\n  console.log('MERGE DB - Image array recibido:', Array.isArray(imageArray) ? imageArray.length : 0);\n  if (Array.isArray(imageArray) && imageArray.length > 0) {\n    console.log('MERGE DB - Image[0].url:', imageArray[0].url);\n    if (imageArray.length > 1) {\n      console.log('MERGE DB - Image[1].url:', imageArray[1].url);\n    }\n  }\n} else {\n  console.log('MERGE DB - ERROR: No se encontr\u00f3 Merge ImgBB Response');\n  const checkImageNode = $('Check if Image Exists');\n  if (checkImageNode && checkImageNode.item) {\n    webhookData = checkImageNode.item.json;\n  }\n}\n\n// Validar que el array est\u00e9 presente\nif (!Array.isArray(imageArray)) {\n  imageArray = [];\n  console.log('MERGE DB - WARNING: Image no es array, inicializando vac\u00edo');\n}\n\n// Resultado final - mantener Image[] exactamente como viene de Merge ImgBB Response\nconst result = {\n  ...webhookData,\n  db_record: dbResponse,\n  image_url: dbResponse.image_url,\n  // NO sobrescribir Image[], mantener el array completo de Merge ImgBB Response\n  Image: imageArray\n};\n\nconsole.log('MERGE DB - Image array FINAL LENGTH:', result.Image ? result.Image.length : 0);\nconsole.log('MERGE DB - result.Image content:', JSON.stringify(result.Image));\nconsole.log('==== MERGE DB END ====');\n\nreturn [{\n  json: result\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3848,
        -784
      ],
      "id": "merge-webhook-db-data-001",
      "name": "Merge Webhook with DB"
    }
  ],
  "connections": {
    "Separar Binarios": {
      "main": [
        [
          {
            "node": "Check if Image Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Image Exists": {
      "main": [
        [
          {
            "node": "Has Binary Data?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar en Base de Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Binary Data?": {
      "main": [
        [
          {
            "node": "Generar URL (ImgBB)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge ImgBB Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar URL (ImgBB)": {
      "main": [
        [
          {
            "node": "Merge ImgBB Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ImgBB Response": {
      "main": [
        [
          {
            "node": "Guardar en Base de Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check LinkedIn": {
      "main": [
        [
          {
            "node": "Prep URL LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Facebook": {
      "main": [
        [
          {
            "node": "Prep URL FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Instagram": {
      "main": [
        [
          {
            "node": "Agrupar Datos ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep URL LI": {
      "main": [
        [
          {
            "node": "LinkedIn Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Content Type": {
      "main": [
        [
          {
            "node": "Text Post Linkedin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Single Image Post Linkedin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separate Images LI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate Images LI": {
      "main": [
        [
          {
            "node": "Register Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Load": {
      "main": [
        [
          {
            "node": "UploadImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadImage": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Multiple Image Post LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep URL FB": {
      "main": [
        [
          {
            "node": "Facebook Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Content Type": {
      "main": [
        [
          {
            "node": "Facebook Page Post (v22.0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Single Image (URL)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FB Separate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Separate URLs": {
      "main": [
        [
          {
            "node": "FB Upload URL (Hidden)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Upload URL (Hidden)": {
      "main": [
        [
          {
            "node": "FB Build Media Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Build Media Array": {
      "main": [
        [
          {
            "node": "FB Publish Multiple Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Datos ImgBB": {
      "main": [
        [
          {
            "node": "Router Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Instagram": {
      "main": [
        [
          {
            "node": "IG Crear (Single)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separar para Carrusel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Crear (Single)": {
      "main": [
        [
          {
            "node": "Esperar Procesamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar para Carrusel": {
      "main": [
        [
          {
            "node": "IG Crear Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Crear Item": {
      "main": [
        [
          {
            "node": "Agrupar IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar IDs": {
      "main": [
        [
          {
            "node": "IG Crear Contenedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Crear Contenedor": {
      "main": [
        [
          {
            "node": "Esperar Procesamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar Procesamiento": {
      "main": [
        [
          {
            "node": "Publicar en Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Publish Post": {
      "main": [
        [
          {
            "node": "Separar Binarios",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook - Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Base de Datos": {
      "main": [
        [
          {
            "node": "Merge Webhook with DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Webhook with DB": {
      "main": [
        [
          {
            "node": "Check LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook - Publish": {
      "main": []
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}