educative-carousel-gen-flow.json
  {
    "name": "MSI Educative Carousel Gen Flow",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "msi-educative-carousel",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "webhook",
        "name": "Webhook - Educative Carousel"
      },
      {
        "parameters": {
          "jsCode": "// Format Input for Educational Content\nconst input = $('Webhook - Educative Carousel').item.json;\nlet data = input.body || input;\nif (typeof data === 'string') {\n  try { data = JSON.parse(data); } catch(e) { data = input; }\n}\n\n// Educational content structure\nconst topic = data.topic || 'AI & Business Efficiency';\nconst pillar = data.pillar || 'Educación & Tendencias Tecnológicas';\nconst theme = data.theme || 'AI & Smart Business Solutions';\nconst context = data.context || '';\n\nreturn [{\n  json: {\n    topic: topic,\n    pillar: pillar,\n    theme: theme,\n    context: context,\n    visual_style: 'Realistic Photography',\n    color_primary: data.color_primary || '#207CE5',\n    color_secondary: data.color_secondary || '#004AAD'\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          0
        ],
        "id": "format-input",
        "name": "Format Input"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=EDUCATIONAL CONTENT REQUEST:\n\nTOPIC: {{ $json.topic }}\nPILLAR: {{ $json.pillar }}\nTHEME: {{ $json.theme }}\nADDITIONAL CONTEXT: {{ $json.context }}\n\nTASK:\nCreate an educational carousel strategy for MSI Technologies Instagram.\nThe content should EDUCATE the audience about the topic, providing VALUE and INSIGHTS.\n\n1. Create a compelling HOOK for Slide 1 that sparks curiosity.\n2. Identify 3 KEY EDUCATIONAL POINTS about this topic.\n3. Each point should teach something valuable.\n4. Define a CTA that encourages engagement.\n\nFOCUS AREAS for Educational Content:\n- How does this benefit businesses?\n- What are the practical applications?\n- Why should professionals care?\n- What can they learn and apply?\n\nOUTPUT:\n- Hook: [Curiosity-sparking question or statement]\n- Point 1: [First educational insight]\n- Point 2: [Second educational insight]\n- Point 3: [Third educational insight]\n- CTA: [Call to engage/learn more]",
          "options": {
            "systemMessage": "# ROLE: Educational Content Strategist\nYou create educational content for MSI Technologies Instagram.\nFocus on: AI, Business Efficiency, Automation, Cloud Technology, Digital Transformation.\nMake complex topics ACCESSIBLE and VALUABLE for business professionals.\nTone: Expert but approachable, informative, thought-leadership."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          440,
          0
        ],
        "id": "agent-strategy",
        "name": "Agent 1: Strategy Analyst"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=STRATEGY INPUT:\n{{ $('Agent 1: Strategy Analyst').item.json.output }}\n\nCONTEXT:\nTopic: {{ $('Format Input').item.json.topic }}\nPillar: {{ $('Format Input').item.json.pillar }}\nTheme: {{ $('Format Input').item.json.theme }}\n\nTASK:\nCreate a 5-slide Instagram Carousel structure (4:5 format) for EDUCATIONAL content.\nALL OUTPUT MUST BE IN ENGLISH.\n\nSLIDE 1 (COVER): \n- Headline: CURIOSITY-SPARKING HOOK (5-8 words max). Ask a question or make a bold statement. Examples: 'Why 70% of AI Projects Fail' / 'The Hidden Cost of Manual Work' / 'What Top Companies Know About AI' / 'Is Your Business Ready for AI?'. Must make people WANT to swipe.\n- Subtext: LEAVE EMPTY.\n- Body: LEAVE EMPTY.\n\nSLIDE 2-4 (EDUCATIONAL POINTS): \n- Headline: CLEAR TEACHING POINT (6-10 words). State the insight clearly. Examples: 'AI Saves 10 Hours Per Week on Average' / 'Automation Reduces Errors by 85%' / 'Cloud Migration Cuts Costs by 30%'. Be SPECIFIC with data when possible.\n- Body: Write ONE PARAGRAPH (15-25 words). EXPLAIN the point in simple terms. Give PRACTICAL context. NO jargon. NO buzzwords. Just clear, valuable information.\n- Source: Optional - 'MSI Insights' or relevant study/report if available.\n\nSLIDE 5 (CTA): \n- Headline: Engaging question. Examples: 'Ready to Learn More?' / 'Did You Find This Helpful?' / 'Want More Insights Like This?'\n- Subtext: Collaborative invitation. Examples: 'Let's Work Together' / 'Schedule a Free Consultation' / 'Let's Transform Your Business'\n- Body: LEAVE EMPTY\n- Contact Info: \"contact@msitechnologiesinc.com | msitechnologiesinc.com\"\n\nCRITICAL:\n- Headlines = EDUCATIONAL, VALUE-DRIVEN, SPECIFIC\n- Body = SIMPLE EXPLANATION, PRACTICAL VALUE, NO JARGON\n- Slide 5 = Question + Collaborative invitation\n- NO colons, NO semicolons anywhere\n\nOUTPUT JSON ARRAY:\n[\n  {\n    \"slide_number\": 1,\n    \"headline\": \"...\",\n    \"subtext\": \"\",\n    \"body\": \"\"\n  },\n  {\n    \"slide_number\": 2,\n    \"headline\": \"...\",\n    \"body\": \"...\",\n    \"source\": \"MSI Insights\"\n  },\n  ... (5 slides total)\n]",
          "options": {
            "systemMessage": "# ROLE: Educational Content Writer for Instagram\nCreate EDUCATIONAL, VALUE-DRIVEN content for Instagram carousels in ENGLISH.\n- Headlines must TEACH something valuable.\n- Body text explains the point in SIMPLE, everyday language.\n- Include DATA and SPECIFICS when possible.\n- NO jargon, NO buzzwords, NO marketing fluff.\n- Write like you're teaching a colleague.\n- Tone: Expert, approachable, helpful, thought-leadership."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          760,
          0
        ],
        "id": "agent-copywriter",
        "name": "Agent 2: Copywriter"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=INPUT FROM COPYWRITER AGENT:\\n{{ $('Agent 2: Copywriter').item.json.output }}\\n\\nTASK:\\nFor EACH slide in the JSON array, create a detailed 'image_prompt' field.\\n\\nIMPORTANT: \\n- Add ONLY the 'image_prompt' field to each existing slide object\\n- Do NOT modify existing fields\\n- Return the EXACT same JSON structure with added image_prompt fields\\n\\nMSI BRAND GUIDELINES:\\n- COLORS: MSI Blue (#207CE5), Dark Blue (#004AAD), Cream (#FFFDF1)\\n- TYPOGRAPHY: ITC Avant Garde (headlines), Poppins (subheadings), Quicksand (body)\\n- LAYOUT: Split layout with 55% image top, 45% text bottom\\n- CONSISTENCY: All slides must look like MSI brand family\\n\\nFor each slide, create realistic photography prompts. Return valid JSON.",
          "options": {
            "systemMessage": "# ROLE: Expert Brand Designer (Instagram Visual Specialist)\nYour goal is CLEAN MINIMALISM & PROFESSIONALISM.\n- MINIMIZE PEOPLE in visuals. Use Tech/Architecture/Concepts.\n- NO TEXT SHADOWS. FLAT DESIGN.\n- SMALLER FONT for body text to guarantee 3 lines.\n- Slide Indicator must be REGULAR weight (NOT BOLD).\n- Slide 1 must be eye-catching but CLEAN.\n- Slides 2-4 must balance visuals with SHORT text (max 16 words).\n\nERROR HANDLING:\n- Always expect a JSON array input\n- If input is not valid JSON, return error message\n- If slides are missing required fields, use defaults\n- Always return valid JSON structure"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1080,
          0
        ],
        "id": "agent-visual",
        "name": "Agent 3: Visual Director"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "chatgpt-4o-latest",
            "mode": "list",
            "cachedResultName": "chatgpt-4o-latest"
          },
          "builtInTools": {},
          "options": {
            "responseFormat": "json_object"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          860,
          -240
        ],
        "id": "openai-model",
        "name": "OpenAI Model",
        "credentials": {
          "openAiApi": {
            "id": "13Oqly3WdRAzZVXL",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse Final JSON Output\nconst rawOutput = $('Agent 3: Visual Director').item.json.output;\nconst cleanedOutput = rawOutput.replace(/```json/g, '').replace(/```/g, '').trim();\nconst generated = JSON.parse(cleanedOutput);\nconst originalInput = $('Format Input').item.json;\n\n// Add metadata to each slide\nconst slides = generated.map(slide => ({\n    ...slide,\n    visual_style: originalInput.visual_style,\n    carousel_id: null\n}));\n\nreturn [{\n    json: {\n        slides: slides,\n        parent_post: {\n            topic: originalInput.topic,\n            pillar: originalInput.pillar,\n            theme: originalInput.theme,\n            headline: slides[0].headline,\n            visual_style: originalInput.visual_style,\n            post_type: 'Educative Carousel',\n            status: 'generating_images'\n        }\n    }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1340,
          0
        ],
        "id": "parse-output",
        "name": "Parse Output"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=INSERT INTO social_posts (topic, post_type, visual_style, orientation, headline, status, created_at)\nVALUES ('{{ $json.parent_post.topic.replace(/'/g, \"''\") }}', 'Carousel', '{{ $json.parent_post.visual_style }}', '4:5', '{{ $json.parent_post.headline.replace(/'/g, \"''\") }}', 'generating', NOW())\nRETURNING id",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1560,
          0
        ],
        "id": "create-post",
        "name": "Create Post Record",
        "credentials": {
          "postgres": {
            "id": "WnTYs2zvPoE7hDJE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Prepare All Slides Data\nconst postId = $('Create Post Record').item.json.id;\nconst slides = $('Parse Output').item.json.slides;\nconst topic = $('Format Input').item.json.topic || 'Technology';\n\n// Return all slides as individual items for batch insert\n// Embed topic inside visual_style JSON since carousel_slides table doesn't have topic column\nconst slideItems = slides.map(slide => ({\n    json: {\n        carousel_id: postId,\n        slide_number: slide.slide_number,\n        headline: slide.headline,\n        subtext: slide.subtext || '',\n        body_text: slide.body || slide.body_text || '',\n        image_prompt: slide.image_prompt,\n        visual_style: JSON.stringify({ style: slide.visual_style, source: slide.source || '', topic: topic })\n    }\n}));\n\nreturn slideItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1700,
          0
        ],
        "id": "prepare-slides",
        "name": "Prepare Slides"
      },
      {
        "parameters": {
          "operation": "insert",
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "list",
            "cachedResultName": "public"
          },
          "table": {
            "__rl": true,
            "value": "carousel_slides",
            "mode": "list",
            "cachedResultName": "carousel_slides"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "carousel_id",
                "displayName": "carousel_id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "slide_number",
                "displayName": "slide_number",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "integer",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "headline",
                "displayName": "headline",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "subtext",
                "displayName": "subtext",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "body_text",
                "displayName": "body_text",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "image_prompt",
                "displayName": "image_prompt",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ]
          },
          "options": {
            "returnFields": "*"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1850,
          0
        ],
        "id": "insert-slides",
        "name": "Insert Slides",
        "credentials": {
          "postgres": {
            "id": "WnTYs2zvPoE7hDJE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get all inserted slides and prepare for sequential processing\nconst allInserted = $input.all().map(item => item.json);\n\n// Extract topic from visual_style JSON\nlet topic = 'Technology';\ntry {\n  const vsData = JSON.parse(allInserted[0].visual_style || '{}');\n  topic = vsData.topic || 'Technology';\n} catch(e) {}\n\n// Store all slides data for the chain\nconst s1 = allInserted[0];\nconst s2 = allInserted[1];\nconst s3 = allInserted[2];\nconst s4 = allInserted[3];\nconst s5 = allInserted[4];\n\nreturn [{\n  json: {\n    // Current slide to process\n    id: s1.id,\n    carousel_id: s1.carousel_id,\n    slide_number: s1.slide_number,\n    headline: s1.headline || '',\n    subtext: s1.subtext || '',\n    body_text: s1.body_text || '',\n    image_prompt: s1.image_prompt || '',\n    visual_style: s1.visual_style || '',\n    topic: topic,\n    // All slides for the chain\n    s2_id: s2.id, s2_headline: s2.headline || '', s2_subtext: s2.subtext || '', s2_body: s2.body_text || '', s2_prompt: s2.image_prompt || '', s2_style: s2.visual_style || '',\n    s3_id: s3.id, s3_headline: s3.headline || '', s3_subtext: s3.subtext || '', s3_body: s3.body_text || '', s3_prompt: s3.image_prompt || '', s3_style: s3.visual_style || '',\n    s4_id: s4.id, s4_headline: s4.headline || '', s4_subtext: s4.subtext || '', s4_body: s4.body_text || '', s4_prompt: s4.image_prompt || '', s4_style: s4.visual_style || '',\n    s5_id: s5.id, s5_headline: s5.headline || '', s5_subtext: s5.subtext || '', s5_body: s5.body_text || '', s5_prompt: s5.image_prompt || '', s5_style: s5.visual_style || '',\n    carousel_id_shared: s1.carousel_id\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2050,
          -100
        ],
        "id": "get-slide-1",
        "name": "Get Slide 1"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://n8nmsi.app.n8n.cloud/webhook/msi-slide-gen',\n  body: {\n    slide_id: input.id,\n    image_prompt: input.image_prompt,\n    carousel_id: input.carousel_id,\n    slide_number: input.slide_number,\n    headline: input.headline,\n    subtext: input.subtext,\n    body_text: input.body_text,\n    visual_style: input.visual_style,\n    topic: input.topic\n  },\n  json: true\n});\n\n// Pass all slide data to next node\nreturn [{ json: { ...response, ...input } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2200,
          -100
        ],
        "id": "gen-slide-1",
        "name": "Gen Slide 1"
      },

      {
        "parameters": {
          "jsCode": "const prev = $input.first().json;\n\nreturn [{\n  json: {\n    id: prev.s2_id,\n    carousel_id: prev.carousel_id_shared,\n    slide_number: 2,\n    headline: prev.s2_headline,\n    subtext: prev.s2_subtext,\n    body_text: prev.s2_body,\n    image_prompt: prev.s2_prompt,\n    visual_style: prev.s2_style,\n    topic: prev.topic,\n    // Pass remaining slides\n    s3_id: prev.s3_id, s3_headline: prev.s3_headline, s3_subtext: prev.s3_subtext, s3_body: prev.s3_body, s3_prompt: prev.s3_prompt, s3_style: prev.s3_style,\n    s4_id: prev.s4_id, s4_headline: prev.s4_headline, s4_subtext: prev.s4_subtext, s4_body: prev.s4_body, s4_prompt: prev.s4_prompt, s4_style: prev.s4_style,\n    s5_id: prev.s5_id, s5_headline: prev.s5_headline, s5_subtext: prev.s5_subtext, s5_body: prev.s5_body, s5_prompt: prev.s5_prompt, s5_style: prev.s5_style,\n    carousel_id_shared: prev.carousel_id_shared\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2500,
          -100
        ],
        "id": "get-slide-2",
        "name": "Get Slide 2"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://n8nmsi.app.n8n.cloud/webhook/msi-slide-gen',\n  body: {\n    slide_id: input.id,\n    image_prompt: input.image_prompt,\n    carousel_id: input.carousel_id,\n    slide_number: input.slide_number,\n    headline: input.headline,\n    subtext: input.subtext,\n    body_text: input.body_text,\n    visual_style: input.visual_style,\n    topic: input.topic\n  },\n  json: true\n});\n\n// Pass all slide data to next node\nreturn [{ json: { ...response, ...input } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2650,
          -100
        ],
        "id": "gen-slide-2",
        "name": "Gen Slide 2"
      },

      {
        "parameters": {
          "jsCode": "const prev = $input.first().json;\n\nreturn [{\n  json: {\n    id: prev.s3_id,\n    carousel_id: prev.carousel_id_shared,\n    slide_number: 3,\n    headline: prev.s3_headline,\n    subtext: prev.s3_subtext,\n    body_text: prev.s3_body,\n    image_prompt: prev.s3_prompt,\n    visual_style: prev.s3_style,\n    topic: prev.topic,\n    // Pass remaining slides\n    s4_id: prev.s4_id, s4_headline: prev.s4_headline, s4_subtext: prev.s4_subtext, s4_body: prev.s4_body, s4_prompt: prev.s4_prompt, s4_style: prev.s4_style,\n    s5_id: prev.s5_id, s5_headline: prev.s5_headline, s5_subtext: prev.s5_subtext, s5_body: prev.s5_body, s5_prompt: prev.s5_prompt, s5_style: prev.s5_style,\n    carousel_id_shared: prev.carousel_id_shared\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2950,
          -100
        ],
        "id": "get-slide-3",
        "name": "Get Slide 3"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://n8nmsi.app.n8n.cloud/webhook/msi-slide-gen',\n  body: {\n    slide_id: input.id,\n    image_prompt: input.image_prompt,\n    carousel_id: input.carousel_id,\n    slide_number: input.slide_number,\n    headline: input.headline,\n    subtext: input.subtext,\n    body_text: input.body_text,\n    visual_style: input.visual_style,\n    topic: input.topic\n  },\n  json: true\n});\n\n// Pass all slide data to next node\nreturn [{ json: { ...response, ...input } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3100,
          -100
        ],
        "id": "gen-slide-3",
        "name": "Gen Slide 3"
      },

      {
        "parameters": {
          "jsCode": "const prev = $input.first().json;\n\nreturn [{\n  json: {\n    id: prev.s4_id,\n    carousel_id: prev.carousel_id_shared,\n    slide_number: 4,\n    headline: prev.s4_headline,\n    subtext: prev.s4_subtext,\n    body_text: prev.s4_body,\n    image_prompt: prev.s4_prompt,\n    visual_style: prev.s4_style,\n    topic: prev.topic,\n    // Pass remaining slide\n    s5_id: prev.s5_id, s5_headline: prev.s5_headline, s5_subtext: prev.s5_subtext, s5_body: prev.s5_body, s5_prompt: prev.s5_prompt, s5_style: prev.s5_style,\n    carousel_id_shared: prev.carousel_id_shared\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3400,
          -100
        ],
        "id": "get-slide-4",
        "name": "Get Slide 4"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://n8nmsi.app.n8n.cloud/webhook/msi-slide-gen',\n  body: {\n    slide_id: input.id,\n    image_prompt: input.image_prompt,\n    carousel_id: input.carousel_id,\n    slide_number: input.slide_number,\n    headline: input.headline,\n    subtext: input.subtext,\n    body_text: input.body_text,\n    visual_style: input.visual_style,\n    topic: input.topic\n  },\n  json: true\n});\n\n// Pass all slide data to next node\nreturn [{ json: { ...response, ...input } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3550,
          -100
        ],
        "id": "gen-slide-4",
        "name": "Gen Slide 4"
      },

      {
        "parameters": {
          "jsCode": "const prev = $input.first().json;\n\nreturn [{\n  json: {\n    id: prev.s5_id,\n    carousel_id: prev.carousel_id_shared,\n    slide_number: 5,\n    headline: prev.s5_headline,\n    subtext: prev.s5_subtext,\n    body_text: prev.s5_body,\n    image_prompt: prev.s5_prompt,\n    visual_style: prev.s5_style,\n    topic: prev.topic,\n    carousel_id_shared: prev.carousel_id_shared\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3850,
          -100
        ],
        "id": "get-slide-5",
        "name": "Get Slide 5"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://n8nmsi.app.n8n.cloud/webhook/msi-slide-gen',\n  body: {\n    slide_id: input.id,\n    image_prompt: input.image_prompt,\n    carousel_id: input.carousel_id,\n    slide_number: input.slide_number,\n    headline: input.headline,\n    subtext: input.subtext,\n    body_text: input.body_text,\n    visual_style: input.visual_style,\n    topic: input.topic\n  },\n  json: true\n});\n\nreturn [{ json: response }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4000,
          -100
        ],
        "id": "gen-slide-5",
        "name": "Gen Slide 5"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"message\": \"Educative carousel generated successfully\",\n  \"data\": {\n    \"slides\": {{ $json }}\n  }\n}"
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          4200,
          -100
        ],
        "id": "respond-webhook",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook - Educative Carousel": {
        "main": [
          [
            {
              "node": "Format Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Input": {
        "main": [
          [
            {
              "node": "Agent 1: Strategy Analyst",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agent 1: Strategy Analyst",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Agent 2: Copywriter",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Agent 3: Visual Director",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Agent 1: Strategy Analyst": {
        "main": [
          [
            {
              "node": "Agent 2: Copywriter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agent 2: Copywriter": {
        "main": [
          [
            {
              "node": "Agent 3: Visual Director",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agent 3: Visual Director": {
        "main": [
          [
            {
              "node": "Parse Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Output": {
        "main": [
          [
            {
              "node": "Create Post Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Post Record": {
        "main": [
          [
            {
              "node": "Prepare Slides",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Slides": {
        "main": [
          [
            {
              "node": "Insert Slides",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Slides": {
        "main": [
          [
            {
              "node": "Get Slide 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Slide 1": {
        "main": [
          [
            {
              "node": "Gen Slide 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gen Slide 1": {
        "main": [
          [
            {
              "node": "Get Slide 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Slide 2": {
        "main": [
          [
            {
              "node": "Gen Slide 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gen Slide 2": {
        "main": [
          [
            {
              "node": "Get Slide 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Slide 3": {
        "main": [
          [
            {
              "node": "Gen Slide 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gen Slide 3": {
        "main": [
          [
            {
              "node": "Get Slide 4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Slide 4": {
        "main": [
          [
            {
              "node": "Gen Slide 4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gen Slide 4": {
        "main": [
          [
            {
              "node": "Get Slide 5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Slide 5": {
        "main": [
          [
            {
              "node": "Gen Slide 5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gen Slide 5": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    }
  }