educative-slide-image-gen.json
{
    "name": "MSI Educative Slide Image Gen v2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "msi-educative-slide-gen",
                "responseMode": "onReceived",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "webhook-educative-slide-gen",
            "name": "Webhook - Educative Slide Gen",
            "webhookId": "msi-educative-slide-gen-webhook"
        },
        {
            "parameters": {
                "url": "https://i.ibb.co/S7mKXdxr/MSI-Technologies-Icon.png",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                0
            ],
            "id": "download-logo",
            "name": "Download MSI Logo"
        },
        {
            "parameters": {
                "jsCode": "// Prepare Gemini Input - Build complete EDUCATIVE slide image prompt\nconst inputData = $('Webhook - Educative Slide Gen').item.json;\nconst input = inputData.body || inputData;\nconst logoItem = $('Download MSI Logo').item;\n\n// Get logo base64\nlet logoBase64 = '';\nif (logoItem.binary && Object.keys(logoItem.binary).length > 0) {\n  const binaryKey = Object.keys(logoItem.binary)[0];\n  const binaryData = logoItem.binary[binaryKey];\n  \n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n    logoBase64 = buffer.toString('base64');\n  } catch (e) {\n     if (binaryData.data && binaryData.data !== 'filesystem-v2') {\n         logoBase64 = binaryData.data;\n     }\n  }\n}\n\n// Extract all slide content fields\nconst slideNumber = parseInt(input.slide_number) || 1;\nconst headline = input.headline || '';\nconst subtext = input.subtext || '';\nconst bodyText = input.body_text || '';\nconst topic = input.topic || 'Professional Development';\n\n// NO SOURCE for educational content\nlet educationalContext = 'Educational Content';\ntry {\n  if (input.visual_style) {\n    const vs = typeof input.visual_style === 'string' ? JSON.parse(input.visual_style) : input.visual_style;\n    educationalContext = vs.topic || 'Educational Content';\n  }\n} catch (e) {\n  educationalContext = 'Educational Content';\n}\n\n// Generate EDUCATIONAL tagline for Slide 1 based on topic\nconst topicLower = topic.toLowerCase();\nlet educationalTagline = 'Learn & Grow with MSI';\nif (topicLower.includes('ai') || topicLower.includes('artificial intelligence') || topicLower.includes('machine learning')) {\n  educationalTagline = 'AI Education & Insights';\n} else if (topicLower.includes('automation') || topicLower.includes('process')) {\n  educationalTagline = 'Automation Learning Hub';\n} else if (topicLower.includes('cloud') || topicLower.includes('technology')) {\n  educationalTagline = 'Technology Education';\n} else if (topicLower.includes('business') || topicLower.includes('efficiency')) {\n  educationalTagline = 'Business Skills Development';\n} else if (topicLower.includes('digital') || topicLower.includes('transformation')) {\n  educationalTagline = 'Digital Transformation Learning';\n} else if (topicLower.includes('data') || topicLower.includes('analytics')) {\n  educationalTagline = 'Data & Analytics Education';\n} else if (topicLower.includes('security') || topicLower.includes('cyber')) {\n  educationalTagline = 'Cybersecurity Training';\n} else if (topicLower.includes('leadership') || topicLower.includes('management')) {\n  educationalTagline = 'Leadership Development';\n}\n\nconst isBlueSlide = (slideNumber === 1 || slideNumber === 3 || slideNumber === 5);\nconst paginationNumber = slideNumber;\n\nlet fullPrompt = '';\n\nif (slideNumber === 1) {\n  fullPrompt = `Create a 4:5 Instagram carousel SLIDE 1 for MSI Technologies EDUCATIONAL content.\n\nLOGO (CRITICAL - DO NOT MODIFY):\n- Place the attached MSI logo EXACTLY as provided in TOP-LEFT corner\n- Logo size: approximately 60-80 pixels height, proportional width\n- DO NOT resize, redraw, recreate, or modify the logo in ANY way\n- Use the EXACT logo file provided - no alterations\n\nLAYOUT:\n- ENTIRE SLIDE: Gradient background from MSI Blue #207CE5 to Dark Blue #004AAD\n- MAIN VISUAL: A striking REALISTIC PHOTOGRAPH related to \"${topic}\" - use real-world professional scenes, modern technology in action, clean workspaces, or professional environments that directly represent the educational topic.\n- The photo should have a blue color grading to blend with the gradient background.\n- Style: Professional realistic photography, high quality, editorial feel\n\nFORBIDDEN VISUAL ELEMENTS:\n- NO servers or server racks\n- NO cloud icons or cloud shapes\n- NO network connection lines or node diagrams\n- NO circuit boards or chip patterns\n- NO binary code (0s and 1s)\n- NO globe with connections\n- NO gears or cogs\n- NO illustrations or cartoons\n- NO news/media elements\n\nTYPOGRAPHY (MANDATORY):\n- HEADINGS: Use ITC Avant Garde font (bold, geometric sans-serif)\n- BODY/CONTENT: Use Quicksand font (rounded, friendly sans-serif)\n- ALL text must have NORMAL proportions - NOT stretched, NOT condensed, NOT elongated\n\nTEXT CONTENT (white color):\n- VERY LARGE bold title in ITC Avant Garde: \"${headline}\"\n- Smaller tagline below title in Quicksand: \"${educationalTagline}\"\n- Bottom-RIGHT corner (visible): \"Learn More >>>\" in Quicksand\n\nFORBIDDEN: News elements, stretched text, condensed fonts, illustrations, cartoons, generic stock imagery.`;\n\n} else if (slideNumber === 5) {\n  fullPrompt = `Create a 4:5 Instagram carousel SLIDE 5 - Educational CTA for MSI Technologies.\n\nLOGO (CRITICAL - DO NOT MODIFY):\n- Place the attached MSI logo EXACTLY as provided in TOP-LEFT corner\n- Logo size: approximately 60-80 pixels height, proportional width\n- DO NOT resize, redraw, recreate, or modify the logo in ANY way\n\nLAYOUT:\n- ENTIRE SLIDE: Gradient background from MSI Blue #207CE5 to Dark Blue #004AAD\n- NO photo - solid gradient only\n- Content vertically centered\n\nTYPOGRAPHY (MANDATORY):\n- HEADINGS: Use ITC Avant Garde font (bold, geometric sans-serif)\n- BODY/CONTENT: Use Quicksand font (rounded, friendly sans-serif)\n- ALL text must have NORMAL proportions - NOT stretched, NOT condensed, NOT elongated\n\nTEXT CONTENT (white, centered):\n- HEADING 1 (VERY LARGE, bold, ITC Avant Garde): \"${headline}\"\n- HEADING 2 (Medium size, below heading 1, Quicksand): \"${subtext || \"Let's Learn Together\"}\"\n\nCONTACT INFO (bottom center, LARGE white text in Quicksand):\n- Line 1: envelope icon then contact@msitechnologiesinc.com\n- Line 2: globe icon then msitechnologiesinc.com\n\nFORBIDDEN: News elements, stretched text, condensed fonts, @ symbols, pagination, modifying the logo.`;\n\n} else if (slideNumber === 2 || slideNumber === 4) {\n  fullPrompt = `Create a 4:5 Instagram carousel SLIDE ${slideNumber} for MSI Technologies EDUCATIONAL content.\n\nLOGO (CRITICAL - DO NOT MODIFY):\n- Place the attached MSI logo (blue version) EXACTLY as provided in TOP-LEFT corner, overlaying the photo\n- Logo size: approximately 60-80 pixels height, proportional width\n- DO NOT resize, redraw, recreate, or modify the logo in ANY way\n\nCRITICAL LAYOUT:\n- The photo MUST start at the VERY TOP of the slide (y=0, pixel 0). NO white bar above.\n- Top 55%: REALISTIC PHOTOGRAPH related to \"${headline}\". AVOID PEOPLE.\n- Apply subtle BLUE GRADIENT at bottom edge of photo blending into white.\n- Bottom 45%: Clean WHITE background for text.\n\nREALISTIC PHOTOGRAPHY REQUIREMENTS:\n- Professional, high-quality realistic photo\n- Modern workspaces, real technology, professional settings\n- Clean, editorial photography feel\n- Related to the educational topic\n\nFORBIDDEN:\n- NO servers, NO cloud icons, NO circuit boards, NO binary code\n- NO news/media elements, NO illustrations, NO infographics\n\nTYPOGRAPHY (MANDATORY):\n- HEADINGS: ITC Avant Garde (bold, geometric sans-serif)\n- BODY: Quicksand (rounded, friendly sans-serif)\n- Body text must be SHORT (max 3 lines)\n\nTEXT (on white section, left-aligned):\n- Headline in ITC Avant Garde (blue #207CE5): \"${headline}\"\n- Body text in Quicksand (dark gray, SMALL font, max 3 lines): \"${bodyText}\"\n- Bottom-right in Quicksand: \"${paginationNumber}/5\"\n\nNO Source field. Photo starts at absolute top. DO NOT modify logo.`;\n\n} else {\n  fullPrompt = `Create a 4:5 Instagram carousel SLIDE ${slideNumber} for MSI Technologies EDUCATIONAL content.\n\nLOGO (CRITICAL - DO NOT MODIFY):\n- Place the attached MSI logo EXACTLY as provided in TOP-LEFT corner\n- Logo size: approximately 60-80 pixels height, proportional width\n- DO NOT resize, redraw, recreate, or modify the logo in ANY way\n\nLAYOUT:\n- Top 55%: REALISTIC PHOTOGRAPH related to \"${headline}\". AVOID PEOPLE. Apply BLUE GRADIENT overlay at bottom blending into blue section.\n- Bottom 45%: Solid MSI Blue #207CE5\n\nREALISTIC PHOTOGRAPHY REQUIREMENTS:\n- Professional, high-quality realistic photo\n- Different angle or perspective than other slides\n- Clean, editorial photography feel\n\nFORBIDDEN:\n- NO servers, NO cloud icons, NO circuit boards, NO binary code\n- NO news/media elements, NO illustrations\n\nTYPOGRAPHY (MANDATORY):\n- HEADINGS: ITC Avant Garde (bold, geometric sans-serif)\n- BODY: Quicksand (rounded, friendly sans-serif)\n- Body text must be SHORT (max 3 lines)\n\nTEXT (on blue section, left-aligned):\n- Headline in ITC Avant Garde (white): \"${headline}\"\n- Body text in Quicksand (cream #FFFDF1, SMALL font, max 3 lines): \"${bodyText}\"\n- Bottom-right in Quicksand: \"${paginationNumber}/5\"\n\nNO Source field. AVOID showing people. REALISTIC PHOTOGRAPHY only.`;\n}\n\nreturn [{\n  json: {\n    image_prompt: fullPrompt,\n    slide_id: input.slide_id,\n    carousel_id: input.carousel_id,\n    slide_number: slideNumber,\n    headline: headline,\n    subtext: subtext,\n    body_text: bodyText,\n    educational_context: educationalContext,\n    topic: topic,\n    educational_tagline: educationalTagline,\n    is_blue_slide: isBlueSlide,\n    logo_base64: logoBase64\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                0
            ],
            "id": "prepare-gemini",
            "name": "Prepare Gemini Input"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googlePalmApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [\n      { text: $json.image_prompt },\n      { inline_data: { mime_type: 'image/png', data: $json.logo_base64 } }\n    ]\n  }],\n  generationConfig: {\n    responseModalities: ['TEXT', 'IMAGE']\n  }\n}) }}",
                "options": {
                    "response": {
                        "response": {}
                    },
                    "timeout": 120000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                0
            ],
            "id": "generate-image",
            "name": "Generate Image",
            "credentials": {
                "googlePalmApi": {
                    "id": "oF4jKBK0jRbwEPWt",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract image binary from Gemini response\nconst item = $input.item;\nconst preparedData = $('Prepare Gemini Input').item.json;\nconst candidates = item.json?.candidates || [];\n\nlet imageData = null;\nlet mimeType = 'image/png';\n\n// Search through all parts for image data\nfor (const candidate of candidates) {\n  const parts = candidate?.content?.parts || [];\n  for (const part of parts) {\n    const inlineData = part?.inline_data || part?.inlineData;\n    if (inlineData && inlineData.data) {\n      imageData = inlineData.data;\n      mimeType = inlineData.mime_type || inlineData.mimeType || 'image/png';\n      break;\n    }\n  }\n  if (imageData) break;\n}\n\nif (imageData) {\n  return [{\n    json: {\n      slide_id: preparedData.slide_id,\n      carousel_id: preparedData.carousel_id,\n      slide_number: preparedData.slide_number\n    },\n    binary: {\n      data: {\n        data: imageData,\n        mimeType: mimeType,\n        fileName: `slide_${preparedData.slide_number}.png`\n      }\n    }\n  }];\n}\n\nthrow new Error('No image generated. Response: ' + JSON.stringify(item.json).substring(0, 500));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                0
            ],
            "id": "extract-binary",
            "name": "Extract Binary"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.imgbb.com/1/upload",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
                        },
                        {
                            "parameterType": "formBinaryData",
                            "name": "image",
                            "inputDataFieldName": "=data"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1100,
                0
            ],
            "id": "upload-imgbb",
            "name": "Upload to ImgBB",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "zx6X4T7j4yDMYWKo",
                    "name": "imgbb-api"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE carousel_slides \nSET image_url = '{{ $json.data.url }}', \n    updated_at = NOW()\nWHERE id = '{{ $('Extract Binary').item.json.slide_id }}'\nRETURNING *",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1320,
                0
            ],
            "id": "update-slide-db",
            "name": "Update Slide DB",
            "credentials": {
                "postgres": {
                    "id": "WnTYs2zvPoE7hDJE",
                    "name": "Postgres account"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Educative Slide Gen": {
            "main": [
                [
                    {
                        "node": "Download MSI Logo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download MSI Logo": {
            "main": [
                [
                    {
                        "node": "Prepare Gemini Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Gemini Input": {
            "main": [
                [
                    {
                        "node": "Generate Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Image": {
            "main": [
                [
                    {
                        "node": "Extract Binary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Binary": {
            "main": [
                [
                    {
                        "node": "Upload to ImgBB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to ImgBB": {
            "main": [
                [
                    {
                        "node": "Update Slide DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    }
}
