email-outreach-flow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-email-outreach",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "id": "webhook-email-outreach",
      "name": "Webhook - Email Outreach",
      "webhookId": "msi-email-outreach"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming leads + service info\nconst input = $input.item.json;\nlet data = input.body || input;\nif (typeof data === 'string') data = JSON.parse(data);\n\nconst leads = data.leads || [];\nconst service = data.service || 'IT Services';\nconst tone = data.tone || 'professional';\nconst additionalContext = data.additional_context || '';\n\nconsole.log(`Processing ${leads.length} leads for ${service} outreach`);\n\n// Output one item per lead so we can process each individually\nconst items = leads.map(lead => ({\n  json: {\n    ...lead,\n    service,\n    tone,\n    additional_context: additionalContext\n  }\n}));\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "id": "parse-leads-input",
      "name": "Parse Leads Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a personalized cold outreach email for this lead:\n\nRECIPIENT INFO:\n- Name: {{ $json.first_name }} {{ $json.last_name }}\n- Title: {{ $json.title }}\n- Company: {{ $json.company_name }}\n- Industry: {{ $json.industry }}\n- Company Size: {{ $json.num_employees }} employees\n- Location: {{ $json.city }}, {{ $json.state }}\n- Technologies they use: {{ ($json.technologies || '').substring(0, 500) }}\n- Keywords: {{ ($json.keywords || '').substring(0, 300) }}\n- Company Website: {{ $json.website }}\n\nTONE: {{ $json.tone }}\nADDITIONAL CONTEXT: {{ $json.additional_context || 'None' }}",
        "options": {
          "systemMessage": "# ROLE: B2B Email Copywriter for MSI Technologies\n\nYou write highly personalized, short cold outreach emails that feel human and relevant.\n\n## STEP 1: AUTO-SELECT THE BEST MSI SERVICE\nAnalyze the lead's title, industry, technologies, and keywords to determine which MSI service is MOST relevant to them. Choose ONE:\n- **Cybersecurity** — if they have CISO role, security keywords, defense industry, or security technologies\n- **Cloud Migration** — if they use cloud tech (AWS, Azure, GCP), or keywords mention cloud/migration\n- **AI Integration** — if they use AI/ML tools, data science tech, or keywords mention AI/automation\n- **IT Infrastructure Modernization** — if they have IT director roles, legacy tech, or infrastructure keywords\n- **Managed IT Services** — if they are in industries without strong IT (construction, government) or mention outsourcing\n- **Data Analytics** — if they use analytics tools, BI platforms, or data-related keywords\n- **Network Security** — if they use network equipment (Cisco, Juniper), firewalls, or VPN tech\n- **Digital Transformation** — if keywords mention digital transformation, modernization, or innovation\n\nIf multiple services match, pick the ONE most aligned with their specific title and industry.\n\n## STEP 2: WRITE THE EMAIL\n\n## OUTPUT FORMAT (JSON ONLY)\nReturn ONLY valid JSON with these fields:\n```json\n{\n  \"matched_service\": \"The MSI service you chose and why (brief)\",\n  \"subject\": \"Email subject line\",\n  \"body\": \"Full email body with \\n for line breaks\"\n}\n```\n\n## PERSONALIZATION RULES\n1. ALWAYS reference the recipient's SPECIFIC company, industry, or role\n2. ALWAYS connect the auto-selected MSI service to a REAL pain point visible in their data\n3. If you see relevant technologies they use, reference how MSI's service complements or improves their stack\n4. Reference their specific title to show relevance (e.g., 'As a CISO managing...')\n5. Use their first name naturally\n6. Keep it under 150 words\n7. No generic \"I hope this finds you well\"\n8. No pushy sales language\n\n## EMAIL STRUCTURE\n1. **Opening (1-2 sentences):** Reference something specific about their company, role, or industry that shows you did research\n2. **Value Bridge (2-3 sentences):** Connect their situation to how MSI's [AUTO-SELECTED SERVICE] solves a real problem they likely face based on their data.\n3. **Soft CTA (1 sentence):** Ask a simple question or suggest a brief call. No pressure.\n4. **Signature:**\n   MSI Technologies\n   contact@msitechnologiesinc.com\n   msitechnologiesinc.com\n\n## TONE GUIDE\n- professional: Formal but warm, executive-level language\n- friendly: Casual, conversational, peer-to-peer\n- consultative: Expert sharing an insight, advisory tone\n\n## NEVER\n- Invent specific stats about MSI\n- Use \"revolutionary\" or \"game-changing\"\n- Write more than 150 words\n- Include anything other than valid JSON in your response"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [720, 300],
      "id": "agent-email-writer",
      "name": "Agent: Email Writer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [800, 520],
      "id": "openai-email-writer",
      "name": "OpenAI for Email Writer",
      "credentials": {
        "openAiApi": {
          "id": "13Oqly3WdRAzZVXL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI output to extract subject and body\nconst output = $json.output;\nconst lead = $('Parse Leads Input').item.json;\n\nlet emailData;\ntry {\n  // Try to parse JSON directly\n  const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n  emailData = JSON.parse(jsonMatch ? jsonMatch[0] : output);\n} catch (e) {\n  // Fallback: extract manually\n  emailData = {\n    matched_service: 'IT Services',\n    subject: `IT Solutions for ${lead.company_name}`,\n    body: output\n  };\n}\n\nreturn [{\n  json: {\n    lead_id: lead.id,\n    to_email: lead.email,\n    to_name: `${lead.first_name} ${lead.last_name}`,\n    company: lead.company_name,\n    subject: emailData.subject,\n    body: emailData.body,\n    service: emailData.matched_service || 'IT Services'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "id": "parse-email-output",
      "name": "Parse Email Output"
    },
    {
      "parameters": {
        "fromEmail": "contact@msitechnologiesinc.com",
        "toEmail": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "replyTo": "contact@msitechnologiesinc.com"
        }
      },
      "type": "n8n-nodes-base.send-email",
      "typeVersion": 2,
      "position": [1200, 300],
      "id": "send-email-node",
      "name": "Send Email",
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_YOUR_SMTP",
          "name": "MSI SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO email_outreach_log (lead_id, to_email, to_name, company, service, subject, body, status, sent_at)\nVALUES (\n  {{ $json.lead_id }},\n  '{{ $json.to_email.replace(/'/g, \"''\") }}',\n  '{{ $json.to_name.replace(/'/g, \"''\") }}',\n  '{{ $json.company.replace(/'/g, \"''\") }}',\n  '{{ $json.service.replace(/'/g, \"''\") }}',\n  '{{ $json.subject.replace(/'/g, \"''\") }}',\n  '{{ $json.body.replace(/'/g, \"''\").replace(/\\n/g, '\\n') }}',\n  'sent',\n  NOW()\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1440, 300],
      "id": "log-email-sent",
      "name": "Log Email to DB",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Emails generated and sent\", \"count\": $items().length } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 300],
      "id": "respond-email-outreach",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook - Email Outreach": {
      "main": [
        [
          {
            "node": "Parse Leads Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Leads Input": {
      "main": [
        [
          {
            "node": "Agent: Email Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Email Writer": {
      "main": [
        [
          {
            "node": "Parse Email Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Output": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Email to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email to DB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI for Email Writer": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Email Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}
