email-outreach-flow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-email-outreach",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "id": "webhook-email-outreach",
      "name": "Webhook - Email Outreach",
      "webhookId": "msi-email-outreach"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming leads for Apollo sequence outreach\nconst input = $input.item.json;\nlet data = input.body || input;\nif (typeof data === 'string') data = JSON.parse(data);\n\nconst leads = data.leads || [];\nconst tone = data.tone || 'professional';\nconst additionalContext = data.additional_context || '';\n\n// Apollo config passed from frontend\nconst apolloApiKey = data.apollo_api_key || '';\nconst emailAccountId = data.email_account_id || '';\n\n// MSI Service → Apollo Sequence ID mapping\n// Configure these IDs after creating sequences in Apollo UI\nconst sequenceMap = data.sequence_map || {\n  'Cybersecurity': 'CONFIGURE_SEQUENCE_ID',\n  'Cloud Migration': 'CONFIGURE_SEQUENCE_ID',\n  'AI Integration': 'CONFIGURE_SEQUENCE_ID',\n  'IT Infrastructure Modernization': 'CONFIGURE_SEQUENCE_ID',\n  'Managed IT Services': 'CONFIGURE_SEQUENCE_ID',\n  'Data Analytics': 'CONFIGURE_SEQUENCE_ID',\n  'Network Security': 'CONFIGURE_SEQUENCE_ID',\n  'Digital Transformation': 'CONFIGURE_SEQUENCE_ID'\n};\n\nconsole.log(`Processing ${leads.length} leads for Apollo sequence outreach`);\n\n// Output one item per lead\nconst items = leads.map(lead => ({\n  json: {\n    ...lead,\n    tone,\n    additional_context: additionalContext,\n    apollo_api_key: apolloApiKey,\n    email_account_id: emailAccountId,\n    sequence_map: sequenceMap\n  }\n}));\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "id": "parse-leads-input",
      "name": "Parse Leads Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this lead and determine the best MSI service:\n\nRECIPIENT INFO:\n- Name: {{ $json.first_name }} {{ $json.last_name }}\n- Title: {{ $json.title }}\n- Company: {{ $json.company_name }}\n- Industry: {{ $json.industry }}\n- Company Size: {{ $json.num_employees }} employees\n- Location: {{ $json.city }}, {{ $json.state }}\n- Technologies they use: {{ ($json.technologies || '').substring(0, 500) }}\n- Keywords: {{ ($json.keywords || '').substring(0, 300) }}\n- Company Website: {{ $json.website }}",
        "options": {
          "systemMessage": "# ROLE: B2B Lead Analyst for MSI Technologies\n\nYou analyze lead data and determine which MSI service is most relevant to this prospect.\n\n## AVAILABLE MSI SERVICES:\n1. **Cybersecurity** — CISO roles, security keywords, defense/gov industry, security tech (Palo Alto, CrowdStrike, Fortinet)\n2. **Cloud Migration** — Cloud tech (AWS, Azure, GCP), cloud/migration keywords, DevOps roles\n3. **AI Integration** — AI/ML tools, data science tech, AI/automation keywords, CDO/CTO roles\n4. **IT Infrastructure Modernization** — IT director roles, legacy tech, infrastructure keywords, hardware\n5. **Managed IT Services** — Industries without strong IT (construction, manufacturing, SMBs <50 employees)\n6. **Data Analytics** — Analytics tools (Tableau, Power BI), BI platforms, data-related keywords\n7. **Network Security** — Network equipment (Cisco, Juniper), firewalls, VPN tech, network admin roles\n8. **Digital Transformation** — Digital transformation keywords, modernization, innovation, C-level executives\n\n## SELECTION RULES:\n- Match the service that BEST fits the lead's title + industry + technologies combination\n- If the lead is a CISO or has security in their title → Cybersecurity (or Network Security if they focus on network gear)\n- If multiple services match, pick the ONE most aligned with their specific title and industry\n- For small companies (<50 employees) without clear tech focus → Managed IT Services\n- For C-suite at large companies without specific tech indicators → Digital Transformation\n\n## OUTPUT FORMAT (JSON ONLY):\n```json\n{\n  \"matched_service\": \"Service Name\",\n  \"reason\": \"Brief explanation of why this service was selected based on the lead's data\"\n}\n```\n\n## RULES:\n- Return ONLY valid JSON\n- \"matched_service\" must be EXACTLY one of the 8 service names listed above\n- \"reason\" should be 1-2 sentences max\n- Do NOT generate email content, only classify the lead"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [720, 300],
      "id": "agent-service-matcher",
      "name": "Agent: Service Matcher"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [800, 520],
      "id": "openai-service-matcher",
      "name": "OpenAI for Service Matcher",
      "credentials": {
        "openAiApi": {
          "id": "13Oqly3WdRAzZVXL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI output and map to Apollo sequence\nconst output = $json.output;\nconst lead = $('Parse Leads Input').item.json;\n\nlet aiResult;\ntry {\n  const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n  aiResult = JSON.parse(jsonMatch ? jsonMatch[0] : output);\n} catch (e) {\n  aiResult = {\n    matched_service: 'Managed IT Services',\n    reason: 'Default fallback - could not parse AI response'\n  };\n}\n\nconst serviceName = aiResult.matched_service || 'Managed IT Services';\nconst sequenceMap = lead.sequence_map || {};\nconst sequenceId = sequenceMap[serviceName] || sequenceMap['Managed IT Services'] || 'CONFIGURE_SEQUENCE_ID';\n\nconsole.log(`Lead ${lead.first_name} ${lead.last_name} → ${serviceName} → Sequence: ${sequenceId}`);\n\nreturn [{\n  json: {\n    // Lead data\n    lead_id: lead.id,\n    first_name: lead.first_name,\n    last_name: lead.last_name,\n    email: lead.email,\n    title: lead.title,\n    company_name: lead.company_name,\n    industry: lead.industry,\n    city: lead.city,\n    state: lead.state,\n    website: lead.website,\n    // AI result\n    matched_service: serviceName,\n    match_reason: aiResult.reason || '',\n    // Apollo config\n    apollo_api_key: lead.apollo_api_key,\n    email_account_id: lead.email_account_id,\n    sequence_id: sequenceId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "id": "map-service-to-sequence",
      "name": "Map Service to Sequence"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $json.apollo_api_key }}\",\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"organization_name\": \"{{ $json.company_name }}\",\n  \"present_raw_address\": \"{{ $json.city }}, {{ $json.state }}\",\n  \"website_url\": \"{{ $json.website }}\",\n  \"label_names\": [\"MSI-Outreach\", \"{{ $json.matched_service }}\"],\n  \"run_dedupe\": true\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "id": "create-apollo-contact",
      "name": "Create Apollo Contact"
    },
    {
      "parameters": {
        "jsCode": "// Extract Apollo contact ID from response\nconst response = $json;\nconst prevData = $('Map Service to Sequence').item.json;\n\nlet contactId = '';\nlet contactCreated = false;\n\ntry {\n  const body = response.body || response;\n  const contact = body.contact || body;\n  contactId = contact.id || '';\n  contactCreated = true;\n  console.log(`Apollo contact created/found: ${contactId} for ${prevData.first_name} ${prevData.last_name}`);\n} catch (e) {\n  console.error('Error extracting Apollo contact ID:', e.message);\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    apollo_contact_id: contactId,\n    contact_created: contactCreated\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "id": "extract-contact-id",
      "name": "Extract Contact ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apollo.io/api/v1/emailer_campaigns/{{ $json.sequence_id }}/add_contact_ids",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "emailer_campaign_id",
              "value": "={{ $json.sequence_id }}"
            },
            {
              "name": "contact_ids[]",
              "value": "={{ $json.apollo_contact_id }}"
            },
            {
              "name": "send_email_from_email_account_id",
              "value": "={{ $json.email_account_id }}"
            },
            {
              "name": "sequence_active_in_other_campaigns",
              "value": "true"
            },
            {
              "name": "sequence_finished_in_other_campaigns",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $json.apollo_api_key }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300],
      "id": "add-to-apollo-sequence",
      "name": "Add to Apollo Sequence"
    },
    {
      "parameters": {
        "jsCode": "// Parse Apollo add-to-sequence response\nconst response = $json;\nconst prevData = $('Extract Contact ID').item.json;\n\nlet addedToSequence = false;\nlet skippedReason = '';\n\ntry {\n  const body = response.body || response;\n  \n  // Check if contact was added successfully\n  if (body.contacts && body.contacts.length > 0) {\n    addedToSequence = true;\n    console.log(`Contact ${prevData.apollo_contact_id} added to sequence ${prevData.sequence_id}`);\n  }\n  \n  // Check if contact was skipped\n  if (body.skipped_contact_ids) {\n    const skipped = body.skipped_contact_ids;\n    if (skipped[prevData.apollo_contact_id]) {\n      skippedReason = skipped[prevData.apollo_contact_id];\n      console.log(`Contact ${prevData.apollo_contact_id} skipped: ${skippedReason}`);\n    }\n  }\n} catch (e) {\n  console.error('Error parsing sequence response:', e.message);\n}\n\nconst status = addedToSequence ? 'added_to_sequence' : (skippedReason ? `skipped:${skippedReason}` : 'error');\n\nreturn [{\n  json: {\n    lead_id: prevData.lead_id,\n    to_email: prevData.email,\n    to_name: `${prevData.first_name} ${prevData.last_name}`,\n    company: prevData.company_name,\n    service: prevData.matched_service,\n    match_reason: prevData.match_reason,\n    apollo_contact_id: prevData.apollo_contact_id,\n    sequence_id: prevData.sequence_id,\n    status: status,\n    skipped_reason: skippedReason\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300],
      "id": "parse-sequence-response",
      "name": "Parse Sequence Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO email_outreach_log (lead_id, to_email, to_name, company, service, subject, body, status, sent_at)\nVALUES (\n  {{ $json.lead_id }},\n  '{{ $json.to_email.replace(/'/g, \"''\") }}',\n  '{{ $json.to_name.replace(/'/g, \"''\") }}',\n  '{{ $json.company.replace(/'/g, \"''\") }}',\n  '{{ $json.service.replace(/'/g, \"''\") }}',\n  'Apollo Sequence: {{ $json.sequence_id }}',\n  '{{ ($json.match_reason || \"\").replace(/'/g, \"''\") }}',\n  '{{ $json.status }}',\n  NOW()\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2160, 300],
      "id": "log-email-sent",
      "name": "Log to DB",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Leads processed via Apollo sequences\", \"count\": $items().length } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2400, 300],
      "id": "respond-email-outreach",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook - Email Outreach": {
      "main": [
        [
          {
            "node": "Parse Leads Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Leads Input": {
      "main": [
        [
          {
            "node": "Agent: Service Matcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Service Matcher": {
      "main": [
        [
          {
            "node": "Map Service to Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Service to Sequence": {
      "main": [
        [
          {
            "node": "Create Apollo Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Apollo Contact": {
      "main": [
        [
          {
            "node": "Extract Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contact ID": {
      "main": [
        [
          {
            "node": "Add to Apollo Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Apollo Sequence": {
      "main": [
        [
          {
            "node": "Parse Sequence Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sequence Response": {
      "main": [
        [
          {
            "node": "Log to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to DB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI for Service Matcher": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Service Matcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}
