image-edit-flow.json
{
  "name": "MSI Image Edit Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-image-edit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ],
      "id": "webhook-image-edit",
      "name": "Webhook - Image Edit",
      "webhookId": "msi-image-edit"
    },
    {
      "parameters": {
        "jsCode": "// Directly extract fields from n8n input (no web body/query parsing)\nconst input = $input.item.json;\n\nconst image_url = input.image_url || '';\nconst edit_instructions = input.edit_instructions || '';\nconst post_id = input.post_id || null;\nconst update_existing = input.update_existing || false;\n\nif (!post_id) {\n  throw new Error('EDIT ERROR: post_id is required. Cannot edit without a valid post_id.');\n}\n\nreturn [{\n  json: {\n    image_url,\n    edit_instructions,\n    post_id,\n    update_existing\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        300
      ],
      "id": "format-edit-input",
      "name": "Format Edit Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts SET status = 'editing_started', updated_at = NOW() WHERE id = '{{ $json.post_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        300
      ],
      "id": "status-editing-started",
      "name": "Status: Editing Started",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Format Edit Input').item.json.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 90000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "id": "download-original-image",
      "name": "Download Original Image"
    },
    {
      "parameters": {
        "jsCode": "// Prepare original image for Gemini edit\nconst formInput = $('Format Edit Input').item.json;\nconst originalImageItem = $input.item;\n\nconsole.log('==== PREPARE FOR IMAGE EDIT ====');\n\n// Get original image base64\nlet originalImageBase64 = '';\nlet originalMimeType = 'image/png';\n\nif (originalImageItem.binary && Object.keys(originalImageItem.binary).length > 0) {\n  const binaryKey = Object.keys(originalImageItem.binary)[0];\n  const binaryData = originalImageItem.binary[binaryKey];\n  originalMimeType = binaryData.mimeType || 'image/png';\n  \n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n    originalImageBase64 = buffer.toString('base64');\n    console.log('Image base64 length:', originalImageBase64.length);\n  } catch (e) {\n    console.error('Failed to get buffer:', e.message);\n    if (binaryData.data && binaryData.data !== 'filesystem-v2') {\n      originalImageBase64 = binaryData.data;\n    }\n  }\n}\n\nif (!originalImageBase64 || originalImageBase64 === 'filesystem-v2') {\n  throw new Error('Failed to extract original image data');\n}\n\nreturn [{\n  json: {\n    edit_instructions: formInput.edit_instructions,\n    post_id: formInput.post_id,\n    original_image_base64: originalImageBase64,\n    original_mime_type: originalMimeType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "prepare-for-edit",
      "name": "Prepare for Edit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts SET status = 'generating_edit', updated_at = NOW() WHERE id = '{{ $json.post_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        300
      ],
      "id": "status-generating-edit",
      "name": "Status: Generating Edit",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [\n      { text: 'Edit this image with the following instructions: ' + $('Prepare for Edit').item.json.edit_instructions + '. Keep the same 4:5 portrait aspect ratio. Make only the requested changes.' },\n      { inline_data: { mime_type: $('Prepare for Edit').item.json.original_mime_type, data: $('Prepare for Edit').item.json.original_image_base64 } }\n    ]\n  }],\n  generationConfig: {\n    responseModalities: ['IMAGE'],\n    imageConfig: {\n      aspectRatio: '4:5',\n      imageSize: '2K'\n    }\n  }\n}) }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "id": "gemini-edit-image",
      "name": "Gemini Edit Image",
      "credentials": {
        "googlePalmApi": {
          "id": "oF4jKBK0jRbwEPWt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract edited image binary from Gemini response\nconst item = $input.item;\nconst postId = $('Prepare for Edit').item.json.post_id;\n\nconsole.log('==== CHECK EDITED IMAGE ====');\n\n// Check if response has inline_data (Gemini API structure)\nconst parts = item.json?.candidates?.[0]?.content?.parts?.[0];\nconst inlineData = parts?.inline_data || parts?.inlineData;\n\nif (inlineData) {\n  console.log('Found edited image from Gemini');\n  console.log('Data size:', inlineData.data?.length || 0);\n  \n  return [{\n    json: {\n      post_id: postId\n    },\n    binary: {\n      data: {\n        data: inlineData.data,\n        mimeType: inlineData.mime_type || inlineData.mimeType || 'image/png',\n        fileName: 'edited-image.png'\n      }\n    }\n  }];\n}\n\nthrow new Error('Gemini did not return an edited image.');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "id": "extract-edited-image",
      "name": "Extract Edited Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1780,
        300
      ],
      "id": "upload-edited-imgbb",
      "name": "Upload Edited to ImgBB",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zx6X4T7j4yDMYWKo",
          "name": "imgbb-api"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts \nSET image_url = '{{ $json.data.url }}',\n    status = 'completed',\n    updated_at = NOW()\nWHERE id = '{{ $('Extract Edited Image').item.json.post_id }}'\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        300
      ],
      "id": "update-db-edited",
      "name": "Update DB with Edited Image",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Image edited successfully\", \"data\": { \"new_image_url\": $json.image_url, \"post_id\": $json.id } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        300
      ],
      "id": "respond-edit-success",
      "name": "Respond Success"
    }
  ],
  "connections": {
    "Webhook - Image Edit": {
      "main": [
        [
          {
            "node": "Format Edit Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Edit Input": {
      "main": [
        [
          {
            "node": "Status: Editing Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Editing Started": {
      "main": [
        [
          {
            "node": "Download Original Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Original Image": {
      "main": [
        [
          {
            "node": "Prepare for Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Edit": {
      "main": [
        [
          {
            "node": "Status: Generating Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Generating Edit": {
      "main": [
        [
          {
            "node": "Gemini Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Edit Image": {
      "main": [
        [
          {
            "node": "Extract Edited Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Edited Image": {
      "main": [
        [
          {
            "node": "Upload Edited to ImgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Edited to ImgBB": {
      "main": [
        [
          {
            "node": "Update DB with Edited Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB with Edited Image": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}
