linkedin-search-flow.json
{
  "name": "MSI LinkedIn Lead Search (Free - Google CSE)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-linkedin-search",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "msi-linkedin-search",
      "notes": "Receives: {query: 'Find CISOs in healthcare Texas', lead_count: 10}"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// CONFIGURATION - LinkedIn Lead Search\n// =============================================\n// This flow uses Google Custom Search API (FREE - 100 queries/day)\n// NO credit card needed, NO paid APIs\n//\n// SETUP STEPS (one-time, 5 minutes):\n// 1. Go to: https://programmablesearchengine.google.com/\n// 2. Click 'Add' to create a new search engine\n// 3. Name it: 'LinkedIn Profile Search'\n// 4. Under 'Sites to search', add: linkedin.com\n// 5. Click Create → copy the 'Search engine ID' (cx)\n// 6. Go to: https://console.cloud.google.com/apis/credentials\n// 7. Create a project (or use existing one)\n// 8. Enable 'Custom Search API' under APIs & Services → Library\n// 9. Go to Credentials → Create Credentials → API Key\n// 10. Copy the API Key and paste below\n// =============================================\n\nconst input = $input.first().json;\nconst body = input.body || input;\n\nreturn [{\n  json: {\n    chatInput: body.query || 'Find 10 IT decision makers',\n    requestedCount: parseInt(body.lead_count) || 10,\n    // PASTE YOUR VALUES HERE:\n    googleCseKey: 'YOUR_GOOGLE_CSE_API_KEY',\n    googleCseCx: 'YOUR_GOOGLE_CSE_ENGINE_ID'\n  }\n}];"
      },
      "id": "config-input",
      "name": "📋 Config + Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an instruction parser for a LinkedIn lead search system. Parse the user request and extract structured information.\n\nRules:\n1. Platform: Always \"LinkedIn\"\n2. Role Extraction: Extract job titles with variations. Examples:\n   - \"CISO\" → [\"CISO\", \"Chief Information Security Officer\"]\n   - \"CTO\" → [\"CTO\", \"Chief Technology Officer\", \"VP Engineering\"]\n   - \"developer\" → [\"developer\", \"software engineer\", \"programmer\"]\n3. Lead Count: Extract from phrases like \"20 leads\", \"find 50\". Default: 10\n4. Filters: Extract constraints:\n   - Company: \"startup\", \"enterprise\", \"Fortune 500\", \"funded company\"\n   - Experience: \"senior\", \"director level\", \"5+ years\"\n   - Industry: \"fintech\", \"healthcare\", \"SaaS\", \"cybersecurity\"\n   - Size: \"500+ employees\", \"small team\"\n5. Location: Cities, states, countries, or \"remote\"\n6. Keywords: Technical skills, tools, industry terms\n\nOutput ONLY valid JSON. No explanations.\n\nExamples:\nInput: \"Find CISOs at healthcare companies in Texas\"\nOutput: {\"platform\":\"LinkedIn\",\"roles\":[\"CISO\",\"Chief Information Security Officer\"],\"lead_count\":10,\"filters\":[\"healthcare\",\"healthcare industry\"],\"location\":\"Texas\",\"keywords\":[\"CISO\",\"information security\",\"healthcare\",\"cybersecurity\"]}\n\nInput: \"Get me 20 CTOs from cloud companies in New York\"\nOutput: {\"platform\":\"LinkedIn\",\"roles\":[\"CTO\",\"Chief Technology Officer\",\"VP Engineering\"],\"lead_count\":20,\"filters\":[\"cloud computing\",\"technology\",\"SaaS\"],\"location\":\"New York\",\"keywords\":[\"CTO\",\"cloud\",\"technology\",\"SaaS\"]}\n\nInput: \"Search for IT directors at companies with 500+ employees in California\"\nOutput: {\"platform\":\"LinkedIn\",\"roles\":[\"IT Director\",\"Director of IT\",\"VP of Information Technology\"],\"lead_count\":10,\"filters\":[\"500+ employees\",\"enterprise\",\"large organization\"],\"location\":\"California\",\"keywords\":[\"IT director\",\"information technology\",\"enterprise\"]}\n\nUser request:\n{{ $json.chatInput }}",
        "hasOutputParser": true
      },
      "id": "ai-query-parser",
      "name": "🧠 AI Query Parser",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [480, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "openai-model",
      "name": "🤖 GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [440, 520],
      "credentials": {
        "openAiApi": {
          "id": "13Oqly3WdRAzZVXL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"platform\": {\n      \"type\": \"string\",\n      \"enum\": [\"LinkedIn\"]\n    },\n    \"roles\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"}\n    },\n    \"lead_count\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 100\n    },\n    \"filters\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"}\n    },\n    \"location\": {\n      \"type\": \"string\"\n    },\n    \"keywords\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"}\n    }\n  },\n  \"required\": [\"platform\", \"roles\", \"lead_count\", \"filters\", \"location\", \"keywords\"]\n}"
      },
      "id": "json-validator",
      "name": "📋 JSON Validator",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [560, 520]
    },
    {
      "parameters": {
        "jsCode": "// Build Google search query for LinkedIn profiles\nconst input = items[0].json.output || items[0].json;\nconst config = $('📋 Config + Input').first().json;\n\nconst roles = input.roles || [];\nconst leadCount = Math.min(input.lead_count || 10, 10); // Google CSE max 10/call\nconst filters = input.filters || [];\nconst location = input.location || '';\nconst keywords = input.keywords || [];\n\n// Helper: create \"term1\" OR \"term2\" format\nfunction quoted(terms) {\n  return terms.filter(t => t && t.trim())\n    .map(t => '\"' + t.trim() + '\"')\n    .join(' OR ');\n}\n\n// Helper: build location part of query\nfunction locQuery(loc) {\n  if (!loc) return '';\n  const parts = loc.split(/\\s+(?:OR|or)\\s+|,\\s*/)\n    .map(l => l.trim()).filter(Boolean);\n  if (parts.length === 1) return '\"' + parts[0] + '\"';\n  if (parts.length > 1) return '(' + parts.map(l => '\"' + l + '\"').join(' OR ') + ')';\n  return '';\n}\n\n// Build the search query\nlet q = 'site:linkedin.com/in';\nconst parts = [];\nif (roles.length) parts.push(quoted(roles));\nif (location) parts.push(locQuery(location));\nif (filters.length) parts.push(quoted(filters.slice(0, 3)));\nif (keywords.length && !roles.length) parts.push(quoted(keywords.slice(0, 3)));\nif (parts.length) q += ' ' + parts.join(' ');\n\nreturn [{\n  json: {\n    searchQuery: q.trim(),\n    leadCount: leadCount,\n    googleCseKey: config.googleCseKey,\n    googleCseCx: config.googleCseCx,\n    parsedInput: input\n  }\n}];"
      },
      "id": "search-builder",
      "name": "🔍 Search Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.googleCseKey }}"
            },
            {
              "name": "cx",
              "value": "={{ $json.googleCseCx }}"
            },
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "num",
              "value": "={{ $json.leadCount }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "google-search",
      "name": "🌐 Google Search (Free)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [960, 300],
      "onError": "continueRegularOutput",
      "notes": "Google Custom Search API - FREE 100 queries/day"
    },
    {
      "parameters": {
        "jsCode": "// Extract leads from Google Custom Search results\nconst input = $input.first().json;\nconst searchInfo = $('🔍 Search Builder').first().json;\n\n// Handle API errors\nif (input.error) {\n  const msg = input.error.message || input.error.errors?.[0]?.message || 'Google CSE error';\n  return [{json: {\n    hasResults: false,\n    leads: [],\n    sql: '',\n    leadsFound: 0,\n    searchQuery: searchInfo.searchQuery,\n    error: msg\n  }}];\n}\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-z]{2,}/gi;\nconst leads = [];\nconst items_list = input.items || [];\n\nfor (const result of items_list) {\n  const link = result.link || '';\n  // Only keep actual profile URLs\n  if (!link.includes('linkedin.com/in/')) continue;\n\n  const rawTitle = result.title || '';\n  const snippet = result.snippet || '';\n\n  // Clean title: remove '| LinkedIn', '- LinkedIn' suffix\n  const cleanTitle = rawTitle.replace(/\\s*[-–|]\\s*LinkedIn\\s*$/i, '').trim();\n\n  // Split: \"Name - Role - Company\" or \"Name - Role\"\n  const titleParts = cleanTitle.split(/\\s*[-–]\\s*/);\n  const name = (titleParts[0] || '').trim();\n  const role = (titleParts[1] || '').trim();\n  let company = (titleParts[2] || '').trim();\n\n  // Try to get company from pagemap metatags (og:title)\n  if (!company) {\n    const ogTitle = result.pagemap?.metatags?.[0]?.['og:title'] || '';\n    const ogParts = ogTitle.replace(/\\s*[-–|]\\s*LinkedIn\\s*$/i, '').split(/\\s*[-–]\\s*/);\n    if (ogParts.length >= 3) company = ogParts[ogParts.length - 1].trim();\n  }\n\n  // Try to extract email from snippet\n  const emails = snippet.match(emailRegex);\n  const email = (emails && emails.length > 0) ? emails[0].trim() : '';\n\n  // Skip if we already have this URL\n  if (leads.some(l => l.linkedinUrl === link)) continue;\n\n  leads.push({\n    name: name,\n    role: role,\n    company: company,\n    linkedinUrl: link,\n    email: email,\n    snippet: snippet.substring(0, 300),\n    scrapedAt: new Date().toISOString()\n  });\n}\n\n// Build SQL bulk upsert if we have results\nlet sql = '';\nif (leads.length > 0) {\n  const esc = (s) => (s || '').replace(/'/g, \"''\").substring(0, 500);\n  const rows = leads.map(l => {\n    const nameParts = (l.name || '').trim().split(/\\s+/);\n    const firstName = esc(nameParts[0] || '');\n    const lastName = esc(nameParts.slice(1).join(' ') || '');\n    return \"('\" + esc(l.linkedinUrl) + \"', '\" + esc(l.name) + \"', '\" + firstName + \"', '\" + lastName + \"', '\" + esc(l.role) + \"', '\" + esc(l.company) + \"', ARRAY['linkedin-search']::text[], '\" + esc(l.snippet) + \"', NOW(), 40, false)\";\n  }).join(',\\n');\n\n  sql = 'INSERT INTO scraped_profiles (linkedin_url, full_name, first_name, last_name, headline, company, tags, notes, first_seen_at, lead_score, is_potential_lead) VALUES ' + rows + ' ON CONFLICT (linkedin_url) DO UPDATE SET headline = COALESCE(NULLIF(EXCLUDED.headline, \\'\\'), scraped_profiles.headline), company = COALESCE(NULLIF(EXCLUDED.company, \\'\\'), scraped_profiles.company), tags = (SELECT ARRAY(SELECT DISTINCT unnest(COALESCE(scraped_profiles.tags, ARRAY[]::text[]) || EXCLUDED.tags))), notes = COALESCE(NULLIF(EXCLUDED.notes, \\'\\'), scraped_profiles.notes) RETURNING id, linkedin_url, full_name, headline, company;';\n}\n\nreturn [{json: {\n  hasResults: leads.length > 0,\n  leads: leads,\n  sql: sql,\n  leadsFound: leads.length,\n  searchQuery: searchInfo.searchQuery,\n  parsedInput: searchInfo.parsedInput\n}}];"
      },
      "id": "lead-extractor",
      "name": "📊 Extract Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.hasResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-results",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "save-to-db",
      "name": "💾 Save to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1680, 200],
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Format success response\nconst data = $('📊 Extract Leads').first().json;\nconst dbResult = $input.first().json;\n\nreturn [{json: {\n  success: true,\n  leads_found: data.leadsFound,\n  leads: data.leads,\n  search_query: data.searchQuery,\n  parsed_input: data.parsedInput,\n  saved_to_db: true,\n  message: 'Found ' + data.leadsFound + ' LinkedIn profiles. Saved to database.'\n}}];"
      },
      "id": "success-response",
      "name": "✅ Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 200]
    },
    {
      "parameters": {
        "jsCode": "// No results or error response\nconst data = $('📊 Extract Leads').first().json;\n\nreturn [{json: {\n  success: true,\n  leads_found: 0,\n  leads: [],\n  search_query: data.searchQuery || '',\n  parsed_input: data.parsedInput || {},\n  error: data.error || null,\n  message: data.error\n    ? 'Search error: ' + data.error + '. Check Google CSE configuration in the n8n flow.'\n    : 'No LinkedIn profiles found. Try different or broader search terms.'\n}}];"
      },
      "id": "empty-response",
      "name": "📭 No Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 440]
    },
    {
      "parameters": {
        "content": "## 🔍 MSI LinkedIn Lead Search\n\n**Basado en:** \"22. LinkedIn URL Scrape using n8n\" by Lakshit Ukani\n**Adaptado para MSI:** Usa Google Custom Search API (GRATIS, 100 búsquedas/día)\n\n### Cómo funciona:\n1. El usuario escribe en el dashboard: \"Find CISOs in healthcare in Texas\"\n2. GPT-4o-mini parsea la consulta → extrae roles, ubicación, filtros\n3. Se construye query: `site:linkedin.com/in \"CISO\" \"Texas\" \"healthcare\"`\n4. Google Custom Search busca perfiles públicos de LinkedIn\n5. Se extraen: nombre, cargo, empresa, URL de LinkedIn, email (si aparece)\n6. Se guardan en Supabase (tabla scraped_profiles)\n7. Aparecen en el dashboard → se pueden enriquecer via Apollo\n\n### ⚠️ Limitaciones:\n- Máximo 10 resultados por búsqueda (límite de Google CSE)\n- 100 búsquedas gratis al día\n- Solo encuentra perfiles públicos de LinkedIn\n- Datos limitados: nombre, cargo (del título), empresa (a veces)\n- NO incluye email (rara vez aparece en snippets de Google)\n- Para obtener email → usar 'Enrich & Add to Apollo'\n\n### 🔧 Setup:\nEdita el nodo '📋 Config + Input' con tu API Key y Search Engine ID de Google CSE.",
        "height": 540,
        "width": 700,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-100, -300],
      "id": "sticky-info",
      "name": "Sticky Note - Info"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "📋 Config + Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Config + Input": {
      "main": [
        [
          {
            "node": "🧠 AI Query Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 AI Query Parser": {
      "main": [
        [
          {
            "node": "🔍 Search Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 AI Query Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "📋 JSON Validator": {
      "ai_outputParser": [
        [
          {
            "node": "🧠 AI Query Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Search Builder": {
      "main": [
        [
          {
            "node": "🌐 Google Search (Free)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Google Search (Free)": {
      "main": [
        [
          {
            "node": "📊 Extract Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Extract Leads": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "💾 Save to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📭 No Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save to Supabase": {
      "main": [
        [
          {
            "node": "✅ Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "msi-linkedin-search-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "msi-technologies"
  },
  "tags": []
}
