Outbound Email Qualifier - Supabase.json
{
  "name": "MSI Outbound Email Qualifier - Apollo Direct",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-outbound-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-360, 0],
      "id": "webhook-email-001",
      "name": "Webhook Trigger",
      "webhookId": "msi-outbound-email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM {{ $json.body.source_table || 'apollo_leads' }} WHERE id = {{ $json.body.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-160, 0],
      "id": "read-lead-001",
      "name": "Read Lead from Supabase",
      "credentials": {
        "postgres": {
          "id": "YOUR_SUPABASE_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Map lead data and read pre-generated personalized message from DB\nconst items = $input.all();\nconst webhookBody = $('Webhook Trigger').item.json.body || {};\n\n// Single sequence — message comes pre-generated in DB column 'personalized_message'\nconst SEQUENCE_ID = webhookBody.sequence_id || '69ab30527082df0019ff9a64';\n\nreturn items.map(item => {\n  const d = item.json;\n  \n  const employees = parseInt(d.num_employees) || 0;\n  let companySize = '';\n  if (employees > 1000) companySize = 'enterprise';\n  else if (employees > 200) companySize = 'mid-market';\n  else if (employees > 50) companySize = 'growing';\n  else companySize = 'emerging';\n  \n  return {\n    json: {\n      lead_id: d.id,\n      first_name: d.first_name || '',\n      last_name: d.last_name || '',\n      full_name: `${d.first_name || ''} ${d.last_name || ''}`.trim(),\n      title: d.title || '',\n      company_name: d.company_name || '',\n      email: d.email || '',\n      email_status: d.email_status || '',\n      industry: d.industry || '',\n      sector: webhookBody.sector || d.sector || '',\n      company_description: d.company_description || webhookBody.company_description || '',\n      personalized_message: d.personalized_message || webhookBody.personalized_message || '',\n      num_employees: d.num_employees || '',\n      seniority: d.seniority || '',\n      city: d.city || '',\n      state: d.state || '',\n      country: d.country || '',\n      person_linkedin_url: d.person_linkedin_url || '',\n      website: d.website || '',\n      company_size_category: companySize,\n      apollo_contact_id: d.apollo_contact_id || '',\n      sequence_id: SEQUENCE_ID,\n      email_attempts: (d.email_attempts || 0) + 1,\n      source_table: webhookBody.source_table || 'apollo_leads'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [40, 0],
      "id": "enrich-lead-001",
      "name": "Map Lead Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "email-check-001",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [240, 0],
      "id": "check-email-001",
      "name": "Has Email?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE {{ $json.source_table || 'apollo_leads' }} SET email_outreach_status = 'no_email', updated_at = NOW() WHERE id = {{ $json.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, -200],
      "id": "log-no-email-001",
      "name": "Log No Email",
      "credentials": {
        "postgres": {
          "id": "YOUR_SUPABASE_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"lead_id\": {{ $json.lead_id }},\n  \"status\": \"no_email\",\n  \"message\": \"Lead has no email address\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, -200],
      "id": "respond-no-email-001",
      "name": "Respond No Email"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/match",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $('Webhook Trigger').item.json.body.apollo_api_key || 'YOUR_APOLLO_MASTER_API_KEY' }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"organization_name\": \"{{ $json.company_name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [460, 100],
      "id": "search-apollo-001",
      "name": "Match Person in Apollo"
    },
    {
      "parameters": {
        "jsCode": "// Check if contact already exists in Apollo (people/match returns person directly)\nconst matchResult = $input.first().json;\nconst leadData = $('Map Lead Data').item.json;\n\nlet apolloContactId = leadData.apollo_contact_id;\nlet contactExists = false;\n\n// people/match returns { person: {...} } or { person: null }\nif (matchResult.person && matchResult.person.id) {\n  apolloContactId = matchResult.person.id;\n  contactExists = true;\n} else if (matchResult.contacts && matchResult.contacts.length > 0) {\n  // Fallback for contacts/search response format\n  apolloContactId = matchResult.contacts[0].id;\n  contactExists = true;\n}\n\nreturn [{\n  json: {\n    ...leadData,\n    apollo_contact_id: apolloContactId,\n    contact_exists: contactExists\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100],
      "id": "check-contact-001",
      "name": "Check Apollo Contact"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "exists-check-001",
              "leftValue": "={{ $json.contact_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [860, 100],
      "id": "contact-exists-001",
      "name": "Contact in Apollo?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/contacts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $('Webhook Trigger').item.json.body.apollo_api_key || 'YOUR_APOLLO_MASTER_API_KEY' }}\",\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"organization_name\": \"{{ $json.company_name }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"website_url\": \"{{ $json.website }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1060, 0],
      "id": "create-contact-001",
      "name": "Create Contact in Apollo"
    },
    {
      "parameters": {
        "jsCode": "// Extract the new contact ID\nconst created = $input.first().json;\nconst prevData = $('Check Apollo Contact').item.json;\n\nreturn [{\n  json: {\n    ...prevData,\n    apollo_contact_id: created.contact?.id || created.id || prevData.apollo_contact_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 0],
      "id": "get-contact-id-001",
      "name": "Get New Contact ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apollo.io/api/v1/emailer_campaigns/{{ $json.sequence_id }}/add_contact_ids",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $('Webhook Trigger').item.json.body.apollo_api_key || 'YOUR_APOLLO_MASTER_API_KEY' }}\",\n  \"contact_ids\": [\"{{ $json.apollo_contact_id }}\"],\n  \"emailer_campaign_id\": \"{{ $json.sequence_id }}\",\n  \"send_email_from_email_account_id\": \"{{ $('Webhook Trigger').item.json.body.email_account_id || '69811149b1906a001958f14e' }}\",\n  \"sequence_no_email\": false,\n  \"sequence_active_in_other_campaigns\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1460, 100],
      "id": "add-to-sequence-001",
      "name": "Add to Apollo Sequence"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE {{ $json.source_table || 'apollo_leads' }} SET \n  email_outreach_status = 'sequence_active',\n  apollo_sequence_status = 'active',\n  apollo_sequence_id = '{{ $json.sequence_id }}',\n  apollo_sequence_added_at = NOW(),\n  apollo_contact_id = '{{ $json.apollo_contact_id }}',\n  email_suggested_service = '{{ $json.sector }}',\n  company_description = '{{ ($json.company_description || '').replace(/'/g, \"''\") }}',\n  personalized_message = '{{ ($json.personalized_message || '').replace(/'/g, \"''\") }}',\n  email_attempts = {{ $json.email_attempts }},\n  email_outreach_date = NOW(),\n  updated_at = NOW()\nWHERE id = {{ $json.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1660, 100],
      "id": "log-sequence-001",
      "name": "Log to Supabase",
      "credentials": {
        "postgres": {
          "id": "YOUR_SUPABASE_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO email_outreach_log (lead_id, to_email, to_name, company, service, subject, body, status, source_table)\nVALUES (\n  {{ $json.lead_id }},\n  '{{ $json.email }}',\n  '{{ $json.full_name }}',\n  '{{ $json.company_name }}',\n  '{{ $json.sector }}',\n  'Apollo Sequence',\n  '{{ ($json.personalized_message || $json.company_description || 'Added to Apollo sequence').replace(/'/g, \"''\") }}',\n  'sequence_active',\n  '{{ $json.source_table || 'apollo_leads' }}'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1660, 300],
      "id": "insert-log-001",
      "name": "Insert Outreach Log",
      "credentials": {
        "postgres": {
          "id": "YOUR_SUPABASE_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"lead_id\": {{ $json.lead_id }},\n  \"status\": \"sequence_active\",\n  \"apollo_contact_id\": \"{{ $json.apollo_contact_id }}\",\n  \"message\": \"Lead added to Apollo sequence\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1860, 100],
      "id": "respond-success-001",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "content": "# 📧 MSI Outbound — 1 Sequence\n\n**Mensaje pre-generado en DB (personalized_message)**\n\n### Flujo:\n1. Webhook recibe lead_id + source_table\n2. Lee lead + personalized_message de Supabase\n3. people/match busca en Apollo (1 crédito)\n4. Si no existe → contacts/create (1 crédito)\n5. Añade a la sequence única\n6. Guarda estado en Supabase\n\n### Sequence: Nataly's Outbound AI Sequence 1\n### Envía desde: nataly.riano@msitechnologiesinc.com",
        "height": 500,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-900, -400],
      "id": "sticky-guide-001",
      "name": "Guide"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Lead from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Lead from Supabase": {
      "main": [
        [
          {
            "node": "Map Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Lead Data": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Log No Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Match Person in Apollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log No Email": {
      "main": [
        [
          {
            "node": "Respond No Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Person in Apollo": {
      "main": [
        [
          {
            "node": "Check Apollo Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Apollo Contact": {
      "main": [
        [
          {
            "node": "Contact in Apollo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact in Apollo?": {
      "main": [
        [
          {
            "node": "Create Contact in Apollo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Apollo Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact in Apollo": {
      "main": [
        [
          {
            "node": "Get New Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Contact ID": {
      "main": [
        [
          {
            "node": "Add to Apollo Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Apollo Sequence": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Outreach Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Supabase": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "msi-outbound-email-v2-apollo-direct",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39"
  },
  "id": "MSI-Outbound-Email-Apollo-Direct",
  "tags": []
}