quick-image-edit-flow.json
{
    "name": "MSI Quick Image Edit Flow",
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "manual-trigger",
            "name": "On Click"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "image_url",
                            "value": "https://i.ibb.co/example/image.png"
                        },
                        {
                            "name": "edit_prompt",
                            "value": "Make it cyberpunk style"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                220,
                0
            ],
            "id": "configure-inputs",
            "name": "Configure Inputs"
        },
        {
            "parameters": {
                "url": "={{ $json.image_url }}",
                "authentication": "none",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                440,
                0
            ],
            "id": "download-image",
            "name": "Download Image"
        },
        {
            "parameters": {
                "jsCode": "// Prepare Input for Gemini - use getBinaryDataBuffer to get real base64\nconst binaryData = $input.item.binary;\nconst prompt = $('Configure Inputs').item.json.edit_prompt;\n\nconst fileKey = Object.keys(binaryData || {})[0];\nif (!fileKey) {\n  throw new Error('Failed to download image. No binary data found.');\n}\n\nconst imageFile = binaryData[fileKey];\nconst mimeType = imageFile.mimeType || 'image/png';\n\n// Use getBinaryDataBuffer to get real base64 (avoids filesystem-v2 issue)\nlet imageBase64 = '';\ntry {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, fileKey);\n  imageBase64 = buffer.toString('base64');\n} catch (e) {\n  if (imageFile.data && imageFile.data !== 'filesystem-v2') {\n    imageBase64 = imageFile.data;\n  } else {\n    throw new Error('Failed to extract image data: ' + e.message);\n  }\n}\n\nif (!imageBase64) {\n  throw new Error('Image base64 is empty after extraction.');\n}\n\nreturn [{\n  json: {\n    prompt: prompt,\n    mimeType: mimeType,\n    data: imageBase64\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                0
            ],
            "id": "prepare-input",
            "name": "Prepare Gemini Input"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googlePalmApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      { \"text\": \"{{ $json.prompt }}\" },\n      { \"inlineData\": {\n          \"mimeType\": \"{{ $json.mimeType }}\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }],\n  \"generationConfig\": {\n    \"responseModalities\": [\"IMAGE\"]\n  }\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                880,
                0
            ],
            "id": "gemini-api",
            "name": "Gemini Image Edit",
            "credentials": {
                "googlePalmApi": {
                    "id": "oF4jKBK0jRbwEPWt",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract Generated Image\nconst response = $input.item.json;\nconst candidates = response.candidates || [];\n\nlet imageData = null;\nlet mimeType = 'image/png';\n\nfor (const candidate of candidates) {\n  const parts = candidate?.content?.parts || [];\n  for (const part of parts) {\n    if (part.inlineData && part.inlineData.data) {\n      imageData = part.inlineData.data;\n      mimeType = part.inlineData.mimeType || 'image/png';\n      break;\n    }\n  }\n  if (imageData) break;\n}\n\nif (!imageData) {\n  throw new Error('No image generated by Gemini. ' + JSON.stringify(response));\n}\n\nreturn [{\n  json: { success: true },\n  binary: {\n    data: {\n        data: imageData,\n        mimeType: mimeType,\n        fileName: 'edited_image.png'\n    }\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                0
            ],
            "id": "extract-image",
            "name": "Extract Image"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.imgbb.com/1/upload",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
                        },
                        {
                            "parameterType": "formBinaryData",
                            "name": "image",
                            "inputDataFieldName": "data"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1320,
                0
            ],
            "id": "upload-imgbb",
            "name": "Upload to ImgBB",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "zx6X4T7j4yDMYWKo",
                    "name": "imgbb-api"
                }
            }
        }
    ],
    "connections": {
        "On Click": {
            "main": [
                [
                    {
                        "node": "Configure Inputs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Configure Inputs": {
            "main": [
                [
                    {
                        "node": "Download Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Image": {
            "main": [
                [
                    {
                        "node": "Prepare Gemini Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Gemini Input": {
            "main": [
                [
                    {
                        "node": "Gemini Image Edit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Image Edit": {
            "main": [
                [
                    {
                        "node": "Extract Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Image": {
            "main": [
                [
                    {
                        "node": "Upload to ImgBB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}