slide-image-gen-flow.json
{
    "name": "MSI Slide Image Gen v2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "msi-slide-gen",
                "responseMode": "onReceived",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "webhook-slide-gen",
            "name": "Webhook - Slide Gen",
            "webhookId": "msi-slide-gen-webhook"
        },
        {
            "parameters": {
                "url": "https://i.ibb.co/S7mKXdxr/MSI-Technologies-Icon.png",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                0
            ],
            "id": "download-logo",
            "name": "Download MSI Logo"
        },
        {
            "parameters": {
                "jsCode": "// Prepare Gemini Input - Build complete slide image prompt\nconst inputData = $('Webhook - Slide Gen').item.json;\nconst input = inputData.body || inputData;\nconst logoItem = $('Download MSI Logo').item;\n\n// Get logo base64\nlet logoBase64 = '';\nif (logoItem.binary && Object.keys(logoItem.binary).length > 0) {\n  const binaryKey = Object.keys(logoItem.binary)[0];\n  const binaryData = logoItem.binary[binaryKey];\n  \n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n    logoBase64 = buffer.toString('base64');\n  } catch (e) {\n     if (binaryData.data && binaryData.data !== 'filesystem-v2') {\n         logoBase64 = binaryData.data;\n     }\n  }\n}\n\n// Extract all slide content fields\nconst slideNumber = parseInt(input.slide_number) || 1;\nconst headline = input.headline || '';\nconst subtext = input.subtext || '';\nconst bodyText = input.body_text || '';\nconst topic = input.topic || 'Technology';\n\n// Extract source from visual_style JSON - CRITICAL: source is stored here\nlet source = '';\ntry {\n  if (input.visual_style) {\n    const vs = typeof input.visual_style === 'string' ? JSON.parse(input.visual_style) : input.visual_style;\n    source = vs.source || '';\n  }\n} catch (e) {\n  source = '';\n}\n// Fallback - if source is empty or just whitespace, use default\nif (!source || source.trim() === '') {\n  source = 'Industry Report';\n}\n\n// Generate dynamic tagline for Slide 1 based on topic\nconst topicLower = topic.toLowerCase();\nlet topicTagline = 'Our Latest Tech News';\nif (topicLower.includes('ai') || topicLower.includes('artificial intelligence') || topicLower.includes('machine learning')) {\n  topicTagline = 'Our Latest AI News';\n} else if (topicLower.includes('security') || topicLower.includes('cyber')) {\n  topicTagline = 'Our Latest Security News';\n} else if (topicLower.includes('cloud')) {\n  topicTagline = 'Our Latest Cloud News';\n} else if (topicLower.includes('data')) {\n  topicTagline = 'Our Latest Data News';\n} else if (topicLower.includes('digital') || topicLower.includes('transformation')) {\n  topicTagline = 'Our Latest Digital News';\n} else if (topicLower.includes('bpo') || topicLower.includes('outsourcing')) {\n  topicTagline = 'Our Latest Business News';\n} else if (topicLower.includes('blockchain') || topicLower.includes('crypto')) {\n  topicTagline = 'Our Latest Blockchain News';\n} else if (topicLower.includes('automation') || topicLower.includes('rpa')) {\n  topicTagline = 'Our Latest Automation News';\n}\n\n// Determine background color: Slides 1,3,5 = BLUE / Slides 2,4 = WHITE\nconst isBlueSlide = (slideNumber === 1 || slideNumber === 3 || slideNumber === 5);\n\n// Pagination for content slides (2,3,4): shows slide number directly\nconst paginationNumber = slideNumber; // Slide 2 = \"2\", Slide 3 = \"3\", Slide 4 = \"4\"\n\n// Build the COMPLETE image generation prompt based on slide type\nlet fullPrompt = '';\n\nif (slideNumber === 1) {\n  // COVER SLIDE - Photo with blue gradient + blue text area\n  fullPrompt = `Create a 4:5 Instagram carousel SLIDE 1 for MSI Technologies.\n\nLOGO: Use the attached MSI logo in TOP-LEFT corner, small size. Do not modify it.\n\nLAYOUT:\n- Top 60%: Professional photo of modern tech office with screens, apply BLUE GRADIENT overlay fading to bottom\n- Bottom 40%: Solid MSI Blue #207CE5\n\nTEXT (on blue section, left-aligned, white color):\n- Large title: \"${headline}\"\n- Smaller tagline below: \"${topicTagline}\"\n- Bottom-left: \"Swipe >>>\"\n\nSTYLE: Clean, minimal, professional. No decorative elements.`;\n\n} else if (slideNumber === 5) {\n  // CTA SLIDE - NO photo, solid blue background only\n  fullPrompt = `Create a 4:5 Instagram carousel SLIDE 5 - CTA for MSI Technologies.\n\nLOGO: Use the attached MSI logo in TOP-LEFT corner, small size, white version. Do not modify it.\n\nLAYOUT:\n- ENTIRE SLIDE: Solid MSI Blue #207CE5 background\n- NO photo, NO image - just solid blue color\n- Centered content\n\nTEXT (centered, white):\n- Main CTA title: \"${headline}\"\n- Below: \"${bodyText}\"\n\nCONTACT INFO (bottom center, with icons):\n- Envelope icon + \"contact@msitechnologiesinc.com\"\n- Globe icon + \"msitechnologiesinc.com\"\n\n- Bottom-right: \"5/5\"\n- Bottom-left: \"Follow Us\"\n\nSTYLE: Clean, minimal, professional. Icons should be simple white line icons.`;\n\n} else if (slideNumber === 2 || slideNumber === 4) {\n  // CONTENT SLIDES 2, 4 - WHITE background for text area\n  fullPrompt = `Create a 4:5 Instagram carousel SLIDE ${slideNumber} for MSI Technologies.\n\nLOGO: Use the attached MSI logo in TOP-LEFT corner, small size, blue version. Do not modify it.\n\nLAYOUT:\n- Top 55%: Professional photo related to \"${headline}\", apply subtle BLUE GRADIENT overlay at bottom of photo\n- Bottom 45%: Clean WHITE background\n\nTEXT (on white section, left-aligned):\n- Headline (blue #207CE5): \"${headline}\"\n- Body text (dark gray): \"${bodyText}\"\n- Source (small, gray): \"Source: ${source}\"\n\n- Bottom-right: \"${paginationNumber}/5\"\n- Bottom-left: \">>>\"\n\nSTYLE: Clean, minimal, professional. No decorative elements.`;\n\n} else {\n  // CONTENT SLIDE 3 - BLUE background for text area\n  fullPrompt = `Create a 4:5 Instagram carousel SLIDE ${slideNumber} for MSI Technologies.\n\nLOGO: Use the attached MSI logo in TOP-LEFT corner, small size, white version. Do not modify it.\n\nLAYOUT:\n- Top 55%: Professional photo related to \"${headline}\", apply BLUE GRADIENT overlay at bottom of photo blending into blue section\n- Bottom 45%: Solid MSI Blue #207CE5\n\nTEXT (on blue section, left-aligned, white/cream):\n- Headline (white): \"${headline}\"\n- Body text (cream): \"${bodyText}\"\n- Source (light cream, small): \"Source: ${source}\"\n\n- Bottom-right: \"${paginationNumber}/5\"\n- Bottom-left: \">>>\"\n\nSTYLE: Clean, minimal, professional. No decorative elements.`;\n}\n\nreturn [{\n  json: {\n    image_prompt: fullPrompt,\n    slide_id: input.slide_id,\n    carousel_id: input.carousel_id,\n    slide_number: slideNumber,\n    headline: headline,\n    subtext: subtext,\n    body_text: bodyText,\n    source: source,\n    topic: topic,\n    topic_tagline: topicTagline,\n    is_blue_slide: isBlueSlide,\n    logo_base64: logoBase64\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                0
            ],
            "id": "prepare-gemini",
            "name": "Prepare Gemini Input"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googlePalmApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [\n      { text: $json.image_prompt },\n      { inline_data: { mime_type: 'image/png', data: $json.logo_base64 } }\n    ]\n  }],\n  generationConfig: {\n    responseModalities: ['TEXT', 'IMAGE']\n  }\n}) }}",
                "options": {
                    "response": {
                        "response": {}
                    },
                    "timeout": 120000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                0
            ],
            "id": "generate-image",
            "name": "Generate Image",
            "credentials": {
                "googlePalmApi": {
                    "id": "oF4jKBK0jRbwEPWt",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract image binary from Gemini response\nconst item = $input.item;\nconst preparedData = $('Prepare Gemini Input').item.json;\nconst candidates = item.json?.candidates || [];\n\nlet imageData = null;\nlet mimeType = 'image/png';\n\n// Search through all parts for image data\nfor (const candidate of candidates) {\n  const parts = candidate?.content?.parts || [];\n  for (const part of parts) {\n    const inlineData = part?.inline_data || part?.inlineData;\n    if (inlineData && inlineData.data) {\n      imageData = inlineData.data;\n      mimeType = inlineData.mime_type || inlineData.mimeType || 'image/png';\n      break;\n    }\n  }\n  if (imageData) break;\n}\n\nif (imageData) {\n  return [{\n    json: {\n      slide_id: preparedData.slide_id,\n      carousel_id: preparedData.carousel_id,\n      slide_number: preparedData.slide_number\n    },\n    binary: {\n      data: {\n        data: imageData,\n        mimeType: mimeType,\n        fileName: `slide_${preparedData.slide_number}.png`\n      }\n    }\n  }];\n}\n\nthrow new Error('No image generated. Response: ' + JSON.stringify(item.json).substring(0, 500));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                0
            ],
            "id": "extract-binary",
            "name": "Extract Binary"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.imgbb.com/1/upload",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
                        },
                        {
                            "parameterType": "formBinaryData",
                            "name": "image",
                            "inputDataFieldName": "=data"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1100,
                0
            ],
            "id": "upload-imgbb",
            "name": "Upload to ImgBB",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "zx6X4T7j4yDMYWKo",
                    "name": "imgbb-api"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE carousel_slides \nSET image_url = '{{ $json.data.url }}', \n    updated_at = NOW()\nWHERE id = '{{ $('Extract Binary').item.json.slide_id }}'\nRETURNING *",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1320,
                0
            ],
            "id": "update-slide-db",
            "name": "Update Slide DB",
            "credentials": {
                "postgres": {
                    "id": "WnTYs2zvPoE7hDJE",
                    "name": "Postgres account"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Slide Gen": {
            "main": [
                [
                    {
                        "node": "Download MSI Logo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download MSI Logo": {
            "main": [
                [
                    {
                        "node": "Prepare Gemini Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Gemini Input": {
            "main": [
                [
                    {
                        "node": "Generate Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Image": {
            "main": [
                [
                    {
                        "node": "Extract Binary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Binary": {
            "main": [
                [
                    {
                        "node": "Upload to ImgBB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to ImgBB": {
            "main": [
                [
                    {
                        "node": "Update Slide DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    }
}