slide-image-gen-flow.json
{
    "name": "MSI Slide Image Gen v2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "msi-slide-gen",
                "responseMode": "onReceived",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "webhook-slide-gen",
            "name": "Webhook - Slide Gen",
            "webhookId": "msi-slide-gen-webhook"
        },
        {
            "parameters": {
                "url": "https://i.ibb.co/S7mKXdxr/MSI-Technologies-Icon.png",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                0
            ],
            "id": "download-logo",
            "name": "Download MSI Logo"
        },
        {
            "parameters": {
                "jsCode": "// Prepare Gemini Input - Build complete slide image prompt\nconst inputData = $('Webhook - Slide Gen').item.json;\nconst input = inputData.body || inputData;\nconst logoItem = $('Download MSI Logo').item;\n\n// Get logo base64\nlet logoBase64 = '';\nif (logoItem.binary && Object.keys(logoItem.binary).length > 0) {\n  const binaryKey = Object.keys(logoItem.binary)[0];\n  const binaryData = logoItem.binary[binaryKey];\n  \n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n    logoBase64 = buffer.toString('base64');\n  } catch (e) {\n     if (binaryData.data && binaryData.data !== 'filesystem-v2') {\n         logoBase64 = binaryData.data;\n     }\n  }\n}\n\n// Extract all slide content fields\nconst slideNumber = parseInt(input.slide_number) || 1;\nconst headline = input.headline || '';\nconst subtext = input.subtext || '';\nconst bodyText = input.body_text || '';\nconst topic = input.topic || 'Technology';\n\n// Extract source from visual_style (stored as JSON string)\nlet source = '';\ntry {\n  if (input.visual_style) {\n    const vs = typeof input.visual_style === 'string' ? JSON.parse(input.visual_style) : input.visual_style;\n    source = vs.source || '';\n  }\n} catch (e) {\n  source = '';\n}\n\n// Generate dynamic header based on topic\nconst topicLower = topic.toLowerCase();\nlet dynamicHeader = 'Latest in Tech';\nif (topicLower.includes('ai') || topicLower.includes('artificial intelligence') || topicLower.includes('machine learning')) {\n  dynamicHeader = 'AI & Machine Learning';\n} else if (topicLower.includes('security') || topicLower.includes('cyber')) {\n  dynamicHeader = 'Security Updates';\n} else if (topicLower.includes('cloud')) {\n  dynamicHeader = 'Cloud Computing';\n} else if (topicLower.includes('data')) {\n  dynamicHeader = 'Data & Analytics';\n} else if (topicLower.includes('digital') || topicLower.includes('transformation')) {\n  dynamicHeader = 'Digital Innovation';\n} else if (topicLower.includes('bpo') || topicLower.includes('outsourcing')) {\n  dynamicHeader = 'Business Solutions';\n} else if (topicLower.includes('blockchain') || topicLower.includes('crypto')) {\n  dynamicHeader = 'Blockchain & Web3';\n} else if (topicLower.includes('automation') || topicLower.includes('rpa')) {\n  dynamicHeader = 'Automation & RPA';\n}\n\n// Build the COMPLETE image generation prompt based on slide type\nlet fullPrompt = '';\n\nif (slideNumber === 1) {\n  // COVER SLIDE - Simple, clean, NO news preview, NO bullet points\n  fullPrompt = `Create a professional Instagram carousel COVER slide (4:5 aspect ratio, 1080x1350 pixels) for MSI Technologies.\n\nDESIGN SPECIFICATIONS:\n- Background: Clean WHITE (#FFFFFF) - NO cream or off-white\n- Top: MSI Technologies header bar in blue (#207CE5) with MSI logo only\n- Center area: KEEP IT SIMPLE - subtle abstract gradient or minimal geometric shapes in light blue/gray tones\n- NO PAGINATION (no 1/5)\n- IMPORTANT: Do NOT include any bullet points, news preview, topic list, or content summary\n\nTEXT CONTENT (ONLY THIS):\n- Main Headline (large, bold, centered): \\\"${headline}\\\"\n- Headline color: Dark (#2B2B2B)\n- NO other text, NO news items, NO bullet points\n\nBRANDING:\n- MSI Logo in header bar\n- Swipe indicator: Arrow pointing RIGHT + \\\"Swipe\\\" text on the RIGHT side of slide\n\nSTYLE: Ultra-clean, minimalist. Just headline + branding. Nothing else.`;\n\n} else if (slideNumber === 5) {\n  // CTA SLIDE - No pagination, contact icons, CTA in headline only\n  fullPrompt = `Create a professional Instagram carousel CTA slide (4:5 aspect ratio, 1080x1350 pixels) for MSI Technologies.\n\nDESIGN:\n- Background: Clean WHITE (#FFFFFF)\n- Top: MSI Technologies header bar in blue (#207CE5)\n- NO PAGINATION (no 5/5)\n\nTEXT CONTENT:\n- CTA Headline (large, bold, centered): \\\"${headline}\\\"\n- NO body text below headline\n\nCONTACT SECTION (bottom, with icons):\n- Envelope icon + \\\"contact@msitechnologiesinc.com\\\"\n- Globe icon + \\\"msitechnologiesinc.com\\\"\n- Icons in MSI Blue (#207CE5)\n\nBRANDING:\n- MSI Logo: Large, prominent\n\nSTYLE: Clean, professional CTA design.`;\n\n} else {\n  // CONTENT SLIDES 2-4\n  fullPrompt = `Create a professional Instagram carousel CONTENT slide (4:5 aspect ratio, 1080x1350 pixels) for MSI Technologies.\n\nDESIGN:\n- Background: Clean WHITE (#FFFFFF)\n- Top: MSI Technologies header bar in blue (#207CE5) with text \\\"${dynamicHeader}\\\" in white\n- Layout: 55% top (visual), 45% bottom (text)\n- PAGINATION: \\\"${slideNumber}/5\\\" in top right corner (small, regular weight)\n\nVISUAL AREA (top 55%):\n- Professional imagery related to: ${headline}\n- Subtle, supports the text\n\nTEXT AREA (bottom 45%):\n- Headline: \\\"${headline}\\\" (bold, MSI Blue #207CE5)\n- Body: \\\"${bodyText}\\\" (regular, dark gray #2B2B2B, max 3 lines)\n- Source: \\\"Source: ${source}\\\" (small, gray #888888)\n\nBRANDING:\n- MSI Logo: Bottom right, small\n\nSTYLE: Clean, professional news design.`;\n}\n\nreturn [{\n  json: {\n    image_prompt: fullPrompt,\n    slide_id: input.slide_id,\n    carousel_id: input.carousel_id,\n    slide_number: slideNumber,\n    headline: headline,\n    subtext: subtext,\n    body_text: bodyText,\n    source: source,\n    topic: topic,\n    dynamic_header: dynamicHeader,\n    logo_base64: logoBase64\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                0
            ],
            "id": "prepare-gemini",
            "name": "Prepare Gemini Input"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googlePalmApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [\n      { text: $json.image_prompt },\n      { inline_data: { mime_type: 'image/png', data: $json.logo_base64 } }\n    ]\n  }],\n  generationConfig: {\n    responseModalities: ['TEXT', 'IMAGE']\n  }\n}) }}",
                "options": {
                    "response": {
                        "response": {}
                    },
                    "timeout": 120000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                0
            ],
            "id": "generate-image",
            "name": "Generate Image",
            "credentials": {
                "googlePalmApi": {
                    "id": "oF4jKBK0jRbwEPWt",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract image binary from Gemini response\nconst item = $input.item;\nconst preparedData = $('Prepare Gemini Input').item.json;\nconst candidates = item.json?.candidates || [];\n\nlet imageData = null;\nlet mimeType = 'image/png';\n\n// Search through all parts for image data\nfor (const candidate of candidates) {\n  const parts = candidate?.content?.parts || [];\n  for (const part of parts) {\n    const inlineData = part?.inline_data || part?.inlineData;\n    if (inlineData && inlineData.data) {\n      imageData = inlineData.data;\n      mimeType = inlineData.mime_type || inlineData.mimeType || 'image/png';\n      break;\n    }\n  }\n  if (imageData) break;\n}\n\nif (imageData) {\n  return [{\n    json: {\n      slide_id: preparedData.slide_id,\n      carousel_id: preparedData.carousel_id,\n      slide_number: preparedData.slide_number\n    },\n    binary: {\n      data: {\n        data: imageData,\n        mimeType: mimeType,\n        fileName: `slide_${preparedData.slide_number}.png`\n      }\n    }\n  }];\n}\n\nthrow new Error('No image generated. Response: ' + JSON.stringify(item.json).substring(0, 500));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                0
            ],
            "id": "extract-binary",
            "name": "Extract Binary"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.imgbb.com/1/upload",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "d5e3ee3c8c2fa1a29f6d6dc3c2c79447"
                        },
                        {
                            "parameterType": "formBinaryData",
                            "name": "image",
                            "inputDataFieldName": "=data"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1100,
                0
            ],
            "id": "upload-imgbb",
            "name": "Upload to ImgBB",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "zx6X4T7j4yDMYWKo",
                    "name": "imgbb-api"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE carousel_slides \nSET image_url = '{{ $json.data.url }}', \n    updated_at = NOW()\nWHERE id = '{{ $('Extract Binary').item.json.slide_id }}'\nRETURNING *",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1320,
                0
            ],
            "id": "update-slide-db",
            "name": "Update Slide DB",
            "credentials": {
                "postgres": {
                    "id": "WnTYs2zvPoE7hDJE",
                    "name": "Postgres account"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Slide Gen": {
            "main": [
                [
                    {
                        "node": "Download MSI Logo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download MSI Logo": {
            "main": [
                [
                    {
                        "node": "Prepare Gemini Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Gemini Input": {
            "main": [
                [
                    {
                        "node": "Generate Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Image": {
            "main": [
                [
                    {
                        "node": "Extract Binary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Binary": {
            "main": [
                [
                    {
                        "node": "Upload to ImgBB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to ImgBB": {
            "main": [
                [
                    {
                        "node": "Update Slide DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    }
}