trends-content-flow.json
{
  "name": "Trends Content Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Ejecuta cada 6 horas"
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 100],
      "notes": "Para pruebas manuales"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-trends-content",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 500],
      "webhookId": "msi-trends-content",
      "notes": "Para ejecutar desde la web"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// WORKFLOW CONFIGURATION - MSI TECHNOLOGIES\n// ========================================\n\nreturn [{\n  json: {\n    brandName: \"MSI Technologies\",\n    brandDescription: \"MSI Technologies helps businesses modernize infrastructure, implement cloud solutions, cybersecurity, digital transformation, and innovative technology. Target: CTOs, IT Directors, tech decision-makers.\",\n    \n    searchQueries: [\n      \"Enterprise Cloud Computing\",\n      \"Cybersecurity Threats 2026\",\n      \"AI Machine Learning Business\",\n      \"IT Infrastructure Modernization\",\n      \"Digital Transformation Technology\",\n      \"DevOps Automation Enterprise\",\n      \"Zero Trust Security Architecture\",\n      \"Data Center Cloud Migration\",\n      \"Enterprise Software Development\",\n      \"Business Technology Innovation\"\n    ],\n    \n    googleTrendsRegion: \"US\",\n    newsLanguage: \"en\",\n    newsCountry: \"us\",\n    maxTrends: 5,\n    maxNews: 5,\n    \n    visualStyles: [\"Glassmorphism\", \"Modern 3D\", \"Isometric\", \"Data Hero\", \"Infographic\", \"Realistic Photography\"],\n    postTypes: [\"Educational\", \"Industry News\", \"Tips & Tricks\", \"Thought Leadership\"],\n    \n    // Webhook URL for content generation (update with your n8n URL)\n    contentWebhookUrl: \"https://your-n8n-instance.com/webhook/70738d02-4bd8-4dac-853f-ba4836aafaf5\"\n  }\n}];"
      },
      "id": "config-node",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst queries = config.searchQueries;\nconst randomIndex = Math.floor(Math.random() * queries.length);\nconst selectedQuery = queries[randomIndex];\n\nreturn [{\n  json: {\n    ...config,\n    searchQuery: selectedQuery\n  }\n}];"
      },
      "id": "select-query",
      "name": "Select Random Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 200]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google_trends" },
            { "name": "q", "value": "={{ $json.searchQuery }}" },
            { "name": "geo", "value": "={{ $json.googleTrendsRegion }}" },
            { "name": "data_type", "value": "RELATED_QUERIES" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "get-trends",
      "name": "Get Google Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [660, 200],
      "credentials": {
        "serpApi": { "id": "RfnKNuS1eruwujfz", "name": "SerpAPI account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst config = $('Select Random Query').first().json;\nconst maxTrends = config.maxTrends || 5;\n\nlet relatedQueries = [];\n\nif (input.related_queries) {\n  if (input.related_queries.rising) {\n    relatedQueries = relatedQueries.concat(\n      input.related_queries.rising.map(q => ({ query: q.query, type: 'rising', value: q.value || 'Breakout' }))\n    );\n  }\n  if (input.related_queries.top) {\n    relatedQueries = relatedQueries.concat(\n      input.related_queries.top.map(q => ({ query: q.query, type: 'top', value: q.value || 100 }))\n    );\n  }\n}\n\nif (relatedQueries.length === 0) {\n  relatedQueries = [{ query: config.searchQuery, type: 'original', value: 100 }];\n}\n\nconst rising = relatedQueries.filter(q => q.type === 'rising');\nconst top = relatedQueries.filter(q => q.type === 'top');\nconst filtered = [...rising, ...top].slice(0, maxTrends);\n\nreturn [{\n  json: {\n    trends: filtered,\n    trendsJson: JSON.stringify(filtered, null, 2),\n    brandName: config.brandName,\n    brandDescription: config.brandDescription,\n    originalQuery: config.searchQuery,\n    visualStyles: config.visualStyles,\n    postTypes: config.postTypes,\n    maxNews: config.maxNews,\n    newsLanguage: config.newsLanguage,\n    newsCountry: config.newsCountry,\n    contentWebhookUrl: config.contentWebhookUrl\n  }\n}];"
      },
      "id": "filter-trends",
      "name": "Filter Top Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Trending queries for {{ $json.brandName }}:\n\n{{ $json.trendsJson }}\n\nBrand: {{ $json.brandDescription }}\n\nSelect the BEST technology-related query. It MUST be about: cloud, cybersecurity, IT, software, AI, data, DevOps, enterprise technology, or digital transformation.\n\nDO NOT select location-specific or non-tech topics.\n\nRespond with ONLY the query text.",
        "options": {
          "systemMessage": "You are a B2B technology content strategist. Select ONLY technology-related trending topics suitable for LinkedIn content targeting CTOs and IT Directors.\n\nVALID TOPICS: Cloud computing, cybersecurity, AI/ML, software development, DevOps, IT infrastructure, data analytics, digital transformation, enterprise technology.\n\nINVALID TOPICS: Sports, entertainment, politics, celebrities, local news, weather, general news not about technology.\n\nRespond with ONLY the query text, nothing else."
        }
      },
      "id": "ai-select-trend",
      "name": "AI: Select Best Trend",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "gpt-4o-mini" },
        "options": { "temperature": 0.3 }
      },
      "id": "openai-select",
      "name": "OpenAI Select Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1180, 420],
      "credentials": { "openAiApi": { "id": "13Oqly3WdRAzZVXL", "name": "OpenAi account" } }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output;\nconst prevData = $('Filter Top Trends').first().json;\n\nconst selectedTrend = aiOutput.replace(/^[\"']|[\"']$/g, '').replace(/\\n/g, ' ').trim();\n\nreturn [{\n  json: {\n    selectedTrend,\n    newsLanguage: prevData.newsLanguage,\n    newsCountry: prevData.newsCountry,\n    maxNews: prevData.maxNews,\n    brandName: prevData.brandName,\n    brandDescription: prevData.brandDescription,\n    visualStyles: prevData.visualStyles,\n    postTypes: prevData.postTypes,\n    originalQuery: prevData.originalQuery,\n    contentWebhookUrl: prevData.contentWebhookUrl\n  }\n}];"
      },
      "id": "prepare-trend",
      "name": "Prepare Selected Trend",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google_news" },
            { "name": "q", "value": "={{ $json.selectedTrend }}" },
            { "name": "gl", "value": "={{ $json.newsCountry }}" },
            { "name": "hl", "value": "={{ $json.newsLanguage }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "search-news",
      "name": "Search Google News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1540, 200],
      "credentials": { "serpApi": { "id": "RfnKNuS1eruwujfz", "name": "SerpAPI account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('Prepare Selected Trend').first().json;\nconst maxNews = prevData.maxNews || 5;\n\nlet newsResults = [];\n\nif (input.news_results && Array.isArray(input.news_results)) {\n  newsResults = input.news_results.slice(0, maxNews).map((news, index) => ({\n    index: index + 1,\n    title: news.title || 'No title',\n    link: news.link || '',\n    source: news.source?.name || news.source || 'Unknown',\n    date: news.date || 'Recent',\n    snippet: news.snippet || ''\n  }));\n}\n\nif (newsResults.length === 0) {\n  newsResults = [{\n    index: 1,\n    title: prevData.selectedTrend,\n    link: '',\n    source: 'Trend topic',\n    date: 'Current',\n    snippet: 'Content based on trending topic.'\n  }];\n}\n\n// Return each news item separately for parallel fetching\nreturn newsResults.map(news => ({\n  json: {\n    ...news,\n    selectedTrend: prevData.selectedTrend,\n    originalQuery: prevData.originalQuery,\n    brandName: prevData.brandName,\n    brandDescription: prevData.brandDescription,\n    visualStyles: prevData.visualStyles,\n    postTypes: prevData.postTypes,\n    contentWebhookUrl: prevData.contentWebhookUrl,\n    totalNews: newsResults.length\n  }\n}));"
      },
      "id": "filter-news",
      "name": "Filter Top News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-article-content",
      "name": "Fetch Article Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1980, 200],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Extract main content from HTML - PRESERVE original news data\nconst items = $input.all();\nconst filterNewsItems = $('Filter Top News').all();\nconst results = [];\n\nconsole.log('Processing', items.length, 'items');\nconsole.log('Filter News items:', filterNewsItems.length);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  // Match by index position, not by link\n  const newsData = filterNewsItems[i]?.json || {};\n  let articleContent = '';\n  \n  console.log(`Item ${i}: title='${newsData.title}', link='${newsData.link}'`);\n  \n  try {\n    const html = item.json.data || item.json.body || item.json.response || '';\n    \n    if (html && typeof html === 'string' && html.length > 100) {\n      // Remove scripts, styles, and HTML tags\n      let text = html\n        .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n        .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n        .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n        .replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '')\n        .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '')\n        .replace(/<aside[^>]*>[\\s\\S]*?<\\/aside>/gi, '');\n      \n      // Try to find article content\n      const articleMatch = text.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n      if (articleMatch) {\n        text = articleMatch[1];\n      }\n      \n      // Find paragraphs\n      const paragraphs = text.match(/<p[^>]*>[^<]*<\\/p>/gi) || [];\n      const cleanParagraphs = paragraphs\n        .map(p => p.replace(/<[^>]+>/g, '').trim())\n        .filter(p => p.length > 30 && p.length < 2000)\n        .slice(0, 15);\n      \n      articleContent = cleanParagraphs.join('\\n\\n');\n      \n      // Fallback: just clean all HTML\n      if (!articleContent || articleContent.length < 50) {\n        articleContent = text\n          .replace(/<[^>]+>/g, ' ')\n          .replace(/\\s+/g, ' ')\n          .trim()\n          .substring(0, 3000);\n      }\n      \n      console.log(`Extracted ${articleContent.length} chars of content`);\n    } else {\n      console.log('No valid HTML response, using snippet');\n      articleContent = newsData.snippet || '';\n    }\n  } catch (e) {\n    console.error('Error extracting content:', e.message);\n    articleContent = newsData.snippet || '';\n  }\n  \n  // Limit content length\n  if (articleContent.length > 3000) {\n    articleContent = articleContent.substring(0, 3000) + '...';\n  }\n  \n  // IMPORTANT: Always use data from Filter Top News, not from HTTP response\n  results.push({\n    json: {\n      index: newsData.index || (i + 1),\n      title: newsData.title || 'No title',\n      link: newsData.link || '',\n      source: newsData.source || 'Unknown',\n      date: newsData.date || 'Recent',\n      snippet: newsData.snippet || '',\n      content: articleContent || newsData.snippet || 'No content available',\n      selectedTrend: newsData.selectedTrend || '',\n      originalQuery: newsData.originalQuery || '',\n      brandName: newsData.brandName || 'MSI Technologies',\n      brandDescription: newsData.brandDescription || '',\n      visualStyles: newsData.visualStyles || [],\n      postTypes: newsData.postTypes || [],\n      contentWebhookUrl: newsData.contentWebhookUrl || '',\n      totalNews: newsData.totalNews || items.length\n    }\n  });\n}\n\nconsole.log('Returning', results.length, 'results');\nreturn results;"
      },
      "id": "extract-article-content",
      "name": "Extract Article Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 200]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all news with content into single object\nconst items = $input.all();\nconst firstItem = items[0]?.json || {};\n\nconsole.log('Aggregating', items.length, 'news items');\n\nconst newsWithContent = items.map((item, idx) => {\n  const news = item.json;\n  console.log(`News ${idx + 1}: title='${news.title}', source='${news.source}'`);\n  return {\n    index: news.index || (idx + 1),\n    title: news.title || 'No title',\n    link: news.link || '',\n    source: news.source || 'Unknown',\n    date: news.date || 'Recent',\n    snippet: news.snippet || '',\n    content: news.content || news.snippet || 'No content'\n  };\n});\n\nconsole.log('Aggregated news:', newsWithContent.map(n => n.title));\n\nreturn [{\n  json: {\n    selectedTrend: firstItem.selectedTrend || 'Technology',\n    originalQuery: firstItem.originalQuery || '',\n    brandName: firstItem.brandName || 'MSI Technologies',\n    brandDescription: firstItem.brandDescription || '',\n    newsCount: newsWithContent.length,\n    news: newsWithContent,\n    newsJson: JSON.stringify(newsWithContent, null, 2),\n    visualStyles: firstItem.visualStyles || ['Glassmorphism'],\n    postTypes: firstItem.postTypes || ['Educational'],\n    contentWebhookUrl: firstItem.contentWebhookUrl || ''\n  }\n}];"
      },
      "id": "aggregate-news",
      "name": "Aggregate News Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH news_data AS (\n  SELECT * FROM (\n    VALUES \n    {{ $json.news.map((n, i) => `(${i + 1}, '${n.title.replace(/'/g, \"''\")}', '${(n.link || '').replace(/'/g, \"''\")}', '${n.source.replace(/'/g, \"''\")}', '${n.date.replace(/'/g, \"''\")}', '${n.snippet.replace(/'/g, \"''\")}', '${(n.content || '').substring(0, 2000).replace(/'/g, \"''\")}')`).join(',\\n    ') }}\n  ) AS t(idx, title, link, source, news_date, snippet, content)\n)\nINSERT INTO trend_news (trend_query, search_query, title, link, source, news_date, snippet, content, scraped_at)\nSELECT \n  '{{ $json.selectedTrend.replace(/'/g, \"''\") }}',\n  '{{ $json.originalQuery.replace(/'/g, \"''\") }}',\n  title, link, source, news_date, snippet, content, NOW()\nFROM news_data\nRETURNING id, title",
        "options": {}
      },
      "id": "save-news-to-db",
      "name": "Save News to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2640, 200],
      "credentials": { "postgres": { "id": "WnTYs2zvPoE7hDJE", "name": "Postgres account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const newsDbResult = $input.all();\nconst newsData = $('Aggregate News Content').first().json;\n\n// Get the IDs of saved news\nconst savedNewsIds = newsDbResult.map(item => item.json.id).filter(id => id);\n\nreturn [{\n  json: {\n    ...newsData,\n    savedNewsIds: savedNewsIds\n  }\n}];"
      },
      "id": "prepare-for-ai",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# TECHNOLOGY CONTENT FOR {{ $json.brandName }}\n\n## Trending Tech Topic: {{ $json.selectedTrend }}\n\n## Brand: {{ $json.brandDescription }}\n\n## NEWS ARTICLES WITH FULL CONTENT:\n{{ $json.news.map(n => `### ${n.index}. ${n.title}\\nSource: ${n.source} | Date: ${n.date}\\n\\n**Summary:** ${n.snippet}\\n\\n**Full Content:**\\n${n.content}\\n\\n---`).join('\\n\\n') }}\n\n## Visual Styles: {{ $json.visualStyles.join(', ') }}\n## Post Types: {{ $json.postTypes.join(', ') }}\n\n---\n\nBased on the TECHNOLOGY news articles above, generate ONE LinkedIn post about TECHNOLOGY for B2B audience. Focus on: cloud, cybersecurity, AI, software, IT infrastructure, DevOps, or digital transformation.\n\nRespond ONLY with this JSON:\n{\n  \"topic\": \"2-3 word TECHNOLOGY topic\",\n  \"post_type\": \"Educational|Industry News|Tips & Tricks|Thought Leadership\",\n  \"visual_style\": \"Glassmorphism|Modern 3D|Isometric|Data Hero|Infographic|Realistic Photography\",\n  \"headline\": \"5-8 word TECHNOLOGY headline for image\",\n  \"data_points\": \"Specific tech stats, numbers, or facts FROM the articles\",\n  \"context\": \"Key TECHNOLOGY insights from the articles + how MSI Technologies helps with this\"\n}",
        "options": {
          "systemMessage": "You are MSI Technologies content strategist. Generate B2B LinkedIn content for CTOs/IT Directors.\n\nIMPORTANT RULES:\n1. ONLY generate content about TECHNOLOGY topics: cloud computing, cybersecurity, AI/ML, software development, DevOps, IT infrastructure, data analytics, digital transformation.\n2. Use the ACTUAL CONTENT from the news articles provided. Extract real tech data, statistics, and insights.\n3. If the articles are NOT about technology, generate content about the original search query instead.\n4. DO NOT create content about sports, entertainment, politics, or non-tech topics.\n\nRespond with valid JSON only."
        }
      },
      "id": "ai-generate-post",
      "name": "AI: Generate Post",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [3080, 200]
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "gpt-4o-mini" },
        "options": { "temperature": 0.7, "maxTokens": 1000 }
      },
      "id": "openai-generate",
      "name": "OpenAI Generate Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [3160, 420],
      "credentials": { "openAiApi": { "id": "13Oqly3WdRAzZVXL", "name": "OpenAi account" } }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output;\nconst newsData = $('Prepare for AI').first().json;\n\nlet postData;\ntry {\n  let cleanOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = cleanOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) cleanOutput = jsonMatch[0];\n  postData = JSON.parse(cleanOutput);\n} catch (e) {\n  postData = {\n    topic: newsData.selectedTrend,\n    post_type: 'Educational',\n    visual_style: 'Glassmorphism',\n    headline: newsData.selectedTrend.substring(0, 50),\n    data_points: 'N/A',\n    context: `Content about ${newsData.selectedTrend} for MSI Technologies.`\n  };\n}\n\nconst validVisualStyles = ['Glassmorphism', 'Modern 3D', 'Isometric', 'Data Hero', 'Infographic', 'Realistic Photography'];\nconst validPostTypes = ['Educational', 'Industry News', 'Tips & Tricks', 'Thought Leadership'];\n\nif (!validVisualStyles.includes(postData.visual_style)) postData.visual_style = 'Glassmorphism';\nif (!validPostTypes.includes(postData.post_type)) postData.post_type = 'Educational';\n\nreturn [{\n  json: {\n    topic: postData.topic || newsData.selectedTrend,\n    post_type: postData.post_type,\n    visual_style: postData.visual_style,\n    orientation: 'Portrait',\n    headline: postData.headline || newsData.selectedTrend,\n    data_points: postData.data_points || '',\n    context: postData.context || '',\n    trend_source: newsData.selectedTrend,\n    savedNewsIds: newsData.savedNewsIds,\n    contentWebhookUrl: newsData.contentWebhookUrl\n  }\n}];"
      },
      "id": "parse-post-data",
      "name": "Parse Post Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.contentWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"{{ $json.topic }}\",\n  \"post_type\": \"{{ $json.post_type }}\",\n  \"visual_style\": \"{{ $json.visual_style }}\",\n  \"orientation\": \"{{ $json.orientation }}\",\n  \"headline\": \"{{ $json.headline }}\",\n  \"data_points\": \"{{ $json.data_points }}\",\n  \"context\": \"{{ $json.context }}\",\n  \"trend_source\": \"{{ $json.trend_source }}\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "call-content-webhook",
      "name": "Generate Full Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3520, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const webhookResult = $input.first().json;\nconst postData = $('Parse Post Data').first().json;\nconst savedNewsIds = postData.savedNewsIds || [];\n\n// Get the post ID from the webhook response\nconst postId = webhookResult.post_id || webhookResult.id || null;\n\nreturn [{\n  json: {\n    postId: postId,\n    savedNewsIds: savedNewsIds,\n    success: !!postId,\n    webhookResult: webhookResult\n  }\n}];"
      },
      "id": "extract-post-id",
      "name": "Extract Post ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3740, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE trend_news \nSET is_used = true, used_for_post_id = '{{ $json.postId }}'\nWHERE id IN ({{ $json.savedNewsIds.map(id => `'${id}'`).join(', ') }})\nRETURNING id",
        "options": {}
      },
      "id": "mark-news-used",
      "name": "Mark News as Used",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3960, 200],
      "credentials": { "postgres": { "id": "WnTYs2zvPoE7hDJE", "name": "Postgres account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE social_posts \nSET trend_source = '{{ $('Parse Post Data').first().json.trend_source.replace(/'/g, \"''\") }}'\nWHERE id = '{{ $('Extract Post ID').first().json.postId }}'\nRETURNING id, topic, headline, image_url, status",
        "options": {}
      },
      "id": "update-trend-source",
      "name": "Update Trend Source",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4180, 200],
      "credentials": { "postgres": { "id": "WnTYs2zvPoE7hDJE", "name": "Postgres account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const dbResult = $input.first().json;\nconst webhookData = $('Extract Post ID').first().json.webhookResult;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Content generated from trends with full article content!',\n    post: {\n      id: dbResult.id,\n      topic: dbResult.topic,\n      headline: dbResult.headline,\n      image_url: dbResult.image_url,\n      status: dbResult.status\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "final-summary",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4400, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Workflow Configuration", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Workflow Configuration", "type": "main", "index": 0 }]] },
    "Webhook Trigger": { "main": [[{ "node": "Workflow Configuration", "type": "main", "index": 0 }]] },
    "Workflow Configuration": { "main": [[{ "node": "Select Random Query", "type": "main", "index": 0 }]] },
    "Select Random Query": { "main": [[{ "node": "Get Google Trends", "type": "main", "index": 0 }]] },
    "Get Google Trends": { "main": [[{ "node": "Filter Top Trends", "type": "main", "index": 0 }]] },
    "Filter Top Trends": { "main": [[{ "node": "AI: Select Best Trend", "type": "main", "index": 0 }]] },
    "AI: Select Best Trend": { "main": [[{ "node": "Prepare Selected Trend", "type": "main", "index": 0 }]] },
    "OpenAI Select Model": { "ai_languageModel": [[{ "node": "AI: Select Best Trend", "type": "ai_languageModel", "index": 0 }]] },
    "Prepare Selected Trend": { "main": [[{ "node": "Search Google News", "type": "main", "index": 0 }]] },
    "Search Google News": { "main": [[{ "node": "Filter Top News", "type": "main", "index": 0 }]] },
    "Filter Top News": { "main": [[{ "node": "Fetch Article Content", "type": "main", "index": 0 }]] },
    "Fetch Article Content": { "main": [[{ "node": "Extract Article Content", "type": "main", "index": 0 }]] },
    "Extract Article Content": { "main": [[{ "node": "Aggregate News Content", "type": "main", "index": 0 }]] },
    "Aggregate News Content": { "main": [[{ "node": "Save News to DB", "type": "main", "index": 0 }]] },
    "Save News to DB": { "main": [[{ "node": "Prepare for AI", "type": "main", "index": 0 }]] },
    "Prepare for AI": { "main": [[{ "node": "AI: Generate Post", "type": "main", "index": 0 }]] },
    "AI: Generate Post": { "main": [[{ "node": "Parse Post Data", "type": "main", "index": 0 }]] },
    "OpenAI Generate Model": { "ai_languageModel": [[{ "node": "AI: Generate Post", "type": "ai_languageModel", "index": 0 }]] },
    "Parse Post Data": { "main": [[{ "node": "Generate Full Content", "type": "main", "index": 0 }]] },
    "Generate Full Content": { "main": [[{ "node": "Extract Post ID", "type": "main", "index": 0 }]] },
    "Extract Post ID": { "main": [[{ "node": "Mark News as Used", "type": "main", "index": 0 }]] },
    "Mark News as Used": { "main": [[{ "node": "Update Trend Source", "type": "main", "index": 0 }]] },
    "Update Trend Source": { "main": [[{ "node": "Final Summary", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e" },
  "tags": []
}
