video-gen.json
{
  "name": "MSI Video Generation - Veo 3.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-video-gen",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "webhook-video-gen",
      "name": "Webhook - Video Gen",
      "webhookId": "msi-video-gen"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from web form for video generation\nconst input = $input.item.json;\n\nlet data;\nif (input.body) {\n  if (typeof input.body === 'string') {\n    try { data = JSON.parse(input.body); } catch (e) { data = input; }\n  } else if (typeof input.body === 'object') {\n    data = input.body;\n  } else { data = input; }\n} else if (input.query) {\n  data = input.query;\n} else {\n  data = input;\n}\n\nconst prompt = data.prompt || data.video_prompt || '';\nconst duration = data.duration || '8';\nconst aspect_ratio = data.aspect_ratio || '9:16';\nconst style = data.style || 'cinematic';\nconst post_id = data.post_id || null;\nconst topic = data.topic || '';\n\nif (!prompt) {\n  throw new Error('VIDEO GEN ERROR: prompt is required.');\n}\n\nreturn [{ json: { prompt, duration, aspect_ratio, style, post_id, topic } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "id": "format-video-input",
      "name": "Format Video Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a professional, REALISTIC video prompt for Veo 3.1:\n\nUser Prompt: {{ $json.prompt }}\nStyle: {{ $json.style }}\nDuration: {{ $json.duration }} seconds (STRICT - must be complete, no cuts)\nAspect Ratio: {{ $json.aspect_ratio }}\nTopic: {{ $json.topic || 'Technology/Business' }}\n\nMSI Brand Colors:\n- Primary: #207CE5 (blue)\n- Secondary: #004AAD (dark blue)  \n- Accent: #FFFDF1 (cream/white)\n- Dark: #2B2B2B\n\nGenerate a detailed video prompt with TEXT ON SCREEN and COMPLETE corporate scenes.",
        "options": {
          "systemMessage": "# ROLE: Professional Video Prompt Engineer for Veo 3.1 - MSI Technologies\n\nReturn ONLY the optimized video prompt. Create REALISTIC, professional videos with TEXT ON SCREEN.\n\n## CRITICAL REQUIREMENTS\n1. Duration: EXACTLY 8 seconds - complete scene, NO CUTS, continuous shot\n2. TEXT ON SCREEN: Include animated text/titles related to the topic (MANDATORY)\n3. Natural, realistic aesthetic - avoid overly polished/synthetic look\n4. Smooth, subtle camera movements\n5. COMPLETE corporate environment with CONTEXT, not just logo on background\n\n## TEXT ON SCREEN (MANDATORY)\n- Include animated text/titles that appear during the video\n- Text should be relevant to the topic/message\n- Examples: key statistics, headlines, benefits, call-to-actions\n- Typography: modern, clean, sans-serif, professional\n- Animation: smooth fade-in, slide-in, or scale\n- Use MSI brand colors (#207CE5 blue for text, #FFFDF1 for backgrounds)\n- Position: usually center or lower-third\n\n## SCENE CREATION (NO EMPTY BACKGROUNDS)\nCreate a COMPLETE SCENE with environment, NOT just logo on solid background:\n\n**GOOD EXAMPLES:**\n- Modern office with glass walls, MSI logo visible, computers, text overlay: 'Cloud Solutions'\n- Tech presentation room, screen showing data, MSI branding on wall, text: '99.9% Uptime'\n- Professional data center with servers, blue lighting, MSI logo on equipment, text: 'Enterprise Ready'\n- Corporate lobby with reception desk, MSI signage, plants, text appears: 'Trusted Partner'\n- Conference room with people (optional), MSI logo on screen, animated text: 'Digital Transformation'\n\n**BAD EXAMPLES (AVOID):**\n- Just MSI logo on blue gradient background\n- Logo floating on empty space\n- Generic abstract background with only logo\n- Solid color with just branding\n\n## REALISTIC CORPORATE ENVIRONMENTS\n**Create FULL scenes with:**\n- Office spaces: desks, computers, monitors, chairs, windows\n- Meeting rooms: table, chairs, screens, whiteboards, MSI branding\n- Data centers: server racks, cables, blue lighting, equipment\n- Tech labs: devices, workstations, tools, branded elements\n- Lobbies: reception desk, seating, plants, wall signage\n- Workspaces: laptops with MSI logo, coffee cups, notepads, realistic details\n\n**Visual richness:**\n- Multiple elements in frame (3-5 objects minimum)\n- Depth and perspective (foreground, midground, background)\n- Natural lighting and shadows (soft, directional)\n- Real textures: wood, metal, glass, fabric, concrete\n- Ambient details: plants, books, devices, cables\n- Professional color grading using MSI palette\n\n## 8-SECOND ANIMATION STRUCTURE\n**Timeline breakdown:**\n- 0-2s: Establishing shot of full environment (wide)\n- 2-4s: Smooth camera movement (push-in or pan)\n- 4-6s: Text animates on screen with key message\n- 6-8s: Final shot with logo visible in scene and text visible\n\n**Camera movements:**\n- Gentle push-in (zoom in slowly)\n- Slow pan across scene (left to right or right to left)\n- Smooth tracking along elements\n- Subtle crane up or down\n- Rack focus (foreground to background)\n\n**Text animation examples:**\n- Fade in from transparency to solid\n- Slide from bottom or side\n- Scale up from small to readable\n- Letter-by-letter appearance\n- Always smooth (0.5-1 second animation)\n\n## MSI BRAND COLORS INTEGRATION\n- Primary #207CE5 (blue): text color, accent lighting, screens\n- Secondary #004AAD (dark blue): backgrounds, shadows, depth\n- Accent #FFFDF1 (cream): text backgrounds, highlights, contrast\n- Dark #2B2B2B: typography, contrast elements\n\nColors should appear naturally in: lighting, screens, furniture, branding elements, text overlays.\n\n## STYLE ADAPTATIONS\n- **cinematic**: Shallow DOF, dramatic lighting, smooth dolly shot, large text with cinematic feel\n- **professional**: Clean office, steady cam, business setting, professional text lower-third\n- **dynamic**: Active workspace, energetic movement, bold animated text, multiple layers\n- **minimal**: Simple focused scene, one key element, subtle text, clean typography\n- **artistic**: Creative angles, unique perspective, stylized text animation\n\n## PROMPT STRUCTURE (FOLLOW THIS)\n[Describe full environment with 3-5 elements] → [Camera movement description] → [Text content and animation] → [MSI logo placement in scene] → [Duration: 8 seconds continuous]\n\nExample: 'Modern corporate office with glass walls, wooden desk, multiple monitors, plants. Camera slowly pushes forward. Text fades in center: \"Enterprise Cloud Solutions\". MSI logo visible on screen display. 8 seconds, smooth and professional.'\n\nALWAYS include: environment details, camera movement, text content, logo integration, 8-second duration."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [640, 300],
      "id": "agent-video-prompt",
      "name": "Agent: Video Prompt Optimizer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [720, 520],
      "id": "gemini-video-prompt",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oF4jKBK0jRbwEPWt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "project-id",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "gen-lang-client-0521438560"
            },
            {
              "id": "model-version",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-preview"
            },
            {
              "id": "location",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "api-endpoint",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "text-prompt",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $('Agent: Video Prompt Optimizer').item.json.output }}. {{ $('Format Video Input').item.json.duration }} second video, {{ $('Format Video Input').item.json.aspect_ratio }} aspect ratio, professional quality."
            },
            {
              "id": "duration",
              "name": "DURATION",
              "type": "string",
              "value": "={{ $('Format Video Input').item.json.duration }}"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "={{ $('Format Video Input').item.json.aspect_ratio }}"
            },
            {
              "id": "post-id",
              "name": "POST_ID",
              "type": "string",
              "value": "={{ $('Format Video Input').item.json.post_id }}"
            },
            {
              "id": "original-prompt",
              "name": "ORIGINAL_PROMPT",
              "type": "string",
              "value": "={{ $('Format Video Input').item.json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [860, 300],
      "id": "settings-node",
      "name": "Settings"
    },
    {
      "parameters": {
        "url": "https://i.ibb.co/S7mKXdxr/MSI-Technologies-Icon.png",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300],
      "id": "download-msi-logo",
      "name": "Download MSI Logo"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [1300, 300],
      "id": "logo-to-base64",
      "name": "Logo to Base64"
    },
    {
      "parameters": {
        "jsCode": "// Merge settings with logo base64 data\nconst settings = $('Settings').item.json;\nconst logoData = $input.item.json;\n\nreturn [{\n  json: {\n    ...settings,\n    LOGO_BASE64: logoData.data,\n    LOGO_MIME_TYPE: logoData.mimeType || 'image/png'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300],
      "id": "merge-settings-logo",
      "name": "Merge Settings with Logo"
    },
    {
      "parameters": {
        "jsCode": "// Generate OAuth2 Access Token from Service Account\nconst crypto = require('crypto');\n\n// ========== SERVICE ACCOUNT CREDENTIALS ==========\nconst serviceAccount = {\n  \"type\": \"service_account\",\n  \"project_id\": \"gen-lang-client-0521438560\",\n  \"private_key_id\": \"353528a978e83fdd043e74b03d0096604b3ccd77\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCc8VpJosYd8D0N\\nmFLmh1b7UOsHgm5ZZBvjSkPUhcFXXoEnOoouhWPD5hEl7ziA+3vWpbHLWb5sm0dv\\nqUhHJWwMMbE5eBxmR7m/Cacpy5ZiOVw+180aZqq6e1AsKlEzRvdz66FSgpCeYtmS\\n2nnc8fGwxfB06qpXsxLVQYnwnKzOlKOv9cfXC/29vrbXoPwez9lkVyySa11iGtYA\\nzMU2LjiPrxvcDTbhb1JYD/050fT/m3z2NgclsV6uCEQxNLXOJriJxNuSKhmZufis\\nsoO/rlj/V+RFTrHEQ8zn3nbm6/W2ZANZt94AOo31t5TR6Idt9PxgjodSHJYLEm+0\\nOXC6bAf3AgMBAAECggEASvGn81Ti9YX0qarNH5+OZkmASmA7EL3Q4Wtj07chmfab\\nhx+Zv9hbyT7yfmJrYZB11Qzfx6Lt35AQ/13fkXXp0DLklfRo32Ct7u+Nn1REVlhc\\n1/eWTl6rdYyQPt7gUrO3U+g3655EsBW1Hz7sBZmVmBwVlMdAm8t8GVEILVmr3aN1\\n5CzVUaLtk9UNQDApUfxgdD2kutWTjqM2j3jsgceST6p98dqV2U8HiOXonpMgt02+\\n3PqApJNu4HQhdMzYwX67vKLuqanlZllLlBp8TWvbP3Roo2p57pD8oamT0BKWDUcX\\nfwT19NJOXqRTim6oalvGklTuwhI9+EJJPlAwN7+rAQKBgQDc+sNzQC4Eph4we6g5\\nBQe5QGIchou/ey1vJ+UGbM8vy6bkuy9dPbDZ/XUZTPOYkTPHKvRu544DTIQzH0qJ\\nfG5NKUIYdOInJm8y+r0JybMrrKl0b04/Nrlueb4RjesASMSq3BTVMK5+6Mb4vx7y\\nLS3mYUc8TF+kBEEaw0H4Fwlu9wKBgQC10JcC0kbtCF/MmHwSq9w0PfgbHT3NoZH7\\nyOWeXPfRLybn+I4MMYW3y5KSL5RM3Gxtve2I/HjJPpprZSUJXfMgRLrVkFRV1iFp\\nA/v1vAxoMlYGk3Oh74rwmmMmU7hhPSNL5HxIDHdXVZb5jrOvqIIBcZ6n2qhaCVXH\\nmtjl3QbvAQKBgBxiUWyiV8bdF4+espLwZHeVH4UOezDTP5jBhRd4LnyzKfLDYGgX\\nnnnBpqLjUX7NV9tDVzZPo9wkne57HHXgd8KNhCHkEZB5zVq8/j8dm1gGy5VbHq/b\\n9aGNHa7fjcnxjuFrd3mS0TcX60bUNcNhrj2jTSUfokFNEpe/cN/PBbUtAoGAaSms\\nnyonciT83Gd6pIYZiXIqluxT+iOxP7SU9AOMJ8ehNl2zM+RVFtk9/yZcHhUE9nj7\\n8tctuiFmyiWnxYI9BXYbpzmjPj7r9kUisKFDf+VVktoo8QqQD9kM7ndQV5Y4W0Ze\\niIIFaVONTu22iyzpfZJNlYNJC0MJBbpQKKyuvQECgYEA2q4N8oL3VJwZAuyIVXOm\\ng9SH9dq4pRunQbXJpxaP2mklGNEbLV1YURVGA0oyQE5oh3/4s/LdMERUFkaYBBnl\\nyrcLRELtnjswAy3b2tEp4ULP/rx5MRY4qjNonUrzoXAs937zDIcyjO6/ekxE28sO\\nXk4daXQsjz4PY3lVvJcnKFA=\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"vertex-express@gen-lang-client-0521438560.iam.gserviceaccount.com\",\n  \"client_id\": \"113579530477823292475\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\"\n};\n\nconst settings = $input.item.json;\n\n// ========== JWT GENERATION ==========\nfunction base64url(str) {\n  return Buffer.from(str).toString('base64')\n    .replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=/g, '');\n}\n\nfunction base64urlBuffer(buffer) {\n  return buffer.toString('base64')\n    .replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=/g, '');\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = { alg: 'RS256', typ: 'JWT' };\nconst payload = {\n  iss: serviceAccount.client_email,\n  sub: serviceAccount.client_email,\n  aud: serviceAccount.token_uri,\n  iat: now,\n  exp: now + 3600,\n  scope: 'https://www.googleapis.com/auth/cloud-platform'\n};\n\nconst headerB64 = base64url(JSON.stringify(header));\nconst payloadB64 = base64url(JSON.stringify(payload));\nconst signatureInput = `${headerB64}.${payloadB64}`;\n\n// Sign the JWT\nconst privateKey = serviceAccount.private_key;\nconst sign = crypto.createSign('RSA-SHA256');\nsign.update(signatureInput);\nconst signature = sign.sign(privateKey);\nconst signatureB64 = base64urlBuffer(signature);\nconst jwt = `${signatureInput}.${signatureB64}`;\n\n// ========== EXCHANGE JWT FOR ACCESS TOKEN ==========\nconst tokenResponse = await this.helpers.httpRequest({\n  method: 'POST',\n  url: serviceAccount.token_uri,\n  headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n  body: `grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&assertion=${jwt}`\n});\n\nif (!tokenResponse.access_token) {\n  throw new Error('Failed to get access token: ' + JSON.stringify(tokenResponse));\n}\n\nconsole.log('Access token generated successfully');\n\nreturn [{\n  json: {\n    ...settings,\n    ACCESS_TOKEN: tokenResponse.access_token\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300],
      "id": "generate-token",
      "name": "Generate Access Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.API_ENDPOINT }}/v1/projects/{{ $json.PROJECT_ID }}/locations/{{ $json.LOCATION }}/publishers/google/models/{{ $json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  instances: [{\n    prompt: $json.TEXT_PROMPT,\n    image: {\n      bytesBase64Encoded: $json.LOGO_BASE64,\n      mimeType: $json.LOGO_MIME_TYPE\n    }\n  }],\n  parameters: {\n    aspectRatio: $json.ASPECT_RATIO,\n    sampleCount: 1,\n    durationSeconds: $json.DURATION,\n    personGeneration: 'allow_all',\n    addWatermark: true,\n    includeRaiReason: true,\n    generateAudio: true\n  }\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 300],
      "id": "vertex-ai-veo3",
      "name": "Vertex AI - VEO3"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2180, 300],
      "id": "wait-for-video",
      "name": "Wait 2 Minutes",
      "webhookId": "veo3-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Generate Access Token').item.json.API_ENDPOINT }}/v1/projects/{{ $('Generate Access Token').item.json.PROJECT_ID }}/locations/{{ $('Generate Access Token').item.json.LOCATION }}/publishers/google/models/{{ $('Generate Access Token').item.json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Generate Access Token').item.json.ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $('Vertex AI - VEO3').item.json.name }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 300],
      "id": "vertex-ai-fetch",
      "name": "Vertex AI - Fetch Result"
    },
    {
      "parameters": {
        "jsCode": "// Process Vertex AI response\nconst response = $input.item.json;\nconst settings = $('Generate Access Token').item.json;\n\nconsole.log('==== PROCESS VEO3 RESPONSE ====');\nconsole.log('Response keys:', Object.keys(response));\n\n// Check if operation is still running\nif (response.done === false) {\n  return [{\n    json: {\n      is_async: true,\n      operation_name: $('Vertex AI - VEO3').item.json.name,\n      status: 'still_processing',\n      post_id: settings.POST_ID,\n      prompt: settings.TEXT_PROMPT,\n      original_prompt: settings.ORIGINAL_PROMPT,\n      message: 'Video still processing. Try fetching again later.'\n    }\n  }];\n}\n\nlet videoBase64 = '';\nlet mimeType = 'video/mp4';\n\n// Try different response formats from Veo 3.0\nif (response.response?.videos?.[0]?.bytesBase64Encoded) {\n  videoBase64 = response.response.videos[0].bytesBase64Encoded;\n  mimeType = response.response.videos[0].mimeType || 'video/mp4';\n} else if (response.response?.generatedSamples?.[0]?.video?.bytesBase64Encoded) {\n  videoBase64 = response.response.generatedSamples[0].video.bytesBase64Encoded;\n} else if (response.predictions?.[0]?.bytesBase64Encoded) {\n  videoBase64 = response.predictions[0].bytesBase64Encoded;\n} else if (response.generatedSamples?.[0]?.video?.bytesBase64Encoded) {\n  videoBase64 = response.generatedSamples[0].video.bytesBase64Encoded;\n}\n\nif (!videoBase64) {\n  console.log('Full response:', JSON.stringify(response));\n  throw new Error('No video data found. Response: ' + JSON.stringify(response).substring(0, 1000));\n}\n\nconsole.log('Video extracted successfully, size:', videoBase64.length);\nconsole.log('==== END PROCESS ====');\n\nreturn [{\n  json: {\n    video_base64: videoBase64,\n    video_data_url: `data:${mimeType};base64,${videoBase64}`,\n    mime_type: mimeType,\n    has_video: true,\n    is_async: false,\n    post_id: settings.POST_ID,\n    prompt: settings.TEXT_PROMPT,\n    original_prompt: settings.ORIGINAL_PROMPT\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 300],
      "id": "process-video-response",
      "name": "Process Video Response"
    },
    {
      "parameters": {
        "jsCode": "// Convert base64 video to binary for YouTube upload\nconst videoBase64 = $json.video_base64;\nconst prompt = $json.original_prompt || $json.prompt || 'MSI Content';\nconst postId = $json.post_id;\nconst mimeType = $json.mime_type || 'video/mp4';\n\nif (!videoBase64) {\n  throw new Error('No video base64 data available');\n}\n\nconst binaryData = Buffer.from(videoBase64, 'base64');\nlet title = prompt.substring(0, 97);\nif (prompt.length > 97) title += '...';\nconst fileName = `msi_video_${Date.now()}.mp4`;\n\nreturn {\n  json: {\n    title,\n    description: `Generated with AI by MSI Technologies\\n\\nPrompt: ${prompt}\\n\\nPost ID: ${postId || 'N/A'}`,\n    post_id: postId,\n    original_prompt: prompt\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: mimeType,\n      fileName: fileName\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 300],
      "id": "prepare-youtube-upload",
      "name": "Prepare YouTube Upload"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "categoryId": "28",
        "options": {
          "description": "={{ $json.description }}",
          "privacyStatus": "unlisted",
          "tags": "ai,content,msi,technology"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [3060, 300],
      "id": "upload-to-youtube",
      "name": "Upload to YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Mku9dCuHHXi7CGsE",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst preparedData = $('Prepare YouTube Upload').item.json;\n\nconst videoId = response.id || response.uploadId;\nconst youtubeUrl = `https://youtu.be/${videoId}`;\n\nreturn [{\n  json: {\n    youtube_url: youtubeUrl,\n    youtube_video_id: videoId,\n    post_id: preparedData.post_id,\n    title: preparedData.title,\n    prompt: preparedData.original_prompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 300],
      "id": "extract-youtube-url",
      "name": "Extract YouTube URL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.post_id && $json.post_id.length > 10 ? `UPDATE social_posts SET youtube_url = '${$json.youtube_url}', status = 'video_completed', updated_at = NOW() WHERE id = '${$json.post_id}' RETURNING *` : `SELECT '${$json.youtube_url}' as youtube_url, 'no_post_id' as status` }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3500, 300],
      "id": "update-db-youtube",
      "name": "Update DB with YouTube",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Video uploaded to YouTube successfully', data: { youtube_url: $json.youtube_url, youtube_video_id: $json.youtube_video_id, post_id: $json.post_id, prompt: $json.prompt } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3720, 300],
      "id": "respond-video-success",
      "name": "Respond Success"
    }
  ],
  "connections": {
    "Webhook - Video Gen": {
      "main": [[{"node": "Format Video Input", "type": "main", "index": 0}]]
    },
    "Format Video Input": {
      "main": [[{"node": "Agent: Video Prompt Optimizer", "type": "main", "index": 0}]]
    },
    "Agent: Video Prompt Optimizer": {
      "main": [[{"node": "Settings", "type": "main", "index": 0}]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{"node": "Agent: Video Prompt Optimizer", "type": "ai_languageModel", "index": 0}]]
    },
    "Settings": {
      "main": [[{"node": "Download MSI Logo", "type": "main", "index": 0}]]
    },
    "Download MSI Logo": {
      "main": [[{"node": "Logo to Base64", "type": "main", "index": 0}]]
    },
    "Logo to Base64": {
      "main": [[{"node": "Merge Settings with Logo", "type": "main", "index": 0}]]
    },
    "Merge Settings with Logo": {
      "main": [[{"node": "Generate Access Token", "type": "main", "index": 0}]]
    },
    "Generate Access Token": {
      "main": [[{"node": "Vertex AI - VEO3", "type": "main", "index": 0}]]
    },
    "Vertex AI - VEO3": {
      "main": [[{"node": "Wait 2 Minutes", "type": "main", "index": 0}]]
    },
    "Wait 2 Minutes": {
      "main": [[{"node": "Vertex AI - Fetch Result", "type": "main", "index": 0}]]
    },
    "Vertex AI - Fetch Result": {
      "main": [[{"node": "Process Video Response", "type": "main", "index": 0}]]
    },
    "Process Video Response": {
      "main": [[{"node": "Prepare YouTube Upload", "type": "main", "index": 0}]]
    },
    "Prepare YouTube Upload": {
      "main": [[{"node": "Upload to YouTube", "type": "main", "index": 0}]]
    },
    "Upload to YouTube": {
      "main": [[{"node": "Extract YouTube URL", "type": "main", "index": 0}]]
    },
    "Extract YouTube URL": {
      "main": [[{"node": "Update DB with YouTube", "type": "main", "index": 0}]]
    },
    "Update DB with YouTube": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}
