video-job.json
{
  "name": "Video Job Worker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-video-job",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [400, 400],
      "id": "wh-job-001",
      "name": "Webhook - Video Job",
      "webhookId": "msi-video-job"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.item.json;\nconst body = input.body || input;\nconst action = body.action; // 'submit' or 'fetch'\n\n// --- Service account for token generation ---\nconst SA = {\n  client_email: 'vertex-express@gen-lang-client-0521438560.iam.gserviceaccount.com',\n  token_uri: 'https://oauth2.googleapis.com/token',\n  private_key: '-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCc8VpJosYd8D0N\\nmFLmh1b7UOsHgm5ZZBvjSkPUhcFXXoEnOoouhWPD5hEl7ziA+3vWpbHLWb5sm0dv\\nqUhHJWwMMbE5eBxmR7m/Cacpy5ZiOVw+180aZqq6e1AsKlEzRvdz66FSgpCeYtmS\\n2nnc8fGwxfB06qpXsxLVQYnwnKzOlKOv9cfXC/29vrbXoPwez9lkVyySa11iGtYA\\nzMU2LjiPrxvcDTbhb1JYD/050fT/m3z2NgclsV6uCEQxNLXOJriJxNuSKhmZufis\\nsoO/rlj/V+RFTrHEQ8zn3nbm6/W2ZANZt94AOo31t5TR6Idt9PxgjodSHJYLEm+0\\nOXC6bAf3AgMBAAECggEASvGn81Ti9YX0qarNH5+OZkmASmA7EL3Q4Wtj07chmfab\\nhx+Zv9hbyT7yfmJrYZB11Qzfx6Lt35AQ/13fkXXp0DLklfRo32Ct7u+Nn1REVlhc\\n1/eWTl6rdYyQPt7gUrO3U+g3655EsBW1Hz7sBZmVmBwVlMdAm8t8GVEILVmr3aN1\\n5CzVUaLtk9UNQDApUfxgdD2kutWTjqM2j3jsgceST6p98dqV2U8HiOXonpMgt02+\\n3PqApJNu4HQhdMzYwX67vKLuqanlZllLlBp8TWvbP3Roo2p57pD8oamT0BKWDUcX\\nfwT19NJOXqRTim6oalvGklTuwhI9+EJJPlAwN7+rAQKBgQDc+sNzQC4Eph4we6g5\\nBQe5QGIchou/ey1vJ+UGbM8vy6bkuy9dPbDZ/XUZTPOYkTPHKvRu544DTIQzH0qJ\\nfG5NKUIYdOInJm8y+r0JybMrrKl0b04/Nrlueb4RjesASMSq3BTVMK5+6Mb4vx7y\\nLS3mYUc8TF+kBEEaw0H4Fwlu9wKBgQC10JcC0kbtCF/MmHwSq9w0PfgbHT3NoZH7\\nyOWeXPfRLybn+I4MMYW3y5KSL5RM3Gxtve2I/HjJPpprZSUJXfMgRLrVkFRV1iFp\\nA/v1vAxoMlYGk3Oh74rwmmMmU7hhPSNL5HxIDHdXVZb5jrOvqIIBcZ6n2qhaCVXH\\nmtjl3QbvAQKBgBxiUWyiV8bdF4+espLwZHeVH4UOezDTP5jBhRd4LnyzKfLDYGgX\\nnnnBpqLjUX7NV9tDVzZPo9wkne57HHXgd8KNhCHkEZB5zVq8/j8dm1gGy5VbHq/b\\n9aGNHa7fjcnxjuFrd3mS0TcX60bUNcNhrj2jTSUfokFNEpe/cN/PBbUtAoGAaSms\\nnyonciT83Gd6pIYZiXIqluxT+iOxP7SU9AOMJ8ehNl2zM+RVFtk9/yZcHhUE9nj7\\n8tctuiFmyiWnxYI9BXYbpzmjPj7r9kUisKFDf+VVktoo8QqQD9kM7ndQV5Y4W0Ze\\niIIFaVONTu22iyzpfZJNlYNJC0MJBbpQKKyuvQECgYEA2q4N8oL3VJwZAuyIVXOm\\ng9SH9dq4pRunQbXJpxaP2mklGNEbLV1YURVGA0oyQE5oh3/4s/LdMERUFkaYBBnl\\nyrcLRELtnjswAy3b2tEp4ULP/rx5MRY4qjNonUrzoXAs937zDIcyjO6/ekxE28sO\\nXk4daXQsjz4PY3lVvJcnKFA=\\n-----END PRIVATE KEY-----\\n'\n};\n\nconst PROJECT_ID = 'gen-lang-client-0521438560';\nconst LOCATION = 'us-central1';\nconst API_ENDPOINT = 'us-central1-aiplatform.googleapis.com';\nconst MODEL = 'veo-3.1-generate-001';\nconst BUCKET = 'msi-veo-videos';\n\n// --- Helper: generate access token ---\nasync function getAccessToken(ctx) {\n  function b64url(s) { return Buffer.from(s).toString('base64').replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=/g,''); }\n  function b64urlBuf(b) { return b.toString('base64').replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=/g,''); }\n  const now = Math.floor(Date.now()/1000);\n  const hdr = b64url(JSON.stringify({alg:'RS256',typ:'JWT'}));\n  const pay = b64url(JSON.stringify({iss:SA.client_email,sub:SA.client_email,aud:SA.token_uri,iat:now,exp:now+3600,scope:'https://www.googleapis.com/auth/cloud-platform'}));\n  const si = `${hdr}.${pay}`;\n  const sign = crypto.createSign('RSA-SHA256');\n  sign.update(si);\n  const sig = sign.sign(SA.private_key);\n  const jwt = `${si}.${b64urlBuf(sig)}`;\n  const res = await ctx.helpers.httpRequest({method:'POST',url:SA.token_uri,headers:{'Content-Type':'application/x-www-form-urlencoded'},body:`grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&assertion=${jwt}`});\n  if(!res.access_token) throw new Error('Token failed');\n  return res.access_token;\n}\n\nif (action === 'submit') {\n  // ---------- SUBMIT: download image, base64, token, send to Veo ----------\n  const image_url = body.image_url;\n  const prompt = body.prompt;\n  const bucket_path = body.bucket_path || 'videos/';\n  const duration = parseInt(body.duration || '8');\n  const aspect_ratio = body.aspect_ratio || '9:16';\n\n  if (!image_url) throw new Error('image_url required');\n  if (!prompt) throw new Error('prompt required');\n\n  // Download image as arraybuffer and convert to base64\n  const imgBuf = await this.helpers.httpRequest({\n    method: 'GET',\n    url: image_url,\n    encoding: 'arraybuffer'\n  });\n  const base64Img = Buffer.from(imgBuf).toString('base64');\n\n  if (base64Img.length < 100) throw new Error('Image download failed - too small');\n\n  // Get token\n  const token = await getAccessToken(this);\n\n  // Submit to Veo 3.1\n  const veoBody = {\n    instances: [{\n      prompt: prompt,\n      image: { bytesBase64Encoded: base64Img, mimeType: 'image/jpeg' }\n    }],\n    parameters: {\n      aspectRatio: aspect_ratio,\n      resolution: '720p',\n      sampleCount: 1,\n      durationSeconds: duration,\n      personGeneration: 'allow_all',\n      addWatermark: false,\n      includeRaiReason: true,\n      generateAudio: true,\n      storageUri: `gs://${BUCKET}/${bucket_path}`,\n      negativePrompt: 'silence, no audio, mute, static, blurry, text, letters, words, subtitles, captions, watermark'\n    }\n  };\n\n  const veoRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://${API_ENDPOINT}/v1/projects/${PROJECT_ID}/locations/${LOCATION}/publishers/google/models/${MODEL}:predictLongRunning`,\n    headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${token}` },\n    body: JSON.stringify(veoBody),\n    timeout: 60000\n  });\n\n  if (!veoRes.name) throw new Error('Veo submit failed: ' + JSON.stringify(veoRes).substring(0, 300));\n\n  return [{ json: { success: true, action: 'submit', operationName: veoRes.name } }];\n\n} else if (action === 'fetch') {\n  // ---------- FETCH: get token, check operation status ----------\n  const operationName = body.operationName;\n  if (!operationName) throw new Error('operationName required for fetch');\n\n  const token = await getAccessToken(this);\n\n  const fetchRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://${API_ENDPOINT}/v1/projects/${PROJECT_ID}/locations/${LOCATION}/publishers/google/models/${MODEL}:fetchPredictOperation`,\n    headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${token}` },\n    body: JSON.stringify({ operationName }),\n    timeout: 60000\n  });\n\n  let videoUri = '';\n  if (fetchRes.response?.videos?.[0]?.uri) {\n    videoUri = fetchRes.response.videos[0].uri;\n  } else if (fetchRes.response?.videos?.[0]?.gcsUri) {\n    videoUri = fetchRes.response.videos[0].gcsUri;\n  }\n\n  if (!videoUri) {\n    return [{ json: { success: false, action: 'fetch', ready: false, raw: JSON.stringify(fetchRes).substring(0, 500) } }];\n  }\n\n  return [{ json: { success: true, action: 'fetch', ready: true, videoUri } }];\n\n} else {\n  throw new Error('Invalid action: must be submit or fetch');\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400],
      "id": "code-job-001",
      "name": "Process Job"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 400],
      "id": "respond-job-001",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook - Video Job": {
      "main": [[{ "node": "Process Job", "type": "main", "index": 0 }]]
    },
    "Process Job": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}
