video-script-preview-flow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-video-preview",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        87040,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000001",
      "name": "Webhook - Video Preview",
      "webhookId": "msi-video-preview"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nlet data = input.body || input;\nif (typeof data === 'string') {\n  try { data = JSON.parse(data); } catch (e) { }\n}\n\nconst prompt = data.prompt || data.video_prompt || '';\nconst start_image_url = data.start_image_url || data.imageUrl || null;\nconst aspect_ratio = data.aspect_ratio || data.aspectRatio || '9:16';\nconst service = data.service || 'company_intro';\nconst post_id = data.post_id || data.postId || null;\nconst topic = data.topic || '';\nconst duration = Math.min(parseInt(data.duration || '8'), 8);\n\nif (!prompt || prompt.length < 3) throw new Error('prompt is required');\nif (!start_image_url) throw new Error('start_image_url is required');\n// second_image_url no longer required - Part 2 uses video extension from Part 1\n\nreturn [{ json: { prompt, duration: String(duration), aspect_ratio, service, post_id, topic, start_image_url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87264,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000002",
      "name": "Format Video Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"You write Veo 3.1 image-to-video prompts for MSI Technologies.\\n\\nVideo duration: \" + $json.duration + \"s per part. THREE parts using video extension.\\n\\nSERVICE: \" + $json.service + \"\\nCONTEXT: \" + $json.prompt + \"\\nAUDIENCE: \" + ($json.topic || 'Business professionals') + \"\\n\\nIMPORTANT — READ THE CONTEXT ABOVE CAREFULLY. Your prompts MUST directly reflect what the user described. If they mention a specific action (walking, holding camera, sitting), a specific visual element (eye patch, glasses, hat, holding an object), or any specific detail — you MUST include and maintain it in ALL three parts. Never contradict or ignore the CONTEXT.\\n\\nVISUAL COHERENCE (CRITICAL RULE):\\n- ALL visual elements visible in the reference image MUST persist EXACTLY across ALL three parts.\\n- If the person is holding something, wearing something, or has any distinguishing feature — it MUST remain identical in every part.\\n- NEVER add, remove, morph, animate away, or transform any body part or visual element.\\n- If the person has one hand holding a camera, they keep holding it in all parts. No extra hands, no missing hands.\\n- NEVER add a waving gesture, farewell animation, greeting, or any animated ending. The person stays natural and still.\\n\\nSALES FUNNEL STRUCTURE (follow this pattern like a professional sales video):\\n\\nPART 1 — HOOK + PAIN POINT (Grab Attention):\\nOpen with a bold, attention-grabbing statement that makes the viewer stop scrolling. Present the problem they face and introduce MSI as the solution. Think: opening line of a sales pitch.\\n\\nExamples of the tone and style to follow (adapt to the SERVICE):\\n- workforce_agility: The person says: You could hire skilled remote talent for six to ten dollars an hour instead of sixty thousand a year.\\n- it_outsourcing: The person says: Your IT team is stretched thin and you are bleeding money on contractors who do not deliver.\\n- ai_solutions: The person says: Your competitors are using AI to move twice as fast while you are still doing things manually.\\n- cybersecurity: The person says: One data breach could cost your company millions and most businesses are not prepared.\\n- bpo: The person says: Your team wastes hours on repetitive tasks that a trained professional could handle for a fraction.\\n- consulting: The person says: Navigating digital transformation alone is why most companies fail in the first two years.\\n- telecom: The person says: Poor network infrastructure is silently killing your business productivity every single day.\\n- company_intro: The person says: What if one company could handle your IT, staffing, AI, and cybersecurity all at once.\\n\\nPART 2 — THE OFFER + SOCIAL PROOF (Build Desire):\\nExplain exactly what MSI delivers. Make it concrete and irresistible. Back it up with credibility.\\n\\nKey elements to weave in (pick the most relevant 2-3 for the SERVICE):\\n- We handle everything — completely done for you\\n- 20+ years of industry experience\\n- Hundreds of businesses served successfully\\n- College-educated, pre-vetted, triple-tested talent\\n- Nearshore: same time zone, fluent English, cultural alignment\\n- Cost savings of 40-60% without sacrificing quality\\n- Part of the Talentor group — presence in 40+ countries\\n- No contracts, no middleman markups, no hassle\\n- Flexible strategies tailored to your exact needs\\n\\nExamples of the tone:\\n- The person says: We handle all the vetting, interviews, and testing. Twenty years, hundreds of businesses served.\\n- The person says: Our nearshore teams work in your time zone, fluent English, pre-vetted, saving you up to sixty percent.\\n\\nPART 3 — WHY MSI + CALL TO ACTION (Close + Action):\\nCombine the final persuasive argument with a direct call to action. This is the closing. Make the viewer feel they would be foolish NOT to act now.\\n\\nKey elements:\\n- Final trust-building: guarantee, client results, competitive advantage\\n- Direct CTA: contact MSI, schedule a free consultation, visit the website\\n- Urgency: do not let competitors get ahead\\n- Confidence and warmth in delivery\\n\\nExamples of the tone:\\n- The person says: We guarantee every placement. Contact MSI today and let us transform your business.\\n- The person says: Stop overpaying for talent. Schedule a free consultation with MSI and start saving today.\\n\\nCRITICAL ENDING RULE FOR PART 3 (MANDATORY):\\n- Person finishes speaking and then simply HOLDS A STILL, NATURAL POSE looking at the camera.\\n- ABSOLUTELY NO waving, NO farewell gesture, NO animated greeting, NO hand raising, NO nodding repeatedly.\\n- Just a confident, composed, STILL presence. Like the end of a professional commercial.\\n- The person is DONE TALKING and just looks at you. That is the ending.\\n\\nCRITICAL SPEECH TIMING (8-second video per part):\\n- Natural speech = ~2.5 words/second\\n- Person speaks for the FIRST 6 SECONDS only\\n- LAST 2 SECONDS = COMPLETE SILENCE — the person holds a composed, still pose\\n- MINIMUM 10 WORDS and MAXIMUM 15 WORDS of spoken dialogue per part\\n- Write EXACT dialogue using colon syntax: The person says: [exact words here]\\n- Count your words carefully — if over 15, rewrite shorter. If under 10, expand with more persuasive detail\\n- The three parts form a COHERENT sales narrative adapted to the CONTEXT\\n- NO speech should be cut mid-word — each part is self-contained\\n\\nSILENCE BUFFER BETWEEN PARTS (MANDATORY):\\n- Each part MUST end with 2 seconds of SILENCE (person finishes speaking, holds still pose)\\n- Each new part starts fresh with the person beginning a new thought after a natural beat\\n- This prevents speech being cut mid-word at part transitions\\n\\nPROMPT FORMAT (for each part):\\n- Line 1: Brief motion direction (subtle gesture, head tilt) - max 10 words. Keep it minimal and natural.\\n- Line 2: EXACT dialogue with colon syntax - max 15 spoken words\\n- NEVER describe person appearance, clothing, background, or setting\\n- NEVER use quotation marks — only colons for speech\\n- NEVER include waving, greeting, farewell, or any animated ending gesture\\n- Camera follows the subject naturally, smoothly tracking their movement\\n\\nVOICE DIRECTION (HANDLED AUTOMATICALLY — DO NOT INCLUDE IN YOUR OUTPUT):\\n- Voice and accent instructions are added automatically after your prompts.\\n- NEVER include phrases like \"Speaks with a clear American accent\" or \"warm professional tone\" in your output.\\n- NEVER include any voice description, accent description, or tone direction in your prompts.\\n- Your prompts should ONLY contain: motion direction + dialogue (person says: words).\\n- If you include voice/accent text, it will be duplicated and break the word count.\\n\\nPart 1 HOOKS the viewer. Part 2 BUILDS DESIRE with the offer. Part 3 CLOSES with why MSI + CTA. Together they form a complete sales funnel like a professional ad.\\n\\nOutput format: PART1_PROMPT ||| PART2_PROMPT ||| PART3_PROMPT\\nEach prompt under 280 characters. Max 15 spoken words per part.\"",
        "options": {
          "systemMessage": "You write Veo 3.1 image-to-video prompts for MSI Technologies following a sales funnel structure. RULES: 1) Write EXACT dialogue with colon syntax (person says: words here). 2) MIN 10, MAX 15 spoken words per part - count carefully. 3) Never describe person/background - only motion and speech. 4) Camera follows subject naturally. No music. 5) THREE PARTS following a SALES FUNNEL: PART 1 = Hook + Pain Point (grab attention), PART 2 = The Offer + Social Proof (build desire), PART 3 = Why MSI + Call to Action COMBINED (close + action). 6) VISUAL COHERENCE: maintain ALL visual elements from reference image across all parts — never add/remove/morph body parts or objects. 7) SILENCE BUFFER: person speaks for first 6 seconds, last 2 seconds are SILENT still pose. No mid-word cuts. 8) CRITICAL: Part 3 ending = person holds STILL natural pose. ABSOLUTELY NO waving, no farewell gesture, no animated ending, no greeting, no hand raising. Just a confident still look at camera. 9) Respect the user's CONTEXT. 10) NEVER include voice/accent descriptions in your output — they are added automatically. Your prompts = motion + dialogue ONLY. Format: PART1_PROMPT ||| PART2_PROMPT ||| PART3_PROMPT. Under 280 chars each."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        87488,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000003",
      "name": "Agent: Video Script"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        87568,
        -1392
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000004",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oF4jKBK0jRbwEPWt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $('Agent: Video Script').item.json.output || '';\nconst f = $('Format Video Input').item.json;\n\nlet p1 = '', p2 = '', p3 = '';\nif (agentOutput.includes('|||')) {\n  const parts = agentOutput.split('|||');\n  p1 = parts[0].trim();\n  p2 = (parts[1] || '').trim();\n  p3 = (parts[2] || '').trim();\n} else {\n  p1 = agentOutput.substring(0, 300);\n  p2 = agentOutput.substring(0, 300);\n  p3 = agentOutput.substring(0, 300);\n}\n\n// Validate word count in dialogue (extract words after colon)\nfunction countSpokenWords(prompt) {\n  const colonMatch = prompt.match(/says?:\\s*(.+?)(?:\\.|$)/i);\n  if (!colonMatch) return 0;\n  return colonMatch[1].trim().split(/\\s+/).length;\n}\n\nconst w1 = countSpokenWords(p1);\nconst w2 = countSpokenWords(p2);\nconst w3 = countSpokenWords(p3);\nif (w1 > 18) { console.log('WARNING: Part 1 has ' + w1 + ' spoken words (max 15)'); }\nif (w2 > 18) { console.log('WARNING: Part 2 has ' + w2 + ' spoken words (max 15)'); }\nif (w3 > 18) { console.log('WARNING: Part 3 has ' + w3 + ' spoken words (max 15)'); }\n\n// Suffixes aligned with sales funnel structure\nconst suffix1 = ' Clear American English accent, warm professional tone. Bold opening hook that grabs attention. Person finishes speaking by second 6, holds composed still pose for last 2 seconds. Voice only, zero music. No waving, no animated gestures. Camera follows subject smoothly.';\nconst suffix2 = ' Person starts speaking after natural beat with clear American English accent, warm professional tone. Present the offer with credibility and social proof. Person finishes speaking by second 6, holds composed still pose for last 2 seconds. Voice only, zero music. No waving, no animated gestures. Camera follows subject smoothly.';\nconst suffix3 = ' Person starts speaking after natural beat with clear American English accent, warm professional tone. Close with why MSI plus direct call to action. Person finishes speaking by second 5, then holds COMPLETELY STILL natural pose looking directly at camera for last 3 seconds. ABSOLUTELY NO waving, NO farewell gesture, NO hand raising, NO animated ending. Just a confident still presence. Voice only, zero music. Camera follows subject smoothly.';\n\nreturn [{\n  json: {\n    PROMPT_PART1: (p1 + suffix1).substring(0, 600),\n    PROMPT_PART2: (p2 + suffix2).substring(0, 600),\n    PROMPT_PART3: (p3 + suffix3).substring(0, 600),\n    DURATION: f.duration,\n    ASPECT_RATIO: f.aspect_ratio,\n    POST_ID: f.post_id,\n    ORIGINAL_PROMPT: f.prompt,\n    SERVICE: f.service,\n    START_IMAGE_URL: f.start_image_url\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87840,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000005",
      "name": "Build Settings"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ `INSERT INTO social_posts (post_type, status, strategy_analysis, image_prompt, post_copy, image_url, headline, created_at, updated_at) VALUES ('Video Preview', 'pending', '${($json.PROMPT_PART1 || '').replace(/'/g, \"''\")}', '${($json.PROMPT_PART2 || '').replace(/'/g, \"''\")}', '${JSON.stringify({original_prompt: $json.ORIGINAL_PROMPT || '', service: $json.SERVICE || 'company_intro', duration: $json.DURATION || '8', aspect_ratio: $json.ASPECT_RATIO || '9:16', start_image_url: $json.START_IMAGE_URL || '', prompt_part3: $json.PROMPT_PART3 || ''}).replace(/'/g, \"''\")}', '${($json.START_IMAGE_URL || '').replace(/'/g, \"''\")}', '${($json.ORIGINAL_PROMPT || '').substring(0, 120).replace(/'/g, \"''\")}', NOW(), NOW()) RETURNING *` }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        88064,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000006",
      "name": "Save Preview",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Script preview generated', data: { post_id: $json.id || '', prompt: $('Build Settings').item.json.ORIGINAL_PROMPT || '', service: $('Build Settings').item.json.SERVICE || '', duration: $('Build Settings').item.json.DURATION || '8', aspect_ratio: $('Build Settings').item.json.ASPECT_RATIO || '9:16', start_image_url: $('Build Settings').item.json.START_IMAGE_URL || '', prompt_part1: $('Build Settings').item.json.PROMPT_PART1 || '', prompt_part2: $('Build Settings').item.json.PROMPT_PART2 || '', prompt_part3: $('Build Settings').item.json.PROMPT_PART3 || '' } }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        88288,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000007",
      "name": "Respond Preview"
    }
  ],
  "connections": {
    "Webhook - Video Preview": {
      "main": [
        [
          {
            "node": "Format Video Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Video Input": {
      "main": [
        [
          {
            "node": "Agent: Video Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Video Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Video Script": {
      "main": [
        [
          {
            "node": "Build Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Settings": {
      "main": [
        [
          {
            "node": "Save Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Preview": {
      "main": [
        [
          {
            "node": "Respond Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}