video-script-preview-flow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msi-video-preview",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        87040,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000001",
      "name": "Webhook - Video Preview",
      "webhookId": "msi-video-preview"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nlet data = input.body || input;\nif (typeof data === 'string') {\n  try { data = JSON.parse(data); } catch (e) { }\n}\n\nconst prompt = data.prompt || data.video_prompt || '';\nconst start_image_url = data.start_image_url || data.imageUrl || null;\nconst aspect_ratio = data.aspect_ratio || data.aspectRatio || '9:16';\nconst service = data.service || 'company_intro';\nconst post_id = data.post_id || data.postId || null;\nconst topic = data.topic || '';\nconst duration = Math.min(parseInt(data.duration || '8'), 8);\n\nif (!prompt || prompt.length < 3) throw new Error('prompt is required');\nif (!start_image_url) throw new Error('start_image_url is required');\n// second_image_url no longer required - Part 2 uses video extension from Part 1\n\nreturn [{ json: { prompt, duration: String(duration), aspect_ratio, service, post_id, topic, start_image_url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87264,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000002",
      "name": "Format Video Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"You write Veo 3.1 image-to-video prompts for MSI Technologies.\\n\\nVideo duration: \" + $json.duration + \"s per part. THREE parts using video extension.\\n\\nSERVICE: \" + $json.service + \"\\nCONTEXT: \" + $json.prompt + \"\\nAUDIENCE: \" + ($json.topic || 'Business professionals') + \"\\n\\nIMPORTANT — READ THE CONTEXT ABOVE CAREFULLY. Your prompts MUST directly reflect what the user described. If they mention a specific action (walking, holding camera, sitting), a specific visual element (eye patch, glasses, hat, holding an object), or any specific detail — you MUST include and maintain it in ALL three parts. Never contradict or ignore the CONTEXT.\\n\\nVISUAL COHERENCE (CRITICAL RULE):\\n- ALL visual elements visible in the reference image MUST persist EXACTLY across ALL three parts.\\n- If the person is holding something, wearing something, or has any distinguishing feature — it MUST remain identical in every part.\\n- NEVER add, remove, morph, animate away, or transform any body part or visual element.\\n- If the person has one hand holding a camera, they keep holding it in all parts. No extra hands, no missing hands.\\n\\nTHE VIDEO HAS THREE PARTS WITH THREE DIFFERENT PURPOSES:\\n\\nPART 1 — SERVICES: The person passionately sells MSI Technologies, making the viewer feel an urgent need for these solutions. Reference the SERVICE value above to know which service to emphasize, but always position MSI as a full-service technology company. Key services:\\n- IT Outsourcing: global IT talent, managed services, remote teams, scalable tech staffing.\\n- AI Solutions: artificial intelligence, automation, machine learning, data-driven innovation.\\n- Business Process Outsourcing (BPO): outsourcing non-core tasks, process optimization.\\n- IT Management and Cybersecurity: threat detection, security operations, protecting business systems.\\n- Workforce Agility: flexible staffing, adaptive talent solutions, scaling teams.\\n- Executive Consulting: strategic advisory, navigating complexity, driving performance.\\n- Telecom Services: network planning, RF engineering, telecommunications infrastructure.\\nIf SERVICE = company_intro, mention several key services broadly. If SERVICE is specific, lead with that service.\\n\\nPART 2 — WHY CHOOSE MSI: The person delivers a powerful pitch making an irresistible case for MSI Technologies. Key differentiators:\\n- 20+ years of industry experience\\n- Time-zone aligned teams — nearshore advantage\\n- Cost reduction up to 40-60% without sacrificing quality\\n- Part of the Talentor group, presence in 40+ countries\\n- Flexible, tailored strategies for each client\\n- Nearshore model: proximity, cultural alignment, real-time collaboration\\nTone: confident, persuasive — closing the sale.\\n\\nPART 3 — CALL TO ACTION: The person motivates the viewer to take immediate action. This is the final closing pitch:\\n- Inspire urgency: do not let competitors get ahead\\n- Direct invitation: contact MSI, visit the website, schedule a consultation\\n- Reinforce trust: a partner with 20+ years you can count on\\n- End with a confident, warm closing gesture (nod, smile)\\nTone: inspiring, action-oriented, memorable.\\n\\nCRITICAL SPEECH TIMING (8-second video per part):\\n- Natural speech = ~2.5 words/second\\n- Person speaks for the FIRST 6 SECONDS only\\n- LAST 2 SECONDS = COMPLETE SILENCE — the person holds a composed, confident pose\\n- MAXIMUM 15 WORDS of spoken dialogue per part\\n- Write EXACT dialogue using colon syntax: The person says: [exact words here]\\n- Count your words carefully — if over 15, rewrite shorter\\n- The three parts form a COHERENT narrative adapted to the CONTEXT\\n- NO speech should be cut mid-word — each part is self-contained in its speech\\n\\nSILENCE BUFFER BETWEEN PARTS (MANDATORY):\\n- Each part MUST end with 2 seconds of SILENCE (person finishes speaking, holds pose)\\n- Each new part starts fresh with the person beginning a new thought after a natural beat\\n- This prevents speech being cut mid-word at part transitions\\n\\nPROMPT FORMAT (for each part):\\n- Line 1: Brief motion direction (gesture, head movement) - max 10 words\\n- Line 2: EXACT dialogue with colon syntax - max 15 spoken words\\n- NEVER describe person appearance, clothing, background, or setting\\n- NEVER use quotation marks — only colons for speech\\n- Camera follows the subject naturally, smoothly tracking their movement\\n\\nPART 1 PROMPT RULES:\\n- If SERVICE is company_intro, mention multiple services broadly.\\n- If SERVICE is specific, lead with that service.\\n- Dialogue must be bold, persuasive, and create desire.\\n- Person finishes speaking by second 6, holds composed pose for last 2 seconds.\\n\\nPART 2 PROMPT RULES:\\n- The person starts speaking from frame 1 (after natural beat).\\n- WHY choose MSI — experience, nearshore, cost reduction, Talentor, tailored strategies.\\n- Person finishes speaking by second 6, holds composed pose for last 2 seconds.\\n\\nPART 3 PROMPT RULES:\\n- The person starts speaking from frame 1 (after natural beat).\\n- Call to action — contact MSI, schedule consultation, visit website.\\n- Person finishes speaking by second 5, ends with confident closing gesture (nod, warm smile) for last 3 seconds.\\n\\nVOICE DESCRIPTION (MANDATORY — include in EVERY prompt):\\n- The person speaks in a clear, confident, professional American English accent.\\n- Warm and articulate tone, like a corporate spokesperson.\\n- Natural conversational pace, not robotic or overly dramatic.\\n- Include this voice direction in each prompt: speaks with a clear American accent, warm professional tone\\n\\nPart 1 presents WHAT MSI offers. Part 2 explains WHY choose MSI. Part 3 inspires ACTION. Together they form a complete persuasive narrative.\\n\\nOutput format: PART1_PROMPT ||| PART2_PROMPT ||| PART3_PROMPT\\nEach prompt under 280 characters. Max 15 spoken words per part.\"",
        "options": {
          "systemMessage": "You write Veo 3.1 image-to-video prompts for MSI Technologies. RULES: 1) Write EXACT dialogue with colon syntax (person says: words here). 2) MAX 15 spoken words per part - count carefully. 3) Never describe person/background - only motion and speech. 4) Camera follows subject naturally. No music. 5) THREE PARTS: PART 1 = MSI Services, PART 2 = Why Choose MSI, PART 3 = Call to Action. 6) VISUAL COHERENCE: maintain ALL visual elements from reference image across all parts — never add/remove/morph body parts or objects. 7) SILENCE BUFFER: person speaks for first 6 seconds, last 2 seconds are SILENT composed pose. No mid-word cuts. 8) Respect the user's CONTEXT — if they mention specific actions or visual elements, include them in ALL parts. 9) VOICE: clear American English accent, warm professional tone in every prompt. Format: PART1_PROMPT ||| PART2_PROMPT ||| PART3_PROMPT. Under 280 chars each."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        87488,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000003",
      "name": "Agent: Video Script"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        87568,
        -1392
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000004",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oF4jKBK0jRbwEPWt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $('Agent: Video Script').item.json.output || '';\nconst f = $('Format Video Input').item.json;\n\nlet p1 = '', p2 = '', p3 = '';\nif (agentOutput.includes('|||')) {\n  const parts = agentOutput.split('|||');\n  p1 = parts[0].trim();\n  p2 = (parts[1] || '').trim();\n  p3 = (parts[2] || '').trim();\n} else {\n  p1 = agentOutput.substring(0, 300);\n  p2 = agentOutput.substring(0, 300);\n  p3 = agentOutput.substring(0, 300);\n}\n\n// Validate word count in dialogue (extract words after colon)\nfunction countSpokenWords(prompt) {\n  const colonMatch = prompt.match(/says?:\\s*(.+?)(?:\\.|$)/i);\n  if (!colonMatch) return 0;\n  return colonMatch[1].trim().split(/\\s+/).length;\n}\n\nconst w1 = countSpokenWords(p1);\nconst w2 = countSpokenWords(p2);\nconst w3 = countSpokenWords(p3);\nif (w1 > 18) { console.log('WARNING: Part 1 has ' + w1 + ' spoken words (max 15)'); }\nif (w2 > 18) { console.log('WARNING: Part 2 has ' + w2 + ' spoken words (max 15)'); }\nif (w3 > 18) { console.log('WARNING: Part 3 has ' + w3 + ' spoken words (max 15)'); }\n\n// Suffixes with visual coherence + silence buffer\nconst suffix1 = ' Clear American English accent, warm professional tone. Present MSI services confidently. Person finishes speaking by second 6, holds composed silent pose for last 2 seconds. Voice only, zero music. Camera follows subject smoothly.';\nconst suffix2 = ' Person starts speaking after natural beat with clear American English accent, warm professional tone. Explain why choose MSI — experience, nearshore, cost reduction. Person finishes speaking by second 6, holds composed silent pose for last 2 seconds. Voice only, zero music. Camera follows subject smoothly.';\nconst suffix3 = ' Person starts speaking after natural beat with clear American English accent, warm professional tone. Call to action — contact MSI, transform your business. Person finishes speaking by second 5, ends with confident warm smile and nod for last 3 seconds. Voice only, zero music. Camera follows subject smoothly.';\n\nreturn [{\n  json: {\n    PROMPT_PART1: (p1 + suffix1).substring(0, 600),\n    PROMPT_PART2: (p2 + suffix2).substring(0, 600),\n    PROMPT_PART3: (p3 + suffix3).substring(0, 600),\n    DURATION: f.duration,\n    ASPECT_RATIO: f.aspect_ratio,\n    POST_ID: f.post_id,\n    ORIGINAL_PROMPT: f.prompt,\n    SERVICE: f.service,\n    START_IMAGE_URL: f.start_image_url\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87840,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000005",
      "name": "Build Settings"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ `INSERT INTO social_posts (post_type, status, strategy_analysis, image_prompt, post_copy, image_url, headline, created_at, updated_at) VALUES ('Video Preview', 'pending', '${($json.PROMPT_PART1 || '').replace(/'/g, \"''\")}', '${($json.PROMPT_PART2 || '').replace(/'/g, \"''\")}', '${JSON.stringify({original_prompt: $json.ORIGINAL_PROMPT || '', service: $json.SERVICE || 'company_intro', duration: $json.DURATION || '8', aspect_ratio: $json.ASPECT_RATIO || '9:16', start_image_url: $json.START_IMAGE_URL || '', prompt_part3: $json.PROMPT_PART3 || ''}).replace(/'/g, \"''\")}', '${($json.START_IMAGE_URL || '').replace(/'/g, \"''\")}', '${($json.ORIGINAL_PROMPT || '').substring(0, 120).replace(/'/g, \"''\")}', NOW(), NOW()) RETURNING *` }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        88064,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000006",
      "name": "Save Preview",
      "credentials": {
        "postgres": {
          "id": "WnTYs2zvPoE7hDJE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Script preview generated', data: { post_id: $json.id || '', prompt: $('Build Settings').item.json.ORIGINAL_PROMPT || '', service: $('Build Settings').item.json.SERVICE || '', duration: $('Build Settings').item.json.DURATION || '8', aspect_ratio: $('Build Settings').item.json.ASPECT_RATIO || '9:16', start_image_url: $('Build Settings').item.json.START_IMAGE_URL || '', prompt_part1: $('Build Settings').item.json.PROMPT_PART1 || '', prompt_part2: $('Build Settings').item.json.PROMPT_PART2 || '', prompt_part3: $('Build Settings').item.json.PROMPT_PART3 || '' } }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        88288,
        -1616
      ],
      "id": "d1a00001-aaaa-4001-b001-000000000007",
      "name": "Respond Preview"
    }
  ],
  "connections": {
    "Webhook - Video Preview": {
      "main": [
        [
          {
            "node": "Format Video Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Video Input": {
      "main": [
        [
          {
            "node": "Agent: Video Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Video Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Video Script": {
      "main": [
        [
          {
            "node": "Build Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Settings": {
      "main": [
        [
          {
            "node": "Save Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Preview": {
      "main": [
        [
          {
            "node": "Respond Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5116c87255060ddf18db8a2b1b90e34b38f50f44815cf784a0b8a92b6bb4e6e"
  }
}