migrations/calls/MSI Cold Calling - Laura Agent v4 CLEAN.json
{
  "name": "MSI Cold Calling - Laura Agent v4 CLEAN",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        320
      ],
      "id": "6e24869b-1dd5-417a-8241-0d1a544720db",
      "name": "Test Manual",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        128
      ],
      "id": "8c490de4-b41a-47ac-aab8-0e54580d6d54",
      "name": "Horario Óptimo Llamadas",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst estTime = new Date(now.toLocaleString('en-US', { timeZone: 'America/New_York' }));\nconst hour = estTime.getHours();\nconst day = estTime.getDay();\n\nif (day === 0 || day === 6) {\n  return [{ json: { proceed: false, reason: 'Weekend - no calls' } }];\n}\n\nif (hour < 8 || hour >= 17) {\n  return [{ json: { proceed: false, reason: 'Outside business hours' } }];\n}\n\nreturn [{ json: { proceed: true, currentHour: hour, dayOfWeek: day } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        224
      ],
      "id": "76b63deb-0155-4830-a46c-05829dacff7a",
      "name": "Verificar Horario Laboral"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.proceed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "cond-horario-001"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        736,
        224
      ],
      "id": "ec8cff71-3b18-4856-bd3d-35208ee6b7d4",
      "name": "¿Horario Válido?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Daily_Stats",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1008,
        208
      ],
      "id": "7ae2e1d8-2338-4230-bb87-a36d7200fa9a",
      "name": "Leer Stats del Día",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWoUK0PdQJqOEBKZ",
          "name": "Google Sheets MSI"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1232,
        208
      ],
      "id": "4b1a2c59-e4c5-4cf9-9707-a695398ca7ce",
      "name": "Leer Leads Pendientes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWoUK0PdQJqOEBKZ",
          "name": "Google Sheets MSI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $('Leer Leads Pendientes').all();\n\nlet callsToday = 0;\ntry {\n  const stats = $('Leer Stats del Día').all();\n  const today = new Date().toISOString().split('T')[0];\n  \n  for (const stat of stats) {\n    if (stat.json.DATE === today) {\n      callsToday = parseInt(stat.json.TOTAL_CALLS) || 0;\n      break;\n    }\n  }\n} catch (e) {\n  callsToday = 0;\n}\n\nif (callsToday >= 25) {\n  return [{ json: { proceed: false, reason: 'Already made 10 calls today', callsToday } }];\n}\n\nconst today = new Date().toISOString().split('T')[0];\n\nconst seenPhones = new Set();\nconst validLeads = leads.filter(lead => {\n  const status = String(lead.json.STATUS || '').toUpperCase();\n  const attempts = parseInt(lead.json.ATTEMPTS) || 0;\n  const phone = String(lead.json.PHONE || '').trim();\n  const lastCallDate = String(lead.json.LAST_CALL_DATE || '');\n  \n  if (lastCallDate === today) return false;\n  if (seenPhones.has(phone)) return false;\n  \n  const isValid = (status === 'PENDING') && attempts < 3 && phone.length > 0;\n  \n  if (isValid) seenPhones.add(phone);\n  \n  return isValid;\n});\n\nconst leadsToCall = validLeads.slice(0, 1);\n\nif (leadsToCall.length === 0) {\n  return [{ json: { proceed: false, reason: 'No valid leads to call', callsToday } }];\n}\n\nreturn leadsToCall.map(lead => ({\n  json: {\n    ...lead.json,\n    callsToday,\n    proceed: true\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        208
      ],
      "id": "7ad3a7ca-8c1f-4352-87b4-485e0a806c02",
      "name": "Filtrar Leads Válidos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.proceed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        208
      ],
      "id": "5c2a1243-3af5-4548-bf08-567788ce205d",
      "name": "¿Hay Leads?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.PHONE }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1904,
        192
      ],
      "id": "d71be443-1666-473f-a90d-ab67f4d14107",
      "name": "¿Lead Válido?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Call this lead NOW:\nName: {{ $json.LEAD_NAME }}\nCompany: {{ $json.COMPANY }}\nTitle: {{ $json.TITLE }}\nIndustry: {{ $json.INDUSTRY }}\nLead Type: {{ $json.LEAD_TYPE }}\nPhone: {{ $json.PHONE }}\nEmail: {{ $json.EMAIL }}\n\nGenerate a natural, conversational script for this call based on the LEAD_TYPE. Keep it under 90 seconds.",
        "options": {
          "systemMessage": "# IDENTITY\nYou are Laura, a warm and professional sales representative for MSI Technologies. You are making cold calls to potential B2B clients in the United States.\n\n# ABOUT MSI TECHNOLOGIES\n- Multinational IT solutions company, 20+ years, 700+ consultants, 14 offices across the Americas\n- Services: IT Staff Augmentation, Nearshore Staffing, Cybersecurity, Cloud Computing, AI Solutions, BPO\n- Key Value: 20-30% cost savings vs US domestic hiring, senior LATAM engineers aligned to US timezones\n\n# LEAD TYPE DETECTION\nCheck the lead information to identify the LEAD_TYPE. Adapt your pitch accordingly:\n\n## IF LEAD_TYPE = STAFFING:\nPITCH: \"Great! I'll be brief - we help companies like [COMPANY] scale their tech teams through nearshore staffing. Senior engineers aligned to US timezones at 20-30% less than domestic hiring. Is scaling your tech capacity or finding specialized talent something you're looking at right now?\"\n\nKEY TALKING POINTS:\n- Nearshore staff augmentation with senior LATAM engineers\n- 20-30% cost savings vs domestic hiring\n- Engineers aligned to US timezones\n- 5+ years experience, English fluent\n- Quick ramp-up: engineers ready in 2-4 weeks\n- Specialties: Full-stack, Cloud, DevOps, Data Engineering, QA\n\n## IF LEAD_TYPE = AI_SOLUTIONS:\nPITCH: \"Great! I'll be brief - we help companies like [COMPANY] implement AI solutions that drive real business results. From intelligent automation to custom AI models, we help businesses reduce costs and increase efficiency. Is leveraging AI or automation to improve your operations something you're exploring right now?\"\n\nKEY TALKING POINTS:\n- Custom AI solutions tailored to business needs\n- Intelligent process automation\n- Machine learning models for prediction and optimization\n- AI-powered chatbots and virtual assistants\n- Data analytics and business intelligence\n- Integration with existing systems\n- Proven ROI with measurable results\n\n# CALL FLOW - MAXIMUM 90 SECONDS\nBe warm, natural, and conversational. ALWAYS wait for the person to respond before continuing.\n\nSTEP 1 - GREETING (wait for response):\n\"Hi, this is Laura from MSI Technologies. Am I speaking with [NAME]?\"\n→ WAIT. If they say hi or ask how you are, respond naturally. Be human.\n\nSTEP 2 - PITCH (wait for response):\n→ Use the appropriate pitch based on LEAD_TYPE (see above)\n→ WAIT for their full response. Listen carefully.\n\nSTEP 3 - BASED ON THEIR RESPONSE:\n\nIf INTERESTED or CURIOUS:\n→ Ask: \"That's great to hear! What specific tech challenges are you facing right now?\"\n→ WAIT for their answer and listen carefully\n→ Relate their answer to MSI services based on the LEAD_TYPE\n→ Say: \"I'd love to explore this further. Would you be open to a 30-minute call with my colleague Nataly to discuss this in more detail?\"\n→ WAIT for their response\n→ If they say YES:\n  → Ask: \"Perfect! What day and time works best for your schedule?\"\n  → WAIT for them to give a specific day and time\n  → Confirm: \"Got it, [DAY] at [TIME]. And just to confirm, I have your email as [EMAIL]. Is that correct?\"\n  → WAIT for email confirmation\n  → Say: \"Excellent! You'll receive a calendar invite shortly for [DAY] at [TIME]. Thanks so much for your time, [NAME]. Have a great day!\"\n  → Use agendar_reunion tool with lead_name, lead_email, and company\n→ IMPORTANT: You MUST always ask for a specific day and time before ending the call\n→ IMPORTANT: You MUST always confirm the email address before ending the call\n→ NEVER say \"I'll have Nataly send you a calendar invite\" or \"I'll send options\" without first getting a specific day and time from the lead\n\nIf NOT INTERESTED (do NOT close immediately):\n→ First say: \"I totally understand, no pressure at all.\"\n→ Then PIVOT based on LEAD_TYPE:\n  → STAFFING: \"Just out of curiosity, what technology challenges is [COMPANY] focusing on right now? We work across staffing, cybersecurity, cloud, and AI - sometimes we can help in ways people don't expect.\"\n  → AI_SOLUTIONS: \"Just out of curiosity, is [COMPANY] exploring any kind of automation or data-driven solutions right now? Many companies are finding quick wins with AI that they didn't expect.\"\n→ WAIT for their response\n→ If they share a need: briefly relate it to MSI and offer to send info via email\n→ If they say nothing or insist no: \"Completely understand. If anything changes, you can always visit us at msitechnologiesinc.com. Thanks so much for your time, [NAME]. Have a great day!\"\n→ Use finalizar_llamada with appropriate interest_level and next_step\n\nIf WANTS EMAIL / SEND INFO:\n→ Say: \"Absolutely! Let me confirm your email - I have [EMAIL]. Is that correct?\"\n→ WAIT for confirmation\n→ Say: \"Perfect, I'll get that information sent over to you right away. Feel free to reach out if you have any questions. Thanks for your time, [NAME]!\"\n→ Use finalizar_llamada with interest_level \"medium\" and next_step \"send_email\"\n\nIf MAYBE or UNSURE:\n→ Ask based on LEAD_TYPE:\n  → STAFFING: \"What technology challenges is [COMPANY] focusing on right now?\"\n  → AI_SOLUTIONS: \"What processes or areas in your business do you think could benefit most from automation or AI?\"\n→ Listen and relate to MSI services\n→ Offer either a call with Nataly or to send info via email\n→ If they choose a call: follow the INTERESTED flow above (ask day, time, confirm email)\n→ If they choose email: follow the WANTS EMAIL flow above\n→ Use finalizar_llamada or agendar_reunion accordingly\n\n# CONVERSATIONAL RULES\n- ALWAYS wait for the person to finish speaking before responding\n- If they ask \"How are you?\", respond: \"I'm doing great, thanks for asking! How about yourself?\"\n- LISTEN to what they say and respond to THEIR specific words\n- Keep responses to 2-3 sentences max\n- Sound like a real person, not a robot\n- Use their name occasionally\n- Maximum 5-6 exchanges total, then wrap up\n- If connection seems bad or they can't hear you, speak clearly and slower\n- Stay focused on the LEAD_TYPE topic but if the lead mentions needs from the other area, acknowledge it and include it\n\n# SCHEDULING RULES (CRITICAL)\n- NEVER end a call where the lead agreed to a meeting WITHOUT getting a specific day and time\n- NEVER say \"I'll send calendar options\" - always ask \"What day and time works best?\"\n- ALWAYS confirm the email address before ending any call where a meeting is scheduled or info will be sent\n- If the lead says \"sure\" or \"okay\" to a meeting, immediately ask: \"What day and time works best for your schedule?\"\n- After getting day and time, ALWAYS say: \"And just to confirm, I have your email as [EMAIL]. Is that correct?\"\n\n# OBJECTION HANDLING\n- \"Not interested\" → Do NOT close immediately. Pivot to asking about their tech challenges first.\n- \"Send me an email\" → \"Absolutely! Let me confirm your email - I have [EMAIL]. Is that correct?\" Then confirm and close.\n- \"We handle everything internally\" → STAFFING: \"A lot of our clients complement their internal teams with us for specialized roles when they need to scale quickly.\" / AI_SOLUTIONS: \"That's great! Many of our clients started the same way and found that our AI expertise helped them accelerate projects they were already working on.\"\n- \"Had bad outsourcing experience\" → \"I hear that a lot. Our difference is senior talent, 5+ years experience, US-timezone aligned. Very different experience.\"\n- \"How much does it cost?\" → Use consultar_knowledge_base tool\n- \"I'm busy right now\" → \"I totally understand. When would be a better time to reach you?\" If they give a time, note it. If not, offer to send email.\n\n# TOOLS\n- consultar_knowledge_base: Use when they ask specific questions about MSI\n- agendar_reunion: Use when the lead agrees to a meeting AND you have confirmed day, time, and email\n- finalizar_llamada: Use at the END of every call. REQUIRED.\n\n# CRITICAL RULES\n- NEVER hang up without using finalizar_llamada\n- NEVER skip waiting for the person's response\n- When someone says \"not interested\", ALWAYS pivot and ask about their tech challenges BEFORE closing\n- After saying goodbye, END the call immediately\n- ALWAYS get specific day and time before scheduling\n- ALWAYS confirm email before ending call\n- ALWAYS adapt your pitch and talking points to the LEAD_TYPE"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2160,
        176
      ],
      "id": "2e53244c-40f3-4aff-a1cc-6af40addec1f",
      "name": "AI Agent Laura"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1920,
        528
      ],
      "id": "a1b1da33-7213-444f-965d-f82535104342",
      "name": "OpenAI GPT-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "CBtqPYUwBmhnVGex",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json.PHONE }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        2128,
        480
      ],
      "id": "4180efc4-b083-403e-8a61-ca0aac2f5ed7",
      "name": "Memoria Conversación"
    },
    {
      "parameters": {
        "name": "consultar_knowledge_base",
        "description": "Use this tool to search for information about MSI Technologies services, pricing, processes, and how to handle objections.",
        "workflowId": "DwVC3YLSMWs8eYUVaDByD",
        "fields": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        2288,
        560
      ],
      "id": "5ab3651c-50bb-407f-89d5-0a576c090005",
      "name": "Tool - Knowledge Base"
    },
    {
      "parameters": {
        "name": "agendar_reunion",
        "description": "Use this tool when the lead agrees to schedule a meeting with Nataly Riaño.",
        "workflowId": "0OmWg3lrbmoSyeqCFcD2q",
        "fields": {
          "values": [
            {
              "name": "lead_name"
            },
            {
              "name": "lead_email"
            },
            {
              "name": "company"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        2416,
        464
      ],
      "id": "4b602d70-66aa-4f21-8b02-cd05a00a48fe",
      "name": "Tool - Agendar Reunión"
    },
    {
      "parameters": {
        "name": "finalizar_llamada",
        "description": "Use this tool at the END of every call to record the outcome. Always call this before ending.",
        "workflowId": "5HQVnYtI1tBT52K3IJEOf",
        "fields": {
          "values": [
            {
              "name": "call_result"
            },
            {
              "name": "interest_level"
            },
            {
              "name": "pain_points"
            },
            {
              "name": "next_step"
            },
            {
              "name": "notes"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        2608,
        544
      ],
      "id": "ed229314-ab39-4529-bfa6-54aec5f34fb6",
      "name": "Tool - Finalizar Llamada"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn [items[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        176
      ],
      "id": "ec3e7561-90da-449d-ab5a-692803216335",
      "name": "Tomar Solo 1 Resultado"
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $json;\nconst lead = $('¿Lead Válido?').first().json;\n\nconst script = agentOutput.output || agentOutput.text || '';\n\nconst today = new Date().toLocaleDateString('en-CA', { timeZone: 'America/New_York' });\n\nreturn [{\n  json: {\n    phone: lead.PHONE,\n    leadName: lead.LEAD_NAME || 'there',\n    company: lead.COMPANY || '',\n    email: lead.EMAIL || '',\n    script: script,\n    row_number: lead.row_number,\n    LEAD_NAME: lead.LEAD_NAME,\n    COMPANY: lead.COMPANY,\n    PHONE: lead.PHONE,\n    EMAIL: lead.EMAIL,\n    TITLE: lead.TITLE,\n    ATTEMPTS: lead.ATTEMPTS,\n    call_date_today: today\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        176
      ],
      "id": "36703dfb-0af8-48a4-9660-d9a579c29268",
      "name": "Preparar Llamada Bland"
    },
    {
      "parameters": {
        "url": "=https://api.bland.ai/v1/calls/{{ $json.call_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3504,
        176
      ],
      "id": "8bed9680-bb69-47aa-bbf3-923b238d4f18",
      "name": "Obtener Resultado Llamada",
      "credentials": {
        "httpHeaderAuth": {
          "id": "p6CU668YNOsmz1GH",
          "name": "Bland.ai API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const callResult = $json;\nconst lead = $('Preparar Llamada Bland').first().json;\n\nlet callStatus = 'no_answer';\nlet interestLevel = 'none';\nlet nextStep = 'callback';\nlet notes = '';\nlet painPoints = '';\n\nconst fullTranscript = (callResult.concatenated_transcript || '').toLowerCase();\nconst callLength = callResult.call_length || 0;\nconst correctedDuration = parseInt(callResult.corrected_duration || '0');\nconst status = callResult.status || '';\nconst summary = (callResult.summary || '').toLowerCase();\n\nconst durationSeconds = correctedDuration > 0 ? correctedDuration : Math.round(callLength * 60);\n\nconst transcripts = callResult.transcripts || [];\nconst userLines = transcripts\n  .filter(t => t.user === 'user')\n  .map(t => t.text.toLowerCase())\n  .join(' ');\n\nconst assistantLines = transcripts\n  .filter(t => t.user === 'assistant')\n  .map(t => t.text.toLowerCase())\n  .join(' ');\n\n// DETECTAR VOICEMAIL PRIMERO\nconst isVoicemail = fullTranscript.includes('voicemail detection') ||\n  fullTranscript.includes('correo de voz') ||\n  fullTranscript.includes('contestador') ||\n  fullTranscript.includes('leave a message') ||\n  fullTranscript.includes('deje su mensaje') ||\n  fullTranscript.includes('ssn_redacted') ||\n  callResult.voicemail_detected === true ||\n  (callResult.answered_by === 'voicemail') ||\n  assistantLines.includes('call ended due to voicemail');\n\nif (status === 'completed' && isVoicemail) {\n  callStatus = 'voicemail';\n  notes = 'Voicemail detected - call ended automatically';\n  nextStep = 'callback';\n  interestLevel = 'none';\n} else if (status === 'completed' && userLines.length > 5 && !isVoicemail && durationSeconds > 15) {\n  callStatus = 'answered';\n  \n  // Detectar pain points\n  if (userLines.includes('scale') || userLines.includes('scaling') || userLines.includes('grow')) painPoints += 'Scaling team; ';\n  if (userLines.includes('cost') || userLines.includes('budget') || userLines.includes('expensive') || userLines.includes('reduce cost')) painPoints += 'Cost concerns; ';\n  if (userLines.includes('security') || userLines.includes('cyber')) painPoints += 'Cybersecurity needs; ';\n  if (userLines.includes('cloud') || userLines.includes('aws') || userLines.includes('azure')) painPoints += 'Cloud needs; ';\n  if (userLines.includes('ai ') || userLines.includes('ai,') || userLines.includes('artificial') || userLines.includes('machine learning')) painPoints += 'AI/ML needs; ';\n\n  // USAR SUMMARY COMO FUENTE PRINCIPAL\n  const summaryHasMeeting = summary.includes('scheduled') || summary.includes('follow-up call') || summary.includes('calendar invite') || summary.includes('meeting is set');\n  const summaryHasInterest = summary.includes('expressed interest') || summary.includes('showed interest') || summary.includes('open to');\n  const summaryHasNoInterest = (summary.includes('no interest') || summary.includes('not interested') || summary.includes('declined')) && !summaryHasMeeting;\n  const summaryHasEmailFollowup = summary.includes('send info') || summary.includes('send email') || summary.includes('email follow') || summary.includes('send over') || summary.includes('information sent') || summary.includes('get that information');\n  const summaryHasNoAction = summary.includes('no further action') && !summaryHasMeeting && !summaryHasEmailFollowup;\n\n  // Detectar de userLines\n  const userAcceptedMeeting = userLines.includes('of course') || userLines.includes('sounds good') || userLines.includes('let\\'s do it');\n  const userMentionedSchedule = userLines.includes('wednesday') || userLines.includes('monday') || userLines.includes('tuesday') || userLines.includes('thursday') || userLines.includes('friday') || userLines.includes('next week') || userLines.includes('tomorrow') || userLines.includes('10:00') || userLines.includes('10 am') || userLines.includes('11:00') || userLines.includes('11 am') || userLines.includes('morning') || userLines.includes('afternoon');\n  const userWantsEmail = userLines.includes('send me') || userLines.includes('email') || userLines.includes('send info') || userLines.includes('information') || userLines.includes('send over');\n  \n  const strongRejection = userLines.includes('not interested') || \n    userLines.includes('no thank') || \n    userLines.includes(\"don't call\") || \n    userLines.includes('remove me') || \n    userLines.includes('stop calling') ||\n    userLines.includes('don\\'t have any need') ||\n    userLines.includes('don\\'t have any necessity') ||\n    userLines.includes('we don\\'t need') ||\n    userLines.includes('not looking for');\n\n  // LÓGICA DE DECISIÓN\n  if (summaryHasMeeting || (userAcceptedMeeting && userMentionedSchedule)) {\n    interestLevel = 'high';\n    nextStep = 'meeting_scheduled';\n  } else if (summaryHasEmailFollowup || userWantsEmail) {\n    interestLevel = 'medium';\n    nextStep = 'send_email';\n  } else if (strongRejection || summaryHasNoAction || summaryHasNoInterest) {\n    interestLevel = 'none';\n    nextStep = 'not_interested';\n  } else if (summaryHasInterest) {\n    interestLevel = 'high';\n    nextStep = 'meeting_scheduled';\n  } else {\n    interestLevel = 'low';\n    nextStep = 'callback';\n  }\n  \n  notes = callResult.summary || 'Call completed';\n} else if (status === 'completed') {\n  callStatus = 'no_answer';\n  notes = 'Call too short - no meaningful interaction';\n} else {\n  callStatus = (status === 'busy') ? 'busy' : 'no_answer';\n  notes = (status === 'busy') ? 'Line busy' : 'No answer - ' + status;\n}\n\n// DETERMINAR STATUS DEL LEAD\nlet newStatus = 'PENDING';\nconst currentAttempts = (parseInt(lead.ATTEMPTS) || 0) + 1;\n\nif (nextStep === 'meeting_scheduled') newStatus = 'SCHEDULED';\nelse if (nextStep === 'not_interested') newStatus = 'NOT_INTERESTED';\nelse if (nextStep === 'send_email') newStatus = 'FOLLOW_UP';\nelse if (callStatus === 'answered' && interestLevel === 'low') newStatus = 'CONTACTED';\nelse if (callStatus === 'voicemail' || callStatus === 'no_answer') newStatus = 'PENDING';\nelse if (currentAttempts >= 3 && callStatus !== 'answered') newStatus = 'NO_ANSWER';\n\nconst now = new Date();\nconst estOpts = { timeZone: 'America/New_York' };\nconst dateStr = now.toLocaleDateString('en-CA', estOpts);\nconst timeStr = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true, ...estOpts });\n\nlet calendlyLink = '';\nif (nextStep === 'meeting_scheduled' && lead.EMAIL) {\n  calendlyLink = 'https://calendly.com/nataly-riano-msitechnologiesinc/30min?name=' + encodeURIComponent(lead.LEAD_NAME || '') + '&email=' + encodeURIComponent(lead.EMAIL) + '&a1=' + encodeURIComponent(lead.COMPANY || '');\n}\n\nreturn [{\n  json: {\n    row_number: lead.row_number,\n    LEAD_NAME: lead.LEAD_NAME,\n    COMPANY: lead.COMPANY,\n    PHONE: lead.PHONE,\n    EMAIL: lead.EMAIL,\n    call_id: callResult.call_id || '',\n    call_status: callStatus,\n    interest_level: interestLevel,\n    pain_points: painPoints.trim(),\n    next_step: nextStep,\n    notes: notes,\n    transcript: callResult.concatenated_transcript || '',\n    recording_url: callResult.recording_url || '',\n    duration: durationSeconds,\n    new_status: newStatus,\n    new_attempts: currentAttempts,\n    call_date: dateStr,\n    call_time: timeStr,\n    calendly_link: calendlyLink,\n    summary: callResult.summary || notes\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4048,
        32
      ],
      "id": "d896b5e4-8f9f-45a7-bb61-0082fb87144f",
      "name": "Analizar Resultado"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LEAD_NAME": "={{ $json.LEAD_NAME }}",
            "STATUS": "={{ $json.new_status }}",
            "ATTEMPTS": "={{ $json.new_attempts }}",
            "LAST_CALL_DATE": "={{ $json.call_date }}",
            "LAST_CALL_TIME": "={{ $json.call_time }}",
            "CALL_RESULT": "={{ $json.call_status }}",
            "INTEREST_LEVEL": "={{ $json.interest_level }}",
            "PAIN_POINTS": "={{ $json.pain_points }}",
            "NEXT_STEP": "={{ $json.next_step }}",
            "NOTES": "={{ $json.notes }}",
            "CALENDLY_LINK": "={{ $json.calendly_link }}",
            "PHONE": "={{ $json.PHONE }}"
          },
          "matchingColumns": [
            "PHONE"
          ],
          "schema": [
            {
              "id": "LEAD_NAME",
              "displayName": "LEAD_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "COMPANY",
              "displayName": "COMPANY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TITLE",
              "displayName": "TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PHONE",
              "displayName": "PHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATE",
              "displayName": "STATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIMEZONE",
              "displayName": "TIMEZONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INDUSTRY",
              "displayName": "INDUSTRY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COMPANY_SIZE",
              "displayName": "COMPANY_SIZE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SOURCE",
              "displayName": "SOURCE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATTEMPTS",
              "displayName": "ATTEMPTS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LAST_CALL_DATE",
              "displayName": "LAST_CALL_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LAST_CALL_TIME",
              "displayName": "LAST_CALL_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CALL_RESULT",
              "displayName": "CALL_RESULT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTEREST_LEVEL",
              "displayName": "INTEREST_LEVEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PAIN_POINTS",
              "displayName": "PAIN_POINTS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NEXT_STEP",
              "displayName": "NEXT_STEP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEETING_DATE",
              "displayName": "MEETING_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEETING_TIME",
              "displayName": "MEETING_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CALENDLY_LINK",
              "displayName": "CALENDLY_LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOTES",
              "displayName": "NOTES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CREATED_DATE",
              "displayName": "CREATED_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4256,
        32
      ],
      "id": "7491b302-65fb-4fdb-b1a0-6def157a954b",
      "name": "Actualizar Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWoUK0PdQJqOEBKZ",
          "name": "Google Sheets MSI"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Call_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CALL_ID": "={{ $('Analizar Resultado').item.json.call_id }}",
            "LEAD_NAME": "={{ $('Analizar Resultado').item.json.LEAD_NAME }}",
            "PHONE": "={{ $('Analizar Resultado').item.json.PHONE }}",
            "CALL_DATE": "={{ $('Analizar Resultado').item.json.call_date }}",
            "CALL_TIME": "={{ $('Analizar Resultado').item.json.call_time }}",
            "DURATION": "={{ $('Analizar Resultado').item.json.duration }}",
            "CALL_RESULT": "={{ $('Analizar Resultado').item.json.call_status }}",
            "TRANSCRIPT": "={{ $('Analizar Resultado').item.json.transcript }}",
            "RECORDING_URL": "={{ $('Analizar Resultado').item.json.recording_url }}",
            "SUMMARY": "={{ $('Analizar Resultado').item.json.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CALL_ID",
              "displayName": "CALL_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LEAD_NAME",
              "displayName": "LEAD_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PHONE",
              "displayName": "PHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CALL_DATE",
              "displayName": "CALL_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CALL_TIME",
              "displayName": "CALL_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DURATION",
              "displayName": "DURATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CALL_RESULT",
              "displayName": "CALL_RESULT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TRANSCRIPT",
              "displayName": "TRANSCRIPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RECORDING_URL",
              "displayName": "RECORDING_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SUMMARY",
              "displayName": "SUMMARY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4464,
        32
      ],
      "id": "3791ed28-6af6-4051-a3d1-e17f54877c81",
      "name": "Registrar en Call_Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWoUK0PdQJqOEBKZ",
          "name": "Google Sheets MSI"
        }
      }
    },
    {
      "parameters": {
        "content": "# 📞 MSI Cold Calling - Laura Agent v4 CLEAN\n\n## Flujo lineal (sin loops):\n1. Trigger → Verificar Horario\n2. Stats → Leads → Filtrar (EN SERIE, no paralelo)\n3. AI Agent Laura con Tools\n4. Tomar 1 resultado → Preparar → Bland.ai\n5. Esperar 120seg → Obtener resultado\n6. Analizar → Actualizar Lead → Call_Log → FIN\n\n## Optimizaciones:\n- 🔄 Sin loops ni SplitInBatches\n- 📞 1 lead por ejecución\n- 🗣️ Laura conversacional con pivot\n- 📵 Voicemail: hangup ($0)\n- ⏱️ max_duration: 3 min\n- 💰 Costo: ~$3-5/día",
        "height": 612,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1712,
        -528
      ],
      "id": "a92801a9-8d59-4bc5-a000-9828a5eaa56e",
      "name": "Nota Principal"
    },
    {
      "parameters": {
        "jsCode": "const resultado = $('Analizar Resultado').first().json;\nconst today = resultado.call_date;\nconst callStatus = resultado.call_status;\nconst interestLevel = resultado.interest_level;\nconst nextStep = resultado.next_step;\n\n// Leer stats existentes del día\nlet existingStats = null;\ntry {\n  const allStats = $('Leer Stats del Día').all();\n  for (const stat of allStats) {\n    if (stat.json.DATE === today) {\n      existingStats = stat.json;\n      break;\n    }\n  }\n} catch (e) {\n  existingStats = null;\n}\n\nlet stats;\nif (existingStats) {\n  stats = {\n    DATE: today,\n    TOTAL_CALLS: (parseInt(existingStats.TOTAL_CALLS) || 0) + 1,\n    ANSWERED: (parseInt(existingStats.ANSWERED) || 0) + (callStatus === 'answered' ? 1 : 0),\n    VOICEMAIL: (parseInt(existingStats.VOICEMAIL) || 0) + (callStatus === 'voicemail' ? 1 : 0),\n    NO_ANSWER: (parseInt(existingStats.NO_ANSWER) || 0) + (callStatus === 'no_answer' ? 1 : 0),\n    MEETINGS_SCHEDULED: (parseInt(existingStats.MEETINGS_SCHEDULED) || 0) + (nextStep === 'meeting_scheduled' ? 1 : 0),\n    INTERESTED: (parseInt(existingStats.INTERESTED) || 0) + (interestLevel === 'high' || interestLevel === 'medium' ? 1 : 0),\n    NOT_INTERESTED: (parseInt(existingStats.NOT_INTERESTED) || 0) + (nextStep === 'not_interested' ? 1 : 0),\n    isUpdate: true\n  };\n} else {\n  stats = {\n    DATE: today,\n    TOTAL_CALLS: 1,\n    ANSWERED: callStatus === 'answered' ? 1 : 0,\n    VOICEMAIL: callStatus === 'voicemail' ? 1 : 0,\n    NO_ANSWER: callStatus === 'no_answer' ? 1 : 0,\n    MEETINGS_SCHEDULED: nextStep === 'meeting_scheduled' ? 1 : 0,\n    INTERESTED: (interestLevel === 'high' || interestLevel === 'medium') ? 1 : 0,\n    NOT_INTERESTED: nextStep === 'not_interested' ? 1 : 0,\n    isUpdate: false\n  };\n}\n\nreturn [{ json: stats }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4672,
        32
      ],
      "id": "1744bcd1-4c4a-4356-b8ed-b466b34d0307",
      "name": "Preparar Daily Stats"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "27851d69-3f96-469e-b954-931cd2f1ba6b",
              "leftValue": "={{ $json.isUpdate }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4912,
        32
      ],
      "id": "9784b383-1c0a-4f47-b2e1-3fcc7e2c0a25",
      "name": "¿Stats Existentes?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 741743178,
          "mode": "list",
          "cachedResultName": "Daily_Stats",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A/edit#gid=741743178"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "={{ $json.DATE }}",
            "TOTAL_CALLS": "={{ $json.TOTAL_CALLS }}",
            "ANSWERED": "={{ $json.ANSWERED }}",
            "VOICEMAIL": "={{ $json.VOICEMAIL }}",
            "NO_ANSWER": "={{ $json.NO_ANSWER }}",
            "MEETINGS_SCHEDULED": "={{ $json.MEETINGS_SCHEDULED }}",
            "INTERESTED": "={{ $json.INTERESTED }}",
            "NOT_INTERESTED": "={{ $json.NOT_INTERESTED }}"
          },
          "matchingColumns": [
            "DATE"
          ],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TOTAL_CALLS",
              "displayName": "TOTAL_CALLS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ANSWERED",
              "displayName": "ANSWERED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VOICEMAIL",
              "displayName": "VOICEMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NO_ANSWER",
              "displayName": "NO_ANSWER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEETINGS_SCHEDULED",
              "displayName": "MEETINGS_SCHEDULED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERESTED",
              "displayName": "INTERESTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOT_INTERESTED",
              "displayName": "NOT_INTERESTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5200,
        -96
      ],
      "id": "4e9a7188-8679-4211-ba4b-b08fb731d02d",
      "name": "Actualizar Daily Stats",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWoUK0PdQJqOEBKZ",
          "name": "Google Sheets MSI"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 741743178,
          "mode": "list",
          "cachedResultName": "Daily_Stats",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A/edit#gid=741743178"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "={{ $json.DATE }}",
            "TOTAL_CALLS": "={{ $json.TOTAL_CALLS }}",
            "ANSWERED": "={{ $json.ANSWERED }}",
            "VOICEMAIL": "={{ $json.VOICEMAIL }}",
            "NO_ANSWER": "={{ $json.NO_ANSWER }}",
            "MEETINGS_SCHEDULED": "={{ $json.MEETINGS_SCHEDULED }}",
            "INTERESTED": "={{ $json.INTERESTED }}",
            "NOT_INTERESTED": "={{ $json.NOT_INTERESTED }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TOTAL_CALLS",
              "displayName": "TOTAL_CALLS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ANSWERED",
              "displayName": "ANSWERED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VOICEMAIL",
              "displayName": "VOICEMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NO_ANSWER",
              "displayName": "NO_ANSWER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEETINGS_SCHEDULED",
              "displayName": "MEETINGS_SCHEDULED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERESTED",
              "displayName": "INTERESTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOT_INTERESTED",
              "displayName": "NOT_INTERESTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5200,
        144
      ],
      "id": "dd70c077-2cb8-4ee2-be15-8b05510dd3b0",
      "name": "Crear Daily Stats",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWoUK0PdQJqOEBKZ",
          "name": "Google Sheets MSI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 150000));\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        176
      ],
      "id": "6ab0a93a-d1c3-4a9a-815c-084897b51d55",
      "name": "Esperar 180 seg"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "644d1968-51e7-4929-a2a3-756759dced35",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3696,
        176
      ],
      "id": "e56b8920-8261-4890-b03d-06ebd7d32d6e",
      "name": "¿Llamada Terminó?"
    },
    {
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 60000));\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        288
      ],
      "id": "e34b300a-1de4-471e-8955-b531142a6789",
      "name": "Esperar 60 seg más"
    },
    {
      "parameters": {
        "url": "=https://api.bland.ai/v1/calls/{{ $('Obtener Resultado Llamada').item.json.call_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4448,
        288
      ],
      "id": "596051af-1aa9-43ba-adad-ca6d85ec36ba",
      "name": "Reintentar Resultado",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "p6CU668YNOsmz1GH",
          "name": "Bland.ai API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A",
          "mode": "list",
          "cachedResultName": "MSI Cold Calling - Laura Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PHONE": "={{ $json.PHONE }}",
            "STATUS": "IN_PROGRESS",
            "LAST_CALL_DATE": "={{ $json.call_date_today }}"
          },
          "matchingColumns": [
            "PHONE"
          ],
          "schema": [
            {
              "id": "LEAD_NAME",
              "displayName": "LEAD_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COMPANY",
              "displayName": "COMPANY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TITLE",
              "displayName": "TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PHONE",
              "displayName": "PHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATE",
              "displayName": "STATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TIMEZONE",
              "displayName": "TIMEZONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "INDUSTRY",
              "displayName": "INDUSTRY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COMPANY_SIZE",
              "displayName": "COMPANY_SIZE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SOURCE",
              "displayName": "SOURCE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATTEMPTS",
              "displayName": "ATTEMPTS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LAST_CALL_DATE",
              "displayName": "LAST_CALL_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LAST_CALL_TIME",
              "displayName": "LAST_CALL_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CALL_RESULT",
              "displayName": "CALL_RESULT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "INTEREST_LEVEL",
              "displayName": "INTEREST_LEVEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PAIN_POINTS",
              "displayName": "PAIN_POINTS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NEXT_STEP",
              "displayName": "NEXT_STEP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEETING_DATE",
              "displayName": "MEETING_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEETING_TIME",
              "displayName": "MEETING_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CALENDLY_LINK",
              "displayName": "CALENDLY_LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOTES",
              "displayName": "NOTES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CREATED_DATE",
              "displayName": "CREATED_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LEAD_TYPE",
              "displayName": "LEAD_TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2928,
        176
      ],
      "id": "31fcee0d-a299-4c53-b970-545a237ac2e1",
      "name": "Marcar Lead En Proceso",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWoUK0PdQJqOEBKZ",
          "name": "Google Sheets MSI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Preparar Llamada Bland').first().json;\n\nconst body = {\n  phone_number: lead.phone,\n  task: lead.script,\n  voice: \"4e65cda2-cf46-4907-84ba-3ca96c48f549\",\n  first_sentence: \"Hi, this is Laura from MSI Technologies. Am I speaking with \" + lead.leadName + \"?\",\n  wait_for_greeting: true,\n  noise_cancellation: true,\n  record: true,\n  max_duration: 3,\n  language: \"en\",\n  model: \"enhanced\",\n  interruption_threshold: 200,\n  temperature: 0.7,\n  answering_machine_detection: true,\n  voicemail_action: \"hangup\",\n  metadata: {\n    lead_name: lead.LEAD_NAME,\n    company: lead.COMPANY,\n    email: lead.EMAIL,\n    row_number: String(lead.row_number)\n  }\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.bland.ai/v1/calls',\n  headers: {\n    'Content-Type': 'application/json',\n    'authorization': 'org_0c04c275db89a23a555a1f653c646c46b6239aef0b0fb08eebcbb12b5da31fcd49bc1e14aaa0d22a68ca69'\n  },\n  body: body\n});\n\nreturn [{ json: { ...response, ...lead } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        176
      ],
      "id": "070a6d37-5af6-40bd-9fb4-fabeafbba498",
      "name": "Llamar con Bland.ai1"
    }
  ],
  "pinData": {},
  "connections": {
    "Test Manual": {
      "main": [
        [
          {
            "node": "Verificar Horario Laboral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horario Óptimo Llamadas": {
      "main": [
        [
          {
            "node": "Verificar Horario Laboral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Horario Laboral": {
      "main": [
        [
          {
            "node": "¿Horario Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Horario Válido?": {
      "main": [
        [
          {
            "node": "Leer Stats del Día",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Stats del Día": {
      "main": [
        [
          {
            "node": "Leer Leads Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Leads Pendientes": {
      "main": [
        [
          {
            "node": "Filtrar Leads Válidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Leads Válidos": {
      "main": [
        [
          {
            "node": "¿Hay Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Leads?": {
      "main": [
        [
          {
            "node": "¿Lead Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Lead Válido?": {
      "main": [
        [
          {
            "node": "AI Agent Laura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Laura": {
      "main": [
        [
          {
            "node": "Tomar Solo 1 Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tomar Solo 1 Resultado": {
      "main": [
        [
          {
            "node": "Preparar Llamada Bland",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Llamada Bland": {
      "main": [
        [
          {
            "node": "Marcar Lead En Proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Resultado Llamada": {
      "main": [
        [
          {
            "node": "¿Llamada Terminó?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Resultado": {
      "main": [
        [
          {
            "node": "Actualizar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Lead": {
      "main": [
        [
          {
            "node": "Registrar en Call_Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Laura",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria Conversación": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Laura",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Laura",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Agendar Reunión": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Laura",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Finalizar Llamada": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Laura",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registrar en Call_Log": {
      "main": [
        [
          {
            "node": "Preparar Daily Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Daily Stats": {
      "main": [
        [
          {
            "node": "¿Stats Existentes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Stats Existentes?": {
      "main": [
        [
          {
            "node": "Actualizar Daily Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Daily Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 180 seg": {
      "main": [
        [
          {
            "node": "Obtener Resultado Llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Llamada Terminó?": {
      "main": [
        [
          {
            "node": "Analizar Resultado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar 60 seg más",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 60 seg más": {
      "main": [
        [
          {
            "node": "Reintentar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reintentar Resultado": {
      "main": [
        [
          {
            "node": "Analizar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Lead En Proceso": {
      "main": [
        [
          {
            "node": "Llamar con Bland.ai1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar con Bland.ai1": {
      "main": [
        [
          {
            "node": "Esperar 180 seg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "607a6411-469f-499c-9cea-dde2bf801761",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c2794d9d044c6bd8df588319a07cd200ddb18a3500c78ed9e3f3be6469af062"
  },
  "id": "IPBLGeHrAvmPXGnBkzY3J",
  "tags": []
}