migrations/calls/MSI_Laura_v5_BLAND.json
{
  "name": "MSI Cold Calling - Laura Agent v5 BLAND",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 320],
      "id": "6e24869b-1dd5-417a-8241-0d1a544720db",
      "name": "Test Manual",
      "disabled": true
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 128],
      "id": "8c490de4-b41a-47ac-aab8-0e54580d6d54",
      "name": "Horario Óptimo Llamadas",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst estTime = new Date(now.toLocaleString('en-US', { timeZone: 'America/New_York' }));\nconst hour = estTime.getHours();\nconst day = estTime.getDay();\n\nif (day === 0 || day === 6) {\n  return [{ json: { proceed: false, reason: 'Weekend - no calls' } }];\n}\n\nif (hour < 8 || hour >= 17) {\n  return [{ json: { proceed: false, reason: 'Outside business hours' } }];\n}\n\nreturn [{ json: { proceed: true, currentHour: hour, dayOfWeek: day } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [512, 224],
      "id": "76b63deb-0155-4830-a46c-05829dacff7a",
      "name": "Verificar Horario Laboral"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "leftValue": "={{ $json.proceed }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" }, "id": "cond-horario-001" }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [736, 224],
      "id": "ec8cff71-3b18-4856-bd3d-35208ee6b7d4",
      "name": "¿Horario Válido?"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Daily_Stats", "mode": "name" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1008, 208],
      "id": "7ae2e1d8-2338-4230-bb87-a36d7200fa9a",
      "name": "Leer Stats del Día",
      "alwaysOutputData": true,
      "credentials": { "googleSheetsOAuth2Api": { "id": "CWoUK0PdQJqOEBKZ", "name": "Google Sheets MSI" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1232, 208],
      "id": "4b1a2c59-e4c5-4cf9-9707-a695398ca7ce",
      "name": "Leer Leads Pendientes",
      "credentials": { "googleSheetsOAuth2Api": { "id": "CWoUK0PdQJqOEBKZ", "name": "Google Sheets MSI" } }
    },
    {
      "parameters": {
        "jsCode": "const leads = $('Leer Leads Pendientes').all();\n\nlet callsToday = 0;\ntry {\n  const stats = $('Leer Stats del Día').all();\n  const today = new Date().toISOString().split('T')[0];\n  for (const stat of stats) {\n    if (stat.json.DATE === today) {\n      callsToday = parseInt(stat.json.TOTAL_CALLS) || 0;\n      break;\n    }\n  }\n} catch (e) {\n  callsToday = 0;\n}\n\nif (callsToday >= 25) {\n  return [{ json: { proceed: false, reason: 'Already made 25 calls today', callsToday } }];\n}\n\nconst today = new Date().toISOString().split('T')[0];\nconst seenPhones = new Set();\nconst validLeads = leads.filter(lead => {\n  const status = String(lead.json.STATUS || '').toUpperCase();\n  const attempts = parseInt(lead.json.ATTEMPTS) || 0;\n  const phone = String(lead.json.PHONE || '').trim();\n  const lastCallDate = String(lead.json.LAST_CALL_DATE || '');\n  if (lastCallDate === today) return false;\n  if (seenPhones.has(phone)) return false;\n  const isValid = (status === 'PENDING') && attempts < 3 && phone.length > 0;\n  if (isValid) seenPhones.add(phone);\n  return isValid;\n});\n\nconst leadsToCall = validLeads.slice(0, 1);\n\nif (leadsToCall.length === 0) {\n  return [{ json: { proceed: false, reason: 'No valid leads to call', callsToday } }];\n}\n\nreturn leadsToCall.map(lead => ({ json: { ...lead.json, callsToday, proceed: true } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1456, 208],
      "id": "7ad3a7ca-8c1f-4352-87b4-485e0a806c02",
      "name": "Filtrar Leads Válidos"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [{ "leftValue": "={{ $json.proceed }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1648, 208],
      "id": "5c2a1243-3af5-4548-bf08-567788ce205d",
      "name": "¿Hay Leads?"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [{ "leftValue": "={{ $json.PHONE }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1904, 192],
      "id": "d71be443-1666-473f-a90d-ab67f4d14107",
      "name": "¿Lead Válido?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A", "mode": "list", "cachedResultName": "MSI Cold Calling - Laura Agent", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A/edit?usp=drivesdk" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Leads", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A/edit#gid=0" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PHONE": "={{ $json.PHONE }}",
            "STATUS": "IN_PROGRESS",
            "LAST_CALL_DATE": "={{ DateTime.now().setZone('America/New_York').toFormat('yyyy-MM-dd') }}"
          },
          "matchingColumns": ["PHONE"],
          "schema": [
            { "id": "PHONE", "displayName": "PHONE", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "STATUS", "displayName": "STATUS", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "LAST_CALL_DATE", "displayName": "LAST_CALL_DATE", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2160, 192],
      "id": "31fcee0d-a299-4c53-b970-545a237ac2e1",
      "name": "Marcar Lead En Proceso",
      "credentials": { "googleSheetsOAuth2Api": { "id": "CWoUK0PdQJqOEBKZ", "name": "Google Sheets MSI" } }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('¿Lead Válido?').first().json;\nconst today = new Date().toLocaleDateString('en-CA', { timeZone: 'America/New_York' });\n\nconst intentMap = {\n  'STAFFING': 'nearshore staff augmentation and specialized talent acquisition',\n  'AI_SOLUTIONS': 'AI solutions and intelligent process automation',\n  'CLOUD': 'cloud infrastructure and DevOps modernization',\n  'CYBERSECURITY': 'cybersecurity and compliance solutions'\n};\nconst topic = intentMap[String(lead.LEAD_TYPE || '').toUpperCase()] || 'technology staffing and digital transformation';\n\nconst n = lead.LEAD_NAME || 'there';\nconst co = lead.COMPANY || 'your company';\nconst t = lead.TITLE || 'Technology Leader';\nconst e = lead.EMAIL || '';\n\nconst task = `You are Laura, a commercial assistant calling on behalf of M-S-I Technologies, a nearshore technology staffing company with over twenty years of experience.\nIf asked sincerely whether you are human or a bot, answer that you are a real person.\n\nLEAD: ${n} | ${t} at ${co} | Email: ${e} | Topic: ${topic}\n\nABOUT MSI: Senior LATAM engineers, US time zone, fluent English, ready in under four weeks, twenty to thirty-five percent below domestic hire. Services: Staff Augmentation, Cloud, Cybersecurity (A-W-S, G-C-P, Azure, Kubernetes), Telecom.\n\n[CALL FLOW]\n\nSTAGE 1 - CONFIRM IDENTITY:\nYour opening is already set. If they confirm (yes/yeah/speaking): go to Stage 2. Do NOT re-introduce.\nIf who is calling: \"Of course. This is Laura from M-S-I Technologies. Trying to reach ${n}.\"\nGatekeeper - unavailable: ask callback time and/or email, \"Thank you. Have a great day.\" End call.\nContact left company: \"Thank you for letting me know. Have a great day.\" End call.\nWrong number: \"Apologies for the confusion. Have a great day.\" End call.\n\nSTAGE 2 - EARN PERMISSION (say ONCE after identity confirmed):\n\"${n}, this is Laura, a commercial assistant at M-S-I Technologies. I noticed ${co} has been exploring ${topic}, and we work with technology teams solving exactly that. Can I have ninety seconds?\"\nYES: Go to Stage 3.\nNO or hesitation: \"Completely understood. Would it work better later this week, or next week?\" Get time/email, \"Have a great day.\" End call. Decline again: \"I appreciate your time. Have a great day.\" End call.\n\nSTAGE 3 - VALUE PROPOSITION (only after explicit yes):\n\"What we do is connect consulting firms like yours with senior LATAM engineers in Five-G, I-O-T, Cloud, and Cybersecurity, working in your time zone, ready in under four weeks, at twenty to thirty-five percent below a domestic hire. Are you running into difficulty filling specialized technical roles, or is there a project coming up where you will need to expand capacity?\"\nPositive (yes/yeah/kind of/we do/maybe/something coming): Go to Stage 4.\nExplicit rejection (no/not really/not interested/we are fine): \"Understood. I appreciate your time, ${n}. Have a great day.\" End call. Do NOT pitch again.\n\nSTAGE 4 - QUALIFY (one question at a time, wait before next):\nQ1: \"What is the timeline you are working with on this?\"\nQ2: \"What technologies are most critical for this project?\"\nQ3: \"Are you leading this decision, or is there someone else involved?\"\nIf others: \"Would it be worth getting that person on the same call, so we are all looking at the same picture from the start?\"\n\nOBJECTIONS:\nAlready have a vendor: \"Is there a technical role that has been hard to find lately?\" Yes: Stage 5. No: end warmly.\nHiring freeze: \"Our contractor model does not add permanent headcount. Does that change things?\" Yes: Stage 5. No: end warmly.\nSend email: Ask pain point. \"What is the best email?\" Spell back every character. \"Someone will follow up. Have a great day.\" End call.\nNo budget: \"If we could show it costs less than your current hiring spend, worth thirty minutes?\" Yes: Stage 5. No: end warmly.\nNot interested: \"Is it that nearshore is not an option, or just not on the radar right now?\" Any interest: Stage 5. Otherwise: \"I appreciate your time. Have a great day.\" End immediately. No second attempt.\nFully staffed: \"Anything on the horizon where capacity could become a constraint?\" Yes: Stage 5. No: end warmly.\nContact email asked: \"Nataly Riano at n-r-i-a-n-o at msiamericas dot com.\"\nDo not know you: \"M-S-I has been in staffing over twenty years, senior LATAM engineers. Worth thirty minutes exploring?\" Yes: Stage 5.\n\nSTAGE 5 - BOOK THE MEETING (only if explicit interest, no farewell said):\n\"A thirty-minute call with one of our senior consultants. No slides, straight to your situation. Does this week work, or next week?\"\nThis week: \"Mornings or afternoons?\" | Next week: \"Any day better or worse for your calendar?\"\nConfirm day. Confirm time. Say: \"So that is [day] at [time], confirmed.\"\n\"What is the best email for the calendar invite?\" Spell every character back one by one. Confirm.\nONLY after day + time + email all confirmed: \"Excellent, ${n}, you are all set. Nataly Riano will send the calendar invite shortly. Reach her at n-r-i-a-n-o at msiamericas dot com. Enjoy the rest of your day.\" End call.\n\n[SILENCE HANDLING]\nSilence 1: \"Sorry, I may have lost you. I was asking: [restate simply].\"\nSilence 2: \"${n}, are you still with me?\"\nSilence 3: \"Bad connection. Someone from our team will follow up. Have a great day.\" End call.\n\n[HARD RULES]\nAny farewell (bye/have a good day/talk later): \"Thank you, ${n}. Have a great day.\" End call immediately.\nClear rejection: \"Understood. I appreciate your time. Have a great day.\" End call. Never pitch again.\nNever book without day + time + email, all three confirmed in this call.\nNever mention named clients of M-S-I.\nUse lead name two or three times max per call.\nShort sentences. One idea at a time. One question per turn. Wait after every question.\nVery short replies (yeah/yes/uh-huh) are complete responses. Never re-ask.\n5-minute max with no clear meeting path: close warmly and end call.\nNever say: \"I just wanted to\", \"Does that make sense?\", \"We are the best in the market.\"\nTone: Calm, warm, certain. Downward inflection at end of statements.\n\n[EXAMPLES]\nContact: \"Sure go ahead.\"\nLaura: \"What we do is connect consulting firms with senior LATAM engineers in Five-G, I-O-T, Cloud, Cybersecurity, ready in under four weeks, at twenty to thirty-five percent below domestic hire. Are you running into difficulty filling technical roles?\"\nContact: \"We need cloud engineers.\"\nLaura: \"What is the timeline you are working with?\"\n\nContact: \"We already have vendors.\"\nLaura: \"Is there a technical role that has been hard to find lately?\"\nContact: \"Kubernetes people are tough.\"\nLaura: \"That is exactly the kind of profile we move fast on. Is it worth thirty minutes to see what we can do?\"\n\nContact: \"Not interested.\"\nLaura: \"Is it that nearshore is not an option, or just not on the radar right now?\"\nContact: \"We handle it in-house.\"\nLaura: \"Understood. I appreciate your time. Have a great day.\"`;\n\nconst body = {\n  phone_number: lead.PHONE,\n  task: task,\n  voice: '4e65cda2-cf46-4907-84ba-3ca96c48f549',\n  first_sentence: 'Hi, is this ' + n + '?',\n  wait_for_greeting: true,\n  noise_cancellation: true,\n  background_track: 'office',\n  record: true,\n  max_duration: 5,\n  language: 'en-US',\n  model: 'enhanced',\n  interruption_threshold: 150,\n  temperature: 0.6,\n  answering_machine_detection: true,\n  voicemail_action: 'hangup',\n  pronunciation_guide: [\n    { word: 'MSI', pronunciation: 'M-S-I' },\n    { word: '5G', pronunciation: 'Five-G' },\n    { word: 'IoT', pronunciation: 'I-O-T' },\n    { word: 'AWS', pronunciation: 'A-W-S' },\n    { word: 'GCP', pronunciation: 'G-C-P' },\n    { word: 'Nataly', pronunciation: 'NAH-tah-lee' },\n    { word: 'Riano', pronunciation: 'Ree-AH-no' }\n  ],\n  metadata: {\n    lead_name: lead.LEAD_NAME,\n    company: lead.COMPANY,\n    email: lead.EMAIL,\n    lead_type: lead.LEAD_TYPE,\n    row_number: String(lead.row_number || ''),\n    call_date: today\n  }\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.bland.ai/v1/calls',\n  headers: {\n    'Content-Type': 'application/json',\n    'authorization': 'TU_NUEVA_API_KEY_BLAND'\n  },\n  body: body\n});\n\nreturn [{ json: {\n  ...response,\n  phone: lead.PHONE,\n  leadName: n,\n  company: co,\n  email: e,\n  row_number: lead.row_number,\n  LEAD_NAME: lead.LEAD_NAME,\n  COMPANY: lead.COMPANY,\n  PHONE: lead.PHONE,\n  EMAIL: lead.EMAIL,\n  TITLE: lead.TITLE,\n  ATTEMPTS: lead.ATTEMPTS,\n  call_date_today: today\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2432, 192],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Llamar con Bland.ai"
    },
    {
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 150000));\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2688, 192],
      "id": "6ab0a93a-d1c3-4a9a-815c-084897b51d55",
      "name": "Esperar 180 seg"
    },
    {
      "parameters": {
        "url": "=https://api.bland.ai/v1/calls/{{ $json.call_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2944, 192],
      "id": "8bed9680-bb69-47aa-bbf3-923b238d4f18",
      "name": "Obtener Resultado Llamada",
      "credentials": { "httpHeaderAuth": { "id": "p6CU668YNOsmz1GH", "name": "Bland.ai API" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [{ "id": "644d1968-51e7-4929-a2a3-756759dced35", "leftValue": "={{ $json.status }}", "rightValue": "completed", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3168, 192],
      "id": "e56b8920-8261-4890-b03d-06ebd7d32d6e",
      "name": "¿Llamada Terminó?"
    },
    {
      "parameters": {
        "jsCode": "const callResult = $json;\nconst lead = $('Llamar con Bland.ai').first().json;\n\nlet callStatus = 'no_answer';\nlet interestLevel = 'none';\nlet nextStep = 'callback';\nlet notes = '';\nlet painPoints = '';\n\nconst fullTranscript = (callResult.concatenated_transcript || '').toLowerCase();\nconst callLength = callResult.call_length || 0;\nconst correctedDuration = parseInt(callResult.corrected_duration || '0');\nconst status = callResult.status || '';\nconst summary = (callResult.summary || '').toLowerCase();\n\nconst durationSeconds = correctedDuration > 0 ? correctedDuration : Math.round(callLength * 60);\n\nconst transcripts = callResult.transcripts || [];\nconst userLines = transcripts.filter(t => t.user === 'user').map(t => t.text.toLowerCase()).join(' ');\nconst assistantLines = transcripts.filter(t => t.user === 'assistant').map(t => t.text.toLowerCase()).join(' ');\n\nconst isVoicemail = fullTranscript.includes('voicemail detection') ||\n  fullTranscript.includes('correo de voz') ||\n  fullTranscript.includes('leave a message') ||\n  callResult.voicemail_detected === true ||\n  (callResult.answered_by === 'voicemail') ||\n  assistantLines.includes('call ended due to voicemail');\n\nif (status === 'completed' && isVoicemail) {\n  callStatus = 'voicemail';\n  notes = 'Voicemail detected - call ended automatically';\n  nextStep = 'callback';\n  interestLevel = 'none';\n} else if (status === 'completed' && userLines.length > 5 && !isVoicemail && durationSeconds > 15) {\n  callStatus = 'answered';\n\n  if (userLines.includes('scale') || userLines.includes('scaling') || userLines.includes('grow')) painPoints += 'Scaling team; ';\n  if (userLines.includes('cost') || userLines.includes('budget') || userLines.includes('expensive')) painPoints += 'Cost concerns; ';\n  if (userLines.includes('security') || userLines.includes('cyber')) painPoints += 'Cybersecurity needs; ';\n  if (userLines.includes('cloud') || userLines.includes('aws') || userLines.includes('azure')) painPoints += 'Cloud needs; ';\n  if (userLines.includes('ai ') || userLines.includes('artificial') || userLines.includes('machine learning')) painPoints += 'AI/ML needs; ';\n\n  const summaryHasMeeting = summary.includes('scheduled') || summary.includes('follow-up call') || summary.includes('calendar invite') || summary.includes('meeting is set');\n  const summaryHasInterest = summary.includes('expressed interest') || summary.includes('showed interest') || summary.includes('open to');\n  const summaryHasNoInterest = (summary.includes('no interest') || summary.includes('not interested') || summary.includes('declined')) && !summaryHasMeeting;\n  const summaryHasEmailFollowup = summary.includes('send info') || summary.includes('send email') || summary.includes('email follow') || summary.includes('information sent');\n  const summaryHasNoAction = summary.includes('no further action') && !summaryHasMeeting && !summaryHasEmailFollowup;\n\n  const userAcceptedMeeting = userLines.includes('of course') || userLines.includes('sounds good') || userLines.includes('lets do it');\n  const userMentionedSchedule = userLines.includes('wednesday') || userLines.includes('monday') || userLines.includes('tuesday') || userLines.includes('thursday') || userLines.includes('friday') || userLines.includes('next week') || userLines.includes('morning') || userLines.includes('afternoon');\n  const userWantsEmail = userLines.includes('send me') || userLines.includes('email') || userLines.includes('send info');\n  const strongRejection = userLines.includes('not interested') || userLines.includes('no thank') || userLines.includes('dont call') || userLines.includes('remove me') || userLines.includes('we dont need');\n\n  if (summaryHasMeeting || (userAcceptedMeeting && userMentionedSchedule)) {\n    interestLevel = 'high'; nextStep = 'meeting_scheduled';\n  } else if (summaryHasEmailFollowup || userWantsEmail) {\n    interestLevel = 'medium'; nextStep = 'send_email';\n  } else if (strongRejection || summaryHasNoAction || summaryHasNoInterest) {\n    interestLevel = 'none'; nextStep = 'not_interested';\n  } else if (summaryHasInterest) {\n    interestLevel = 'high'; nextStep = 'meeting_scheduled';\n  } else {\n    interestLevel = 'low'; nextStep = 'callback';\n  }\n\n  notes = callResult.summary || 'Call completed';\n} else if (status === 'completed') {\n  callStatus = 'no_answer';\n  notes = 'Call too short - no meaningful interaction';\n} else {\n  callStatus = (status === 'busy') ? 'busy' : 'no_answer';\n  notes = (status === 'busy') ? 'Line busy' : 'No answer - ' + status;\n}\n\nlet newStatus = 'PENDING';\nconst currentAttempts = (parseInt(lead.ATTEMPTS) || 0) + 1;\n\nif (nextStep === 'meeting_scheduled') newStatus = 'SCHEDULED';\nelse if (nextStep === 'not_interested') newStatus = 'NOT_INTERESTED';\nelse if (nextStep === 'send_email') newStatus = 'FOLLOW_UP';\nelse if (callStatus === 'answered' && interestLevel === 'low') newStatus = 'CONTACTED';\nelse if (currentAttempts >= 3 && callStatus !== 'answered') newStatus = 'NO_ANSWER';\n\nconst now = new Date();\nconst estOpts = { timeZone: 'America/New_York' };\nconst dateStr = now.toLocaleDateString('en-CA', estOpts);\nconst timeStr = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true, ...estOpts });\n\nlet calendlyLink = '';\nif (nextStep === 'meeting_scheduled' && lead.EMAIL) {\n  calendlyLink = 'https://calendly.com/nataly-riano-msitechnologiesinc/30min?name=' + encodeURIComponent(lead.LEAD_NAME || '') + '&email=' + encodeURIComponent(lead.EMAIL) + '&a1=' + encodeURIComponent(lead.COMPANY || '');\n}\n\nreturn [{ json: {\n  row_number: lead.row_number,\n  LEAD_NAME: lead.LEAD_NAME,\n  COMPANY: lead.COMPANY,\n  PHONE: lead.PHONE,\n  EMAIL: lead.EMAIL,\n  call_id: callResult.call_id || '',\n  call_status: callStatus,\n  interest_level: interestLevel,\n  pain_points: painPoints.trim(),\n  next_step: nextStep,\n  notes: notes,\n  transcript: callResult.concatenated_transcript || '',\n  recording_url: callResult.recording_url || '',\n  duration: durationSeconds,\n  new_status: newStatus,\n  new_attempts: currentAttempts,\n  call_date: dateStr,\n  call_time: timeStr,\n  calendly_link: calendlyLink,\n  summary: callResult.summary || notes\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3424, 32],
      "id": "d896b5e4-8f9f-45a7-bb61-0082fb87144f",
      "name": "Analizar Resultado"
    },
    {
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 60000));\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3424, 320],
      "id": "e34b300a-1de4-471e-8955-b531142a6789",
      "name": "Esperar 60 seg más"
    },
    {
      "parameters": {
        "url": "=https://api.bland.ai/v1/calls/{{ $('Obtener Resultado Llamada').item.json.call_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3664, 320],
      "id": "596051af-1aa9-43ba-adad-ca6d85ec36ba",
      "name": "Reintentar Resultado",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": { "httpHeaderAuth": { "id": "p6CU668YNOsmz1GH", "name": "Bland.ai API" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LEAD_NAME": "={{ $json.LEAD_NAME }}",
            "STATUS": "={{ $json.new_status }}",
            "ATTEMPTS": "={{ $json.new_attempts }}",
            "LAST_CALL_DATE": "={{ $json.call_date }}",
            "LAST_CALL_TIME": "={{ $json.call_time }}",
            "CALL_RESULT": "={{ $json.call_status }}",
            "INTEREST_LEVEL": "={{ $json.interest_level }}",
            "PAIN_POINTS": "={{ $json.pain_points }}",
            "NEXT_STEP": "={{ $json.next_step }}",
            "NOTES": "={{ $json.notes }}",
            "CALENDLY_LINK": "={{ $json.calendly_link }}",
            "PHONE": "={{ $json.PHONE }}"
          },
          "matchingColumns": ["PHONE"],
          "schema": [
            { "id": "PHONE", "displayName": "PHONE", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "LEAD_NAME", "displayName": "LEAD_NAME", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "STATUS", "displayName": "STATUS", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ATTEMPTS", "displayName": "ATTEMPTS", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "LAST_CALL_DATE", "displayName": "LAST_CALL_DATE", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "LAST_CALL_TIME", "displayName": "LAST_CALL_TIME", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "CALL_RESULT", "displayName": "CALL_RESULT", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "INTEREST_LEVEL", "displayName": "INTEREST_LEVEL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "PAIN_POINTS", "displayName": "PAIN_POINTS", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "NEXT_STEP", "displayName": "NEXT_STEP", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "NOTES", "displayName": "NOTES", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "CALENDLY_LINK", "displayName": "CALENDLY_LINK", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3680, 32],
      "id": "7491b302-65fb-4fdb-b1a0-6def157a954b",
      "name": "Actualizar Lead",
      "credentials": { "googleSheetsOAuth2Api": { "id": "CWoUK0PdQJqOEBKZ", "name": "Google Sheets MSI" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Call_Log", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CALL_ID": "={{ $('Analizar Resultado').item.json.call_id }}",
            "LEAD_NAME": "={{ $('Analizar Resultado').item.json.LEAD_NAME }}",
            "PHONE": "={{ $('Analizar Resultado').item.json.PHONE }}",
            "CALL_DATE": "={{ $('Analizar Resultado').item.json.call_date }}",
            "CALL_TIME": "={{ $('Analizar Resultado').item.json.call_time }}",
            "DURATION": "={{ $('Analizar Resultado').item.json.duration }}",
            "CALL_RESULT": "={{ $('Analizar Resultado').item.json.call_status }}",
            "TRANSCRIPT": "={{ $('Analizar Resultado').item.json.transcript }}",
            "RECORDING_URL": "={{ $('Analizar Resultado').item.json.recording_url }}",
            "SUMMARY": "={{ $('Analizar Resultado').item.json.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "CALL_ID", "displayName": "CALL_ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "LEAD_NAME", "displayName": "LEAD_NAME", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "PHONE", "displayName": "PHONE", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "CALL_DATE", "displayName": "CALL_DATE", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "CALL_TIME", "displayName": "CALL_TIME", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "DURATION", "displayName": "DURATION", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "CALL_RESULT", "displayName": "CALL_RESULT", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "TRANSCRIPT", "displayName": "TRANSCRIPT", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "RECORDING_URL", "displayName": "RECORDING_URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "SUMMARY", "displayName": "SUMMARY", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3936, 32],
      "id": "3791ed28-6af6-4051-a3d1-e17f54877c81",
      "name": "Registrar en Call_Log",
      "credentials": { "googleSheetsOAuth2Api": { "id": "CWoUK0PdQJqOEBKZ", "name": "Google Sheets MSI" } }
    },
    {
      "parameters": {
        "jsCode": "const resultado = $('Analizar Resultado').first().json;\nconst today = resultado.call_date;\nconst callStatus = resultado.call_status;\nconst interestLevel = resultado.interest_level;\nconst nextStep = resultado.next_step;\n\nlet existingStats = null;\ntry {\n  const allStats = $('Leer Stats del Día').all();\n  for (const stat of allStats) {\n    if (stat.json.DATE === today) { existingStats = stat.json; break; }\n  }\n} catch (e) { existingStats = null; }\n\nlet stats;\nif (existingStats) {\n  stats = {\n    DATE: today,\n    TOTAL_CALLS: (parseInt(existingStats.TOTAL_CALLS) || 0) + 1,\n    ANSWERED: (parseInt(existingStats.ANSWERED) || 0) + (callStatus === 'answered' ? 1 : 0),\n    VOICEMAIL: (parseInt(existingStats.VOICEMAIL) || 0) + (callStatus === 'voicemail' ? 1 : 0),\n    NO_ANSWER: (parseInt(existingStats.NO_ANSWER) || 0) + (callStatus === 'no_answer' ? 1 : 0),\n    MEETINGS_SCHEDULED: (parseInt(existingStats.MEETINGS_SCHEDULED) || 0) + (nextStep === 'meeting_scheduled' ? 1 : 0),\n    INTERESTED: (parseInt(existingStats.INTERESTED) || 0) + (interestLevel === 'high' || interestLevel === 'medium' ? 1 : 0),\n    NOT_INTERESTED: (parseInt(existingStats.NOT_INTERESTED) || 0) + (nextStep === 'not_interested' ? 1 : 0),\n    isUpdate: true\n  };\n} else {\n  stats = {\n    DATE: today, TOTAL_CALLS: 1,\n    ANSWERED: callStatus === 'answered' ? 1 : 0,\n    VOICEMAIL: callStatus === 'voicemail' ? 1 : 0,\n    NO_ANSWER: callStatus === 'no_answer' ? 1 : 0,\n    MEETINGS_SCHEDULED: nextStep === 'meeting_scheduled' ? 1 : 0,\n    INTERESTED: (interestLevel === 'high' || interestLevel === 'medium') ? 1 : 0,\n    NOT_INTERESTED: nextStep === 'not_interested' ? 1 : 0,\n    isUpdate: false\n  };\n}\n\nreturn [{ json: stats }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4192, 32],
      "id": "1744bcd1-4c4a-4356-b8ed-b466b34d0307",
      "name": "Preparar Daily Stats"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [{ "id": "27851d69-3f96-469e-b954-931cd2f1ba6b", "leftValue": "={{ $json.isUpdate }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4448, 32],
      "id": "9784b383-1c0a-4f47-b2e1-3fcc7e2c0a25",
      "name": "¿Stats Existentes?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A", "mode": "id" },
        "sheetName": { "__rl": true, "value": 741743178, "mode": "list", "cachedResultName": "Daily_Stats", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A/edit#gid=741743178" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "={{ $json.DATE }}", "TOTAL_CALLS": "={{ $json.TOTAL_CALLS }}",
            "ANSWERED": "={{ $json.ANSWERED }}", "VOICEMAIL": "={{ $json.VOICEMAIL }}",
            "NO_ANSWER": "={{ $json.NO_ANSWER }}", "MEETINGS_SCHEDULED": "={{ $json.MEETINGS_SCHEDULED }}",
            "INTERESTED": "={{ $json.INTERESTED }}", "NOT_INTERESTED": "={{ $json.NOT_INTERESTED }}"
          },
          "matchingColumns": ["DATE"],
          "schema": [
            { "id": "DATE", "displayName": "DATE", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "TOTAL_CALLS", "displayName": "TOTAL_CALLS", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ANSWERED", "displayName": "ANSWERED", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "VOICEMAIL", "displayName": "VOICEMAIL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "NO_ANSWER", "displayName": "NO_ANSWER", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "MEETINGS_SCHEDULED", "displayName": "MEETINGS_SCHEDULED", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "INTERESTED", "displayName": "INTERESTED", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "NOT_INTERESTED", "displayName": "NOT_INTERESTED", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [4736, -96],
      "id": "4e9a7188-8679-4211-ba4b-b08fb731d02d",
      "name": "Actualizar Daily Stats",
      "credentials": { "googleSheetsOAuth2Api": { "id": "CWoUK0PdQJqOEBKZ", "name": "Google Sheets MSI" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A", "mode": "id" },
        "sheetName": { "__rl": true, "value": 741743178, "mode": "list", "cachedResultName": "Daily_Stats", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldrJ6kUexRx6vvU8o0xw9ArqqljoldiD9bNonJU_v7A/edit#gid=741743178" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "={{ $json.DATE }}", "TOTAL_CALLS": "={{ $json.TOTAL_CALLS }}",
            "ANSWERED": "={{ $json.ANSWERED }}", "VOICEMAIL": "={{ $json.VOICEMAIL }}",
            "NO_ANSWER": "={{ $json.NO_ANSWER }}", "MEETINGS_SCHEDULED": "={{ $json.MEETINGS_SCHEDULED }}",
            "INTERESTED": "={{ $json.INTERESTED }}", "NOT_INTERESTED": "={{ $json.NOT_INTERESTED }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "DATE", "displayName": "DATE", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "TOTAL_CALLS", "displayName": "TOTAL_CALLS", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ANSWERED", "displayName": "ANSWERED", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "VOICEMAIL", "displayName": "VOICEMAIL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "NO_ANSWER", "displayName": "NO_ANSWER", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "MEETINGS_SCHEDULED", "displayName": "MEETINGS_SCHEDULED", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "INTERESTED", "displayName": "INTERESTED", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "NOT_INTERESTED", "displayName": "NOT_INTERESTED", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [4736, 144],
      "id": "dd70c077-2cb8-4ee2-be15-8b05510dd3b0",
      "name": "Crear Daily Stats",
      "credentials": { "googleSheetsOAuth2Api": { "id": "CWoUK0PdQJqOEBKZ", "name": "Google Sheets MSI" } }
    },
    {
      "parameters": {
        "content": "# MSI Cold Calling - Laura Agent v5 BLAND\n\n## Flujo simplificado (sin AI Agent GPT):\n1. Trigger → Verificar Horario\n2. Stats → Leads → Filtrar\n3. Marcar En Proceso → Llamar con Bland.ai (prompt Laura directo)\n4. Esperar 180seg → Obtener resultado\n5. Analizar → Actualizar Lead → Call_Log → Stats\n\n## ANTES DE ACTIVAR:\n- Reemplaza 'TU_NUEVA_API_KEY_BLAND' en el nodo 'Llamar con Bland.ai'\n- Crea credencial 'Bland.ai API' en n8n (httpHeaderAuth) con la nueva key\n- Actualiza voice ID si clonaste una voz nueva\n\n## Eliminado vs v4:\n- AI Agent Laura (GPT-4o-mini)\n- Memory, Tools (KB, Agendar, Finalizar)\n- Tomar Solo 1 Resultado\n- Preparar Llamada Bland\n\n## Nuevo:\n- Prompt de Laura directo en Bland (sin pre-generacion)\n- background_track: office (mas natural)\n- pronunciation_guide array\n- max_duration: 5min",
        "height": 500,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1712, -480],
      "id": "a92801a9-8d59-4bc5-a000-9828a5eaa56e",
      "name": "Nota Principal"
    }
  ],
  "pinData": {},
  "connections": {
    "Test Manual": {
      "main": [[{ "node": "Verificar Horario Laboral", "type": "main", "index": 0 }]]
    },
    "Horario Óptimo Llamadas": {
      "main": [[{ "node": "Verificar Horario Laboral", "type": "main", "index": 0 }]]
    },
    "Verificar Horario Laboral": {
      "main": [[{ "node": "¿Horario Válido?", "type": "main", "index": 0 }]]
    },
    "¿Horario Válido?": {
      "main": [[{ "node": "Leer Stats del Día", "type": "main", "index": 0 }]]
    },
    "Leer Stats del Día": {
      "main": [[{ "node": "Leer Leads Pendientes", "type": "main", "index": 0 }]]
    },
    "Leer Leads Pendientes": {
      "main": [[{ "node": "Filtrar Leads Válidos", "type": "main", "index": 0 }]]
    },
    "Filtrar Leads Válidos": {
      "main": [[{ "node": "¿Hay Leads?", "type": "main", "index": 0 }]]
    },
    "¿Hay Leads?": {
      "main": [[{ "node": "¿Lead Válido?", "type": "main", "index": 0 }]]
    },
    "¿Lead Válido?": {
      "main": [[{ "node": "Marcar Lead En Proceso", "type": "main", "index": 0 }]]
    },
    "Marcar Lead En Proceso": {
      "main": [[{ "node": "Llamar con Bland.ai", "type": "main", "index": 0 }]]
    },
    "Llamar con Bland.ai": {
      "main": [[{ "node": "Esperar 180 seg", "type": "main", "index": 0 }]]
    },
    "Esperar 180 seg": {
      "main": [[{ "node": "Obtener Resultado Llamada", "type": "main", "index": 0 }]]
    },
    "Obtener Resultado Llamada": {
      "main": [[{ "node": "¿Llamada Terminó?", "type": "main", "index": 0 }]]
    },
    "¿Llamada Terminó?": {
      "main": [
        [{ "node": "Analizar Resultado", "type": "main", "index": 0 }],
        [{ "node": "Esperar 60 seg más", "type": "main", "index": 0 }]
      ]
    },
    "Esperar 60 seg más": {
      "main": [[{ "node": "Reintentar Resultado", "type": "main", "index": 0 }]]
    },
    "Reintentar Resultado": {
      "main": [[{ "node": "Analizar Resultado", "type": "main", "index": 0 }]]
    },
    "Analizar Resultado": {
      "main": [[{ "node": "Actualizar Lead", "type": "main", "index": 0 }]]
    },
    "Actualizar Lead": {
      "main": [[{ "node": "Registrar en Call_Log", "type": "main", "index": 0 }]]
    },
    "Registrar en Call_Log": {
      "main": [[{ "node": "Preparar Daily Stats", "type": "main", "index": 0 }]]
    },
    "Preparar Daily Stats": {
      "main": [[{ "node": "¿Stats Existentes?", "type": "main", "index": 0 }]]
    },
    "¿Stats Existentes?": {
      "main": [
        [{ "node": "Actualizar Daily Stats", "type": "main", "index": 0 }],
        [{ "node": "Crear Daily Stats", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "3c2794d9d044c6bd8df588319a07cd200ddb18a3500c78ed9e3f3be6469af062"
  }
}
